<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie9 ie8 ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie9 ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ page.title }} &ndash; {{ layout.title }} &ndash; {{ layout.desc }}</title>
  
  <!-- Stylesheets and less -->
  <link rel="stylesheet" type="text/css" media="all" href="../{{{ paths.css }}}baseweb.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="../{{{ paths.mustache.base }}}css/docs.css">
  <link rel="stylesheet" type="text/css" media="all" href="../{{{ paths.mustache.base }}}css/prism.css">
  
  <!-- Typekit -->
  <script type="text/javascript" src="//use.typekit.net/vre4dcv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>
<body>

<div id="console"></div>

<div class="block-wrapper">
  
  <div id="header" class="block block-header">
    <div class="inner">
      <nav>
      
        <ul class="menu-primary">
          <li class="menu-item menu-item-logo"><a href="/">{{ name }}</a></li>
          {{ #directories_menu }}
            <li id="{{ id }}" class="{{ classes }}"><a href="{{{ url }}}">{{ text }}</a></li>
          {{ /directories_menu }}
          <li class="menu-item menu-item-download"><a href="{{{ repository.url }}}">Download <span class="version">v{{ version }}</span></a></li>
        </ul>
                
      </nav>
    </div>
  </div>
  
  <div id="main" class="block block-main">
    
    <div id="aside" class="block block-aside">
      <div id="aside-inner" class="aside-inner inner">
        
        <div id="aside-item-menu" class="aside-item aside-item-menu">
          <nav>
          	<ul>
          	  {{ #menu }}
                <li id="{{ id }}" class="{{ classes }}"><a href="{{{ url }}}">{{ text }}</a></li>
              {{ /menu }}
              <li class="menu-item menu-item-top"><a id="to-top" href="#">Back to Top</a></li>
          	</ul>
          </nav>
        </div>
        
      </div><!-- .inner -->
    </div><!-- .block-cell .block-aside -->
    
    <section id="content" class="block block-content">
      <div class="inner clearfix">
        
        {{ > page }}
        
      </div><!-- .inner -->
    </section><!-- .block-cell .block-content -->
    
  </div><!-- .block-table -->
  
  <div id="footer" class="block block-footer">
    <div class="inner">
      
      <p>&copy; {{ year }} <a href="{{{ url }}}">{{ author }}</a></p>
      
    </div><!-- .inner -->
  </div><!-- .block-footer -->
  
</div>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="../{{{ paths.js }}}libs/jquery.min.js"%3E%3C/script%3E'))</script>

<!-- JS -->
<script src="../{{{ paths.js }}}baseweb.min.js"></script>
<script src="../{{{ paths.mustache.base }}}js/jquery.stickykit.js"></script>
<script src="../{{{ paths.mustache.base }}}js/prism.js"></script>
<script src="../{{{ paths.mustache.base }}}js/jquery.docs.js"></script>

</body>
</html>