//============================================================
// BaseWeb - Button Theme
// https://github.com/sebnitu/BaseWeb
//============================================================
// Base Buttons
//============================================================
// Colors Delegation
//========================================
.btn {
    font-family: @font-family;
    font-size: 13px;
    line-height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: @button-padding;
    white-space: nowrap;
    -webkit-font-smoothing: subpixel-antialiased;
    .border-radius(4px);
    .transition();
    
    // Button Colors
    //========================================
    // Default Button Color
    //====================
    .btn-color();
    
    // Primary Colors
    //====================
    &.btn-red {
        .btn-color(@red-light, @red-dark);
    }
    &.btn-yellow {
        .btn-color(@yellow-dark, @yellow-darker);
    }
    &.btn-blue, &.btn-primary {
        .btn-color(@blue-lighter, @blue-dark);
    }
    // Secondary Colors
    //====================
    &.btn-orange, &.btn-warning {
        .btn-color(@orange-light, @orange-dark);
    }
    &.btn-green {
        .btn-color(@green-light, @green-dark);
    }
    &.btn-violet {
        .btn-color(@violet-light, @violet-dark);
    }
    
    // Tertiary Colors
    //====================
    &.btn-redViolet, &.btn-red-violet {
        .btn-color(@red-violet-light, @red-violet-dark);
    }
    &.btn-redOrange, &.btn-red-orange, &.btn-danger {
        .btn-color(@red-orange-light, @red-orange-dark);
    }
    &.btn-yellowOrange, &.btn-yellow-orange {
        .btn-color(@yellow-orange, @yellow-orange-darker);
    }
    &.btn-yellowGreen, &.btn-yellow-green, &.btn-success {
        .btn-color(@yellow-green, @yellow-green-darker);
    }
    &.btn-blueGreen, &.btn-blue-green {
        .btn-color(@blue-green-light, @blue-green-dark);
    }
    &.btn-blueViolet, &.btn-blue-violet {
        .btn-color(@blue-violet-light, @blue-violet-dark);
    }
    
    // Miscellaneous Colors
    //====================
    &.btn-black, &.btn-inverse {
        .btn-color(@gray, @gray-darker);
    }
    
    // Button Sizes
    //========================================
    // Fluid
    //====================
    &.btn-fluid {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
    }
    
    // Large
    //====================
    &.btn-huge {
        padding: (@button-padding-top-bottom + 12) (@button-padding-left-right + 20);
        font-size: @font-size + 6;
        line-height: @line-height + 8;
    }
    
    // Secondary Colors
    //====================
    &.btn-large {
        padding: (@button-padding-top-bottom + 6) (@button-padding-left-right + 6);
        font-size: @font-size + 4;
        line-height: @line-height + 6;
    }
    
    // Secondary Colors
    //====================
    &.btn-small {
        padding: (@button-padding-top-bottom - 2) (@button-padding-left-right - 4);
        font-size: @font-size - 2;
        line-height: @line-height - 3;
    }
    
    // Secondary Colors
    //====================
    &.btn-tiny {
        padding: (@button-padding-top-bottom - 4) (@button-padding-left-right - 8);
        font-size: @font-size - 4;
        line-height: @line-height - 4;
    }
}

//============================================================
// Button Groups
//============================================================

.btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    .clearfix();
}
.btn-group > .btn {
    position: relative;
    z-index: 5;
    border-radius: 0;
    margin-right: -1px;
}
.btn-group > .btn:first-child {
    .border-radius-left(4px);
}
.btn-group > .btn:last-child {
    .border-radius-right(4px);
    margin-right: 0;
}
.btn-group > .btn:hover {
    z-index: 10;
}

// Vertical groups
//========================================
.btn-group.vertical > .btn {
    display: block;
    border-radius: 0;
    margin-right: 0;
    margin-bottom: -1px;
}
.btn-group.vertical > .btn:first-child {
    .border-radius-top(4px);
}
.btn-group.vertical > .btn:last-child {
    .border-radius-bottom(4px);
    margin-bottom: 0;
}

//============================================================
// Button Mixins
//============================================================

.btn-color(@color-start: #f4f4f4, @color-end: darken(#f4f4f4, 6%)) {
    background-color: mix(@color-start, @color-end, 50);
    border: 1px solid darken(@color-end, 10%);
    .btn-text-color(@color-end);
    .btn-border-color(@color-end);
    #gradient > .vertical( @color-start, @color-end );
    #gradient > .reset-filter(); // Turn gradeints off in IE because it doesn't clip them for rounded corners
        
    // Hover
    //====================
    &:hover, &:focus {
        background-color: @color-end;
        background-position: 0 -20px;
        .btn-text-color(@color-end);
        .btn-border-color(@color-end);
    }
    
    // Disabled
    //====================
    &.disabled {
        .btn-disabled(mix(@color-start, @color-end, 50));
    }
}

// Text Color Mixin
//========================================
// Sets the text color and text shadow
// depending on how dark the background is
.btn-text-color (@bg-color) when (lightness(@bg-color) >= 50%) {
    .btn-text-color-dark();
}
.btn-text-color (@bg-color) when (lightness(@bg-color) < 50%) {
    .btn-text-color-light();
}
// Manual Text Colors
//====================
.btn-text-color-dark(@color: @gray-dark) {
    color: @color;
    text-shadow: 0 1px 1px rgba(255,255,255, 0.75);
    .box-shadow(~"0 1px 3px rgba(0,0,0, 0.02), 0 1px 0 rgba(255,255,255, 0.75) inset");
    &:hover, &:focus {
        color: @color;
        text-shadow: 0 1px 1px rgba(255,255,255, 0.75);
        .box-shadow(~"0 1px 0 rgba(255,255,255, 0.25), 0 1px 3px rgba(0,0,0, 0.1) inset");
    }
}
.btn-text-color-light(@color: @white) {
    color: @color;
    text-shadow: 0 1px 1px rgba(0,0,0, 0.6);
    .box-shadow(~"0 1px 3px rgba(0,0,0, 0.02), 0 1px 0 rgba(255,255,255, 0.25) inset");
    &:hover, &:focus {
        color: @color;
        text-shadow: 0 1px 1px rgba(0,0,0, 0.6);
        .box-shadow(~"0 1px 0 rgba(255,255,255, 0.25), 0 1px 3px rgba(0,0,0, 0.15) inset");
    }
}

// Border Color Mixin
//========================================
// Sets the border color depending on how dark the background is
.btn-border-color (@border-color) when (lightness(@border-color) >= 50%) {
    border-color: darken(@border-color, 15%);
    &:hover, &:focus {
        border-color: darken(@border-color, 25%);
    }
}
.btn-border-color (@border-color) when (lightness(@border-color) < 50%) {
    border-color: darken(@border-color, 5%);
    &:hover, &:focus {
        border-color: darken(@border-color, 10%);
    }
}

// Disabled Mixin
//========================================
.btn-disabled(@bg-color) {
    opacity: 0.60;
    cursor: default;
    background: @bg-color;
    border-color: darken(@bg-color, 15%);
    .box-shadow(~"0 1px 0 rgba(255,255,255, 0.25), 0 1px 3px rgba(0,0,0, 0.1) inset");
    &:hover, &:focus {
        border-color: darken(@bg-color, 15%);
        .box-shadow(~"0 1px 0 rgba(255,255,255, 0.25), 0 1px 3px rgba(0,0,0, 0.1) inset");
    }
}

//============================================================
// End of Button Theme
//============================================================