////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////

////
// Gray Scale
@g0:               #000; // Black
@g1:               #111;
@g2:               #222; // Gray Darker
@g3:               #333; // Gray Dark
@g4:               #444; 
@g5:               #555; // Gray
@g6:               #666; 
@g7:               #777;
@g8:               #888;
@g9:               #999; // Gray Light
@gA:               #aaa;
@gB:               #bbb; // Gray Lighter
@gC:               #ccc;
@gD:               #ddd;
@gE:               #eee;
@gF:               #fff; // White

////
// Readable gray scale
@black:            @g0;
@gray-darker:      @g2;
@gray-dark:        @g3;
@gray:             @g5;
@gray-light:       @g9;
@gray-lighter:     @gB;
@white:            @gF;

////
// RGB
@rgb-red:          #ff0000;
@rgb-green:        #00ff00;
@rgb-blue:         #0000ff;

////
// RGB Shorthand
@Rgb:              @rgb-red;
@rGb:              @rgb-green;
@rgB:              @rgb-blue;

////
// CMYK
@cmyk-cyan:        #00aeef;
@cmyk-magenta:     #ec008c;
@cmyk-yellow:      #fff200;
@cmyk-key:         #231f20;

////
// CMYK Shorthand
@Cmyk:             @cmyk-cyan;
@cMyk:             @cmyk-magenta;
@cmYk:             @cmyk-yellow;
@cmyK:             @cmyk-key;

////////////////////////////////////////////////////////////////////////////////
// Custom Palette
////////////////////////////////////////////////////////////////////////////////

////
// Degrees
// Used in creating colors with the light,
// lighter and dark, darker variations.
@light-deg:        5%;
@lighter-deg:      10%;
@dark-deg:         5%;
@darker-deg:       10%;

////
// Primary
@red:              #be0000;
@yellow:           #d5ca00;
@blue:             #0868df;
////
// Secondary
@orange:           #df8607;
@green:            #17a80c;
@violet:           #910bc2;
////
// Tertiary
// Created by mixing primary and secondary colors
@red-violet:       saturate(mix(@red, @violet, 50), 5%);
@red-orange:       saturate(mix(@red, @orange, 50), 5%);
@yellow-orange:    saturate(mix(@yellow, @orange, 50), 5%);
@yellow-green:     saturate(mix(@yellow, @green, 50), 5%);
@blue-green:       saturate(mix(@blue, @green, 50), 5%);
@blue-violet:      saturate(mix(@blue, @violet, 50), 5%);

////////////////////////////////////////////////////////////////////////////////
// Lighter & Darker Variations
////////////////////////////////////////////////////////////////////////////////

////
// Primary
@red-light:              lighten(@red, @light-deg);
@red-lighter:            lighten(@red, @lighter-deg);
@yellow-light:           lighten(@yellow, @light-deg);
@yellow-lighter:         lighten(@yellow, @lighter-deg);
@blue-light:             lighten(@blue, @light-deg);
@blue-lighter:           lighten(@blue, @lighter-deg);
////
// Secondary
@orange-light:           lighten(@orange, @light-deg);
@orange-lighter:         lighten(@orange, @lighter-deg);
@green-light:            lighten(@green, @light-deg);
@green-lighter:          lighten(@green, @lighter-deg);
@violet-light:           lighten(@violet, @light-deg);
@violet-lighter:         lighten(@violet, @lighter-deg);
////
// Tertiary
@red-violet-light:       lighten(@red-violet, @light-deg);
@red-violet-lighter:     lighten(@red-violet, @lighter-deg);
@red-orange-light:       lighten(@red-orange, @light-deg);
@red-orange-lighter:     lighten(@red-orange, @lighter-deg);
@yellow-orange-light:    lighten(@yellow-orange, @light-deg);
@yellow-orange-lighter:  lighten(@yellow-orange, @lighter-deg);
@yellow-green-light:     lighten(@yellow-green, @light-deg);
@yellow-green-lighter:   lighten(@yellow-green, @lighter-deg);
@blue-green-light:       lighten(@blue-green, @light-deg);
@blue-green-lighter:     lighten(@blue-green, @lighter-deg);
@blue-violet-light:      lighten(@blue-violet, @light-deg);
@blue-violet-lighter:    lighten(@blue-violet, @lighter-deg);

////
// Primary
@red-dark:               darken(@red, @dark-deg);
@red-darker:             darken(@red, @darker-deg);
@yellow-dark:            darken(@yellow, @dark-deg);
@yellow-darker:          darken(@yellow, @darker-deg);
@blue-dark:              darken(@blue, @dark-deg);
@blue-darker:            darken(@blue, @darker-deg);
////
// Secondary
@orange-dark:            darken(@orange, @dark-deg);
@orange-darker:          darken(@orange, @darker-deg);
@green-dark:             darken(@green, @dark-deg);
@green-darker:           darken(@green, @darker-deg);
@violet-dark:            darken(@violet, @dark-deg);
@violet-darker:          darken(@violet, @darker-deg);
////
// Tertiary
@red-violet-dark:        darken(@red-violet, @dark-deg);
@red-violet-darker:      darken(@red-violet, @darker-deg);
@red-orange-dark:        darken(@red-orange, @dark-deg);
@red-orange-darker:      darken(@red-orange, @darker-deg);
@yellow-orange-dark:     darken(@yellow-orange, @dark-deg);
@yellow-orange-darker:   darken(@yellow-orange, @darker-deg);
@yellow-green-dark:      darken(@yellow-green, @dark-deg);
@yellow-green-darker:    darken(@yellow-green, @darker-deg);
@blue-green-dark:        darken(@blue-green, @dark-deg);
@blue-green-darker:      darken(@blue-green, @darker-deg);
@blue-violet-dark:       darken(@blue-violet, @dark-deg);
@blue-violet-darker:     darken(@blue-violet, @darker-deg);