////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////

////
// Gray Scale
@g0:               #000; // Black
@g1:               #111;
@g2:               #222; // Gray Darker
@g3:               #333;
@g4:               #444; // Gray Dark
@g5:               #555;
@g6:               #666; // Gray
@g7:               #777;
@g8:               #888;
@g9:               #999; // Gray Light
@gA:               #aaa;
@gB:               #bbb; // Gray Lighter
@gC:               #ccc;
@gD:               #ddd;
@gE:               #eee;
@gF:               #fff; // White

////
// Readable gray scale
@black:             @g0;
@grayDarker:        @g2;
@grayDark:          @g4;
@gray:              @g6;
@grayLight:         @g9;
@grayLighter:       @gB;
@white:             @gF;

////
// RGB
@rgbRed:            #ff0000;
@rgbGreen:          #00ff00;
@rgbBlue:           #0000ff;

////
// RGB Shorthand
@Rgb:               @rgbRed;
@rGb:               @rgbGreen;
@rgB:               @rgbBlue;

////
// CMYK
@cmykCyan:          #00aeef;
@cmykMagenta:       #ec008c;
@cmykYellow:        #fff200;
@cmykKey:           #231f20;

////
// CMYK Shorthand
@Cmyk:              @cmykCyan;
@cMyk:              @cmykMagenta;
@cmYk:              @cmykYellow;
@cmyK:              @cmykKey;

////////////////////////////////////////////////////////////////////////////////
// Custom Palette
////////////////////////////////////////////////////////////////////////////////

////
// Degrees
// Used in creating colors with the light,
// lighter and dark, darker variations.
@lightDeg:          5%;
@lighterDeg:        10%;
@darkDeg:           5%;
@darkerDeg:         10%;

////
// Primary
@red:               #be0000;
@yellow:            #d6d81b;
@blue:              #0868df;
////
// Secondary
@orange:            #df8607;
@green:             #17a80c;
@violet:            #910bc2;
////
// Tertiary
// Created by mixing primary and secondary colors
@redViolet:         saturate(mix(@red, @violet, 50), 5%);
@redOrange:         saturate(mix(@red, @orange, 50), 5%);
@yellowOrange:      saturate(mix(@yellow, @orange, 50), 5%);
@yellowGreen:       saturate(mix(@yellow, @green, 50), 5%);
@blueGreen:         saturate(mix(@blue, @green, 50), 5%);
@blueViolet:        saturate(mix(@blue, @violet, 50), 5%);

////////////////////////////////////////////////////////////////////////////////
// Lighter & Darker Variations
////////////////////////////////////////////////////////////////////////////////

////
// Primary
@redLight:              lighten(@red, @lightDeg);
@redLighter:            lighten(@red, @lighterDeg);
@yellowLight:           lighten(@yellow, @lightDeg);
@yellowLighter:         lighten(@yellow, @lighterDeg);
@blueLight:             lighten(@blue, @lightDeg);
@blueLighter:           lighten(@blue, @lighterDeg);
////
// Secondary
@orangeLight:           lighten(@orange, @lightDeg);
@orangeLighter:         lighten(@orange, @lighterDeg);
@greenLight:            lighten(@green, @lightDeg);
@greenLighter:          lighten(@green, @lighterDeg);
@violetLight:           lighten(@violet, @lightDeg);
@violetLighter:         lighten(@violet, @lighterDeg);
////
// Tertiary
@redVioletLight:        lighten(@redViolet, @lightDeg);
@redVioletLighter:      lighten(@redViolet, @lighterDeg);
@redOrangeLight:        lighten(@redOrange, @lightDeg);
@redOrangeLighter:      lighten(@redOrange, @lighterDeg);
@yellowOrangeLight:     lighten(@yellowOrange, @lightDeg);
@yellowOrangeLighter:   lighten(@yellowOrange, @lighterDeg);
@yellowGreenLight:      lighten(@yellowGreen, @lightDeg);
@yellowGreenLighter:    lighten(@yellowGreen, @lighterDeg);
@blueGreenLight:        lighten(@blueGreen, @lightDeg);
@blueGreenLighter:      lighten(@blueGreen, @lighterDeg);
@blueVioletLight:       lighten(@blueViolet, @lightDeg);
@blueVioletLighter:     lighten(@blueViolet, @lighterDeg);

////
// Primary
@redDark:               darken(@red, @darkDeg);
@redDarker:             darken(@red, @darkerDeg);
@yellowDark:            darken(@yellow, @darkDeg);
@yellowDarker:          darken(@yellow, @darkerDeg);
@blueDark:              darken(@blue, @darkDeg);
@blueDarker:            darken(@blue, @darkerDeg);
////
// Secondary
@orangeDark:            darken(@orange, @darkDeg);
@orangeDarker:          darken(@orange, @darkerDeg);
@greenDark:             darken(@green, @darkDeg);
@greenDarker:           darken(@green, @darkerDeg);
@violetDark:            darken(@violet, @darkDeg);
@violetDarker:          darken(@violet, @darkerDeg);
////
// Tertiary
@redVioletDark:         darken(@redViolet, @darkDeg);
@redVioletDarker:       darken(@redViolet, @darkerDeg);
@redOrangeDark:         darken(@redOrange, @darkDeg);
@redOrangeDarker:       darken(@redOrange, @darkerDeg);
@yellowOrangeDark:      darken(@yellowOrange, @darkDeg);
@yellowOrangeDarker:    darken(@yellowOrange, @darkerDeg);
@yellowGreenDark:       darken(@yellowGreen, @darkDeg);
@yellowGreenDarker:     darken(@yellowGreen, @darkerDeg);
@blueGreenDark:         darken(@blueGreen, @darkDeg);
@blueGreenDarker:       darken(@blueGreen, @darkerDeg);
@blueVioletDark:        darken(@blueViolet, @darkDeg);
@blueVioletDarker:      darken(@blueViolet, @darkerDeg);