////////////////////////////////////////////////////////////////////////////////
// Dropdowns
////////////////////////////////////////////////////////////////////////////////

.dropdown-wrapper() {
    display: none;
    float: left;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 100%;
    background: @white;
    box-sizing: border-box;
    min-width: 175px;
    padding: 5px 0;
    background-clip: padding-box;
    border: 1px solid;
    .border-color(@black, 0.25, transparent);
    .border-radius();
    .box-shadow(~"0 1px 5px rgba(0,0,0, 0.2)");
    .remove-list-styles();
}

.dropdown {
    .dropdown-wrapper();
    
    li {
        position: relative;
    }
    li a {
        border: 0 none;
        display: block;
        padding: 4px 18px;
        white-space: nowrap;
        color: @color;
        text-shadow: 0 1px 0 rgba(255,255,255, 0.75);
        text-align: left;
    }
    
    ////
    // Hover & Focus
    li > a:hover,
    li > a:focus,
    li:hover > a { 
        .background-color(@black, 0.05, @bg);
    }
    // Active
    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
        color: @white;
        text-shadow: 0 -1px 0 rgba(0,0,0, 0.25);
        .background-color(@color-link, 0.95, @color-link);
    }
    // Disabled
    li.disabled > a,
    li.disabled > a:hover,
    li.disabled > a:focus {
        color: @gray-light;
        background: none;
        cursor: default;
    }
    ////
    // Parent
    li.dropdown-parent > a {
        padding-right: 30px;
    }
    li.dropdown-parent:after {
        #arrow > .right(4px, rgba(0,0,0, 0.25));
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -4px;
    }
    li.dropdown-parent.active:after {
        #arrow > .right(4px, rgba(255,255,255, 0.75));
    }
    // Seperator
    li.seperator {
        height: 1px;
        margin: 5px -5px;
        .background-color(@border-base, @border-alpha, @border);
    }
    
    ////
    // Sub Menus
    ul {
        .dropdown-wrapper();
        margin: -6px 0 0 0;
    }
    
    ////
    // Sub Menu Toggle
    li:hover > ul {
        display: block;
    }
}