////////////////////////////////////////////////////////////////////////////////
// Font Includes via @font-face
////////////////////////////////////////////////////////////////////////////////

////
// Entypo - Icon Font
// @author: Daniel Bruce
// @website: http://www.entypo.com/
@font-face {
    font-family: "Entypo";
    src: url(~"@{dir-fonts}entypo-webfont.eot");
    src: url(~"@{dir-fonts}entypo-webfont.eot?#iefix") format("embedded-opentype"),
             url(~"@{dir-fonts}entypo-webfont.woff") format("woff"),
             url(~"@{dir-fonts}entypo-webfont.ttf") format("truetype"),
             url(~"@{dir-fonts}entypo-webfont.svg#EntypoRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}