////////////////////////////////////////////////////////////////////////////////
// Grid Variables
////////////////////////////////////////////////////////////////////////////////

/**
 * Global grid settings
 */
@grid-total-width: 100%;
@grid-gutter-width: 2%;
@grid-columns: 12;

/**
 * Fluid grid settings
 */
@container-max-width: 1200px;
@container-margin: 20px;

/**
 * Grid class names
 */
@class-container: container;
@class-row: row;
@class-column: col;

@class-prefix: prefix;
@class-suffix: suffix;

////////////////////////////////////////////////////////////////////////////////
// Semantic Grid Mixins
////////////////////////////////////////////////////////////////////////////////

/**
 * Make container
 */
.make-container( 
    @-total-width : @grid-total-width, 
    @-max-width : @container-max-width,
    @-margin : @container-margin
) {

    max-width: @container-max-width;
    margin-left: auto;
    margin-right: auto;
    .box-sizing( border-box );

}

.make-container( 
    @-total-width : @grid-total-width,
    @-max-width : @container-max-width,
    @-margin : @container-margin
) when ( ispercentage(@-total-width) ) {
    
    width: 100%;
    padding-left: @container-margin;
    padding-right: @container-margin;

}

.make-container( 
    @-total-width : @grid-total-width,
    @-max-width : @container-max-width,
    @-margin : @container-margin
) when ( ispixel(@-total-width) ) {
    
    width: @-total-width;
    padding-left: 0;
    padding-right: 0;

}

/**
 * Make Row
 */
.make-row() {
    .clearfix();
}

/**
 * Make Column
 */
.make-column(
    @-index,
    @-total-width : @grid-total-width, 
    @-gutter-width : @grid-gutter-width,
    @-columns : @grid-columns
) {
    
    @-column-width: (( @-total-width - ( @-gutter-width * ( @-columns - 1 ) ) ) / @-columns);
    
    float: left;
    width: ((@-column-width * @-index) + (@-gutter-width * (@-index - 1)));
    min-height: 1px;
    padding-left: @-gutter-width;
    .box-sizing( content-box );
    
    &:first-child {
        padding-left: 0;
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Base Mobile Grid System
////////////////////////////////////////////////////////////////////////////////

.@{class-container} {
    .make-container( 100% );
}
.@{class-row} {
    .make-row();
}
.@{class-column} {
    float: left;
    width: 100%;
    min-height: 1px;
    .box-sizing( border-box );
}

////////////////////////////////////////////////////////////////////////////////
// Class Based Grid System Mixin
////////////////////////////////////////////////////////////////////////////////

.build-grid-system( 
    @-total-width : @grid-total-width, 
    @-gutter-width : @grid-gutter-width,
    @-columns : @grid-columns
) {
    
    .@{class-container} {
        width: @-total-width;
    }
    .@{class-column} {
        padding-left: @-gutter-width;
        .box-sizing( content-box );
        
        &:first-child {
            padding-left: 0;
        }
    }
    
    /**
     * Calculate column widths
     */
    @-column-width: (( @-total-width - ( @-gutter-width * ( @-columns - 1 ) ) ) / @-columns);
    
    /**
     * Output column classes
     */
    .build-X (@index) when (@index > 0) {
        .@{class-column}-@{index} { .build-(@index); }
        .build-X(@index - 1);
    }
    .build-(@columns) {
        width: ((@-column-width * @columns) + (@-gutter-width * (@columns - 1)));
        width: ((@-column-width * @columns) + (@-gutter-width * (@columns - 1)));
    }
    .build-X (@-columns);
    
}

.build-grid-system( 
    @-total-width : @grid-total-width, 
    @-gutter-width : @grid-gutter-width,
    @-columns : @grid-columns
) when ( ispixel(@-total-width) ) {
    
    /**
     * Remove container padding if it's a fixed width grid
     */
    .@{class-container} {
        padding-left: 0;
        padding-right: 0;
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Grid System Assignment
////////////////////////////////////////////////////////////////////////////////

#responsive {
    .small() {
        
    }
    .mobile() {
        
    }
    .tablet() {
        .build-grid-system();
        // .build-grid-system( 100%, 2% );
    }
    .desktop() {
        // .build-grid-system();
    }
    .large() {
        // .build-grid-system( 1200px, 30px );
    }
}