////////////////////////////////////////////////////////////////////////////////
// Icons
////////////////////////////////////////////////////////////////////////////////

/**
 * Base icon styles
 */ 
i[class^="icon-"], i[class*=" icon-"], i.icon {
    position: relative;
    font-family: @iconFontFamily;
    font-size: 2.2em;
    font-style: normal;
    line-height: 0.5em;
    font-weight: normal;
    text-transform: none;
    display: inline-block;
    width: auto;
    height: auto;
    border: 0 none;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased !important;
}
a, .btn, h1, h2, h3, h4, h5, h6 {
    i[class^="icon-"], i[class*=" icon-"], i.icon {
        margin: -0.05em 0.2em 0 -0.2em;
        top: -0.05em;
    }
}
h1, h2, h3, h4, h5, h6 {
    [iclass^="icon-"], i[class*=" icon-"], i.icon {
        margin-left: 0;
    }
}

/**
 * Icon font mapping
 */ 
.font-entypo() {
    ////
    // Numerical
    i.icon-map                   { &:after { content: '1'; } }
    i.icon-compass               { &:after { content: '2'; } }
    i.icon-direction             { &:after { content: '3'; } }
    i.icon-scope                 { &:after { content: '4'; } }
    i.icon-share                 { &:after { content: '5'; } }
    i.icon-heart                 { &:after { content: '6'; } }
    i.icon-star                  { &:after { content: '7'; } }
    i.icon-thumbs-up             { &:after { content: '8'; } }
    i.icon-dialog                { &:after { content: '9'; } }
    i.icon-maps                  { &:after { content: '0'; } }
    ////
    // Alphabetical lowercase
    i.icon-help                  { &:after { content: 'a'; } }
    i.icon-help-circle           { &:after { content: 'b'; } }
    i.icon-warning               { &:after { content: 'c'; } }
    i.icon-reload                { &:after { content: 'd'; } }
    i.icon-reload-ccw            { &:after { content: 'e'; } }
    i.icon-shuffle               { &:after { content: 'f'; } }
    i.icon-back                  { &:after { content: 'g'; } }
    i.icon-retweet               { &:after { content: 'h'; } }
    i.icon-list                  { &:after { content: 'i'; } }
    i.icon-list-add              { &:after { content: 'j'; } }
    i.icon-image-list            { &:after { content: 'k'; } }
    i.icon-document-text         { &:after { content: 'l'; } }
    i.icon-document              { &:after { content: 'm'; } }
    i.icon-document-group, 
    i.icon-documents             { &:after { content: 'n'; } }
    i.icon-document-landscape    { &:after { content: 'o'; } }
    i.icon-images                { &:after { content: 'p'; } }
    i.icon-movie                 { &:after { content: 'q'; } }
    i.icon-songs                 { &:after { content: 'r'; } }
    i.icon-folder                { &:after { content: 's'; } }
    i.icon-archive               { &:after { content: 't'; } }
    i.icon-trash                 { &:after { content: 'u'; } }
    i.icon-upload                { &:after { content: 'v'; } }
    i.icon-download              { &:after { content: 'w'; } }
    i.icon-ssd-download          { &:after { content: 'x'; } }
    i.icon-cloud                 { &:after { content: 'y'; } }
    i.icon-cloud-upload          { &:after { content: 'z'; } }
    ////
    // Alphabetical uppercase
    i.icon-flashlight            { &:after { content: 'A'; } }
    i.icon-trophy                { &:after { content: 'B'; } }
    i.icon-tag                   { &:after { content: 'C'; } }
    i.icon-camera                { &:after { content: 'D'; } }
    i.icon-sleep                 { &:after { content: 'E'; } }
    i.icon-palette               { &:after { content: 'F'; } }
    i.icon-leaf                  { &:after { content: 'G'; } }
    i.icon-music                 { &:after { content: 'H'; } }
    i.icon-shop                  { &:after { content: 'I'; } }
    i.icon-fly                   { &:after { content: 'J'; } }
    i.icon-lifebuoy              { &:after { content: 'K'; } }
    i.icon-circles               { &:after { content: 'L'; } }
    i.icon-eye                   { &:after { content: 'M'; } }
    i.icon-clock                 { &:after { content: 'N'; } }
    i.icon-mic                   { &:after { content: 'O'; } }
    i.icon-calendar              { &:after { content: 'P'; } }
    i.icon-flash                 { &:after { content: 'Q'; } }
    i.icon-hour-glass            { &:after { content: 'R'; } }
    i.icon-rss                   { &:after { content: 'S'; } }
    i.icon-broadcast             { &:after { content: 'T'; } }
    i.icon-lock                  { &:after { content: 'U'; } }
    i.icon-unlock                { &:after { content: 'V'; } }
    i.icon-check                 { &:after { content: 'W'; } }
    i.icon-close                 { &:after { content: 'X'; } }
    i.icon-minus-circle          { &:after { content: 'Y'; } }
    i.icon-plus-circle           { &:after { content: 'Z'; } }
    ////
    // Characters
    i.icon-phone                 { &:after { content: '!'; } }
    i.icon-settings,
    i.icon-cog                   { &:after { content: '@'; } }
    i.icon-mouse                 { &:after { content: '#'; } }
    i.icon-address,
    i.icon-street                { &:after { content: '$'; } }
    i.icon-email                 { &:after { content: '%'; } }
    i.icon-block                 { &:after { content: '^'; } }
    i.icon-write                 { &:after { content: '\0026'; } }
    i.icon-forward               { &:after { content: '*'; } }
    i.icon-reply                 { &:after { content: '('; } }
    i.icon-reply-all             { &:after { content: ')'; } }
    i.icon-users,
    i.icon-user-group            { &:after { content: ','; } }
    i.icon-print                 { &:after { content: '\003C'; } }
    i.icon-vcard                 { &:after { content: '.'; } }
    i.icon-link                  { &:after { content: '\003E'; } }
    i.icon-export                { &:after { content: '/'; } }
    i.icon-flag                  { &:after { content: '?'; } }
    i.icon-quote                 { &:after { content: ';'; } }
    i.icon-comment               { &:after { content: ':'; } }
    i.icon-attach                { &:after { content: '\''; } }
    i.icon-mobile                { &:after { content: '"'; } }
    i.icon-close-circle          { &:after { content: '['; } }
    i.icon-play                  { &:after { content: '\{'; } }
    i.icon-plus                  { &:after { content: ']'; } }
    i.icon-record                { &:after { content: '\}'; } }
    i.icon-minus                 { &:after { content: '\\'; } }
    i.icon-pause                 { &:after { content: '|'; } }
    i.icon-user-add              { &:after { content: '-'; } }
    i.icon-info                  { &:after { content: '_'; } }
    i.icon-alert                 { &:after { content: '='; } }
    i.icon-user                  { &:after { content: '+'; } }
    i.icon-info-circle           { &:after { content: '`'; } }
    i.icon-stop                  { &:after { content: '~'; } }
    ////
    // Miscellaneous
    i.icon-copyright             { &:after { content: '\00A9'; } }
    i.icon-sweden                { &:after { content: '\00AE'; } }
    i.icon-fast-forward          { &:after { content: '\00C4'; } }
    i.icon-rewind                { &:after { content: '\00C5'; } }
    i.icon-jump-to-start         { &:after { content: '\00C7'; } }
    i.icon-jump-to-end           { &:after { content: '\00C9'; } }
    i.icon-expand                { &:after { content: '\00F1'; } }
    i.icon-minimize              { &:after { content: '\00F6'; } }
    i.icon-arrow-up              { &:after { content: '\00E8'; } }
    i.icon-arrow-left            { &:after { content: '\00E7'; } }
    i.icon-arrow-left-bold       { &:after { content: '\00E5'; } }
    i.icon-arrow-right-bold      { &:after { content: '\00E4'; } }
    i.icon-arrow-down-bold       { &:after { content: '\00E3'; } }
    i.icon-arrow-up-bold         { &:after { content: '\00E2'; } }
    i.icon-sound                 { &:after { content: '\00E1'; } }
    i.icon-mute                  { &:after { content: '\00E0'; } }
    i.icon-search                { &:after { content: '\00F4'; } }
    i.icon-book                  { &:after { content: '\00F3'; } }
    i.icon-popup                 { &:after { content: '\00F2'; } }
    i.icon-bookmark              { &:after { content: '\00F1'; } }
    i.icon-volume                { &:after { content: '\00DC'; } }
    i.icon-home                  { &:after { content: '\00EF'; } }
    i.icon-arrow-right-circle    { &:after { content: '\00EE'; } }
    i.icon-arrow-down-circle     { &:after { content: '\00ED'; } }
    i.icon-arrow-up-circle       { &:after { content: '\00EC'; } }
    i.icon-arrow-left-circle     { &:after { content: '\00EB'; } }
    i.icon-arrow-right           { &:after { content: '\00EA'; } }
    i.icon-arrow-down            { &:after { content: '\00E9'; } }
    i.icon-elipsis               { &:after { content: '\00D6'; } }

}

/**
 * Font icon init
 */ 
.font-entypo();