////////////////////////////////////////////////////////////////////////////////
// Entypo Icons
////////////////////////////////////////////////////////////////////////////////

////
// Icon font mapping
.fonticons-glyphicons() {
    
    ////
    // Glyphicons - Icon Font
    // @author: Jan Kovařík
    // @website: http://glyphicons.com/
    @font-face {
        font-family: "Glyphicons";
        src: url(~"@{dir-fonts}glyphicons/glyphicons-regular.eot");
        src: url(~"@{dir-fonts}glyphicons/glyphicons-regular.eot?#iefix") format("embedded-opentype"),
             url(~"@{dir-fonts}glyphicons/glyphicons-regular.woff") format("woff"),
             url(~"@{dir-fonts}glyphicons/glyphicons-regular.ttf") format("truetype"),
             url(~"@{dir-fonts}glyphicons/glyphicons-regular.svg#EntypoRegular") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    
    i {
        font-family: "Glyphicons";
        font-size: 1em;
        line-height: 0.5em;
    }
    
    i.icon-glass{ &:after { content:"\e001"; } }
    i.icon-leaf{ &:after { content:"\e002"; } }
    i.icon-dog{ &:after { content:"\e003"; } }
    i.icon-user{ &:after { content:"\e004"; } }
    i.icon-girl{ &:after { content:"\e005"; } }
    i.icon-car{ &:after { content:"\e006"; } }
    i.icon-user-add{ &:after { content:"\e007"; } }
    i.icon-user-remove{ &:after { content:"\e008"; } }
    i.icon-film{ &:after { content:"\e009"; } }
    i.icon-magic{ &:after { content:"\e010"; } }
    i.icon-envelope{ &:after { content:"\2709"; } }
    i.icon-camera{ &:after { content:"\e012"; } }
    i.icon-heart{ &:after { content:"\e013"; } }
    i.icon-beach-umbrella{ &:after { content:"\e014"; } }
    i.icon-train{ &:after { content:"\e015"; } }
    i.icon-print{ &:after { content:"\e016"; } }
    i.icon-bin{ &:after { content:"\e017"; } }
    i.icon-music{ &:after { content:"\e018"; } }
    i.icon-note{ &:after { content:"\e019"; } }
    i.icon-heart-empty{ &:after { content:"\e020"; } }
    i.icon-home{ &:after { content:"\e021"; } }
    i.icon-snowflake{ &:after { content:"\2744"; } }
    i.icon-fire{ &:after { content:"\e023"; } }
    i.icon-magnet{ &:after { content:"\e024"; } }
    i.icon-parents{ &:after { content:"\e025"; } }
    i.icon-binoculars{ &:after { content:"\e026"; } }
    i.icon-road{ &:after { content:"\e027"; } }
    i.icon-search{ &:after { content:"\e028"; } }
    i.icon-cars{ &:after { content:"\e029"; } }
    i.icon-notes-2{ &:after { content:"\e030"; } }
    i.icon-pencil{ &:after { content:"\270F"; } }
    i.icon-bus{ &:after { content:"\e032"; } }
    i.icon-wifi-alt{ &:after { content:"\e033"; } }
    i.icon-luggage{ &:after { content:"\e034"; } }
    i.icon-old-man{ &:after { content:"\e035"; } }
    i.icon-woman{ &:after { content:"\e036"; } }
    i.icon-file{ &:after { content:"\e037"; } }
    i.icon-coins{ &:after { content:"\e038"; } }
    i.icon-airplane{ &:after { content:"\2708"; } }
    i.icon-notes{ &:after { content:"\e040"; } }
    i.icon-stats{ &:after { content:"\e041"; } }
    i.icon-charts{ &:after { content:"\e042"; } }
    i.icon-pie-chart{ &:after { content:"\e043"; } }
    i.icon-group{ &:after { content:"\e044"; } }
    i.icon-keys{ &:after { content:"\e045"; } }
    i.icon-calendar{ &:after { content:"\e046"; } }
    i.icon-router{ &:after { content:"\e047"; } }
    i.icon-camera-small{ &:after { content:"\e048"; } }
    i.icon-dislikes{ &:after { content:"\e049"; } }
    i.icon-star{ &:after { content:"\e050"; } }
    i.icon-link{ &:after { content:"\e051"; } }
    i.icon-eye-open{ &:after { content:"\e052"; } }
    i.icon-eye-close{ &:after { content:"\e053"; } }
    i.icon-alarm{ &:after { content:"\e054"; } }
    i.icon-clock{ &:after { content:"\e055"; } }
    i.icon-stopwatch{ &:after { content:"\e056"; } }
    i.icon-projector{ &:after { content:"\e057"; } }
    i.icon-history{ &:after { content:"\e058"; } }
    i.icon-truck{ &:after { content:"\e059"; } }
    i.icon-cargo{ &:after { content:"\e060"; } }
    i.icon-compass{ &:after { content:"\e061"; } }
    i.icon-keynote{ &:after { content:"\e062"; } }
    i.icon-paperclip{ &:after { content:"\e063"; } }
    i.icon-power{ &:after { content:"\e064"; } }
    i.icon-lightbulb{ &:after { content:"\e065"; } }
    i.icon-tag{ &:after { content:"\e066"; } }
    i.icon-tags{ &:after { content:"\e067"; } }
    i.icon-cleaning{ &:after { content:"\e068"; } }
    i.icon-ruller{ &:after { content:"\e069"; } }
    i.icon-gift{ &:after { content:"\e070"; } }
    i.icon-umbrella{ &:after { content:"\2602"; } }
    i.icon-book{ &:after { content:"\e072"; } }
    i.icon-bookmark{ &:after { content:"\e073"; } }
    i.icon-wifi{ &:after { content:"\e074"; } }
    i.icon-cup{ &:after { content:"\e075"; } }
    i.icon-stroller{ &:after { content:"\e076"; } }
    i.icon-headphones{ &:after { content:"\e077"; } }
    i.icon-headset{ &:after { content:"\e078"; } }
    i.icon-warning-sign{ &:after { content:"\e079"; } }
    i.icon-signal{ &:after { content:"\e080"; } }
    i.icon-retweet{ &:after { content:"\e081"; } }
    i.icon-refresh{ &:after { content:"\e082"; } }
    i.icon-roundabout{ &:after { content:"\e083"; } }
    i.icon-random{ &:after { content:"\e084"; } }
    i.icon-heat{ &:after { content:"\e085"; } }
    i.icon-repeat{ &:after { content:"\e086"; } }
    i.icon-display{ &:after { content:"\e087"; } }
    i.icon-log-book{ &:after { content:"\e088"; } }
    i.icon-adress-book{ &:after { content:"\e089"; } }
    i.icon-building{ &:after { content:"\e090"; } }
    i.icon-eyedropper{ &:after { content:"\e091"; } }
    i.icon-adjust{ &:after { content:"\e092"; } }
    i.icon-tint{ &:after { content:"\e093"; } }
    i.icon-crop{ &:after { content:"\e094"; } }
    i.icon-vector-path-square{ &:after { content:"\e095"; } }
    i.icon-vector-path-circle{ &:after { content:"\e096"; } }
    i.icon-vector-path-polygon{ &:after { content:"\e097"; } }
    i.icon-vector-path-line{ &:after { content:"\e098"; } }
    i.icon-vector-path-curve{ &:after { content:"\e099"; } }
    i.icon-vector-path-all{ &:after { content:"\e100"; } }
    i.icon-font{ &:after { content:"\e101"; } }
    i.icon-italic{ &:after { content:"\e102"; } }
    i.icon-bold{ &:after { content:"\e103"; } }
    i.icon-text-underline{ &:after { content:"\e104"; } }
    i.icon-text-strike{ &:after { content:"\e105"; } }
    i.icon-text-height{ &:after { content:"\e106"; } }
    i.icon-text-width{ &:after { content:"\e107"; } }
    i.icon-text-resize{ &:after { content:"\e108"; } }
    i.icon-left-indent{ &:after { content:"\e109"; } }
    i.icon-right-indent{ &:after { content:"\e110"; } }
    i.icon-align-left{ &:after { content:"\e111"; } }
    i.icon-align-center{ &:after { content:"\e112"; } }
    i.icon-align-right{ &:after { content:"\e113"; } }
    i.icon-justify{ &:after { content:"\e114"; } }
    i.icon-list{ &:after { content:"\e115"; } }
    i.icon-text-smaller{ &:after { content:"\e116"; } }
    i.icon-text-bigger{ &:after { content:"\e117"; } }
    i.icon-embed{ &:after { content:"\e118"; } }
    i.icon-embed-close{ &:after { content:"\e119"; } }
    i.icon-table{ &:after { content:"\e120"; } }
    i.icon-message-full{ &:after { content:"\e121"; } }
    i.icon-message-empty{ &:after { content:"\e122"; } }
    i.icon-message-in{ &:after { content:"\e123"; } }
    i.icon-message-out{ &:after { content:"\e124"; } }
    i.icon-message-plus{ &:after { content:"\e125"; } }
    i.icon-message-minus{ &:after { content:"\e126"; } }
    i.icon-message-ban{ &:after { content:"\e127"; } }
    i.icon-message-flag{ &:after { content:"\e128"; } }
    i.icon-message-lock{ &:after { content:"\e129"; } }
    i.icon-message-new{ &:after { content:"\e130"; } }
    i.icon-inbox{ &:after { content:"\e131"; } }
    i.icon-inbox-plus{ &:after { content:"\e132"; } }
    i.icon-inbox-minus{ &:after { content:"\e133"; } }
    i.icon-inbox-lock{ &:after { content:"\e134"; } }
    i.icon-inbox-in{ &:after { content:"\e135"; } }
    i.icon-inbox-out{ &:after { content:"\e136"; } }
    i.icon-cogwheel{ &:after { content:"\e137"; } }
    i.icon-cogwheels{ &:after { content:"\e138"; } }
    i.icon-picture{ &:after { content:"\e139"; } }
    i.icon-adjust-alt{ &:after { content:"\e140"; } }
    i.icon-database-lock{ &:after { content:"\e141"; } }
    i.icon-database-plus{ &:after { content:"\e142"; } }
    i.icon-database-minus{ &:after { content:"\e143"; } }
    i.icon-database-ban{ &:after { content:"\e144"; } }
    i.icon-folder-open{ &:after { content:"\e145"; } }
    i.icon-folder-plus{ &:after { content:"\e146"; } }
    i.icon-folder-minus{ &:after { content:"\e147"; } }
    i.icon-folder-lock{ &:after { content:"\e148"; } }
    i.icon-folder-flag{ &:after { content:"\e149"; } }
    i.icon-folder-new{ &:after { content:"\e150"; } }
    i.icon-edit{ &:after { content:"\e151"; } }
    i.icon-new-window{ &:after { content:"\e152"; } }
    i.icon-check{ &:after { content:"\e153"; } }
    i.icon-unchecked{ &:after { content:"\e154"; } }
    i.icon-more-windows{ &:after { content:"\e155"; } }
    i.icon-show-big-thumbnails{ &:after { content:"\e156"; } }
    i.icon-show-thumbnails{ &:after { content:"\e157"; } }
    i.icon-show-thumbnails-with-lines{ &:after { content:"\e158"; } }
    i.icon-show-lines{ &:after { content:"\e159"; } }
    i.icon-playlist{ &:after { content:"\e160"; } }
    i.icon-imac{ &:after { content:"\e161"; } }
    i.icon-macbook{ &:after { content:"\e162"; } }
    i.icon-ipad{ &:after { content:"\e163"; } }
    i.icon-iphone{ &:after { content:"\e164"; } }
    i.icon-iphone-transfer{ &:after { content:"\e165"; } }
    i.icon-iphone-exchange{ &:after { content:"\e166"; } }
    i.icon-ipod{ &:after { content:"\e167"; } }
    i.icon-ipod-shuffle{ &:after { content:"\e168"; } }
    i.icon-ear-plugs{ &:after { content:"\e169"; } }
    i.icon-phone{ &:after { content:"\e170"; } }
    i.icon-step-backward{ &:after { content:"\e171"; } }
    i.icon-fast-backward{ &:after { content:"\e172"; } }
    i.icon-rewind{ &:after { content:"\e173"; } }
    i.icon-play{ &:after { content:"\e174"; } }
    i.icon-pause{ &:after { content:"\e175"; } }
    i.icon-stop{ &:after { content:"\e176"; } }
    i.icon-forward{ &:after { content:"\e177"; } }
    i.icon-fast-forward{ &:after { content:"\e178"; } }
    i.icon-step-forward{ &:after { content:"\e179"; } }
    i.icon-eject{ &:after { content:"\e180"; } }
    i.icon-facetime-video{ &:after { content:"\e181"; } }
    i.icon-download-alt{ &:after { content:"\e182"; } }
    i.icon-mute{ &:after { content:"\e183"; } }
    i.icon-volume-down{ &:after { content:"\e184"; } }
    i.icon-volume-up{ &:after { content:"\e185"; } }
    i.icon-screenshot{ &:after { content:"\e186"; } }
    i.icon-move{ &:after { content:"\e187"; } }
    i.icon-more{ &:after { content:"\e188"; } }
    i.icon-brightness-reduce{ &:after { content:"\e189"; } }
    i.icon-brightness-increase{ &:after { content:"\e190"; } }
    i.icon-circle-plus{ &:after { content:"\e191"; } }
    i.icon-circle-minus{ &:after { content:"\e192"; } }
    i.icon-circle-remove{ &:after { content:"\e193"; } }
    i.icon-circle-ok{ &:after { content:"\e194"; } }
    i.icon-circle-question-mark{ &:after { content:"\e195"; } }
    i.icon-circle-info{ &:after { content:"\e196"; } }
    i.icon-circle-exclamation-mark{ &:after { content:"\e197"; } }
    i.icon-remove{ &:after { content:"\e198"; } }
    i.icon-ok{ &:after { content:"\e199"; } }
    i.icon-ban{ &:after { content:"\e200"; } }
    i.icon-download{ &:after { content:"\e201"; } }
    i.icon-upload{ &:after { content:"\e202"; } }
    i.icon-shopping-cart{ &:after { content:"\e203"; } }
    i.icon-lock{ &:after { content:"\e204"; } }
    i.icon-unlock{ &:after { content:"\e205"; } }
    i.icon-electricity{ &:after { content:"\e206"; } }
    i.icon-ok-2{ &:after { content:"\e207"; } }
    i.icon-remove-2{ &:after { content:"\e208"; } }
    i.icon-cart-out{ &:after { content:"\e209"; } }
    i.icon-cart-in{ &:after { content:"\e210"; } }
    i.icon-left-arrow{ &:after { content:"\e211"; } }
    i.icon-right-arrow{ &:after { content:"\e212"; } }
    i.icon-down-arrow{ &:after { content:"\e213"; } }
    i.icon-up-arrow{ &:after { content:"\e214"; } }
    i.icon-resize-small{ &:after { content:"\e215"; } }
    i.icon-resize-full{ &:after { content:"\e216"; } }
    i.icon-circle-arrow-left{ &:after { content:"\e217"; } }
    i.icon-circle-arrow-right{ &:after { content:"\e218"; } }
    i.icon-circle-arrow-top{ &:after { content:"\e219"; } }
    i.icon-circle-arrow-down{ &:after { content:"\e220"; } }
    i.icon-play-button{ &:after { content:"\e221"; } }
    i.icon-unshare{ &:after { content:"\e222"; } }
    i.icon-share{ &:after { content:"\e223"; } }
    i.icon-chevron-right{ &:after { content:"\e224"; } }
    i.icon-chevron-left{ &:after { content:"\e225"; } }
    i.icon-bluetooth{ &:after { content:"\e226"; } }
    i.icon-euro{ &:after { content:"\20AC"; } }
    i.icon-usd{ &:after { content:"\e228"; } }
    i.icon-gbp{ &:after { content:"\e229"; } }
    i.icon-retweet-2{ &:after { content:"\e230"; } }
    i.icon-moon{ &:after { content:"\e231"; } }
    i.icon-sun{ &:after { content:"\2609"; } }
    i.icon-cloud{ &:after { content:"\2601"; } }
    i.icon-direction{ &:after { content:"\e234"; } }
    i.icon-brush{ &:after { content:"\e235"; } }
    i.icon-pen{ &:after { content:"\e236"; } }
    i.icon-zoom-in{ &:after { content:"\e237"; } }
    i.icon-zoom-out{ &:after { content:"\e238"; } }
    i.icon-pin{ &:after { content:"\e239"; } }
    i.icon-albums{ &:after { content:"\e240"; } }
    i.icon-rotation-lock{ &:after { content:"\e241"; } }
    i.icon-flash{ &:after { content:"\e242"; } }
    i.icon-google-maps{ &:after { content:"\e243"; } }
    i.icon-anchor{ &:after { content:"\2693"; } }
    i.icon-conversation{ &:after { content:"\e245"; } }
    i.icon-chat{ &:after { content:"\e246"; } }
    i.icon-male{ &:after { content:"\e247"; } }
    i.icon-female{ &:after { content:"\e248"; } }
    i.icon-asterisk{ &:after { content:"\002A"; } }
    i.icon-divide{ &:after { content:"\00F7"; } }
    i.icon-snorkel-diving{ &:after { content:"\e251"; } }
    i.icon-scuba-diving{ &:after { content:"\e252"; } }
    i.icon-oxygen-bottle{ &:after { content:"\e253"; } }
    i.icon-fins{ &:after { content:"\e254"; } }
    i.icon-fishes{ &:after { content:"\e255"; } }
    i.icon-boat{ &:after { content:"\e256"; } }
    i.icon-delete{ &:after { content:"\e257"; } }
    i.icon-sheriffs-star{ &:after { content:"\e258"; } }
    i.icon-qrcode{ &:after { content:"\e259"; } }
    i.icon-barcode{ &:after { content:"\e260"; } }
    i.icon-pool{ &:after { content:"\e261"; } }
    i.icon-buoy{ &:after { content:"\e262"; } }
    i.icon-spade{ &:after { content:"\e263"; } }
    i.icon-bank{ &:after { content:"\e264"; } }
    i.icon-vcard{ &:after { content:"\e265"; } }
    i.icon-electrical-plug{ &:after { content:"\e266"; } }
    i.icon-flag{ &:after { content:"\e267"; } }
    i.icon-credit-card{ &:after { content:"\e268"; } }
    i.icon-keyboard-wireless{ &:after { content:"\e269"; } }
    i.icon-keyboard-wired{ &:after { content:"\e270"; } }
    i.icon-shield{ &:after { content:"\e271"; } }
    i.icon-ring{ &:after { content:"\02DA"; } }
    i.icon-cake{ &:after { content:"\e273"; } }
    i.icon-drink{ &:after { content:"\e274"; } }
    i.icon-beer{ &:after { content:"\e275"; } }
    i.icon-fast-food{ &:after { content:"\e276"; } }
    i.icon-cutlery{ &:after { content:"\e277"; } }
    i.icon-pizza{ &:after { content:"\e278"; } }
    i.icon-birthday-cake{ &:after { content:"\e279"; } }
    i.icon-tablet{ &:after { content:"\e280"; } }
    i.icon-settings{ &:after { content:"\e281"; } }
    i.icon-bullets{ &:after { content:"\e282"; } }
    i.icon-cardio{ &:after { content:"\e283"; } }
    i.icon-t-shirt{ &:after { content:"\e284"; } }
    i.icon-pants{ &:after { content:"\e285"; } }
    i.icon-sweater{ &:after { content:"\e286"; } }
    i.icon-fabric{ &:after { content:"\e287"; } }
    i.icon-leather{ &:after { content:"\e288"; } }
    i.icon-scissors{ &:after { content:"\e289"; } }
    i.icon-bomb{ &:after { content:"\e290"; } }
    i.icon-skull{ &:after { content:"\e291"; } }
    i.icon-celebration{ &:after { content:"\e292"; } }
    i.icon-tea-kettle{ &:after { content:"\e293"; } }
    i.icon-french-press{ &:after { content:"\e294"; } }
    i.icon-coffe-cup{ &:after { content:"\e295"; } }
    i.icon-pot{ &:after { content:"\e296"; } }
    i.icon-grater{ &:after { content:"\e297"; } }
    i.icon-kettle{ &:after { content:"\e298"; } }
    i.icon-hospital{ &:after { content:"\e299"; } }
    i.icon-hospital-h{ &:after { content:"\e300"; } }
    i.icon-microphone{ &:after { content:"\e301"; } }
    i.icon-webcam{ &:after { content:"\e302"; } }
    i.icon-temple-christianity-church{ &:after { content:"\e303"; } }
    i.icon-temple-islam{ &:after { content:"\e304"; } }
    i.icon-temple-hindu{ &:after { content:"\e305"; } }
    i.icon-temple-buddhist{ &:after { content:"\e306"; } }
    i.icon-bicycle{ &:after { content:"\e307"; } }
    i.icon-life-preserver{ &:after { content:"\e308"; } }
    i.icon-share-alt{ &:after { content:"\e309"; } }
    i.icon-comments{ &:after { content:"\e310"; } }
    i.icon-flower{ &:after { content:"\2698"; } }
    i.icon-baseball{ &:after { content:"\e312"; } }
    i.icon-rugby{ &:after { content:"\e313"; } }
    i.icon-ax{ &:after { content:"\e314"; } }
    i.icon-table-tennis{ &:after { content:"\e315"; } }
    i.icon-bowling{ &:after { content:"\e316"; } }
    i.icon-tree-conifer{ &:after { content:"\e317"; } }
    i.icon-tree-deciduous{ &:after { content:"\e318"; } }
    i.icon-more-items{ &:after { content:"\e319"; } }
    i.icon-sort{ &:after { content:"\e320"; } }
    i.icon-filter{ &:after { content:"\e321"; } }
    i.icon-gamepad{ &:after { content:"\e322"; } }
    i.icon-playing-dices{ &:after { content:"\e323"; } }
    i.icon-calculator{ &:after { content:"\e324"; } }
    i.icon-tie{ &:after { content:"\e325"; } }
    i.icon-wallet{ &:after { content:"\e326"; } }
    i.icon-piano{ &:after { content:"\e327"; } }
    i.icon-sampler{ &:after { content:"\e328"; } }
    i.icon-podium{ &:after { content:"\e329"; } }
    i.icon-soccer-ball{ &:after { content:"\e330"; } }
    i.icon-blog{ &:after { content:"\e331"; } }
    i.icon-dashboard{ &:after { content:"\e332"; } }
    i.icon-certificate{ &:after { content:"\e333"; } }
    i.icon-bell{ &:after { content:"\e334"; } }
    i.icon-candle{ &:after { content:"\e335"; } }
    i.icon-pushpin{ &:after { content:"\e336"; } }
    i.icon-iphone-shake{ &:after { content:"\e337"; } }
    i.icon-pin-flag{ &:after { content:"\e338"; } }
    i.icon-turtle{ &:after { content:"\e339"; } }
    i.icon-rabbit{ &:after { content:"\e340"; } }
    i.icon-globe{ &:after { content:"\e341"; } }
    i.icon-briefcase{ &:after { content:"\e342"; } }
    i.icon-hdd{ &:after { content:"\e343"; } }
    i.icon-thumbs-up{ &:after { content:"\e344"; } }
    i.icon-thumbs-down{ &:after { content:"\e345"; } }
    i.icon-hand-right{ &:after { content:"\e346"; } }
    i.icon-hand-left{ &:after { content:"\e347"; } }
    i.icon-hand-up{ &:after { content:"\e348"; } }
    i.icon-hand-down{ &:after { content:"\e349"; } }
    i.icon-fullscreen{ &:after { content:"\e350"; } }
    i.icon-shopping-bag{ &:after { content:"\e351"; } }
    i.icon-book-open{ &:after { content:"\e352"; } }
    i.icon-nameplate{ &:after { content:"\e353"; } }
    i.icon-nameplate-alt{ &:after { content:"\e354"; } }
    i.icon-vases{ &:after { content:"\e355"; } }
    i.icon-bullhorn{ &:after { content:"\e356"; } }
    i.icon-dumbbell{ &:after { content:"\e357"; } }
    i.icon-suitcase{ &:after { content:"\e358"; } }
    i.icon-file-import{ &:after { content:"\e359"; } }
    i.icon-file-export{ &:after { content:"\e360"; } }
    i.icon-bug{ &:after { content:"\e361"; } }
    i.icon-crown{ &:after { content:"\e362"; } }
    i.icon-smoking{ &:after { content:"\e363"; } }
    i.icon-cloud-upload{ &:after { content:"\e364"; } }
    i.icon-cloud-download{ &:after { content:"\e365"; } }
    i.icon-restart{ &:after { content:"\e366"; } }
    i.icon-security-camera{ &:after { content:"\e367"; } }
    i.icon-expand{ &:after { content:"\e368"; } }
    i.icon-collapse{ &:after { content:"\e369"; } }
    i.icon-collapse-top{ &:after { content:"\e370"; } }
    i.icon-globe-af{ &:after { content:"\e371"; } }
    i.icon-global{ &:after { content:"\e372"; } }
    i.icon-spray{ &:after { content:"\e373"; } }
    i.icon-nails{ &:after { content:"\e374"; } }
    i.icon-claw-hammer{ &:after { content:"\e375"; } }
    i.icon-classic-hammer{ &:after { content:"\e376"; } }
    i.icon-hand-saw{ &:after { content:"\e377"; } }
    i.icon-riflescope{ &:after { content:"\e378"; } }
    i.icon-electrical-socket-eu{ &:after { content:"\e379"; } }
    i.icon-electrical-socket-us{ &:after { content:"\e380"; } }
    i.icon-pinterest{ &:after { content:"\e381"; } }
    i.icon-dropbox{ &:after { content:"\e382"; } }
    i.icon-google-plus{ &:after { content:"\e383"; } }
    i.icon-jolicloud{ &:after { content:"\e384"; } }
    i.icon-yahoo{ &:after { content:"\e385"; } }
    i.icon-blogger{ &:after { content:"\e386"; } }
    i.icon-picasa{ &:after { content:"\e387"; } }
    i.icon-amazon{ &:after { content:"\e388"; } }
    i.icon-tumblr{ &:after { content:"\e389"; } }
    i.icon-wordpress{ &:after { content:"\e390"; } }
    i.icon-instapaper{ &:after { content:"\e391"; } }
    i.icon-evernote{ &:after { content:"\e392"; } }
    i.icon-xing{ &:after { content:"\e393"; } }
    i.icon-zootool{ &:after { content:"\e394"; } }
    i.icon-dribbble{ &:after { content:"\e395"; } }
    i.icon-deviantart{ &:after { content:"\e396"; } }
    i.icon-read-it-later{ &:after { content:"\e397"; } }
    i.icon-linked-in{ &:after { content:"\e398"; } }
    i.icon-forrst{ &:after { content:"\e399"; } }
    i.icon-pinboard{ &:after { content:"\e400"; } }
    i.icon-behance{ &:after { content:"\e401"; } }
    i.icon-github{ &:after { content:"\e402"; } }
    i.icon-youtube{ &:after { content:"\e403"; } }
    i.icon-skitch{ &:after { content:"\e404"; } }
    i.icon-foursquare{ &:after { content:"\e405"; } }
    i.icon-quora{ &:after { content:"\e406"; } }
    i.icon-badoo{ &:after { content:"\e407"; } }
    i.icon-spotify{ &:after { content:"\e408"; } }
    i.icon-stumbleupon{ &:after { content:"\e409"; } }
    i.icon-readability{ &:after { content:"\e410"; } }
    i.icon-facebook{ &:after { content:"\e411"; } }
    i.icon-twitter{ &:after { content:"\e412"; } }
    i.icon-instagram{ &:after { content:"\e413"; } }
    i.icon-posterous-spaces{ &:after { content:"\e414"; } }
    i.icon-vimeo{ &:after { content:"\e415"; } }
    i.icon-flickr{ &:after { content:"\e416"; } }
    i.icon-last-fm{ &:after { content:"\e417"; } }
    i.icon-rss{ &:after { content:"\e418"; } }
    i.icon-skype{ &:after { content:"\e419"; } }
    i.icon-e-mail{ &:after { content:"\e420"; } }

}

////
// Font icon init
// .fonticons-glyphicons();