////////////////////////////////////////////////////////////////////////////////
// Tables
////////////////////////////////////////////////////////////////////////////////

table {

    // Base table styles
    width: 100%; max-width: 100%;
    background: transparent;
    margin: 10px 0;
    
    // Table head
    th {
        color: @colorDark;
        text-align: left;
        font-weight: bold;
    }
    
    // Rowed Tables
    &.rowed {
        border-collapse: separate;
        td, th {
            padding: 6px 10px;
            border-top: 1px solid @tableBorder;
        }
        th { border-bottom: 1px solid @tableBorder; }
        tr:first-child td, tr:first-child th { 
            border-top: 0 none; 
        }
    }
    
    // Zebra Stripes
    &.zebra {
        tbody tr:nth-child(odd) td, 
        tbody tr:nth-child(odd) th {
            background: @tableBgZebra;
        }
    }
    
    // Bordered Tables
    &.bordered {
        background: @tableBg;
        border: 1px solid @tableBorder;
        border-collapse: separate;
        .border-radius();
    
        td, th {
            padding: 6px 10px;
            border-top: 1px solid @tableBorder;
            border-left: 1px solid @tableBorder;
        }
        thead tr th { border-bottom: 1px solid @tableBorder; }
        tr:first-child td, tr:first-child th { border-top: 0 none; }
        tr td:first-child, tr th:first-child { border-left: 0 none; }
        
        tbody tr:last-child td:first-child, 
        tbody tr:last-child th:first-child { .border-radius-bottom-left(); }
        
        tbody tr:last-child td:last-child, 
        tbody tr:last-child th:last-child { .border-radius-bottom-right(); }
        
        thead tr:first-child th:first-child, 
        &.no-thead tr:first-child td:first-child, 
        &.no-thead tr:first-child th:first-child { .border-radius-top-left(); }
        
        thead tr:first-child th:last-child, 
        &.no-thead tr:first-child td:last-child, 
        &.no-thead tr:first-child th:last-child { .border-radius-top-right(); }
    }
    
    // Hover Highlight
    &.hover {
        thead tr th:hover, 
        tbody tr:hover {
            background: @tableBgHover;
            color: @linkColorHover;
        }
        tbody tr:hover td {
            background: transparent;
        }
    }
}