////////////////////////////////////////////////////////////////////////////////
// Tables
////////////////////////////////////////////////////////////////////////////////

table {
    width: 100%; 
    max-width: 100%;
    background: transparent;
    margin: @baseMargin 0;
    overflow: auto;
    
    th {
        color: @colorHeader;
        text-align: left;
        font-weight: bold;
    }
}

////////////////////////////////////////////////////////////////////////////////
// Table Mixins
////////////////////////////////////////////////////////////////////////////////

////
// Rowed
.table-rowed() {
    border-collapse: separate;
    td, th {
        padding: (@baseMargin / 2) @baseMargin;
        border-bottom: 1px solid;
        .border-color( @tableBorderBase, @tableBorderAlpha, @tableBorder );
    }
    tr:last-child td { 
        border-bottom: 0 none; 
    }
}
////
// Columned
.table-column() {
    border-collapse: separate;
    td, th {
        padding: (@baseMargin / 2) @baseMargin;
        border-left: 1px solid;
        .border-color( @tableBorderBase, @tableBorderAlpha, @tableBorder );
    }
    th {
        border-left: 1px solid;
        .border-color( @tableBorderBase, @tableBorderAlpha, @tableBorder );
    }
    tr td:first-child, tr th:first-child { 
        border-left: 0 none;
    }
}
////
// Bordered
.table-bordered() {
    background: @tableBg;
    border-collapse: separate;
    border: 1px solid;
    .border-color( @tableBorderBase, @tableBorderAlpha, @tableBorder );
    .border-radius();

    td, th {
        padding: (@baseMargin / 2) @baseMargin;
        border-bottom: 1px solid;
        border-left: 1px solid;
        .border-color( @tableBorderBase, @tableBorderAlpha, @tableBorder );
    }
    tr:last-child td { border-bottom: 0 none; }
    tr td:first-child, tr th:first-child { border-left: 0 none; }
    
    tbody tr:last-child td:first-child, 
    tbody tr:last-child th:first-child { .border-radius-bottom-left(); }
    
    tbody tr:last-child td:last-child, 
    tbody tr:last-child th:last-child { .border-radius-bottom-right(); }
    
    thead tr:first-child th:first-child, 
    &.no-thead tr:first-child td:first-child, 
    &.no-thead tr:first-child th:first-child { .border-radius-top-left(); }
    
    thead tr:first-child th:last-child, 
    &.no-thead tr:first-child td:last-child, 
    &.no-thead tr:first-child th:last-child { .border-radius-top-right(); }
}
////
// Padded
.table-padded() {
    td, th {
        padding: (@baseMargin / 2) @baseMargin;
    }
}
////
// Condensed
.table-condensed() {
    td, th {
        padding: (@baseMargin / 4) (@baseMargin / 2);
    }
}

////
// Zebra
.table-zebra() {
    th {
        .background-color( @tableBgZebraBase, @tableBgZebraAlpha, @tableBgZebra );
    }
    tr:nth-child(even) td {
        .background-color( @tableBgZebraBase, @tableBgZebraAlpha, @tableBgZebra );
    }
}
////
// Hover
.table-hover() {
    thead tr th:hover, 
    tbody tr:hover {
        .background-color( @tableBgHoverBase, @tableBgHoverAlpha, @tableBgHover );
    }
    tbody tr:hover td {
        background: transparent;
    }
}

////////////////////////////////////////////////////////////////////////////////
// Table Class Assignment
////////////////////////////////////////////////////////////////////////////////

table.rowed     { .table-rowed();     }
table.columned  { .table-column();    }
table.zebra     { .table-zebra();     }
table.bordered  { .table-bordered();  }
table.padded    { .table-padded();    }
table.condensed { .table-condensed(); }
table.hover     { .table-hover();     }