////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////

////
// Headers
h1, h2, h3, h4, h5, h6 {
    margin: @baseMargin 0;
    font-family: @headerFontFamily;
    font-weight: @headerFontWeight;
    line-height: @baseLineHeight;
    color: @colorHeader;

    a {
        color: @linkHeader;
        border: 0 none;
        &:hover {
            color: @linkHeaderHover;
        }
    }
}

h1 {
    .font-sequence( 3 );    // 42/50
}
h2 {
    .font-sequence( 2.5 );  // 35/43
}
h3 {
    .font-sequence( 2 );    // 28/36
}
h4 {
    .font-sequence( 1.5 );  // 21/29
}
h5 {
    .font-sequence( 1.25 ); // 18/26
}
h6 {
    .font-sequence( 1 );    // 14/22
}

////
// Base Elements
p { 
    margin: @baseMargin 0;

    &.intro {
        .font-sequence( 1.5 ); // Same styles as an h4 except with normal weight
    }
}

strong { font-weight: bold; }
em { font-style: italic; }
small {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    color: @colorLight;
}
cite {
    font-style: normal;
}

////
// Utility Classes
.delete {
    position: relative;
    display: inline-block;
    &:after {
        content: "\0020";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: 0;
        .background-color(@red, 0.6);
    }
}
.underline {
    text-decoration: underline;
}
.highlight {
    .background-color(@yellowLighter, 0.6);
}

////
// Links
a {
    color: @linkColor;
    text-decoration: none;
    border-bottom: 1px solid;
    .border-color-default();
    .transition();
    &:hover {
        color: @linkColorHover;
        .border-color( @baseBorderBase, (@baseBorderAlpha * 2), darken(@baseBorder, 10%) );
    }
}

////////////////////////////////////////////////////////////////////////////////
// Blockquotes
////////////////////////////////////////////////////////////////////////////////

blockquote {
    margin: @baseMargin 0;
    padding: (@baseMargin / 2) (@baseMargin + (@baseMargin / 2));
    border-left: 5px solid;
    .border-color-default();
    .background-color-default();
    
    small {
        position: relative;
        margin: @baseMargin 0;
        display: block;
        font-size: 100%;
        color: darken( @colorLight, 5% );
        &:before {
            #arrow > .right( 5px, rgba(0,0,0, 0.10) );
            position: absolute;
            left: -(@baseMargin + (@baseMargin / 2));
            top: 50%;
            margin-top: -5px;
        }
    }
}
////
// Align Right
blockquote.align-right {
    text-align: right;
    border-left: 0 none;
    border-right: 5px solid;
    .border-color-default();
    
    small:before {
        #arrow > .left( 5px, rgba(0,0,0, 0.10) );
        left: auto;
        right: -(@baseMargin + (@baseMargin / 2));
    }
}

////////////////////////////////////////////////////////////////////////////////
// Lists
////////////////////////////////////////////////////////////////////////////////

ul, ol {
    margin: @baseMargin 0 @baseMargin (@baseMargin + (@baseMargin / 2));
}
ul, ul ul ul ul {
    list-style: disc;
}
ul ul {
    list-style: circle;
}
ul ul ul {
    list-style: disc;
}

ol, ol ol ol ol {
    list-style: decimal;
}
ol ol {
    list-style: lower-alpha;
}
ol ol ol {
    list-style: lower-roman;
}

ul li, ol li {
    margin: @baseMargin 0;
}

dl {
    margin: @baseMargin 0;
    dt {
        margin: @baseMargin 0 0;
        font-weight: bold;
    }
    dd {
        margin: 0 0 @baseMargin (@baseMargin + (@baseMargin / 2));
    }
}

////////////////////////////////////////////////////////////////////////////////
// Horizontal Rules
////////////////////////////////////////////////////////////////////////////////

hr {
    margin: (@baseMargin * 2) 0;
    padding: 0;
    background: none;
    height: 0; 
    width: 100%;
    display: block; 
    clear: both;
    border: 0 none;
    border-bottom: 1px solid;
    .border-color-default();
    
    &.dotted {
        border-bottom: 1px dotted;
        .border-color-default();
    }
    &.dashed {
        border-bottom: 1px dashed;
        .border-color-default();
    }
    &.double {
        border-bottom: 3px double;
        .border-color-default();
    }
}