////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////

html {
    .root-font-size();
}
body {
    font-family: @font-family;
    font-weight: @font-weight;
    color: @color;
}

////
// Headers
h1, h2, h3, h4, h5, h6 {
    margin: @margin 0;
    font-family: @font-family-header;
    font-weight: @font-weight-header;
    line-height: @line-height;
    color: @color-header;

    a {
        color: @color-link-header;
        border: 0 none;
        &:hover {
            color: @color-link-header-hover;
        }
    }
}

h1 {
    .font-sequence( 42px );
}
h2 {
    .font-sequence( 35px );
}
h3 {
    .font-sequence( 28px );
}
h4 {
    .font-sequence( 21px );
}
h5 {
    .font-sequence( 18px );
}
h6 {
    .font-sequence( 14px );
}

////
// Base Elements
p { 
    margin: @margin 0;

    &.intro {
        .font-sequence( 21px ); // Same styles as an h4 except with normal weight
    }
}

strong { font-weight: bold; }
em { font-style: italic; }
small {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    color: @color-light;
}
del {
    text-decoration: line-through;
}
cite {
    font-style: normal;
}

////
// Utility Classes
.delete {
    position: relative;
    display: inline-block;
    text-decoration: none;
    &:after {
        content: "\0020";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        .background-color(@red, 0.6);
    }
}
.underline {
    text-decoration: underline;
}
.highlight {
    .background-color(@yellow-lighter, 0.6);
}

////
// Links/Anchors
.anchor() {
    color: @color-link;
    text-decoration: none;
    border-bottom: 1px solid;
    .border-color-default();
    .transition();
    &:hover {
        color: @color-link-hover;
        .border-color( @border-base, (@border-alpha * 2), darken(@border, 10%) );
    }
}
a {
    .anchor();
}

////////////////////////////////////////////////////////////////////////////////
// Blockquotes
////////////////////////////////////////////////////////////////////////////////

blockquote {
    margin: @margin 0;
    padding: (@padding / 2) (@padding + (@padding / 2));
    border-left: 5px solid;
    .border-color-default();
    .background-color-default();
    
    small {
        position: relative;
        margin: @margin 0;
        display: block;
        font-size: 100%;
        color: darken( @color-light, 5% );
        &:before {
            #arrow > .right( 5px, rgba(0,0,0, 0.10) );
            position: absolute;
            left: -(@margin + (@margin / 2));
            top: 50%;
            margin-top: -5px;
        }
    }
}
////
// Align Right
blockquote.align-right {
    text-align: right;
    border-left: 0 none;
    border-right: 5px solid;
    .border-color-default();
    
    small:before {
        #arrow > .left( 5px, rgba(0,0,0, 0.10) );
        left: auto;
        right: -(@margin + (@margin / 2));
    }
}

////////////////////////////////////////////////////////////////////////////////
// Lists
////////////////////////////////////////////////////////////////////////////////

ul, ol {
    margin: @margin 0 @margin (@margin + (@margin / 2));
    
    &.remove-list-styles {
        .remove-list-styles();
    }
    &.inline-list {
        .inline-list( @margin, both );
    }
}
ul, ul ul ul ul {
    list-style: disc;
}
ul ul {
    list-style: circle;
}
ul ul ul {
    list-style: disc;
}

ol, ol ol ol ol {
    list-style: decimal;
}
ol ol {
    list-style: lower-alpha;
}
ol ol ol {
    list-style: lower-roman;
}

ul li, ol li {
    margin: @margin 0;
}

dl {
    margin: @margin 0;
    dt {
        margin: @margin 0 0;
        font-weight: bold;
    }
    dd {
        margin: 0 0 @margin (@margin + (@margin / 2));
    }
}

////////////////////////////////////////////////////////////////////////////////
// Horizontal Rules
////////////////////////////////////////////////////////////////////////////////

hr {
    margin: (@margin * 2) 0;
    padding: 0;
    background: none;
    height: 0; 
    width: 100%;
    display: block; 
    clear: both;
    border: 0 none;
    border-bottom: 1px solid;
    .border-color-default();
    
    &.dotted {
        border-bottom: 1px dotted;
        .border-color-default();
    }
    &.dashed {
        border-bottom: 1px dashed;
        .border-color-default();
    }
    &.double {
        border-bottom: 3px double;
        .border-color-default();
    }
}

////////////////////////////////////////////////////////////////////////////////
// Utility Classes
////////////////////////////////////////////////////////////////////////////////

.uppercase { .uppercase(); }