////////////////////////////////////////////////////////////////////////////////
// Core Variables
////////////////////////////////////////////////////////////////////////////////

////
// Typohraphy
////
// Font families
@sansFontFamily:    "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
@slabFontFamily:    @sansFontFamily;
@serifFontFamily:   georgia, "Times New Roman", times, serif;
@monoFontFamily:    Menlo, Monaco, Consolas, "Courier New", monospace;
@iconFontFamily:    "Entypo";
////
// Font families assignments
@baseFontFamily:        @sansFontFamily;
@altFontFamily:         @serifFontFamily;
@headingsFontFamily:    inherit;
////
// Metrics
@baseFontSize:      14px;
@baseLineHeight:    @baseFontSize + 8;
@baseFontWeight:    normal;

////
// Text Color Assignment
@color:             @gray;
@colorLight:        @grayLighter;
@colorDark:         @grayDarker;
@colorHeader:       @colorDark;
////
// Links Color Assignment
@linkColor:         @blue;
@linkColorHover:    @orange;
@linkHeader:        @linkColor;
@linkHeaderHover:   @linkColorHover;

////////////////////////////////////////////////////////////////////////////////
// Structure
////////////////////////////////////////////////////////////////////////////////

////
// Media Mode 
// mobile-first: Starts with mobile styles then uses media queries for other viewports
// desktop-first: Starts with desktop styles then uses media quereis for other viewports
// off: Turns off media queries
@media_mode: mobile-first;

////
// Media query breakpoints
@media_small:       480px; // max-width
@media_mobile:      760px;
@media_tablet_min:  @media_mobile;
@media_tablet_max:  @media_desktop_min; // Not used on mobile-first
@media_desktop_min: 980px;
@media_desktop_max: @media_large; // Not used on mobile-first
@media_large:       1200px; // min-width

////
// Grid System


////
// Scaffolding
@bgBody:            @white;
@bgLight:           #f9f9f9;
@borderColor:       #e0e0e0;

////////////////////////////////////////////////////////////////////////////////
// Mixin Defaults
////////////////////////////////////////////////////////////////////////////////

@letterSpacing:         1px;
@borderRadius:          4px;
@boxShadow:             0 1px 3px rgba(0,0,0, 0.25);

@displayVisible:        block;

@transitionProperty:    all;
@transitionDuration:    0.25s;
@transitionFunction:    ease-in-out;

@rotateDegree:          0;

@startColor:            #fff;
@endColor:              #000;

////
// Directories
@dirImages:             "../img/layout/";
@dirFonts:              "../fonts/";

////////////////////////////////////////////////////////////////////////////////
// Componenets
////////////////////////////////////////////////////////////////////////////////

////
// Tables
@tableBg:           @white;
@tableBgZebra:      @bgLight;
@tableBorder:       @borderColor;
@tableBgHover:      #f4f4f4;

////
// Code
@codeBg:            @bgLight;
@codeBorder:        @borderColor;

////
// Buttons
@btnPadTB:          6px;
@btnPadLR:          14px;

////////////////////////////////////////////////////////////////////////////////
// Custom
////////////////////////////////////////////////////////////////////////////////