////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////

/**
 * Font Families
 */
@font-family-sans: "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
@font-family-slab: @font-family-sans;
@font-family-serif: georgia, "Times New Roman", times, serif;
@font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-icon: "Glyphicons";

/**
 * Base Styles
 */
@font-family: @font-family-sans;
@font-size: 14px;
@font-weight: normal;
@font-unit: px; // Either `em` or `px` for font outputs

@line-height-inc: 8px;
@line-height: unit( (@font-size + @line-height-inc), px ); // 22px

/**
 * Header Styles
 */
@font-family-header: inherit;
@font-weight-header: bold;

/**
 * Alternative Styles
 */
@font-family-alt: @font-family-serif;
@font-weight-alt: inherit;

/**
 * Text Color Assignment
 */
@color: @gray-dark;
@color-light: @gray-lighter;
@color-dark: @gray-darker;
@color-header: @color;

@color-link: @blue;
@color-link-hover: @red;
@color-link-header: @color-link;
@color-link-header-hover: @color-link-hover;

////////////////////////////////////////////////////////////////////////////////
// Scaffolding
////////////////////////////////////////////////////////////////////////////////

/**
 * Backgrounds
 */
@bg: #f4f4f4;
@bg-alpha: 0.04;
@bg-base: @black;

/**
 * Borders
 */
@border: #e0e0e0;
@border-alpha: 0.1;
@border-base: @black;

/**
 * Spacing
 */
@margin: (@line-height / 2);  // 11px
@padding: (@line-height / 2); // 11px

////////////////////////////////////////////////////////////////////////////////
// Mixin Defaults
////////////////////////////////////////////////////////////////////////////////

/**
 * CSS3
 */
@border-radius: 4px;
@box-shadow: 0 1px 3px rgba(0,0,0, 0.25);

@transition: all 0.25s linear; // property, duration, timing-function, delay
@transition-property: all;
@transition-duration: 0.25s;
@transition-timing-function: ease-in-out;
@transition-delay: 0.25s;

@rotate-degree: 0;

@gradient-start-color: @blue-light;
@gradient-center-color: @blue;
@gradient-end-color: @blue-darker;
@gradient-deg: 45deg;
@gradient-color-stop: 50%;

/**
 * Miscellaneous
 */
@letter-spacing: 1px;
@display-visible: block;

////////////////////////////////////////////////////////////////////////////////
// Miscellaneous
////////////////////////////////////////////////////////////////////////////////

/**
 * Directories
 */
@dir-images: "../img/layout/";
@dir-fonts: "../fonts/";

////////////////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////////////////

/**
 * Media query breakpoints
 */
@media-small:       480px; // max-width

@media-mobile:      760px;

@media-tablet:      @media-mobile;
@media-tablet-min:  @media-mobile;
@media-tablet-max:  @media-desktop-min; // Not used on mobile-first

@media-desktop:     990px;
@media-desktop-min: @media-desktop;
@media-desktop-max: @media-large; // Not used on mobile-first

@media-large:       1380px; // min-width