////////////////////////////////////////////////////////////////////////////////
// Core Variables
////////////////////////////////////////////////////////////////////////////////

////
// Typohraphy
////
// Font families
@font-family-sans: "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
@font-family-slab: @font-family-sans;
@font-family-serif: georgia, "Times New Roman", times, serif;
@font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-icon: "Glyphicons";

////
// Base Styles
@font-family: @font-family-sans;
@font-size: 14px;
@font-weight: normal;
@font-unit: em; // Either `em` or `px` for font outputs
// Line Height
@line-height-inc: 8;
@line-height: (@font-size + @line-height-inc); // 22

////
// Header Styles
@font-family-header: inherit;
@font-weight-header: bold;

////
// Alternative Styles
@font-family-alt: @font-family-serif;
@font-weight-alt: inherit;

////
// Text Color Assignment
@color: @gray-dark;
@color-light: @gray-lighter;
@color-dark: @gray-darker;
@color-header: @color;
// Links Color Assignment
@color-link: @blue;
@color-link-hover: @red;
@color-link-header: @color-link;
@color-link-header-hover: @color-link-hover;

////
// Backgrounds
@bg: #f4f4f4;
@bg-alpha: 0.04;
@bg-base: @black;

////
// Borders
@border: #e0e0e0;
@border-alpha: 0.1;
@border-base: @black;

////
// Spacing
@margin: (@line-height / 2); // 11
@padding: (@line-height / 2); // 11

////////////////////////////////////////////////////////////////////////////////
// Mixin Defaults
////////////////////////////////////////////////////////////////////////////////

////
// CSS3
@border-radius: 4px;
@box-shadow: 0 1px 3px rgba(0,0,0, 0.25);

@transition: all linear 0.25s;
@transition-delay: ease-in-out;
@transition-duration: 0.25s;

@rotate-degree: 0;

@gradient-start-color: @blue-light;
@gradient-center-color: @blue;
@gradient-end-color: @blue-darker;
@gradient-deg: 45deg;
@gradient-color-stop: 50%;

////
// Miscellaneous
@letter-spacing: 1px;
@display-visible: block;

////////////////////////////////////////////////////////////////////////////////
// Miscellaneous
////////////////////////////////////////////////////////////////////////////////

////
// Directories
@dir-images: "../img/layout/";
@dir-fonts: "../fonts/";

////////////////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////////////////

////
// Media Mode 
// mobile-first: Starts with mobile styles then uses media queries for other viewports
// desktop-first: Starts with desktop styles then uses media quereis for other viewports
// off: Turns off media queries
@media-mode: mobile-first;

////
// Media query breakpoints
@media-small: 480px; // max-width

@media-tablet: 760px; // min-width

@media-desktop: 990px; // min-width

@media-large: 1380px; // min-width
