<section class="page">
  <div class="content-inner">

    <h1 class="docs-header">About</h1>
    
    <p>BaseWeb is a front-end development framework written in SCSS. It was created from a need to reduce the amount of time writing CSS while giving control over CSS output to the author.</p>
    
    <p>BaseWeb establishes a methodology of organizing code to be easily maintained, updated and internally consistent while keeping the final CSS output as clean and minimal as possible.</p>
    
    <h2 class="docs-header">Who made BaseWeb?</h2>
    
    <p>BaseWeb was created and is maintained by <a href="http://sebnitu.com/">Sebastian Nitu</a>, a User Interface designer and developer working at <a href="http://avelient.co/">Avelient</a>.</p>

  </div>
</section>