<section class="page rootpage">
  <div class="content-inner">
    
    <h1>Documentation</h1>
    <p class="text-lead">The documentation for BaseWeb has been designed to mirror its internal file organization. BaseWeb is split into five categories: Settings, Core, Elements, Blocks and Custom.</p>
    
    <div class="sitemap dark">
      {{ > nav }}
    </div>
    
  </div>
</section>
