<h1>Breadcrumb</h1>

<div class="demo">
  
  <nav class="breadcrumb">
    <ul>
      <li><a>Home</a></li>
      <li><a>Some Page</a></li>
      <li><a>Some Category</a></li>
      <li><a>Some Page</a></li>
    </ul>
  </nav>
  
  <ul class="breadcrumb">
    <li><a>Home</a></li>
    <li><a>Some Page</a></li>
    <li><a>Some Category</a></li>
    <li><a>Some Page</a></li>
  </ul>

</div>

<div class="demo">
  <nav class="breadcrumb wrapped">
    <ul>
      <li><a>Home</a></li>
      <li><a>Some Page</a></li>
      <li><a>Some Category</a></li>
      <li><a>Some Page</a></li>
    </ul>
  </nav>
  
  <ul class="breadcrumb wrapped">
    <li><a>Home</a></li>
    <li><a>Some Page</a></li>
    <li><a>Some Category</a></li>
    <li><a>Some Page</a></li>
  </ul>
</div>