<h1>Button Group</h1>

<div class="demo">
  <div class="btn-group">
    <a class="btn btn-default">Button</a>
    <a class="btn btn-default">Button</a>
    <a class="btn btn-default">Button</a>
    <a class="btn btn-default">Button</a>
  </div>
</div>
