<h1>Button Group</h1>

<div class="demo demo-pad example-group">
  <div class="button-group-wrapper">
  <div class="button-group block has-margin-3 stack-for-small">
    <button class="button is-1-of-4">Button</button>
    <button class="button is-1-of-4">Button</button>
    <button class="button is-1-of-2">Button</button>
  </div>
  <div class="button-group block has-3 stack-for-small">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  </div>
</div>

<div class="demo demo-pad">
  <div class="button-group-wrapper">
  <div class="button-group vertical stack-for-small">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  <div class="button-group vertical stack-for-small">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  </div>
</div>


<div class="demo demo-pad">
  <div class="button-group-wrapper">
    <div class="button-group block has-3">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group block has-5 stack-for-tablet">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group block vertical">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
  </div>
</div>


<div class="demo demo-pad">
  <div class="button-group-wrapper">
    <div class="button-group block has-3 stack-for-mobile large">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group block has-5 stack-for-mobile small orange">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
  </div>
</div>  
  
<div class="demo demo-pad">
  <div class="button-group-wrapper">
    <div class="button-group stack-for-small large">
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    <div class="button-group stack-for-small small black">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
  </div>
</div>

<div class="demo demo-pad">
  
  <div class="button-group-wrapper">
  
    <div class="button-group block has-3 primary">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group secondary">
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group success">
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <button class="button red">Button</button>
    
    <div class="button-group block has-1">
      <button class="button default">Button</button>
    </div>
    
    <div class="has-2">
      <div>
        <div class="button-group block has-2 stack-for-mobile default">
          <button class="button">Button</button>
          <button class="button">Button</button>
        </div>
      </div>
      <div>
        <div class="button-group block has-2 stack-for-mobile blue">
          <button class="button">Button</button>
          <button class="button">Button</button>
        </div>
      </div>
    </div>
    
    <div class="button-group warning">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group success">
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group block has-3 danger">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
    
    <div class="button-group block has-4 stack-for-mobile default">
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
      <button class="button">Button</button>
    </div>
  
  </div>
  
  <br>
  
  <div class="button-group block has-4 stack-for-mobile default">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  
</div>