<h1>Button Group</h1>

<div class="demo demo-pad">
  <div class="button-group">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
    <div class="button-group">
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
</div>


<div class="demo demo-pad">
  <div class="button-group vertical">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  
  <div class="button-group vertical">
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
</div>


<div class="demo demo-pad">
  
  <div class="button-group block has-3">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  
  <div class="button-group block has-5">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  
  <div class="button-group vertical block">
    <button class="button">Button</button>
    <button class="button">Button</button>
    <button class="button">Button</button>
  </div>
  
</div>