<h1>Dropdowns</h1>

<div class="dropdown-trigger">
  <button class="button">Dropdown Trigger</button>
  <div class="dropdown arrow">
    <a class="dropdown-content text-center">
      <p>
        <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
        <strong>Sebastian Nitu</strong><br>
        <small class="text-soften">View Profile</small>
      </p>
      <p>Welcome to this example of a dropdown-content block.</p>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <div class="dropdown-content">
      <button class="button block blue">Create Account</button>
      <div class="button-group block has-2">
        <button class="button">&larr; Prev</button>
        <button class="button">Next &rarr;</button>
      </div>
    </div>
  </div>
</div>


<div class="clearfix">
  
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
  
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>

</div>

<div class="clearfix">

  <div class="dropdown arrow">
    <a class="dropdown-content text-center">
      <p>
        <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
        <strong>Sebastian Nitu</strong><br>
        <small class="text-soften">View Profile</small>
      </p>
      <p>Welcome to this example of a dropdown-content block.</p>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <div class="dropdown-content">
      <button class="button block blue">Create Account</button>
      <div class="button-group block has-2">
        <button class="button">&larr; Prev</button>
        <button class="button">Next &rarr;</button>
      </div>
    </div>
  </div>
  
  <div class="dropdown arrow inverted">
    <a class="dropdown-content text-center">
      <p>
        <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
        <strong>Sebastian Nitu</strong><br>
        <small class="text-soften">View Profile</small>
      </p>
      <p>Welcome to this example of a dropdown-content block.</p>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <div class="dropdown-content">
      <button class="button block green clip-padding">Create Account</button>
      <div class="button-group block has-2">
        <button class="button inverted">&larr; Prev</button>
        <button class="button inverted">Next &rarr;</button>
      </div>
    </div>
  </div>

</div>

