<h1>Dropdowns</h1>

<p>Dropdowns represent content that is initially hidden to the user and revealed by an action&mdash;usually a hover or click&mdash;on a target area. The most common use of a dropdown is sub-navigation in a navigation menu. The dropdown event consists of two components:</p>

<ul class="list rowed flush">
  <li><strong>The Trigger:</strong> this is the element that when acted upon reveals the hidden content relative to the placement of itself. The trigger is usually represented by a button or menu item.</li>
  <li><strong>The Target (Dropdown):</strong> this is the hidden element that is revealed by the trigger. It can be any content, but it usually takes the form as a set of links. It's position is relative to the trigger that activates it.</li>
</ul>

<pre class="language-markup"><code>
&lt;div class=&quot;dropdown-trigger&quot;&gt;
  &lt;button class=&quot;button&quot;&gt;On Hover&lt;/button&gt;
  &lt;div class=&quot;dropdown&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;dropdown-trigger on-click&quot;&gt;
  &lt;button class=&quot;button&quot;&gt;On Click&lt;/button&gt;
  &lt;div class=&quot;dropdown&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<div class="demo demo-dropdown">

  <div class="dropdown-trigger">
    <button class="button">On Hover</button>
    <div class="dropdown arrow">
      <div class="dropdown-content text-center">
        <a class="block">
          <p>
            <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
            <strong>Sebastian Nitu</strong><br>
            <small class="text-soften">View Profile</small>
          </p>
          <p>Welcome to this example of a dropdown-content block.</p>
        </a>
      </div>
      <ul class="dropdown-menu">
        <li><a href="#">Help</a></li>
        <li><a href="#">Settings</a>
          <ul class="dropdown-menu">
            <li><a href="#">Help</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <div class="dropdown-content">
        <div class="dropdown-trigger on-click anchor-right-top">
          <button class="button block blue">Create Account</button>
          <div class="dropdown arrow">
            <ul class="dropdown-menu">
              <li><a href="#">Help</a></li>
              <li>
                <a href="#">Settings</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Help</a></li>
                  <li>
                    <a href="#">Settings</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="#">Analytics</a></li>
                      <li><a href="#">Log Out</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Analytics</a></li>
                  <li><a href="#">Log Out</a></li>
                </ul>
              </li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </div>
        </div>
        <div class="button-group block has-2">
          <button class="button">&larr; Prev</button>
          <button class="button">Next &rarr;</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dropdown-trigger on-click">
    <button class="button">On Click</button>
    <div class="dropdown arrow">
      <div class="dropdown-content text-center">
        <a class="block">
          <p>
            <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
            <strong>Sebastian Nitu</strong><br>
            <small class="text-soften">View Profile</small>
          </p>
          <p>Welcome to this example of a dropdown-content block.</p>
        </a>
      </div>
      <ul class="dropdown-menu">
        <li><a href="#">Help</a></li>
        <li><a href="#">Settings</a>
          <ul class="dropdown-menu">
            <li><a href="#">Help</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <div class="dropdown-content">
        <div class="dropdown-trigger on-click anchor-right-top">
          <button class="button block blue">Create Account</button>
          <div class="dropdown arrow">
            <ul class="dropdown-menu">
              <li><a href="#">Help</a></li>
              <li>
                <a href="#">Settings</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Help</a></li>
                  <li>
                    <a href="#">Settings</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="#">Analytics</a></li>
                      <li><a href="#">Log Out</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Analytics</a></li>
                  <li><a href="#">Log Out</a></li>
                </ul>
              </li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </div>
        </div>
        <div class="button-group block has-2">
          <button class="button">&larr; Prev</button>
          <button class="button">Next &rarr;</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  $(document).ready(function() {
    
    // Bind document click event
    $(document).click(function(){
      // Hide all dropdowns that are click activated
      $('.dropdown-trigger.on-click').removeClass('active');
    });
    
    // Bind the click event to .dropdown-trigger
    $('.dropdown-trigger.on-click').click(function(e) {
      
      // Is the dropdown already active?
      var is_active = $(this).hasClass('active');
      
      // Hide all dropdowns that are click activated
      $('.dropdown-trigger.on-click').removeClass('active');
      
      // Keep the parent dropdowns active
      $(this).parents('.dropdown-trigger').addClass('active');
  
      // If the dropdown is not active, add the active class
      if (!is_active) {
        $(this).addClass('active');
      }
  
      // Stop the click event from bubbling down to the document
      e.stopPropagation();
    });
    
    // Bind the click event to .dropdown
    $('.dropdown-trigger.on-click .dropdown').click(function(e) {
          
      // Hide all dropdowns that are click activated
      $('.dropdown-trigger.on-click').removeClass('active');
      
      // Keep the parent dropdowns active
      $(this).parents('.dropdown-trigger').addClass('active');
      
      // Keep the current dropdown active
      $(this).addClass('active');
      
      // Stop the click event from bubbling down to the document
      e.stopPropagation();
    });
    
  });
  </script>

</div><!-- .demo -->

<p>The <code>on-click</code> class disables the hover styles from the dropdown trigger. This allows you to write whatever JavaScript you'd like to handle the dropdown action events. Here's an example of some jQuery you could use for displaying dropdowns on click with comments to explain the process:</p>

<pre class="language-javascript"><code>
// Bind document click event
$(document).click(function(){
  // Hide all dropdowns that are click activated
  $('.dropdown-trigger.on-click').removeClass('active');
});

// Bind the click event to .dropdown-trigger
$('.dropdown-trigger.on-click').click(function(e) {
  
  // Is the dropdown already active?
  var is_active = $(this).hasClass('active');
  
  // Hide all dropdowns that are click activated
  $('.dropdown-trigger.on-click').removeClass('active');
  
  // Keep the parent dropdowns active
  $(this).parents('.dropdown-trigger').addClass('active');

  // If the dropdown is not active, add the active class
  if (!is_active) {
    $(this).addClass('active');
  }

  // Stop the click event from bubbling down to the document
  e.stopPropagation();
});

// Bind the click event to .dropdown
$('.dropdown-trigger.on-click .dropdown').click(function(e) {
      
  // Hide all dropdowns that are click activated
  $('.dropdown-trigger.on-click').removeClass('active');
  
  // Keep the parent dropdowns active
  $(this).parents('.dropdown-trigger').addClass('active');
  
  // Keep the current dropdown active
  $(this).addClass('active');
  
  // Stop the click event from bubbling down to the document
  e.stopPropagation();
});
</code></pre>

<p>The two primary content types of dropdowns are dropdown menus and then more general dropdown content. Each content type can be  used to define different dropdowns or combined for more complex dropdown content.</p>

<pre class="language-markup"><code>
&lt;!-- Dropdown Content --&gt;
&lt;div class=&quot;dropdown-content text-center&quot;&gt;
  &lt;a class=&quot;block&quot;&gt;
    ...
  &lt;/a&gt;
  &lt;hr&gt;
  ...
&lt;/div&gt;

&lt;!-- Dropdown Menus --&gt;
&lt;ul class=&quot;dropdown-menu&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
    &lt;ul class=&quot;dropdown-menu&quot;&gt;
      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
      ...
    &lt;/ul&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;

&lt;!-- Dropdown with both Content and Menus --&gt;
&lt;div class=&quot;dropdown&quot;&gt;
  &lt;div class=&quot;dropdown-content&quot;&gt;
    ...
  &lt;/div&gt;
  &lt;div class=&quot;dropdown-content text-center&quot;&gt;
    &lt;a class=&quot;block&quot;&gt;
      ...
    &lt;/a&gt;
  &lt;/div&gt;
  &lt;ul class=&quot;dropdown-menu&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;
      &lt;ul class=&quot;dropdown-menu&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
        ...
      &lt;/ul&gt;
    &lt;/li&gt;
    ...
  &lt;/ul&gt;
  &lt;div class=&quot;dropdown-content&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<div class="demo demo-dropdown demo-dropdown-styles">
  
  <div class="dropdown">
    <div class="dropdown-content">
      <h4>Some Heading</h4>
      <p>This is an example of a simple text block inside of a dropdown content wrapper.</p>
    </div>
    <div class="dropdown-content text-center">
      <a class="block">
        <p>
          <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
          <strong>Sebastian Nitu</strong><br>
          <small class="text-soften">View Profile</small>
        </p>
        <p>Welcome to this example of a linked dropdown-content block.</p>
      </a>
    </div>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown Menu</a></li>
      <li><a href="#">Has Submenu</a>
        <ul class="dropdown-menu">
          <li><a href="#">Help</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">List Item</a></li>
      <li><a href="#">List Item</a></li>
    </ul>
    <div class="dropdown-content">
      <button class="button block blue">Create Account</button>
      <div class="button-group block has-2">
        <button class="button">&larr; Prev</button>
        <button class="button">Next &rarr;</button>
      </div>
    </div>
  </div>
  
  <div class="dropdown-content text-center">
    <a class="block">
      <p>
        <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
        <strong>Sebastian Nitu</strong><br>
        <small class="text-soften">View Profile</small>
      </p>
      <p>Welcome to this example of a linked dropdown-content block.</p>
    </a>
    
    <hr>
    
    <button class="button block blue">Create Account</button>
    <div class="button-group block has-2">
      <button class="button">&larr; Prev</button>
      <button class="button">Next &rarr;</button>
    </div>
  </div>
  
  <ul class="dropdown-menu">
    <li><a href="#">Dropdown Menu</a></li>
    <li><a href="#">Has Submenu</a>
      <ul class="dropdown-menu">
        <li><a href="#">Help</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </li>
    <li><a href="#">List Item</a></li>
    <li><a href="#">List Item</a></li>
  </ul>
  
</div>

<section class="subsection subsection-variables has-inner-subsection">
<div class="inner-subsection">
  <h1>Dropdown Variables</h1>
  <p class="text-lead">Dropdown variables are encompassed within the <code>$dropdowns</code> map and are used throughout all dropdown mixins to set default values.</p>
  <ul class="docs-list-compact">
    <li>
      <code class="key">$dropdowns('classes')</code>
      <code class="right value">true</code>
      <span class="block light">Whether or not we should output dropdown classes. Set to <code>false</code> if you want to use the dropdown modifier mixins semantically and/or reduce CSS output.</span>
    </li>
    
    <li class="list-sep">
      <code class="key">$dropdowns('...')</code>
      <code class="right value">...</code>
    </li>

  </ul>
</div>
</section>
