<h1>Dropdowns</h1>

<div class="dropdown-trigger on-click">
  <button class="button">On Click</button>
  <div class="dropdown arrow">
    <div class="dropdown-content text-center">
      <a class="block">
        <p>
          <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
          <strong>Sebastian Nitu</strong><br>
          <small class="text-soften">View Profile</small>
        </p>
        <p>Welcome to this example of a dropdown-content block.</p>
      </a>
    </div>
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a>
        <ul class="dropdown-menu">
          <li><a href="#">Help</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <div class="dropdown-content">
      <div class="dropdown-trigger on-click anchor-right-top">
        <button class="button block blue">Create Account</button>
        <div class="dropdown arrow">
          <ul class="dropdown-menu">
            <li><a href="#">Help</a></li>
            <li>
              <a href="#">Settings</a>
              <ul class="dropdown-menu">
                <li><a href="#">Help</a></li>
                <li>
                  <a href="#">Settings</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Log Out</a></li>
                  </ul>
                </li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Log Out</a></li>
              </ul>
            </li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
      <div class="button-group block has-2">
        <button class="button">&larr; Prev</button>
        <button class="button">Next &rarr;</button>
      </div>
    </div>
  </div>
</div>

<div class="dropdown-trigger on-click">
  <button class="button">On Click</button>
  <div class="dropdown inverted arrow">
    <div class="dropdown-content text-center">
      <a class="block">
        <p>
          <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
          <strong>Sebastian Nitu</strong><br>
          <small class="text-soften">View Profile</small>
        </p>
        <p>Welcome to this example of a dropdown-content block.</p>
      </a>
    </div>
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a>
        <ul class="dropdown-menu">
          <li><a href="#">Help</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <div class="dropdown-content">
      <button class="button block green clip-padding">Create Account</button>
      <div class="button-group block has-2">
        <button class="button inverted">&larr; Prev</button>
        <button class="button inverted">Next &rarr;</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  
  // Bind document click event
  $(document).click(function(){
    // Close all dropdowns if a click occures outside of a dropdown trigger or dropdown
    $('.dropdown-trigger.on-click').removeClass('active');
  });
  
  // Bind the click event to .dropdown-trigger
  $('.dropdown-trigger.on-click').click(function(e) {
    
    // Is the dropdown already active?
    var is_active = $(this).hasClass('active');
    
    // Hide all other dropdowns
    $('.dropdown-trigger.on-click').removeClass('active');
    
    // Keep the parent dropdowns active
    $(this).parents('.dropdown-trigger').addClass('active');

    // If the dropdown is not active, add the active class
    if (!is_active) {
      $(this).addClass('active');
    }

    // Stop the click event from bubbling down to the document
    e.stopPropagation();
  });
  
  // Bind the click event to .dropdown
  $('.dropdown-trigger.on-click .dropdown').click(function(e) {
        
    // Hide all other dropdowns
    $('.dropdown-trigger.on-click').removeClass('active');
    
    // Keep the parent dropdowns active
    $(this).parents('.dropdown-trigger').addClass('active');
    
    // Keep the current dropdown active
    $(this).addClass('active');
    
    // Stop the click event from bubbling down to the document
    e.stopPropagation();
  });
  
});
</script>

<hr>

<div class="dropdown-trigger">
  <button class="button">anchor-bottom-left</button>
  <div class="dropdown arrow">
    <div class="dropdown-content text-center">
      <a class="block">
        <p>
          <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
          <strong>Sebastian Nitu</strong><br>
          <small class="text-soften">View Profile</small>
        </p>
        <p>Welcome to this example of a dropdown-content block.</p>
      </a>
    </div>
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <div class="dropdown-content">
      <button class="button block green">Create Account</button>
      <div class="button-group block has-2">
        <button class="button black">&larr; Prev</button>
        <button class="button black">Next &rarr;</button>
      </div>
    </div>
  </div>
</div>

<div class="dropdown-trigger anchor-bottom-right">
  <button class="button">anchor-bottom-right</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-bottom-center">
  <button class="button">anchor-bottom-center</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<br><br>

<div class="dropdown-trigger anchor-top-left">
  <button class="button">anchor-top-left</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-top-right">
  <button class="button">anchor-top-right</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-top-center">
  <button class="button">anchor-top-center</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<br><br>

<div class="dropdown-trigger anchor-left-top">
  <button class="button">anchor-left-top</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-left-bottom">
  <button class="button">anchor-left-bottom</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-left-center">
  <button class="button">anchor-left-center</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Learn More</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<br><br>

<div class="dropdown-trigger anchor-right-top">
  <button class="button">anchor-right-top</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-right-bottom">
  <button class="button">anchor-right-bottom</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-right-center">
  <button class="button">anchor-right-center</button>
  <div class="dropdown arrow">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Learn More</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<hr>

<div class="dropdown-trigger anchor-bottom-left">
  <button class="button">anchor-bottom-left</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-bottom-right">
  <button class="button">anchor-bottom-right</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-bottom-center">
  <button class="button">anchor-bottom-center</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<br><br>

<div class="dropdown-trigger anchor-top-left">
  <button class="button">anchor-top-left</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-top-right">
  <button class="button">anchor-top-right</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-top-center">
  <button class="button">anchor-top-center</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<br><br>

<div class="dropdown-trigger anchor-left-top">
  <button class="button">anchor-left-top</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-left-bottom">
  <button class="button">anchor-left-bottom</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-left-center">
  <button class="button">anchor-left-center</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Learn More</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<br><br>

<div class="dropdown-trigger anchor-right-top">
  <button class="button">anchor-right-top</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-right-bottom">
  <button class="button">anchor-right-bottom</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<div class="dropdown-trigger anchor-right-center">
  <button class="button">anchor-right-center</button>
  <div class="dropdown arrow inverted">
    <ul class="dropdown-menu">
      <li><a href="#">Help</a></li>
      <li><a href="#">Learn More</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>

<hr>

<div class="clearfix">
  
  <div class="float-left">
    
    <ul class="dropdown-menu all-condensed all-size-small">
      <li><a href="#">Help</a></li>
      <li>
        <a href="#">Settings</a>
        <ul class="dropdown-menu arrow inverted">
          <li><a href="#">Help</a></li>
          <li>
            <a href="#">Settings</a>
            <ul class="dropdown-menu arrow inverted">
              <li><a href="#">Help</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    
    <br>
    
    <ul class="dropdown-menu anchor-right-bottom condensed">
      <li><a href="#">Help</a></li>
      <li>
        <a href="#">Settings</a>
        <ul class="dropdown-menu arrow inverted">
          <li><a href="#">Help</a></li>
          <li>
            <a href="#">Settings</a>
            <ul class="dropdown-menu arrow">
              <li><a href="#">Help</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    
    <br>
    
    <ul class="dropdown-menu anchor-right-center all-size-large">
      <li><a href="#">Help</a></li>
      <li>
        <a href="#">Settings</a>
        <ul class="dropdown-menu arrow">
          <li><a href="#">Help</a></li>
          <li><a href="#">Test</a></li>
          <li>
            <a href="#">Settings</a>
            <ul class="dropdown-menu arrow inverted">
              <li><a href="#">Help</a></li>
              <li><a href="#">Test</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  
  </div>
  
  <div class="float-right">
    
    <ul class="dropdown-menu anchor-left-top all-expanded inverted">
      <li><a href="#">Help</a></li>
      <li>
        <a href="#">Settings</a>
        <ul class="dropdown-menu arrow">
          <li><a href="#">Help</a></li>
          <li>
            <a href="#">Settings</a>
            <ul class="dropdown-menu arrow">
              <li><a href="#">Help</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    
    <br>
    
    <ul class="dropdown-menu anchor-left-bottom  expanded inverted">
      <li><a href="#">Help</a></li>
      <li>
        <a href="#">Settings</a>
        <ul class="dropdown-menu arrow">
          <li><a href="#">Help</a></li>
          <li>
            <a href="#">Settings</a>
            <ul class="dropdown-menu arrow inverted">
              <li><a href="#">Help</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    
    <br>
    
    <ul class="dropdown-menu anchor-left-center inverted">
      <li><a href="#">Help</a></li>
      <li>
        <a href="#">Settings</a>
        <ul class="dropdown-menu arrow inverted">
          <li><a href="#">Help</a></li>
          <li><a href="#">Test</a></li>
          <li>
            <a href="#">Settings</a>
            <ul class="dropdown-menu arrow">
              <li><a href="#">Help</a></li>
              <li><a href="#">Test</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  
  </div>
  
</div>

<hr>

<div class="clearfix">

  <div class="float-left">

    <div class="dropdown">
      <div class="dropdown-content text-center condensed">
        <a class="block">
          <p>
            <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
            <strong>Sebastian Nitu</strong><br>
            <small class="text-soften">View Profile</small>
          </p>
          <p>Welcome to this example of a dropdown-content block.</p>
        </a>
      </div>
      <div class="dropdown-content text-center">
        <a class="block">
          <p>
            <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
            <strong>Sebastian Nitu</strong><br>
            <small class="text-soften">View Profile</small>
          </p>
          <p>Welcome to this example of a dropdown-content block.</p>
        </a>
      </div>
      <div class="dropdown-content text-center">
        <p>
          <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
          <strong>Sebastian Nitu</strong><br>
          <a href="#"><small class="text-soften">View Profile</small></a>
        </p>
        <p><a href="#">Welcome to this example</a> of a dropdown-content block.</p>
      </div>
      <ul class="dropdown-menu anchor-right-top condensed">
        <li><a href="#">Help</a></li>
        <li>
          <a href="#">Settings</a>
          <ul class="dropdown-menu">
            <li><a href="#">Help</a></li>
            <li>
              <a href="#">Settings</a>
              <ul class="dropdown-menu anchor-left-top">
                <li><a href="#">Help</a></li>
                <li>
                  <a href="#">Settings</a>
                  <ul class="dropdown-menu anchor-left-bottom">
                    <li><a href="#">Help</a></li>
                    <li>
                      <a href="#">Settings</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Log Out</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Log Out</a></li>
                  </ul>
                </li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Log Out</a></li>
              </ul>
            </li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <div class="dropdown-content">
        <div class="dropdown-trigger anchor-bottom-center">
          <button class="button block blue">Create Account</button>
          <div class="dropdown arrow">
            <ul class="dropdown-menu">
              <li><a href="#">Help</a></li>
              <li>
                <a href="#">Settings</a>
                <ul class="dropdown-menu arrow">
                  <li><a href="#">Help</a></li>
                  <li>
                    <a href="#">Settings</a>
                    <ul class="dropdown-menu arrow">
                      <li><a href="#">Help</a></li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="#">Analytics</a></li>
                      <li><a href="#">Log Out</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Analytics</a></li>
                  <li><a href="#">Log Out</a></li>
                </ul>
              </li>
              <li><a href="#">Analytics</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </div>
        </div>
        <div class="button-group block has-2">
          <button class="button">&larr; Prev</button>
          <button class="button">Next &rarr;</button>
        </div>
      </div>
    </div>
  
  </div><!-- .float-left -->
  
  <div class="float-right">
  
    <div class="dropdown inverted">
      <div class="dropdown-content text-center condensed">
        <a class="block">
          <p>
            <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
            <strong>Sebastian Nitu</strong><br>
            <small class="text-soften">View Profile</small>
          </p>
          <p>Welcome to this example of a dropdown-content block.</p>
        </a>
      </div>
      <div class="dropdown-content text-center">
        <a class="block">
          <p>
            <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
            <strong>Sebastian Nitu</strong><br>
            <small class="text-soften">View Profile</small>
          </p>
          <p>Welcome to this example of a dropdown-content block.</p>
        </a>
      </div>
      <div class="dropdown-content text-center">
        <p>
          <img src="./img/example-03.jpg" width="40" height="40" alt="" class="circle align-center"><br>
          <strong>Sebastian Nitu</strong><br>
          <a href="#"><small class="text-soften">View Profile</small></a>
        </p>
        <p><a href="#">Welcome to this example</a> of a dropdown-content block.</p>
      </div>
      <ul class="dropdown-menu">
        <li><a href="#">Help</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <div class="dropdown-content">
        <button class="button block green clip-padding">Create Account</button>
        <div class="button-group block has-2">
          <button class="button inverted">&larr; Prev</button>
          <button class="button inverted">Next &rarr;</button>
        </div>
      </div>
    </div>
  
  </div><!-- .float-right -->
  
</div><!-- .clearfix -->
