<h1>Notice</h1>

<div class="notice">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div class="notice">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<div class="notice inverted">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<div class="notice blue">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>
<div class="notice blue inverted">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<div class="notice green">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>
<div class="notice green inverted">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<div class="notice yellow">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>
<div class="notice yellow inverted">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<div class="notice orange">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>
<div class="notice orange inverted">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<div class="notice red">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>
<div class="notice red inverted">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<div class="notice violet">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>
<div class="notice violet inverted">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<hr>

<div class="notice small">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<div class="notice">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<div class="notice large">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<ul class="list rowed">
  <li><span class="notice inline blue inverted">Inline blue inverted notice</span> <span class="notice inline blue">Inline blue notice</span></li>
  <li><span class="notice inline green inverted">Inline green inverted notice</span> <span class="notice inline green">Inline green notice</span></li>
  <li><span class="notice inline yellow inverted">Inline yellow inverted notice</span> <span class="notice inline yellow">Inline yellow notice</span></li>

  <li><span class="notice inline orange inverted">Inline orange inverted notice</span> <span class="notice inline orange">Inline orange notice</span></li>
  <li><span class="notice inline red inverted">Inline red inverted notice</span> <span class="notice inline red">Inline red notice</span></li>
  <li><span class="notice inline violet inverted">Inline violet inverted notice</span> <span class="notice inline violet">Inline violet notice</span></li>
</ul>

<div class="notice small info pull-left">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sem at justo suscipit porta. Suspendisse ligula leo, tristique id bibendum sed, ultricies quis eros. Nullam tristique sed nibh a facilisis. Phasellus tristique purus in faucibus laoreet. Morbi condimentum orci vel augue hendrerit, et condimentum sapien molestie. Cras enim eros, malesuada convallis molestie a, lobortis vitae massa. Nulla mattis posuere aliquam. Donec commodo erat ut sapien bibendum viverra.</p>

<div class="notice small info pull-right">
  <button class="button close clip-padding">&times;</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus luctus sollicitudin. Vestibulum et auctor nisi, nec dapibus nulla. Etiam pulvinar facilisis metus.</p>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et sem at justo suscipit porta. Suspendisse ligula leo, tristique id bibendum sed, ultricies quis eros. Nullam tristique sed nibh a facilisis. Phasellus tristique purus in faucibus laoreet. Morbi condimentum orci vel augue hendrerit, et condimentum sapien molestie. Cras enim eros, malesuada convallis molestie a, lobortis vitae massa. Nulla mattis posuere aliquam. Donec commodo erat ut sapien bibendum viverra.</p>
