<h1>Notice</h1>

<div class="notice notice-default">
  <p>...</p>
</div>

<div class="notice notice-success">
  <p>...</p>
</div>

<div class="notice notice-info">
  <p>...</p>
</div>

<div class="notice notice-warning">
  <p>...</p>
</div>

<div class="notice notice-danger">
  <p>...</p>
</div>
