<h1 class="docs-header">Notice</h1>

<div class="notice notice-warning">
  <p>The <strong>notice block module</strong> and <strong>documentation</strong> is currently being worked on and will be available soon.</p>
</div>

{{!
<div class="notice notice-default">
  <p>...</p>
</div>

<div class="notice notice-success">
  <p>...</p>
</div>

<div class="notice notice-info">
  <p>...</p>
</div>

<div class="notice notice-warning">
  <p>...</p>
</div>

<div class="notice notice-danger">
  <p>...</p>
</div>
}}
