<h1>Notice</h1>

<div class="notice">
  <p>...</p>
</div>

<div class="notice success">
  <p>...</p>
</div>

<div class="notice info">
  <p>...</p>
</div>

<div class="notice warning">
  <p>...</p>
</div>

<div class="notice danger">
  <p>...</p>
</div>
