<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie9 ie8 ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie9 ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ title }} &ndash; {{ name }} &ndash; {{ description }}</title>
  
  <!-- Stylesheets and less -->
  <link rel="stylesheet" type="text/css" media="all" href="../src/css/baseweb.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="assets/css/global-docs.css">
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>
<body>

<div class="block-wrapper">
  
  <div class="block block-header">
    <div class="inner">
      <nav>
      
        <ul class="nav-primary">
          <li class="logo"><a href="/">{{ name }}</a></li>
          <li class="active"><a href="/docs/">Documentation</a></li>
          <li class=""><a href="/examples/">Examples</a></li>
          <li class=""><a href="{{ repository.url }}">Download <span class="version">v{{ version }}</span></a></li>
        </ul>
        
        <ul class="nav-secondary">
          <li><a href="#">Star (24)</a></li>
          <li><a href="#">Fork (6)</a></li>
          <li><a href="#">Follow (45)</a></li>
          <li><a href="#">Tweet (18.6k)</a></li>
        </ul>
        
      </nav>
    </div>
  </div>
  
  <div class="block block-main block-table">
    
    <div class="block block-cell block-aside">
      <div class="inner">
      
        <nav>
        	<ul>
        		<li class="">
        			<a href="#">Getting Started</a>
        			<ul>
          			<li><a href="#">Downloading</a></li>
          			<li><a href="#">What's included</a></li>
          			<li><a href="#">How it works</a></li>
          			<li><a href="#">Contributing</a></li>
          			<li><a href="#">Browser Support</a></li>
        			</ul>
        		</li>
        		<li class="">
        			<a href="#">Core Features</a>
        			<ul>
          			<li><a href="#">Color Palette</a></li>
          			<li><a href="#">Global Variables</a></li>
          			<li><a href="#">Functions</a></li>
          			<li><a href="#">Mixins</a></li>
          			<li><a href="#">Reset</a></li>
        			</ul>
        		</li>
        		<li class="active">
        			<a href="grid-system.html">Grid System</a>
        		</li>
        		<li class="">
        			<a href="#">Elements</a>
        			<ul>
          			<li><a href="#">Typography</a></li>
          			<li><a href="#">Edit</a></li>
          			<li><a href="#">Blockquotes</a></li>
          			<li><a href="#">Lists</a></li>
          			<li><a href="#">Images</a></li>
          			<li><a href="#">Rules</a></li>
          			<li><a href="#">Tables</a></li>
          			<li><a href="#">Code</a></li>
          			<li><a href="#">Forms</a></li>
          			<li><a href="#">Buttons</a></li>
        			</ul>
        		</li>
        		<li class="">
        			<a href="#">Blocks</a>
        			<ul>
          			<li><a href="#">Button Groups</a></li>
          			<li><a href="#">Dropdowns</a></li>
          			<li><a href="#">Modals</a></li>
          			<li><a href="#">Notice</a></li>
          			<li><a href="#">Tabs</a></li>
          			<li><a href="#">Tooltip</a></li>
        			</ul>
        		</li>
        		<li class="">
        			<a href="#">JavaScript</a>
        			<ul>
          			<li><a href="#">Introduction</a></li>
          			<li><a href="#">Utility Functions</a></li>
          			<li><a href="#">Blocks</a></li>
        			</ul>
        		</li>
        		<li class="">
          		<a href="#">Customization</a>
          		<ul>
          			<li><a href="#">Settings</a></li>
          			<li><a href="#">Core</a></li>
          			<li><a href="#">Elements</a></li>
          			<li><a href="#">Blocks</a></li>
          			<li><a href="#">JavaScript</a></li>
        			</ul>
        		</li>
        	</ul>
        </nav>
        
      </div><!-- .inner -->
    </div>
    
    <div class="block block-cell block-content">
      <div class="inner clearfix">
        
        <div class="container container-align-left container-no-padding">
          {{ > page }}
        </div>
        
      </div>
    </div>
    
  </div>
  
  <div class="block block-footer">
    <div class="inner">
      
      <nav>
        <ul class="nav-left">
          <li><a href="#">
            Feedback
            <svg viewBox="0 0 20 20" class="icon icon-feedback">
              <use xlink:href="#icon-feedback"></use>
            </svg>
          </a></li>
        </ul>
        <ul class="nav-right">
          <li><a href="/assets/docs/Privacy_Policy.pdf" target="_blank">Privacy Policy</a></li>
          <li><a href="/assets/docs/Terms_of_Service.pdf" target="_blank">Terms of Service</a></li>
        </ul>
      </nav>
      
    </div>
  </div>
  
</div>

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="assets/js/libs/jquery.min.js"%3E%3C/script%3E'))</script>

<!-- JS -->
<script src="../src/js/baseweb.min.js"></script>

</body>
</html>