<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie9 ie8 ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie9 ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ name }} &ndash; {{ short_description }}</title>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" media="all" href="/docs/css/baseweb.min.css">
  
  <!-- Typekit -->
  <script src="//use.typekit.net/ult4xng.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
</head>
<body class="home">

<div class="wrapper">
  
  <header class="header vertical-half">
    <div class="container vertical-center">
      <h1><a href="/" class="logo">{{ name }}</a></h1>
    </div><!-- .container -->
  </header><!-- .header -->
  
  <div class="content content-inro vertical-half">
    <div class="content-arrow"></div>
    
    <div class="container vertical-center">
      
      <p class="text-lead">{{ description }}</p>
      <div class="actions">
        <div class="btn-group">
          <a href="/docs/settings.html" class="btn btn-default">Documentation</a>
          <a href="{{ repository.url }}" class="btn btn-default">Download {{ name }}</a>
        </div>
        <br>
        <span class="version">Currently v{{ version }}</span>
      </div>
      
    </div><!-- .container -->
  </div><!-- .content-inro -->
  
  <div class="content content-about vertical-full">
    <div class="content-arrow"></div>
    
    <div class="container">
      
      
    </div><!-- .container -->
  </div><!-- .content-about -->
    
</div><!-- .wrapper -->

<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/docs/js/libs/jquery.min.js"%3E%3C/script%3E'))</script>

<!-- JavaScript -->
<script src="/docs/js/scripts.min.js"></script>

</body>
</html>