<div id="page-home" class="page page-home">
  <div class="container">
  
    {{ > logo }}
    
    <div class="row">
      
      <div class="col col-6">
        <p>BaseWeb is a front-end development framework built to make building web based projects more enjoyable. It's focused on keeping your projects simple, organized and responsive.</p>
        <p class="btn-group"><a href="#" class="btn">Download</a></p>
      </div>
      
      <div class="col col-5 prefix-1">
        {{ > nav }}
      </div>
    
    </div><!-- .row -->
  
  </div><!-- .container -->
  <div class="gradient-background"></div>
</div><!-- .page-home -->