<ul class="nav mainnav">
  <li><a href="/docs/settings.html">Settings</a></li>
  <li><a href="/docs/core.html">Core</a></li>
  <li><a href="/docs/elements.html">Elements</a></li>
  <li><a href="/docs/blocks.html">Blocks</a></li>
  <li><a href="/docs/custom.html">Custom</a></li>
</ul>