<ul class="root-nav">
    
  <li>
    <a href="/docs/settings.html"><span class="icon icon-folder"></span> Settings</a>
    <ul class="sub-nav">
      <li><a href="#palette"><span class="icon icon-file"></span> Palette</a></li>
      <li><a href="#media"><span class="icon icon-file"></span> Media</a></li>
      <li><a href="#grid"><span class="icon icon-file"></span> Grid</a></li>
      <li><a href="#typography"><span class="icon icon-file"></span> Typography</a></li>
      <li><a href="#global"><span class="icon icon-file"></span> Global</a></li>
    </ul>
  </li>
  
  <li>
    <a href="/docs/core.html"><span class="icon icon-folder"></span> Core</a>
    <ul class="sub-nav">
      <li><a href="#functions"><span class="icon icon-file"></span> Functions</a></li>
      <li><a href="#mixins"><span class="icon icon-file"></span> Mixins</a></li>
      <li><a href="#media"><span class="icon icon-file"></span> Media</a></li>
      <li><a href="#grid"><span class="icon icon-file"></span> Grid</a></li>
    </ul>
  </li>
  
  <li>
    <a href="/docs/elements.html"><span class="icon icon-folder"></span> Elements</a>
    <ul class="sub-nav">
      <li><a href="#base"><span class="icon icon-file"></span> Base</a></li>
      <li><a href="#typography"><span class="icon icon-file"></span> Typography</a></li>
      <li><a href="#lists"><span class="icon icon-file"></span> Lists</a></li>
      <li><a href="#blockquotes"><span class="icon icon-file"></span> Blockquotes</a></li>
      <li><a href="#code"><span class="icon icon-file"></span> Code</a></li>
      <li><a href="#tables"><span class="icon icon-file"></span> Tables</a></li>
      <li><a href="#images"><span class="icon icon-file"></span> Images</a></li>
      <li><a href="#rules"><span class="icon icon-file"></span> Rules</a></li>
      <li><a href="#forms"><span class="icon icon-file"></span> Forms</a></li>
      <li><a href="#buttons"><span class="icon icon-file"></span> Buttons</a></li>
    </ul>
  </li>
  
  <li>
    <a href="/docs/blocks.html"><span class="icon icon-folder"></span> Blocks</a>
    <ul class="sub-nav">
      <li><a href="#form-layout"><span class="icon icon-file"></span> Form Layout</a></li>
      <li><a href="#button-groups"><span class="icon icon-file"></span> Button Groups</a></li>
      <li><a href="#notice"><span class="icon icon-file"></span> Notice</a></li>
      <li><a href="#breadcrumb"><span class="icon icon-file"></span> Breadcrumb</a></li>
    </ul>
  </li>
  
  <li>
    <a href="/docs/custom.html"><span class="icon icon-folder"></span> Custom</a>
    <ul class="sub-nav">
      <li><a href="#custom"><span class="icon icon-file"></span> Custom</a></li>
    </ul>
  </li>
  
</ul>