<div class="widget return-widget">
  <a href="/docs/elements.html#forms" class="btn btn-light-on-black">&larr; Back to Docs</a>
</div>

<div class="widget display-widget">
  <a href="#" class="btn btn-light-on-black">Display</a>
</div>

<div id="example-content" class="example-content example-form">
  
  <div id="example-content-output" class="example-content-output">
    
    <div class="example-toolbar">
      <form class="example-toolbar-form select-output-example">
        <div class="row">
          <div class="col col-4">
            <select class="input">
              <option disabled>Examples</option>
              <option value="/examples/forms.html" selected>Forms</option>
            </select>
          </div>
          <div class="col col-8">
            <select class="input">
              <option disabled selected>Example Form</option>
              <option value="/examples/form-signin.html">Sign In Form</option>
              <option value="/examples/form-contact.html">Contact Form</option>
              <option value="/examples/form-shirt-order.html">Shirt Order Form</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    
    <div class="example-output-wrapper">
    
      <!--  EXAMPLE OUTPUT GOES HERE -->
      
      <div class="notice notice-info">
        <p>Select a form example above.</p>
      </div>
      
      <div class="notice notice-warning">
        <p>Examples are a new feature and are still being developed. So, things might not be working perfectly yet.</p>
      </div>
      
    </div><!-- .example-output-wrapper -->
      
    <div class="shim"></div>
  </div><!-- .example-content-output -->
  
  <div id="handler-vertical" class="handler-vertical"></div>
  
  <div id="example-content-input" class="example-content-input">
    <div class="shim"></div>
    
    <div class="example-toolbar">
      <form class="example-toolbar-form select-input-display">
        <div class="form-group inline-group">
          <label class="choice disabled"><input type="checkbox" value="set-html" disabled> HTML</label>
          <label class="choice disabled"><input type="checkbox" value="set-scss" disabled> SCSS</label>
          <label class="choice disabled"><input type="checkbox" value="set-css" disabled> CSS</label>
          <label class="choice disabled"><input type="checkbox" value="set-js" disabled> JS</label>
        </div>
      </form>
    </div>
    
    <div class="example-input-wrapper">
    
      <!--  EXAMPLE INPUT GOES HERE -->
    
    </div><!-- .example-input-wrapper -->
  </div><!-- .example-content-input -->

</div><!-- .example-content -->
