{{! { 
  
  "return" : {
    "url" : "/docs/elements.html#forms"
  }
  
} }}

<div id="example-content" class="example-content example-form-signin">
  
  <div id="example-content-output" class="example-content-output">
    
    <div class="example-toolbar">
      <form class="example-toolbar-form select-output-example">
        <div class="row">
          <div class="col col-4">
            <select class="input">
              <option disabled>Examples</option>
              <option value="/examples/forms.html" selected>Forms</option>
            </select>
          </div>
          <div class="col col-8">
            <select class="input">
              <option disabled>Example Form</option>
              <option value="/examples/form-signin.html" selected>Sign In Form</option>
              <option value="/examples/form-contact.html">Contact Form</option>
              <option value="/examples/form-shirt-order.html">Shirt Order Form</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    
    <div class="example-output-wrapper">
    
      <form>
        <header class="form-header text-center">
          <h2>Sign In</h2>
          <p>This is an example sign in form that features a reset password link, remember me and create account button.</p>
        </header>
        <div class="form-group">
          <label for="input-username" class="label-hide">Username</label>
          <input type="text" class="input" id="input-username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="input-password" class="label-hide">Password</label>
          <input type="password" class="input" id="input-password" placeholder="Password">
        </div>
        <div class="form-group">
          <div class="input-group inline-group">
            <label class="checkbox"><input type="checkbox"> Remember Me</label>
            <p class="note float-right"><a href="#">Forgotten your password?</a></p>
          </div>
        </div>
        <footer class="form-action form-action-center">
          <button class="btn btn-primary">Sign In</button>
          <span class="note input-align"><em>or</em></span>
          <button class="btn btn-default">Create Account</button>
        </footer>
      </form>
    
    </div><!-- .example-output-wrapper -->
    
    <div class="shim"></div>
  </div><!-- .example-content-output -->
  
  <div id="handler-vertical" class="handler-vertical"></div>
  
  <div id="example-content-input" class="example-content-input">
    <div class="shim"></div>
    
    {{ > toolbar-input }}
    
    <div class="example-input-wrapper">
      
<pre class="language-markup"><code>
&lt;form&gt;
  &lt;header class=&quot;form-header text-center&quot;&gt;
    &lt;h2&gt;Sign In&lt;/h2&gt;
    &lt;p&gt;This is an example sign in form that features a reset password link, remember me and create account button.&lt;/p&gt;
  &lt;/header&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;input-username&quot; class=&quot;label-hide&quot;&gt;Username&lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;input&quot; id=&quot;input-username&quot; placeholder=&quot;Username&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;input-password&quot; class=&quot;label-hide&quot;&gt;Password&lt;/label&gt;
    &lt;input type=&quot;password&quot; class=&quot;input&quot; id=&quot;input-password&quot; placeholder=&quot;Password&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;div class=&quot;input-group inline-group&quot;&gt;
      &lt;label class=&quot;checkbox&quot;&gt;&lt;input type=&quot;checkbox&quot;&gt; Remember Me&lt;/label&gt;
      &lt;p class=&quot;note float-right&quot;&gt;&lt;a href=&quot;#&quot;&gt;Forgotten your password?&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;footer class=&quot;form-action text-center&quot;&gt;
    &lt;div class=&quot;input-group inline-group&quot;&gt;
      &lt;button class=&quot;btn btn-primary&quot;&gt;Sign In&lt;/button&gt;
      &lt;span class=&quot;note input-align&quot;&gt;&lt;em&gt;or&lt;/em&gt;&lt;/span&gt;
      &lt;button class=&quot;btn btn-default&quot;&gt;Create Account&lt;/button&gt;
    &lt;/div&gt;
  &lt;/footer&gt;
&lt;/form&gt;
</code></pre>

<pre class="language-scss"><code>
form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: $white;
  background-clip: padding-box;
  border: 3px solid rgba($black, 0.1);
  @include border-radius();
}
form .form-header,
form .form-group,
form .form-action {
  margin: 0;
  padding: 20px;
}
form .form-group,
form .form-action {
  border-top: 1px solid rgba($black, 0.1);
}
</code></pre>
      
    </div><!-- .example-input-wrapper -->
  </div><!-- .example-content-input -->

</div><!-- .example-content -->
