{{! { "order" : "3" } }}

<div class="row">
  
  <div class="col col-2 desc">
    <h2>Grid System</h2>
    <p>_grid.scss</p>
  </div>
  
  <div class="col col-10">
  
    <div class="example">
      <div class="example-block example-desc">
        <p>The grid system is built using a the <code>.row</code> class wrapping the <code>.col</code> base and <code>.col-X</code> for the number of columns you want to span. Each column inside of the <code>.row</code> div should equal the total number of columns that is defined in <code>_global.scss</code> as <code>$grid-columns</code>. By default, the total number of columns is 12.</p>
      </div><!-- .example-desc -->
      <div class="example-block example-output">
        

<div class="row">

  <div class="col col-12"><p>12</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-1"><p>1</p></div>
  <div class="col col-11"><p>11</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-2"><p>2</p></div>
  <div class="col col-10"><p>10</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-3"><p>3</p></div>
  <div class="col col-9"><p>9</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-4"><p>4</p></div>
  <div class="col col-8"><p>8</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-5"><p>5</p></div>
  <div class="col col-7"><p>7</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-6"><p>6</p></div>
  <div class="col col-6"><p>6</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-6 prefix-3 suffix-3"><p>6</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-2 suffix-1"><p>2</p></div>
  <div class="col col-2 prefix-2 suffix-1"><p>2</p></div>
  <div class="col col-2 prefix-2"><p>2</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>
  <div class="col col-1"><p>1</p></div>

</div><!-- .row -->

<div class="row">

  <div class="col col-3 prefix-2 suffix-1"><p>3</p></div>
  <div class="col col-3 prefix-1 suffix-2"><p>3</p></div>

</div><!-- .row -->

        
      </div><!-- .example-output -->
    </div><!-- .example -->
  
  </div>
  
</div><!-- .row -->

<style>
/**
 * Page Specific Styles
 */
.example-output .row {
  margin-top: 5px;
  margin-bottom: 5px;
}
.example-output .row:first-child .col {
  margin-top: 0;
}
.example-output .col {
  margin-top: 5px;
}
.example-output .col p {
  margin: 0;
  padding: 15px 20px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  background: #d3fceb;
  border-radius: 4px;
}
</style>
