////////////////////////////////////////////////////////////////////////////////
// @Overrides
////////////////////////////////////////////////////////////////////////////////

// Font Families
// @type font-stack
$font-family-sans: "proxima-nova", "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
$font-family-serif: georgia, "Times New Roman", times, serif;
$font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;

// Base Font Styles
// @type font-stack
$base-font-family: $font-family-sans;
// @type unit (pixel)
$base-font-size: 16px;
// @type unit (pixel, em, percentage)
$base-line-height: 1.5em;
// @type value (keyword, numeric)
$base-font-weight: normal;

// Header Styles
// @type font-stack
$font-family-heading: inherit;
// @type unit (pixel, em, percentage)
$line-height-heading: 1.25em;
// @type value (keyword, numeric)
$font-weight-heading: bold;

// Text Color Assignment
// @type color
$color:        $gray-dark;
$color-light:  $gray-light;
$color-dark:   $gray-dark;
$color-header: $gray-dark;

// Links
// @type color
$color-link:       $blue-dark;
$color-link-hover: $yellow-green-dark;

// Header Links
// @type color
$color-link-heading:       $blue-dark;
$color-link-heading-hover: $yellow-green-dark;

// Miscellaneous
// @type unit (pixel)
$letter-spacing: 1px;