////////////////////////////////////////////////////////////////////////////////
// @Overrides
////////////////////////////////////////////////////////////////////////////////

// Font Families
// type: font-stack
$font-family-sans: "proxima-nova", "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;

// Base Font Styles
// type: font-stack
$base-font-family: $font-family-sans;

// Text Color Assignment
// @type color
$color: $gray-darker;
