////////////////////////////////////////////////////////////////////////////////
// Grid
////////////////////////////////////////////////////////////////////////////////

// Global Grid Settings
$grid-total-width:  100% !default;
$grid-gutter-width: 2% !default;
$grid-columns:      12 !default;

// Container Settings
$container-margin:    auto !default;
$container-padding:   20px !default;
$container-min-width: none !default;
$container-max-width: 1000px !default;

// Grid Class Names
$class-container: container !default;
$class-row:       row !default;
$class-column:    col !default;
$class-prefix:    prefix !default; // Use `none` to disable output
$class-suffix:    suffix !default; // Use `none` to disable output

////////////////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////////////////

// Media query breakpoints(bp)
$bp-small:   480px !default;  // max-width
$bp-mobile:  760px !default;  // max-width
$bp-tablet:  760px !default;  // min-width
$bp-desktop: 990px !default;  // min-width
$bp-large:   1380px !default; // min-width

////////////////////////////////////////////////////////////////////////////////
// Mixin Defaults
////////////////////////////////////////////////////////////////////////////////

// CSS3
$border-radius: 3px !default;
$box-shadow:    0 1px 3px rgba(0,0,0, 0.25) !default;
$rotate-degree: 0 !default;

// Transition
$transition-property:        all !default;
$transition-duration:        0.25s !default;
$transition-timing-function: ease-in-out !default;
$transition-delay:           0 !default;
$transition: $transition-property $transition-duration $transition-timing-function $transition-delay !default;

// Gradients
$gradient-start-color:  $blue-light !default;
$gradient-center-color: $blue !default;
$gradient-end-color:    $blue-dark !default;
$gradient-deg:          45deg !default;
$gradient-color-stop:   50% !default;

// Miscellaneous
$box-sizing: border-box !default;
$display-visible: block !default;
$letter-spacing: 1px !default;
$bg-selection: rgba($blue, 0.25) !default;

////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////

// Font Families
$font-family-sans:  "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif !default;
$font-family-slab:  "Rockwell", $font-family-sans !default;
$font-family-serif: georgia, "Times New Roman", times, serif !default;
$font-family-mono:  Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Base Styles
$font-family: $font-family-sans !default;
$font-size:   14px !default;
$line-height: 20px !default;
$font-weight: normal !default;

// Header Styles
$font-family-header: inherit !default;
$font-weight-header: bold !default;

// Alternative Styles
$font-family-alt: $font-family-serif !default;
$font-weight-alt: inherit !default;

// Text Color Assignment
$color:        $gray-dark !default;
$color-light:  $gray-light !default;
$color-dark:   $gray-darker !default;
$color-header: $color-dark !default;

// Links
$color-link:       $blue !default;
$color-link-hover: $violet !default;

// Header Links
$color-link-header:       $color-link !default;
$color-link-header-hover: $color-link-hover !default;

////////////////////////////////////////////////////////////////////////////////
// Scaffolding
////////////////////////////////////////////////////////////////////////////////

$global-box-sizing: border-box !default;

$bg-color:     rgba($black, 0.05) !default;
$border-color: rgba($black, 0.1) !default;
$border-width: 1px !default;
