////////////////////////////////////////////////////////////////////////////////
// Grid
////////////////////////////////////////////////////////////////////////////////

// Global grid settings
$grid-total-width: 100%;
$grid-gutter-width: 2%;
$grid-columns: 12;

// Fluid grid settings
$container-padding: 20px;
$container-min-width: 900px;
$container-max-width: 1000px;

// Grid class names
$class-container: container;
$class-row: row;
$class-column: col;
$class-prefix: prefix;
$class-suffix: suffix;

////////////////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////////////////

// Media query breakpoints(bp)
$bp-small:   480px;      // max-width
$bp-mobile:  760px;      // min-width
$bp-tablet:  $bp-mobile; // min-width
$bp-desktop: 990px;      // min-width
$bp-large:   1380px;     // min-width

////////////////////////////////////////////////////////////////////////////////
// Mixin Defaults
////////////////////////////////////////////////////////////////////////////////

// CSS3
$border-radius: 4px;
$box-shadow: 0 1px 3px rgba(0,0,0, 0.25);

$transition: all 0.25s linear; // property, duration, timing-function, delay
$transition-property: all;
$transition-duration: 0.25s;
$transition-timing-function: ease-in-out;
$transition-delay: 0.25s;

$rotate-degree: 0;

$gradient-start-color: $blue-light;
$gradient-center-color: $blue;
$gradient-end-color: $blue-darker;
$gradient-deg: 45deg;
$gradient-color-stop: 50%;

// Miscellaneous
$letter-spacing: 1px;
$display-visible: block;
$bg-selection: $blue;

////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////

// Font Families
$font-family-sans: "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
$font-family-slab: $font-family-sans;
$font-family-serif: georgia, "Times New Roman", times, serif;
$font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;

// Base Styles
$font-family: $font-family-sans;
$font-size: 14px;
$line-height: 22px;
$font-weight: normal;

// Header Styles
$font-family-header: inherit;
$font-weight-header: bold;

// Alternative Styles
$font-family-alt: $font-family-serif;
$font-weight-alt: inherit;

// Text Color Assignment
$color: $gray-dark;
$color-light: $gray-lighter;
$color-dark: $gray-darker;
$color-header: $color;

$color-link: $blue;
$color-link-hover: $red;
$color-link-header: $color-link;
$color-link-header-hover: $color-link-hover;
