////////////////////////////////////////////////////////////////////////////////
// @Framework Settings
////////////////////////////////////////////////////////////////////////////////

// Sets global box sizing property
// @type border-box, none
$global-box-sizing: border-box !default;

// Class name used in clearfix and remove-clearfix classes
// @type class-name, none
$class-clearfix: clearfix;
$class-remove-clearfix: remove-clearfix;

////////////////////////////////////////////////////////////////////////////////
// @Mixin Defaults
////////////////////////////////////////////////////////////////////////////////

// @type box-sizing value (border-box, none)
$box-sizing: border-box !default;

// @type box-shadow value ([horizontal offset] [vertical offset] [blur radius] [spread radius] [color])
$box-shadow: 0 1px 3px rgba($black, 0.1) !default;

// @type unit (pixel, percent)
$border-radius: 3px !default;

// Transition
// @type transition value ([transition-property] [transition-duration] [transition-timing-function] [transition-delay])
$transition: all 0.25s linear !default;
$transition-property: all !default;
$transition-duration: 0.25s !default;
$transition-timing-function: linear !default;
$transition-delay: 0.25s !default;

////////////////////////////////////////////////////////////////////////////////
// @Scaffolding
////////////////////////////////////////////////////////////////////////////////

// Colors
// @type color
$bg-color:           rgba($black, 0.05) !default;
$bg-selection:       rgba($green, 0.25) !default;
$border-color:       rgba($black, 0.1) !default;
$border-color-hover: rgba($black, 0.25) !default;
