////////////////////////////////////////////////////////////////////////////////
// @Media Queries
////////////////////////////////////////////////////////////////////////////////

// Local Breakpoints Map
// @type map
$tweakpoints: () !default;

// Global Breakpoints Map
// @type map
$breakpoints: (
  'small'  : 480px,
  'medium' : 760px,
  'large'  : 990px,
  'huge'   : 1380px
) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'breakpoints') == true) {
    $breakpoints: map-extend($breakpoints, map-get($override, 'breakpoints'), true);
  }
}
