////////////////////////////////////////////////////////////////////////////////
// @ Media Queries
////////////////////////////////////////////////////////////////////////////////

// Media query breakpoints(bp)
// @type unit (pixel)
$bp-small:   480px !default;
$bp-mobile:  760px !default;
$bp-tablet:  760px !default;
$bp-desktop: 990px !default;
$bp-large:   1380px !default;

// Media query features
// @type feature (min-width, max-width)
$bp-small-feature:   max-width !default;
$bp-mobile-feature:  max-width !default;
$bp-tablet-feature:  min-width !default;
$bp-desktop-feature: min-width !default;
$bp-large-feature:   min-width !default;
