////////////////////////////////////////////////////////////////////////////////
// Base Palette
////////////////////////////////////////////////////////////////////////////////

// Gray Scale
$g0: #000 !default;
$g1: #111 !default;
$g2: #222 !default;
$g3: #333 !default;
$g4: #444 !default; 
$g5: #555 !default;
$g6: #666 !default; 
$g7: #777 !default;
$g8: #888 !default;
$g9: #999 !default;
$gA: #aaa !default;
$gB: #bbb !default;
$gC: #ccc !default;
$gD: #ddd !default;
$gE: #eee !default;
$gF: #fff !default;

// Readable gray scale
$black: $g0 !default;
$gray-darker: $g2 !default;
$gray-dark: $g3 !default;
$gray: $g5 !default;
$gray-light: $g9 !default;
$gray-lighter: $gB !default;
$white: $gF !default;

// RGB
$rgb-red: #ff0000 !default;
$rgb-green: #00ff00 !default;
$rgb-blue: #0000ff !default;

// RGB Shorthand
$Rgb: $rgb-red !default;
$rGb: $rgb-green !default;
$rgB: $rgb-blue !default;

// CMYK
$cmyk-cyan: #00aeef !default;
$cmyk-magenta: #ec008c !default;
$cmyk-yellow: #fff200 !default;
$cmyk-key: #231f20 !default;

// CMYK Shorthand
$Cmyk: $cmyk-cyan !default;
$cMyk: $cmyk-magenta !default;
$cmYk: $cmyk-yellow !default;
$cmyK: $cmyk-key !default;

////////////////////////////////////////////////////////////////////////////////
// Custom Palette
////////////////////////////////////////////////////////////////////////////////

// Degrees
// Used in creating colors with the light, lighter and dark, darker variations.
$light-deg: 4% !default;
$lighter-deg: 8% !default;
$dark-deg: 4% !default;
$darker-deg: 8% !default;

// Primary
$red: #de5151 !default;
$yellow: #d1c329 !default;
$blue: #2ab0ea !default;

// Secondary
$orange: #e69242 !default;
$green: #8ecb25 !default;
$violet: #bc6bd3 !default;

// Tertiary
// Created by mixing primary and secondary colors
$red-violet: saturate(mix($red, $violet, 50), 5%) !default;
$red-orange: saturate(mix($red, $orange, 50), 5%) !default;
$yellow-orange: saturate(mix($yellow, $orange, 50), 5%) !default;
$yellow-green: saturate(mix($yellow, $green, 50), 5%) !default;
$blue-green: saturate(mix($blue, $green, 50), 5%) !default;
$blue-violet: saturate(mix($blue, $violet, 50), 5%) !default;

////////////////////////////////////////////////////////////////////////////////
// Lighter & Darker Shades
////////////////////////////////////////////////////////////////////////////////

// Primary
$red-light: lighten($red, $light-deg) !default;
$red-lighter: lighten($red, $lighter-deg) !default;
$yellow-light: lighten($yellow, $light-deg) !default;
$yellow-lighter: lighten($yellow, $lighter-deg) !default;
$blue-light: lighten($blue, $light-deg) !default;
$blue-lighter: lighten($blue, $lighter-deg) !default;

// Secondary
$orange-light: lighten($orange, $light-deg) !default;
$orange-lighter: lighten($orange, $lighter-deg) !default;
$green-light: lighten($green, $light-deg) !default;
$green-lighter: lighten($green, $lighter-deg) !default;
$violet-light: lighten($violet, $light-deg) !default;
$violet-lighter: lighten($violet, $lighter-deg) !default;

// Tertiary
$red-violet-light: lighten($red-violet, $light-deg) !default;
$red-violet-lighter: lighten($red-violet, $lighter-deg) !default;
$red-orange-light: lighten($red-orange, $light-deg) !default;
$red-orange-lighter: lighten($red-orange, $lighter-deg) !default;
$yellow-orange-light: lighten($yellow-orange, $light-deg) !default;
$yellow-orange-lighter: lighten($yellow-orange, $lighter-deg) !default;
$yellow-green-light: lighten($yellow-green, $light-deg) !default;
$yellow-green-lighter: lighten($yellow-green, $lighter-deg) !default;
$blue-green-light: lighten($blue-green, $light-deg) !default;
$blue-green-lighter: lighten($blue-green, $lighter-deg) !default;
$blue-violet-light: lighten($blue-violet, $light-deg) !default;
$blue-violet-lighter: lighten($blue-violet, $lighter-deg) !default;

// Primary
$red-dark: darken($red, $dark-deg) !default;
$red-darker: darken($red, $darker-deg) !default;
$yellow-dark: darken($yellow, $dark-deg) !default;
$yellow-darker: darken($yellow, $darker-deg) !default;
$blue-dark: darken($blue, $dark-deg) !default;
$blue-darker: darken($blue, $darker-deg) !default;

// Secondary
$orange-dark: darken($orange, $dark-deg) !default;
$orange-darker: darken($orange, $darker-deg) !default;
$green-dark: darken($green, $dark-deg) !default;
$green-darker: darken($green, $darker-deg) !default;
$violet-dark: darken($violet, $dark-deg) !default;
$violet-darker: darken($violet, $darker-deg) !default;

// Tertiary
$red-violet-dark: darken($red-violet, $dark-deg) !default;
$red-violet-darker: darken($red-violet, $darker-deg) !default;
$red-orange-dark: darken($red-orange, $dark-deg) !default;
$red-orange-darker: darken($red-orange, $darker-deg) !default;
$yellow-orange-dark: darken($yellow-orange, $dark-deg) !default;
$yellow-orange-darker: darken($yellow-orange, $darker-deg) !default;
$yellow-green-dark: darken($yellow-green, $dark-deg) !default;
$yellow-green-darker: darken($yellow-green, $darker-deg) !default;
$blue-green-dark: darken($blue-green, $dark-deg) !default;
$blue-green-darker: darken($blue-green, $darker-deg) !default;
$blue-violet-dark: darken($blue-violet, $dark-deg) !default;
$blue-violet-darker: darken($blue-violet, $darker-deg) !default;
