////////////////////////////////////////////////////////////////////////////////
// @Palette
////////////////////////////////////////////////////////////////////////////////

// Modifier Degrees
// Used in creating colors with the light, lighter and dark, darker variations.
// @type unit (percentage)
$light-deg:   5%  !default;
$lighter-deg: 10% !default;
$dark-deg:    5%  !default;
$darker-deg:  10% !default;

// Black & White
// @type color
$black:        #000000 !default;
$white:        #ffffff !default;

// Gray Scale
// @type color
$gray-pale:    #f5f5f5 !default;
$gray-lighter: #cccccc !default;
$gray-light:   #aaaaaa !default;
$gray:         #606060 !default;
$gray-dark:    #303030 !default;
$gray-darker:  #101010 !default;

// Primary
// @type color
$red:    #de5151 !default;
$yellow: #f1c40f !default;
$blue:   #1489C9 !default;

// Secondary
// @type color
$orange: #e69242 !default;
$green:  #84b72d !default;
$violet: #bc6bd3 !default;

// Tertiary
// Created by mixing primary and secondary colors
// @type color
$red-violet:    saturate(mix($red, $violet, 50), 5%) !default;
$red-orange:    saturate(mix($red, $orange, 50), 5%) !default;
$yellow-orange: saturate(mix($yellow, $orange, 50), 5%) !default;
$yellow-green:  saturate(mix($yellow, $green, 50), 5%) !default;
$blue-green:    saturate(mix($blue, $green, 50), 5%) !default;
$blue-violet:   saturate(mix($blue, $violet, 50), 5%) !default;

// Pale Primary
// @type color
$red-pale:    rgba($red, 0.1) !default;
$yellow-pale: rgba($yellow, 0.1) !default;
$blue-pale:   rgba($blue, 0.1) !default;

// Pale Secondary
// @type color
$orange-pale: rgba($orange, 0.1) !default;
$green-pale:  rgba($green, 0.1) !default;
$violet-pale: rgba($violet, 0.1) !default;

// Pale Tertiary
// Created by mixing primary and secondary colors
// @type color
$red-violet-pale:    saturate(mix($red-pale, $violet-pale, 50), 5%) !default;
$red-orange-pale:    saturate(mix($red-pale, $orange-pale, 50), 5%) !default;
$yellow-orange-pale: saturate(mix($yellow-pale, $orange-pale, 50), 5%) !default;
$yellow-green-pale:  saturate(mix($yellow-pale, $green-pale, 50), 5%) !default;
$blue-green-pale:    saturate(mix($blue-pale, $green-pale, 50), 5%) !default;
$blue-violet-pale:   saturate(mix($blue-pale, $violet-pale, 50), 5%) !default;

////////////////////////////////////////////////////////////////////////////////
// @Lighter Shades
////////////////////////////////////////////////////////////////////////////////

// Primary
// @type color
$red-light:      lighten($red, $light-deg) !default;
$red-lighter:    lighten($red, $lighter-deg) !default;
$yellow-light:   lighten($yellow, $light-deg) !default;
$yellow-lighter: lighten($yellow, $lighter-deg) !default;
$blue-light:     lighten($blue, $light-deg) !default;
$blue-lighter:   lighten($blue, $lighter-deg) !default;

// Secondary
// type color
$orange-light:   lighten($orange, $light-deg) !default;
$orange-lighter: lighten($orange, $lighter-deg) !default;
$green-light:    lighten($green, $light-deg) !default;
$green-lighter:  lighten($green, $lighter-deg) !default;
$violet-light:   lighten($violet, $light-deg) !default;
$violet-lighter: lighten($violet, $lighter-deg) !default;

// Tertiary
// type color
$red-violet-light:      lighten($red-violet, $light-deg) !default;
$red-violet-lighter:    lighten($red-violet, $lighter-deg) !default;
$red-orange-light:      lighten($red-orange, $light-deg) !default;
$red-orange-lighter:    lighten($red-orange, $lighter-deg) !default;
$yellow-orange-light:   lighten($yellow-orange, $light-deg) !default;
$yellow-orange-lighter: lighten($yellow-orange, $lighter-deg) !default;
$yellow-green-light:    lighten($yellow-green, $light-deg) !default;
$yellow-green-lighter:  lighten($yellow-green, $lighter-deg) !default;
$blue-green-light:      lighten($blue-green, $light-deg) !default;
$blue-green-lighter:    lighten($blue-green, $lighter-deg) !default;
$blue-violet-light:     lighten($blue-violet, $light-deg) !default;
$blue-violet-lighter:   lighten($blue-violet, $lighter-deg) !default;

////////////////////////////////////////////////////////////////////////////////
// @Darker Shades
////////////////////////////////////////////////////////////////////////////////

// Primary
// @type color
$red-dark:      darken($red, $dark-deg) !default;
$red-darker:    darken($red, $darker-deg) !default;
$yellow-dark:   darken($yellow, $dark-deg) !default;
$yellow-darker: darken($yellow, $darker-deg) !default;
$blue-dark:     darken($blue, $dark-deg) !default;
$blue-darker:   darken($blue, $darker-deg) !default;

// Secondary
// @type color
$orange-dark:   darken($orange, $dark-deg) !default;
$orange-darker: darken($orange, $darker-deg) !default;
$green-dark:    darken($green, $dark-deg) !default;
$green-darker:  darken($green, $darker-deg) !default;
$violet-dark:   darken($violet, $dark-deg) !default;
$violet-darker: darken($violet, $darker-deg) !default;

// Tertiary
// @type color
$red-violet-dark:      darken($red-violet, $dark-deg) !default;
$red-violet-darker:    darken($red-violet, $darker-deg) !default;
$red-orange-dark:      darken($red-orange, $dark-deg) !default;
$red-orange-darker:    darken($red-orange, $darker-deg) !default;
$yellow-orange-dark:   darken($yellow-orange, $dark-deg) !default;
$yellow-orange-darker: darken($yellow-orange, $darker-deg) !default;
$yellow-green-dark:    darken($yellow-green, $dark-deg) !default;
$yellow-green-darker:  darken($yellow-green, $darker-deg) !default;
$blue-green-dark:      darken($blue-green, $dark-deg) !default;
$blue-green-darker:    darken($blue-green, $darker-deg) !default;
$blue-violet-dark:     darken($blue-violet, $dark-deg) !default;
$blue-violet-darker:   darken($blue-violet, $darker-deg) !default;
