////////////////////////////////////////////////////////////////////////////////
// @Primary Colors
////////////////////////////////////////////////////////////////////////////////

// Red
$red-50:  #FFEBEE !default;
$red-100: #FFCDD2 !default;
$red-200: #EF9A9A !default;
$red-300: #E57373 !default;
$red-400: #EF5350 !default;
$red-500: #F44336 !default;
$red-600: #E53935 !default;
$red-700: #D32F2F !default;
$red-800: #C62828 !default;
$red-900: #B71C1C !default;
$red: $red-500 !default;

// Red Accent
$red-a100: #FF8A80 !default;
$red-a200: #FF5252 !default;
$red-a400: #FF1744 !default;
$red-a700: #D50000 !default;
$red-a: $red-a200 !default;

// Pink
$pink-50:  #FCE4EC !default;
$pink-100: #F8BBD0 !default;
$pink-200: #F48FB1 !default;
$pink-300: #F06292 !default;
$pink-400: #EC407A !default;
$pink-500: #E91E63 !default;
$pink-600: #D81B60 !default;
$pink-700: #C2185B !default;
$pink-800: #AD1457 !default;
$pink-900: #880E4F !default;
$pink: $pink-500 !default;

// Pink Accent
$pink-a100: #FF80AB !default;
$pink-a200: #FF4081 !default;
$pink-a400: #F50057 !default;
$pink-a700: #C51162 !default;
$pink-a: $pink-a200 !default;

// Purple
$purple-50:  #F3E5F5 !default;
$purple-100: #E1BEE7 !default;
$purple-200: #CE93D8 !default;
$purple-300: #BA68C8 !default;
$purple-400: #AB47BC !default;
$purple-500: #9C27B0 !default;
$purple-600: #8E24AA !default;
$purple-700: #7B1FA2 !default;
$purple-800: #6A1B9A !default;
$purple-900: #4A148C !default;
$purple: $purple-500 !default;

// Purple Accent
$purple-a100: #EA80FC !default;
$purple-a200: #E040FB !default;
$purple-a400: #D500F9 !default;
$purple-a700: #AA00FF !default;
$purple-a: $purple-a200 !default;

// Deep Purple
$deep-purple-50:  #EDE7F6 !default;
$deep-purple-100: #D1C4E9 !default;
$deep-purple-200: #B39DDB !default;
$deep-purple-300: #9575CD !default;
$deep-purple-400: #7E57C2 !default;
$deep-purple-500: #673AB7 !default;
$deep-purple-600: #5E35B1 !default;
$deep-purple-700: #512DA8 !default;
$deep-purple-800: #4527A0 !default;
$deep-purple-900: #311B92 !default;
$deep-purple: $deep-purple-500 !default;

// Deep Blue Accent
$deep-purple-a100: #B388FF !default;
$deep-purple-a200: #7C4DFF !default;
$deep-purple-a400: #651FFF !default;
$deep-purple-a700: #6200EA !default;
$deep-purple-a: $deep-purple-a200 !default;

// Indigo
$indigo-50:  #E8EAF6 !default;
$indigo-100: #C5CAE9 !default;
$indigo-200: #9FA8DA !default;
$indigo-300: #7986CB !default;
$indigo-400: #5C6BC0 !default;
$indigo-500: #3F51B5 !default;
$indigo-600: #3949AB !default;
$indigo-700: #303F9F !default;
$indigo-800: #283593 !default;
$indigo-900: #1A237E !default;
$indigo: $indigo-500 !default;

// Indigo Accent
$indigo-a100: #8C9EFF !default;
$indigo-a200: #536DFE !default;
$indigo-a400: #3D5AFE !default;
$indigo-a700: #304FFE !default;
$indigo-a: $indigo-a200 !default;

// Blue
$blue-50:  #E3F2FD !default;
$blue-100: #BBDEFB !default;
$blue-200: #90CAF9 !default;
$blue-300: #64B5F6 !default;
$blue-400: #42A5F5 !default;
$blue-500: #2196F3 !default;
$blue-600: #1E88E5 !default;
$blue-700: #1976D2 !default;
$blue-800: #1565C0 !default;
$blue-900: #0D47A1 !default;
$blue: $blue-500 !default;

// Blue Accent
$blue-a100: #82B1FF !default;
$blue-a200: #448AFF !default;
$blue-a400: #2979FF !default;
$blue-a700: #2962FF !default;
$blue-a: $blue-a200 !default;

// Light Blue
$light-blue-50:  #E1F5FE !default;
$light-blue-100: #B3E5FC !default;
$light-blue-200: #81D4FA !default;
$light-blue-300: #4FC3F7 !default;
$light-blue-400: #29B6F6 !default;
$light-blue-500: #03A9F4 !default;
$light-blue-600: #039BE5 !default;
$light-blue-700: #0288D1 !default;
$light-blue-800: #0277BD !default;
$light-blue-900: #01579B !default;
$light-blue: $light-blue-500 !default;

// Light Blue Accent
$light-blue-a100: #80D8FF !default;
$light-blue-a200: #40C4FF !default;
$light-blue-a400: #00B0FF !default;
$light-blue-a700: #0091EA !default;
$light-blue-a: $light-blue-a200 !default;

// Cyan
$cyan-50:  #E0F7FA !default;
$cyan-100: #B2EBF2 !default;
$cyan-200: #80DEEA !default;
$cyan-300: #4DD0E1 !default;
$cyan-400: #26C6DA !default;
$cyan-500: #00BCD4 !default;
$cyan-600: #00ACC1 !default;
$cyan-700: #0097A7 !default;
$cyan-800: #00838F !default;
$cyan-900: #006064 !default;
$cyan: $cyan-500 !default;

// Cyan Accent
$cyan-a100: #84FFFF !default;
$cyan-a200: #18FFFF !default;
$cyan-a400: #00E5FF !default;
$cyan-a700: #00B8D4 !default;
$cyan-a: $cyan-a200 !default;

// Teal
$teal-50:  #E0F2F1 !default;
$teal-100: #B2DFDB !default;
$teal-200: #80CBC4 !default;
$teal-300: #4DB6AC !default;
$teal-400: #26A69A !default;
$teal-500: #009688 !default;
$teal-600: #00897B !default;
$teal-700: #00796B !default;
$teal-800: #00695C !default;
$teal-900: #004D40 !default;
$teal: $teal-500 !default;

// Teal Accent
$teal-a100: #A7FFEB !default;
$teal-a200: #64FFDA !default;
$teal-a400: #1DE9B6 !default;
$teal-a700: #00BFA5 !default;
$teal-a: $teal-a200 !default;

// Green
$green-50:  #E8F5E9 !default;
$green-100: #C8E6C9 !default;
$green-200: #A5D6A7 !default;
$green-300: #81C784 !default;
$green-400: #66BB6A !default;
$green-500: #4CAF50 !default;
$green-600: #43A047 !default;
$green-700: #388E3C !default;
$green-800: #2E7D32 !default;
$green-900: #1B5E20 !default;
$green: $green-500 !default;

// Green Accent
$green-a100: #B9F6CA !default;
$green-a200: #69F0AE !default;
$green-a400: #00E676 !default;
$green-a700: #00C853 !default;
$green-a: $green-a200 !default;

// Light Green
$light-green-50:  #F1F8E9 !default;
$light-green-100: #DCEDC8 !default;
$light-green-200: #C5E1A5 !default;
$light-green-300: #AED581 !default;
$light-green-400: #9CCC65 !default;
$light-green-500: #8BC34A !default;
$light-green-600: #7CB342 !default;
$light-green-700: #689F38 !default;
$light-green-800: #558B2F !default;
$light-green-900: #33691E !default;
$light-green: $light-green-500 !default;

// Light Green Accent
$light-green-a100: #CCFF90 !default;
$light-green-a200: #B2FF59 !default;
$light-green-a400: #76FF03 !default;
$light-green-a700: #64DD17 !default;
$light-green-a: $light-green-a200 !default;

// Lime
$lime-50:  #F9FBE7 !default;
$lime-100: #F0F4C3 !default;
$lime-200: #E6EE9C !default;
$lime-300: #DCE775 !default;
$lime-400: #D4E157 !default;
$lime-500: #CDDC39 !default;
$lime-600: #C0CA33 !default;
$lime-700: #AFB42B !default;
$lime-800: #9E9D24 !default;
$lime-900: #827717 !default;
$lime: $lime-500 !default;

// Lime Accent
$lime-a100: #F4FF81 !default;
$lime-a200: #EEFF41 !default;
$lime-a400: #C6FF00 !default;
$lime-a700: #AEEA00 !default;
$lime-a: $lime-a200 !default;

// Yellow
$yellow-50:  #FFFDE7 !default;
$yellow-100: #FFF9C4 !default;
$yellow-200: #FFF59D !default;
$yellow-300: #FFF176 !default;
$yellow-400: #FFEE58 !default;
$yellow-500: #FFEB3B !default;
$yellow-600: #FDD835 !default;
$yellow-700: #FBC02D !default;
$yellow-800: #F9A825 !default;
$yellow-900: #F57F17 !default;
$yellow: $yellow-500 !default;

// Yellow Accent
$yellow-a100: #FFFF8D !default;
$yellow-a200: #FFFF00 !default;
$yellow-a400: #FFEA00 !default;
$yellow-a700: #FFD600 !default;
$yellow-a: $yellow-a200 !default;

// Amber
$amber-50:  #FFF8E1 !default;
$amber-100: #FFECB3 !default;
$amber-200: #FFE082 !default;
$amber-300: #FFD54F !default;
$amber-400: #FFCA28 !default;
$amber-500: #FFC107 !default;
$amber-600: #FFB300 !default;
$amber-700: #FFA000 !default;
$amber-800: #FF8F00 !default;
$amber-900: #FF6F00 !default;
$amber: $amber-500 !default;

// Amber Accent
$amber-a100: #FFE57F !default;
$amber-a200: #FFD740 !default;
$amber-a400: #FFC400 !default;
$amber-a700: #FFAB00 !default;
$amber-a: $amber-a200 !default;

// Orange
$orange-50:  #FFF3E0 !default;
$orange-100: #FFE0B2 !default;
$orange-200: #FFCC80 !default;
$orange-300: #FFB74D !default;
$orange-400: #FFA726 !default;
$orange-500: #FF9800 !default;
$orange-600: #FB8C00 !default;
$orange-700: #F57C00 !default;
$orange-800: #EF6C00 !default;
$orange-900: #E65100 !default;
$orange: $orange-500 !default;

// Orange Accent
$orange-a100: #FFD180 !default;
$orange-a200: #FFAB40 !default;
$orange-a400: #FF9100 !default;
$orange-a700: #FF6D00 !default;
$orange-a: $orange-a200 !default;

// Deep Orange
$deep-orange-50:  #FBE9E7 !default;
$deep-orange-100: #FFCCBC !default;
$deep-orange-200: #FFAB91 !default;
$deep-orange-300: #FF8A65 !default;
$deep-orange-400: #FF7043 !default;
$deep-orange-500: #FF5722 !default;
$deep-orange-600: #F4511E !default;
$deep-orange-700: #E64A19 !default;
$deep-orange-800: #D84315 !default;
$deep-orange-900: #BF360C !default;
$deep-orange: $deep-orange-500 !default;

// Deep Orange Accent
$deep-orange-a100: #FF9E80 !default;
$deep-orange-a200: #FF6E40 !default;
$deep-orange-a400: #FF3D00 !default;
$deep-orange-a700: #DD2C00 !default;
$deep-orange-a: $deep-orange-a200 !default;

////////////////////////////////////////////////////////////////////////////////
// @Utility Colors
////////////////////////////////////////////////////////////////////////////////

// Brown
$brown-50:  #EFEBE9 !default;
$brown-100: #D7CCC8 !default;
$brown-200: #BCAAA4 !default;
$brown-300: #A1887F !default;
$brown-400: #8D6E63 !default;
$brown-500: #795548 !default;
$brown-600: #6D4C41 !default;
$brown-700: #5D4037 !default;
$brown-800: #4E342E !default;
$brown-900: #3E2723 !default;
$brown: $brown-500 !default;

// Gray
$gray-50:  #FAFAFA !default;
$gray-100: #F5F5F5 !default;
$gray-200: #EEEEEE !default;
$gray-300: #E0E0E0 !default;
$gray-400: #BDBDBD !default;
$gray-500: #9E9E9E !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-900: #212121 !default;
$gray: $gray-500 !default;

// Blue Gray
$blue-gray-50:  #ECEFF1 !default;
$blue-gray-100: #CFD8DC !default;
$blue-gray-200: #B0BEC5 !default;
$blue-gray-300: #90A4AE !default;
$blue-gray-400: #78909C !default;
$blue-gray-500: #607D8B !default;
$blue-gray-600: #546E7A !default;
$blue-gray-700: #455A64 !default;
$blue-gray-800: #37474F !default;
$blue-gray-900: #263238 !default;
$blue-gray: $blue-gray-500 !default;

// Black & White
$black: #000 !default;
$white: #fff !default;
