////////////////////////////////////////////////////////////////////////////////
// @Typography Shorthands
////////////////////////////////////////////////////////////////////////////////

// Anchors color Shorthands
$anchor-color: map-get($anchors, 'color') !default;
$anchor-hover-color: map-fetch($anchors, 'hover', 'color') !default;

// Headings color Shorthands
$heading-color: map-get($headings, 'color') !default;
$heading-anchor-color: map-fetch($headings, 'anchors', 'color') !default;
$heading-anchor-hover-color: map-fetch($headings, 'anchors', 'hover', 'color') !default;
