////////////////////////////////////////////////////////////////////////////////
// @Typography Shorthands
////////////////////////////////////////////////////////////////////////////////

// Anchors color Shorthands
$color-link: map-get($anchors, 'color') !default;
$color-link-hover: map-fetch($anchors, 'hover', 'color') !default;

// Headings color Shorthands
$color-heading: map-get($headings, 'color') !default;
$color-heading-link: map-fetch($headings, 'anchors', 'color') !default;
$color-heading-link-hover: map-fetch($headings, 'anchors', 'hover', 'color') !default;
