////////////////////////////////////////////////////////////////////////////////
// @Typography
////////////////////////////////////////////////////////////////////////////////

// Font Families
// @type font-stack
$font-family-sans: "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif !default;
$font-family-serif: georgia, "Times New Roman", times, serif !default;
$font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Base Font Styles
// @type font-stack
$base-font-family: $font-family-sans !default;

// @type unit (pixel)
$base-font-size: 16px !default;

// @type unit (pixel, em, percentage)
$base-line-height: 1.5em !default;

// @type value (keyword, numeric)
$base-font-weight: normal !default;

// Header Styles
// @type font-stack
$font-family-heading: inherit !default;

// @type unit (pixel, em, percentage)
$line-height-heading: 1.25em !default;

// @type value (keyword, numeric)
$font-weight-heading: bold !default;

// Text Color Assignment
// @type color
$color:        $gray-dark !default;
$color-light:  $gray-light !default;
$color-dark:   $gray-dark !default;
$color-header: $gray-dark !default;

// Links
// @type color
$color-link:       $blue !default;
$color-link-hover: $violet-dark !default;

// Header Links
// @type color
$color-link-heading:       $blue !default;
$color-link-heading-hover: $violet-dark !default;

// Miscellaneous
// @type unit (pixel)
$letter-spacing: 1px !default;
