////////////////////////////////////////////////////////////////////////////////
// @Typography
////////////////////////////////////////////////////////////////////////////////

// Font Families
// @type font-stack
$font-family-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: georgia, "Times New Roman", times, serif !default;
$font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Base Font Styles
// @type font-stack
$base-font-family: $font-family-sans !default;

// @type unit (pixel)
$base-font-size: 16px !default;

// @type unit (pixel, em, percentage)
$base-line-height: 1.5em !default;

// @type value (keyword, numeric)
$base-font-weight: font-weight('normal') !default;

// Text Color Assignment
// @type color
$color:         $gray-900 !default;
$color-light:   $gray !default;
$color-dark:    $gray-900 !default;

// Miscellaneous
// @type unit (pixel)
$letter-spacing: 1px !default;

// @type boolean
$text-elements: true;
$text-modifiers: true;

////////////////////////////////////////////////////////////////////////////////
// @Anchors Maps
////////////////////////////////////////////////////////////////////////////////

$anchors: (
  'output' : true,

  'color' : $blue,
  'border' : 1px solid rgba($black, 0.1),
  'border-color' : null,
  'text-decoration' : none,

  'hover' : (
    'color' : $blue-700,
    'border' : null,
    'border-color' : inherit,
    'text-decoration' : null,
  ),

) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'anchors') == true) {
    $anchors: map-extend($anchors, map-get($override, 'anchors'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Headings Maps
////////////////////////////////////////////////////////////////////////////////

$headings: (
  'output' : true,

  'margin' : 1rem 0,
  'font-family' : inherit,
  'line-height' : 1.25em,
  'font-weight' : font-weight('semi-bold'),
  'color' : $color-dark,

  'anchors' : (
    'output' : true,

    'color' : $color-dark,
    'border' : none,
    'text-decoration' : null,

    'hover' : (
      'color' : $blue,
    ),
  ),

  'scale' : (
    'h1' : 2.5em,
    'h2' : 2em,
    'h3' : 1.75em,
    'h4' : 1.5em,
    'h5' : 1.25em,
    'h6' : 1em,
  ),

) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'headings') == true) {
    $headings: map-extend($headings, map-get($override, 'headings'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Shorthands
////////////////////////////////////////////////////////////////////////////////

// Anchors color Shorthands
$anchor-color: map-get($anchors, 'color') !default;
$anchor-hover-color: map-fetch($anchors, 'hover', 'color') !default;

// Headings color Shorthands
$heading-color: map-get($headings, 'color') !default;
$heading-anchor-color: map-fetch($headings, 'anchors', 'color') !default;
$heading-anchor-hover-color: map-fetch($headings, 'anchors', 'hover', 'color') !default;
