<div class="example-toolbar">
  <form class="example-toolbar-form select-input-display">
    <div class="form-group inline-group">
      <label class="choice"><input type="checkbox" value="language-markup" checked> HTML</label>
      <label class="choice"><input type="checkbox" value="language-scss" checked> SCSS</label>
      <label class="choice disabled"><input type="checkbox" value="language-css" disabled> CSS</label>
      <label class="choice disabled"><input type="checkbox" value="language-js" disabled> JS</label>
    </div>
  </form>
</div>