{{! { 
  
  "menu" : {
    "order" : "5"
  },
  
  "description" : "The collection of HTML elements that make up a component."
  
} }}

<header class="page-header">
  <span class="icon icon-blocks"></span>
  <h2 id="blocks">Blocks</h2>
</header>

<p class="text-pull">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

<hr>

<!-- #button-groups -->

<h2 id="button-groups">Button Groups</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_button-groups.scss</a></p>

<hr>

<!-- #dropdowns -->

<h2 id="dropdowns">Dropdowns</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_dropdowns.scss</a></p>

<hr>

<!-- #modals -->

<h2 id="modals">Modals</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_modals.scss</a></p>

<hr>

<!-- #notice -->

<h2 id="notice">Notice</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_notice.scss</a></p>

<hr>

<!-- #tabs -->

<h2 id="tabs">Tabs</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_tabs.scss</a></p>

<hr>

<!-- #tags -->

<h2 id="tags">Tags</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_tags.scss</a></p>

<hr>

<!-- #tooltips -->

<h2 id="tooltips">Tooltips</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_tooltips.scss</a></p>
