<section class="page rootpage">
  <div class="content-inner">
    
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
      </ul>
    </nav>
    
    <h1>Blocks</h1>
    <p class="text-lead">Blocks are a group of Elements that become an independent component. A block can be simple or compound (meaning it contains other blocks). A Block is contextually independent, but can be modified either through an internal modifier or parent block.</p>
        
    <div class="sitemap dark">
      <ul class="subnav">
        <li><a href="/docs/blocks.html#button-groups"><span class="icon icon-file"></span> Button Groups</a></li>
        <li><a href="/docs/blocks.html#notice"><span class="icon icon-file"></span> Notice</a></li>
        <li><a href="/docs/blocks.html#breadcrumb"><span class="icon icon-file"></span> Breadcrumb</a></li>
      </ul>
    </div>
    
    <div class="notice notice-warning">
      <p>BaseWeb is a young framework and still being actively developed. Blocks are currently the main focus of development and many more will be available soon.</p>
    </div>
    
  </div>
</section>

<section id="button-groups" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/blocks.html">Blocks</a></li>
      </ul>
    </nav>
    {{ > subpage_button-groups }}
  </div>
</section><!-- .subpage -->

<section id="notice" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/blocks.html">Blocks</a></li>
      </ul>
    </nav>
    {{ > subpage_notice }}
  </div>
</section><!-- .subpage -->

<section id="breadcrumb" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/blocks.html">Blocks</a></li>
      </ul>
    </nav>
    {{ > subpage_breadcrumb }}
  </div>
</section><!-- .subpage -->
