<div class="scene_element col col-2">
  <ul class="nav subnav">
    <li><a href="#form-layout">Form Layout</a></li>
    <li><a href="#button-groups">Button Groups</a></li>
  </ul>
</div>

<div class="scene_element content col col-7 prefix-1">
  
  <section id="form-layout" class="subpage">
    <h1 class="docs-header">Form Layout</h1>
  </section><!-- .subpage -->
  
  <section id="button-groups" class="subpage">
    <h1 class="docs-header">Button Groups</h1>
  </section><!-- .subpage -->
  
</div><!-- .content -->
