<section class="page rootpage">
  <div class="content-inner">
    
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
      </ul>
    </nav>
    
    <h1>Core</h1>
    <p class="text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis varius vestibulum. Aliquam mattis erat at est tincidunt, id elementum velit porttitor.</p>
    
    <ul>
      <li><a href="/docs/core.html#functions"><span class="icon icon-file dark"></span> Functions</a></li>
      <li><a href="/docs/core.html#mixins"><span class="icon icon-file dark"></span> Mixins</a></li>
      <li><a href="/docs/core.html#media"><span class="icon icon-file dark"></span> Media</a></li>
      <li><a href="/docs/core.html#grid"><span class="icon icon-file dark"></span> Grid</a></li>
    </ul>
    
  </div>
</section>

<section id="functions" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/core.html">Core</a></li>
      </ul>
    </nav>
    {{ > subpage_functions }}
  </div>
</section><!-- #functions -->

<section id="mixins" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/core.html">Core</a></li>
      </ul>
    </nav>
    {{ > subpage_mixins }}
  </div>
</section><!-- .subpage -->

<section id="media" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/core.html">Core</a></li>
      </ul>
    </nav>
    {{ > subpage_media }}
  </div>
</section><!-- .subpage -->

<section id="grid" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/core.html">Core</a></li>
      </ul>
    </nav>
    {{ > subpage_grid }}
  </div>
</section><!-- .subpage -->
  