<div class="scene_element col col-2">
  <ul class="nav subnav">
    <li><a href="#functions">Functions</a></li>
    <li><a href="#mixins">Mixins</a></li>
    <li><a href="#media">Media</a></li>
    <li><a href="#grid">Grid</a></li>
    <li><a href="#reset">Reset</a></li>
  </ul>
</div>

<div class="scene_element content col col-7 prefix-1">
  
  <section id="functions" class="subpage">
    {{ > subpage_functions }}
  </section><!-- .subpage -->
  
  <section id="mixins" class="subpage">
    <h1>Mixins</h1>
  </section><!-- .subpage -->
  
  <section id="media" class="subpage">
    <h1>Media</h1>
  </section><!-- .subpage -->
  
  <section id="grid" class="subpage">
    <h1>Grid</h1>
  </section><!-- .subpage -->
  
  <section id="reset" class="subpage">
    <h1>Reset</h1>
  </section><!-- .subpage -->
  
</div><!-- .content -->