<div class="scene_element col col-2">
  <ul class="nav subnav">
    <li><a href="#custom">Custom</a></li>
  </ul>
</div>

<div class="scene_element content col col-7 prefix-1">
  
  <section id="custom" class="subpage">
    <h1>Custom</h1>
  </section><!-- .subpage -->
  
</div><!-- .content -->