{{! { 
  
  "menu" : {
    "order" : "6"
  },
  
  "description" : "How to make BaseWeb your own. A customization guide."
  
} }}

<span class="icon icon-customization"></span>
<h2 id="customization">Customization</h2>
