<section class="page rootpage">
  <div class="content-inner">
    
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
      </ul>
    </nav>
    
    <h1>Custom</h1>
    <p class="text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis varius vestibulum. Aliquam mattis erat at est tincidunt, id elementum velit porttitor.</p>
    
    <div class="sitemap dark">
      <ul class="subnav">
        <li><a href="/docs/custom.html#custom"><span class="icon icon-file"></span> Custom</a></li>
      </ul>
    </div>
    
  </div>
</section>

<section id="custom" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/custom.html">Custom</a></li>
      </ul>
    </nav>
    {{ > subpage_custom }}
  </div>
</section><!-- .subpage -->
