{{! { 
  
  "menu" : {
    "order" : "6"
  },
  
  "description" : "How to make BaseWeb your own. A customization guide."
  
} }}

<div id="customization" class="block-content-group">
  
  <header class="page-header">
    <span class="icon icon-customization"></span>
    <h1>Customization</h1>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

</div><!-- .block-content-group -->

<!-- #sub-header -->

<div id="sub-header-one" class="block-content-group">

  <h2>Sub Header One</h2>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

</div><!-- .block-content-group -->

<!-- #sub-header -->

<div id="sub-header-two" class="block-content-group">

  <h2>Sub Header Two</h2>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

</div><!-- .block-content-group -->