{{! { 
  
  "menu" : {
    "order" : "6"
  },
  
  "description" : "How to make BaseWeb your own. A customization guide."
  
} }}

<header class="page-header">
  <span class="icon icon-customization"></span>
  <h1 id="customization">Customization</h1>
</header>

<div class="page-content">

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

</div><!-- .page-content -->

<hr>

<!-- #sub-header -->

<div class="page-content">

  <h2 id="sub-header">Sub Header</h2>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

</div><!-- .page-content -->

<hr>

<!-- #sub-header -->

<div class="page-content">

  <h2 id="sub-header">Sub Header</h2>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

</div><!-- .page-content -->