{{! { 
  
  "menu" : {
    "order" : "4"
  },
  
  "description" : "Base styles for HTML elements and their modifier classes."
  
} }}

<header class="page-header">
  <span class="icon icon-elements"></span>
  <h2 id="elements">Elements</h2>
</header>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

<!-- #base-reset-styles -->

<h2 id="base-reset-styles">Base Reset Styles</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_reset.scss</a></p>

<p>BaseWeb comes with a very basic reset styles that do a few things such as:</p>

<ul class="list-rowed list-stripes list-no-clear">
  <li>Removes margin and padding from the <code>html</code> and <code>body</code> elements</li>
  <li>Sets <code>text-size-adjust</code> to <code>100%</code> to prevent automatic text resizing on mobile devices</li>
  <li>Sets the global box sizing model to <code>border-box</code> if it's set in <a href="#" class="code-link"><code>$global-box-sizing</code></a></li>
  <li>Creates the clearfix class using the <a href="#class-clearfix" class="code-link"><code>$class-clearfix</code></a> class name and <a href="#clearfix" class="code-link"><code>@mixin clearfix</code></a> mixin</li>
  <li>Sets appropriate HTML5 elements to <code>display: block;</code></li>
  <li>Removes list styles from lists that are nested in the HTML5 <code>&lt;nav&gt;</code> element using the <a href="#" class="code-link"><code>@mixin remove-list-styles</code></a> mixin</li>
  <li>Sets border collapse and spacing for tables</li>
  <li>Sets the default background-color for selected text using the <a href="#" class="code-link"><code>$bg-selection</code></a> variable</li>
</ul>

<!-- #typography -->

<h2 id="typography">Typography</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_typography.scss</a></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

<h3>Headers</h3>

<div class="example">
  <div class="example-block example-output">
    
    <h1>h1. BaseWeb Heading</h1>
    <h2>h2. BaseWeb Heading</h2>
    <h3>h3. BaseWeb Heading</h3>
    <h4>h4. BaseWeb Heading</h4>
    <h5>h5. BaseWeb Heading</h5>
    <h6>h6. BaseWeb Heading</h6>
    
  </div><!-- .example-output -->
  <div class="example-block example-code">
    <div class="example-tag">
      <!-- <a href="#" class="tag tag-copy">Copy</a> -->
      <span class="tag tag-lang tag-lang-html">HTML</span>
    </div>
<pre><code class="language-markup">&lt;h1&gt;h1. BaseWeb Heading&lt;/h1&gt;
&lt;h2&gt;h2. BaseWeb Heading&lt;/h2&gt;
&lt;h3&gt;h3. BaseWeb Heading&lt;/h3&gt;
&lt;h4&gt;h4. BaseWeb Heading&lt;/h4&gt;
&lt;h5&gt;h5. BaseWeb Heading&lt;/h5&gt;
&lt;h6&gt;h6. BaseWeb Heading&lt;/h6&gt;</code></pre>
  </div><!-- .example-code -->
</div><!-- .example -->

<h3>Body Text</h3>

<table class="table-rowed table-stripes">
  <tr>
    <th>Tag</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  
  <tr>
    <td><code>&lt;p&gt;</code></td>
    <td>Paragraphs</td>
    <td><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus.</p></td>
  </tr>
  <tr>
    <td><code>&lt;p class="intro"&gt;</code></td>
    <td>Paragraphs with the intro class modifier</td>
    <td><p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></td>
  </tr>
  
  <tr>
    <td><code>&lt;strong&gt;</code></td>
    <td>...</td>
    <td><strong>Strong Element</strong></td>
  </tr>
  <tr>
    <td><code>&lt;b&gt;</code></td>
    <td>...</td>
    <td><b>B Element</b></td>
  </tr>
  <tr>
    <td><code>&lt;em&gt;</code></td>
    <td>...</td>
    <td><em>Em Element</em></td>
  </tr>
  <tr>
    <td><code>&lt;i&gt;</code></td>
    <td>...</td>
    <td><i>I Element</i></td>
  </tr>
  <tr>
    <td><code>&lt;small&gt;</code></td>
    <td>...</td>
    <td><small>Small Element</small></td>
  </tr>
  
  <tr>
    <td><code>&lt;a&gt;</code></td>
    <td>Anchor</td>
    <td><a href="#">Link</a></td>
  </tr>
  <tr>
    <td><code>&lt;span class="anchor"&gt;</code></td>
    <td>Modifier anchor class</td>
    <td><span class="anchor">Fake Link</span></td>
  </tr>
  
  <tr>
    <td><code>&lt;span class="underline"&gt;</code></td>
    <td>...</td>
    <td><span class="underline">Underline modifier class</span></td>
  </tr>
  <tr>
    <td><code>&lt;span class="strike"&gt;</code></td>
    <td>...</td>
    <td><span class="strike">Strike modifier class</span></td>
  </tr>
  <tr>
    <td><code>&lt;span class="highlight"&gt;</code></td>
    <td>...</td>
    <td><span class="highlight">Highlight modifier class</span></td>
  </tr>
  <tr>
    <td><code>&lt;span class="uppercase"&gt;</code></td>
    <td>...</td>
    <td><span class="uppercase">Uppercase modifier class</span></td>
  </tr>
</table>

<!-- #edit -->

<h2 id="edit">Edit</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_edit.scss</a></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

<h3>Inline Edits</h3>

<table class="table-rowed table-stripes">
  <tr>
    <th>Tag</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  
  <tr>
    <td><code>&lt;span class="edit"&gt;</code></td>
    <td>...</td>
    <td><span class="edit">This is an example edit inline element.</span></td>
  </tr>
  
  <tr>
    <td><code>&lt;span class="info"&gt;</code></td>
    <td>...</td>
    <td><span class="info">This is an example information inline element.</span></td>
  </tr>
  
  <tr>
    <td><code>&lt;span class="warning"&gt;</code></td>
    <td>...</td>
    <td><span class="warning">This is an example warning inline element.</span></td>
  </tr>
  
  <tr>
    <td><code>&lt;ins&gt;</code></td>
    <td>...</td>
    <td><ins>This is an example insert inline element.</ins></td>
  </tr>
  
  <tr>
    <td><code>&lt;span class="ins"&gt;</code></td>
    <td>...</td>
    <td><span class="ins">This is an example insert inline element.</span></td>
  </tr>
  
  <tr>
    <td><code>&lt;del&gt;</code></td>
    <td>...</td>
    <td><del>This is an example deletion inline element.</del></td>
  </tr>
  
  <tr>
    <td><code>&lt;span class="del"&gt;</code></td>
    <td>...</td>
    <td><span class="del">This is an example deletion inline element.</span></td>
  </tr>

</table>

<h3>Block Edits</h3>

<div class="example">
  <div class="example-block example-output">
    
    <div class="block-edit">
      <p>This is an example edit block. It's used for displaying generic edit information.</p>
    </div>
    
    <div class="block-info">
      <p>This is an example information block. It's used for displaying helpful information.</p>
    </div>
    
    <div class="block-warning">
      <p>This is an example warning block. It's used for displaying a warning or causionary message.</p>
    </div>
    
    <div class="block-success">
      <p>This is an example success block. It's used for dispalying inserted content and confirming a success messages or states. It can be displayed using the <code>.block-ins</code> or <code>.block-success</code> classes.</p>
    </div>
    
    <div class="block-danger">
      <p>This is an example danger block. It's used for displaying deleted blocks of text and error messages or states. It can be displayed using the <code>.block-del</code> or <code>.block-danger</code> classes.</p>
    </div>
    
  </div><!-- .example-output -->
  <div class="example-block example-code">
    <div class="example-tag">
      <span class="tag tag-lang tag-lang-html">HTML</span>
    </div>
<pre><code id="code-sample" class="language-markup">&lt;div class=&quot;block-edit&quot;&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;block-info&quot;&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;block-warning&quot;&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;block-success&quot;&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;block-danger&quot;&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;
</code></pre>
  </div><!-- .example-code -->
</div><!-- .example -->

<!-- #lists -->

<h2 id="typography">Lists</h2>

<p class="tags"><a href="#" class="tag-default tag-file">elements/_lists.scss</a></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>
