{{! { 
  
  "menu" : {
    "order" : "4"
  },
  
  "description" : "Base styles for HTML elements and their modifier classes."
  
} }}

<span class="icon icon-elements"></span>
<h2 id="elements">Elements</h2>

<!-- #base-reset-styles -->

<h2 id="base-reset-styles">Base Reset Styles</h2>

<p>BaseWeb comes with a very basic reset styles that do a few things such as:</p>

<ul class="list-rowed list-stripes list-no-clear">
  <li>Removes margin and padding from the <code>html</code> and <code>body</code> elements</li>
  <li>Sets <code>text-size-adjust</code> to <code>100%</code> to prevent automatic text resizing on mobile devices</li>
  <li>Sets the global box sizing model to <code>border-box</code> if it's set in <a href="#" class="code-link"><code>$global-box-sizing</code></a></li>
  <li>Creates the clearfix class using the <a href="#class-clearfix" class="code-link"><code>$class-clearfix</code></a> class name and <a href="#clearfix" class="code-link"><code>@mixin clearfix</code></a> mixin</li>
  <li>Sets appropriate HTML5 elements to <code>display: block;</code></li>
  <li>Removes list styles from lists that are nested in the HTML5 <code>&lt;nav&gt;</code> element using the <a href="#" class="code-link"><code>@mixin remove-list-styles</code></a> mixin</li>
  <li>Sets border collapse and spacing for tables</li>
  <li>Sets the default background-color for selected text using the <a href="#" class="code-link"><code>$bg-selection</code></a> variable</li>
</ul>