<div class="scene_element col col-2">
  <ul class="nav subnav">
    <li><a href="#typography">Typography</a></li>
    <li><a href="#edit">Edit</a></li>
    <li><a href="#lists">Lists</a></li>
    <li><a href="#blockquotes">Blockquotes</a></li>
    <li><a href="#code">Code</a></li>
    <li><a href="#tables">Tables</a></li>
    <li><a href="#images">Images</a></li>
    <li><a href="#rules">Rules</a></li>
    <li><a href="#forms">Forms</a></li>
    <li><a href="#buttons">Buttons</a></li>
  </ul>
</div>

<div class="scene_element content col col-7 prefix-1">
  
  <section id="typography" class="subpage">
    <h1 class="docs-header">Typography</h1>
  </section><!-- .subpage -->
  
  <section id="edit" class="subpage">
    <h1 class="docs-header">Edit</h1>
  </section><!-- .subpage -->
  
  <section id="lists" class="subpage">
    <h1 class="docs-header">Lists</h1>
  </section><!-- .subpage -->
  
  <section id="blockquotes" class="subpage">
    <h1 class="docs-header">Blockquotes</h1>
  </section><!-- .subpage -->
  
  <section id="code" class="subpage">
    <h1 class="docs-header">Code</h1>
  </section><!-- .subpage -->
  
  <section id="tables" class="subpage">
    <h1 class="docs-header">Tables</h1>
  </section><!-- .subpage -->
  
  <section id="images" class="subpage">
    <h1 class="docs-header">Images</h1>
  </section><!-- .subpage -->
  
  <section id="rules" class="subpage">
    <h1 class="docs-header">Rules</h1>
  </section><!-- .subpage -->
  
  <section id="forms" class="subpage">
    <h1 class="docs-header">Forms</h1>
  </section><!-- .subpage -->
  
  <section id="buttons" class="subpage">
    <h1 class="docs-header">Buttons</h1>
  </section><!-- .subpage -->
  
</div><!-- .content -->
