<section class="page rootpage">
  <div class="content-inner">
    <h1>Documentation</h1>
    
    <ul>
          
      <li>
        <a href="/docs/settings.html"><span class="icon icon-folder dark"></span> Settings</a>
        <ul>
          <li><a href="/docs/settings.html#palette"><span class="icon icon-file dark"></span> Palette</a></li>
          <li><a href="/docs/settings.html#media"><span class="icon icon-file dark"></span> Media</a></li>
          <li><a href="/docs/settings.html#grid"><span class="icon icon-file dark"></span> Grid</a></li>
          <li><a href="/docs/settings.html#typography"><span class="icon icon-file dark"></span> Typography</a></li>
          <li><a href="/docs/settings.html#global"><span class="icon icon-file dark"></span> Global</a></li>
        </ul>
      </li>
      
      <li>
        <a href="/docs/core.html"><span class="icon icon-folder dark"></span> Core</a>
        <ul>
          <li><a href="/docs/core.html#functions"><span class="icon icon-file dark"></span> Functions</a></li>
          <li><a href="/docs/core.html#mixins"><span class="icon icon-file dark"></span> Mixins</a></li>
          <li><a href="/docs/core.html#media"><span class="icon icon-file dark"></span> Media</a></li>
          <li><a href="/docs/core.html#grid"><span class="icon icon-file dark"></span> Grid</a></li>
        </ul>
      </li>
      
      <li>
        <a href="/docs/elements.html"><span class="icon icon-folder dark"></span> Elements</a>
        <ul>
          <li><a href="/docs/elements.html#base"><span class="icon icon-file dark"></span> Base</a></li>
          <li><a href="/docs/elements.html#typography"><span class="icon icon-file dark"></span> Typography</a></li>
          <li><a href="/docs/elements.html#lists"><span class="icon icon-file dark"></span> Lists</a></li>
          <li><a href="/docs/elements.html#blockquotes"><span class="icon icon-file dark"></span> Blockquotes</a></li>
          <li><a href="/docs/elements.html#code"><span class="icon icon-file dark"></span> Code</a></li>
          <li><a href="/docs/elements.html#tables"><span class="icon icon-file dark"></span> Tables</a></li>
          <li><a href="/docs/elements.html#images"><span class="icon icon-file dark"></span> Images</a></li>
          <li><a href="/docs/elements.html#rules"><span class="icon icon-file dark"></span> Rules</a></li>
          <li><a href="/docs/elements.html#forms"><span class="icon icon-file dark"></span> Forms</a></li>
          <li><a href="/docs/elements.html#buttons"><span class="icon icon-file dark"></span> Buttons</a></li>
        </ul>
      </li>
      
      <li>
        <a href="/docs/blocks.html"><span class="icon icon-folder dark"></span> Blocks</a>
        <ul>
          <li><a href="/docs/blocks.html#form-layout"><span class="icon icon-file dark"></span> Form Layout</a></li>
          <li><a href="/docs/blocks.html#button-groups"><span class="icon icon-file dark"></span> Button Groups</a></li>
          <li><a href="/docs/blocks.html#notice"><span class="icon icon-file dark"></span> Notice</a></li>
          <li><a href="/docs/blocks.html#breadcrumb"><span class="icon icon-file dark"></span> Breadcrumb</a></li>
        </ul>
      </li>
      
      <li>
        <a href="/docs/custom.html"><span class="icon icon-folder dark"></span> Custom</a>
        <ul>
          <li><a href="/docs/custom.html#custom"><span class="icon icon-file dark"></span> Custom</a></li>
        </ul>
      </li>
      
    </ul>
    
  </div>
</section>
