<section class="page rootpage">
  <div class="content-inner">
    
    <h1>Documentation</h1>
    <p class="text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis varius vestibulum. Aliquam mattis erat at est tincidunt, id elementum velit porttitor.</p>
    
    <div class="sitemap dark">
      {{ > nav }}
    </div>
    
  </div>
</section>
