<section class="page rootpage">
  <div class="content-inner">
    
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
      </ul>
    </nav>
    
    <h1>Settings</h1>
    <p class="text-lead">This is where we store all of our global project variables and maps. Variables that are used in core modules or in multiple element and/or block modules go here.</p>
    
    <ul>
      <li><a href="/docs/settings.html#palette"><span class="icon icon-file dark"></span> Palette</a></li>
      <li><a href="/docs/settings.html#media"><span class="icon icon-file dark"></span> Media</a></li>
      <li><a href="/docs/settings.html#grid"><span class="icon icon-file dark"></span> Grid</a></li>
      <li><a href="/docs/settings.html#typography"><span class="icon icon-file dark"></span> Typography</a></li>
      <li><a href="/docs/settings.html#global"><span class="icon icon-file dark"></span> Global</a></li>
    </ul>
    
  </div>
</section>

<section id="palette" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_palette }}
  </div>
</section><!-- .subpage -->

<section id="media" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_media }}
  </div>
</section><!-- .subpage -->

<section id="grid" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_grid }}
  </div>
</section><!-- .subpage -->

<section id="typography" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_typography }}
  </div>
</section><!-- .subpage -->

<section id="global" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_global }}
  </div>
</section><!-- .subpage -->
