<section class="rootpage"></section>

<section id="palette" class="subpage">
  {{ > subpage_palette }}
</section><!-- .subpage -->

<section id="media" class="subpage">
  {{ > subpage_media }}
</section><!-- .subpage -->

<section id="grid" class="subpage">
  {{ > subpage_grid }}
</section><!-- .subpage -->

<section id="typography" class="subpage">
  {{ > subpage_typography }}
</section><!-- .subpage -->

<section id="global" class="subpage">
  {{ > subpage_global }}
</section><!-- .subpage -->