<section class="page rootpage">
  <div class="content-inner">
    
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
      </ul>
    </nav>
    
    <h1>Settings</h1>
    <p class="text-lead">This is where we store all of our global project variables and maps. Variables and maps that are used in core modules, multiple element and/or block modules go here.</p>
    
    <div class="sitemap dark">
      <ul class="subnav">
        <li><a href="/docs/settings.html#palette"><span class="icon icon-file"></span> Palette</a></li>
        <li><a href="/docs/settings.html#media"><span class="icon icon-file"></span> Media</a></li>
        <li><a href="/docs/settings.html#grid"><span class="icon icon-file"></span> Grid</a></li>
        <li><a href="/docs/settings.html#typography"><span class="icon icon-file"></span> Typography</a></li>
        <li><a href="/docs/settings.html#global"><span class="icon icon-file"></span> Global</a></li>
      </ul>
    </div>
    
    <div class="notice notice-warning">
      <p>BaseWeb is designed so that elements or blocks with specific variables are stored locally within that modules file. This is to keep your code organization consistent with its scope.</p>
    </div>
    
  </div>
</section>

<section id="palette" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_palette }}
  </div>
</section><!-- .subpage -->

<section id="media" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_media }}
  </div>
</section><!-- .subpage -->

<section id="grid" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_grid }}
  </div>
</section><!-- .subpage -->

<section id="typography" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_typography }}
  </div>
</section><!-- .subpage -->

<section id="global" class="page subpage">
  <div class="content-inner">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/docs/settings.html">Settings</a></li>
      </ul>
    </nav>
    {{ > subpage_global }}
  </div>
</section><!-- .subpage -->
