/*==============================================================================
  Lists
==============================================================================*/

ul, ol {
  margin: @margin 0 @margin (@margin * 2);
  
  &.remove-list-styles {
    .remove-list-styles();
  }
  &.inline-list {
    .inline-list( @margin, both );
  }
}
ul, ul ul ul ul {
  list-style: disc;
}
ul ul {
  list-style: circle;
}
ul ul ul {
  list-style: disc;
}

ol, ol ol ol ol {
  list-style: decimal;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}

ul li, ol li {
  margin: round((@margin / 2)) 0;
}

dl {
  margin: @margin 0;
  dt {
    margin: @margin 0 0;
    font-weight: bold;
  }
  dd {
    margin: 0 0 @margin (@margin + (@margin / 2));
  }
}
