/*==============================================================================
  Horizontal Rules
==============================================================================*/

hr {
  display: block;
  height: 0;
  width: 100%;
  clear: both;
  margin: (@margin * 2) 0;
  padding: 0;
  background: none;
  border: 0 none;
  border-bottom: 1px solid;
  .border-color();
  
  &.dotted {
    border-bottom: 1px dotted;
    .border-color();
  }
  &.dashed {
    border-bottom: 1px dashed;
    .border-color();
  }
  &.double {
    border-bottom: 3px double;
    .border-color();
  }
}
