////////////////////////////////////////////////////////////////////////////////
// Table Mixins
////////////////////////////////////////////////////////////////////////////////

// Rowed
.make-table-rowed() {
  border-collapse: separate;
  td, th {
    padding: (@padding / 2) @padding;
    border-bottom: 1px solid;
    .border-color( @border-table-base, @border-table-alpha, @border-table );
  }
  tr:last-child td { 
    border-bottom: 0 none; 
  }
}

// Columned
.make-table-column() {
  border-collapse: separate;
  td, th {
    padding: (@padding / 2) @padding;
    border-left: 1px solid;
    .border-color( @border-table-base, @border-table-alpha, @border-table );
  }
  th {
    border-left: 1px solid;
    .border-color( @border-table-base, @border-table-alpha, @border-table );
  }
  tr td:first-child, tr th:first-child { 
    border-left: 0 none;
  }
}

// Bordered
.make-table-bordered() {
  border-collapse: separate;
  border: 1px solid;
  .border-color( @border-table-base, @border-table-alpha, @border-table );
  .background-color( @bg-table-base, @bg-table-alpha, @bg-table );
  .border-radius();

  td, th {
    padding: (@padding / 2) @padding;
    border-bottom: 1px solid;
    border-left: 1px solid;
    .border-color( @border-table-base, @border-table-alpha, @border-table );
  }
  tr:last-child td { border-bottom: 0 none; }
  tr td:first-child, tr th:first-child { border-left: 0 none; }
  
  tbody tr:last-child td:first-child, 
  tbody tr:last-child th:first-child { .border-radius-bottom-left(); }
  
  tbody tr:last-child td:last-child, 
  tbody tr:last-child th:last-child { .border-radius-bottom-right(); }
  
  thead tr:first-child th:first-child, 
  &.no-thead tr:first-child td:first-child, 
  &.no-thead tr:first-child th:first-child { .border-radius-top-left(); }
  
  thead tr:first-child th:last-child, 
  &.no-thead tr:first-child td:last-child, 
  &.no-thead tr:first-child th:last-child { .border-radius-top-right(); }
}

// Padded
.make-table-padded() {
  td, th {
    padding: (@padding / 2) @padding;
  }
}

// Condensed
.make-table-condensed() {
  td, th {
    padding: (@padding / 4) (@padding / 2);
  }
}

// Zebra
.make-table-stripes( @direction : horizontal ) {

  .direction() when ( @direction = horizontal ) {
    th {
      .background-color( @bg-table-zebra-base, @bg-table-zebra-alpha, @bg-table-zebra );
    }
    tr:nth-child(even) td {
      .background-color( @bg-table-zebra-base, @bg-table-zebra-alpha, @bg-table-zebra );
    }
  }
  .direction() when ( @direction = vertical ) {
    th:nth-child(odd) {
      .background-color( @bg-table-zebra-base, @bg-table-zebra-alpha, @bg-table-zebra );
    }
    tr td:nth-child(odd) {
      .background-color( @bg-table-zebra-base, @bg-table-zebra-alpha, @bg-table-zebra );
    }
  }
  .direction();
}

// Hover
.make-table-hover() {
  thead tr th:hover, 
  tbody tr:hover {
    .background-color( @bg-table-hover-base, @bg-table-hover-alpha, @bg-table-hover );
  }
  tbody tr:hover td {
    background: transparent;
  }
}

/*==============================================================================
  Tables
==============================================================================*/

table {
  width: 100%; 
  max-width: 100%;
  background: transparent;
  margin: @margin 0;
  overflow: auto;
  
  th {
    color: @color-header;
    text-align: left;
    font-weight: bold;
  }
}

/**
 * Table Classes
 */
table.rowed {
  .make-table-rowed();
}

table.columned { 
  .make-table-column();
}

table.stripes { 
  .make-table-stripes();
}

table.stripes-horizontal { 
  .make-table-stripes(horizontal);
}

table.stripes-vertical { 
  .make-table-stripes(vertical);
}

table.bordered { 
  .make-table-bordered();
}

table.padded { 
  .make-table-padded();
}

table.condensed { 
  .make-table-condensed();
}

table.hover { 
  .make-table-hover();
}
