/*==============================================================================
  Test Suite Global Styles
==============================================================================*/

body {
  background: #303030;
}
.container {
  max-width: 980px;
}
.top {
  padding-top: 20px;
  padding-bottom: 20px;
}
.middle {
  padding-left: 0;
  padding-right: 0;
}
.bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page {
  background: #fff;
  padding: 5px 15px 15px;
}
.header,
.header a,
.nav {
  color: #777;
}
.header,
.nav,
.footer {
  font-size: 13px;
  line-height: 18px;
}
.header {
  float: left;
}
.header span {
  display: none;
}
.nav {
  float: right;
}
.nav p {
  margin: 3px 0;
}
.nav a {
  background-clip: padding-box;
}
.footer {
  text-align: center;
  color: #777;
}

@media screen and ( min-width: 480px ) {
  .middle {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page {
    padding: 15px 30px 30px;
  }
}
@media screen and ( min-width: 760px ) {
  .page {
    padding: 30px 60px 60px;
  }
  .header span {
    display: inline-block;
  }
}