////////////////////////////////////////////////////////////////////////////////
// Icons
////////////////////////////////////////////////////////////////////////////////

/**
 * Base icon styles
 */
i {
    font-family: @font-family-icon;
    font-size: 2.2em;
    line-height: 0.5em;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    border: 0 none;
    margin: 0;
    padding: 0;
}
a, .btn, h1, h2, h3, h4, h5, h6 {
    i {
        margin: -0.05em 0.2em 0 -0.2em;
        top: -0.05em;
    }
}
h1, h2, h3, h4, h5, h6 {
    i {
        margin-left: 0;
    }
}

/**
 * Load Font-Icon Libraries
 */
// .fonticons-entypo();
// .fonticons-glyphicons();
// .fonticons-glyphicons-halflings();