<h1 class="docs-header">Base Styles</h1>
<p>Some general styles and global resets are defined here. This is where we store any styles that effect the <code>&lt;body&gt;</code> or <code>&lt;html&gt;</code> elements, set HTML5 elements to display as block and any output our global modifier classes.</p>

<ul class="docs-list-hover">
  <li>Remove margins and padding from HTML and Body elements and sets our base font-size.</li>
  <li>Prevents automatic text resizing on mobile devices.</li>
  <li>Set our base typographic settings (family, weight, lineheight and color).</li>
  <li>Make HTML5 elements act like blocks.</li>
  <li>Set default box sizing model to our global variable <code>$global-box-sizing.</code></li>
  <li>Outputs our cleafix class if one is set in <code>$class-clearfix</code>.</li>
  <li>Outputs our remove cleafix class if one is set in <code>$class-remove-clearfix</code>.</li>
  <li>Add custom text highlight color if a color is set in <code>$bg-selection</code>.</li>
</ul>

<section class="sub-section sub-section-classes">
<h1 class="docs-header">Base Classes</h1>

<p>Base classes are primarily element and block neutral classes that can apply to anything. They are typically utility classes for commonly used CSS techniques (such as a clear fix).</p>

<ul class="docs-list">
  
  <li>
    <h2 class="docs-header">.clearfix</h2>
    <p>Use this class to clear an element that contains floats. Whether or not this class is output depends on the <code>$class-clearfix</code> and if set to <code>none</code> will not output the class styles.</p>
    <pre class="language-markup"><code>&lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;</code></pre>
    <h3 class="docs-header">Example Usage</h3>
    <pre class="language-markup"><code>&lt;div class=&quot;wrapper clearfix&quot;&gt;
  &lt;aside class=&quot;sidebar&quot;&gt;
    ...
  &lt;/aside&gt;
  &lt;div class=&quot;content&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </li>
  
  <li>
    <h2 class="docs-header">.remove-clearfix</h2>
    <p>Use this class to remove the styles that would clear an element. Whether or not this class is output depends on the <code>$class-remove-clearfix</code> and if set to <code>none</code> will not output the class styles. This class is typically used when a clearfix is inherited on an element and you'd like it removed.</p>
    <pre class="language-markup"><code>&lt;div class=&quot;remove-clearfix&quot;&gt;&lt;/div&gt;</code></pre>
  </li>
  
  <li>
    <h2 class="docs-header">.float-left</h2>
    <p>A quick way for floating an element to the left.</p>
    <pre class="language-markup"><code>&lt;div class=&quot;float-left&quot;&gt;&lt;/div&gt;</code></pre>
  </li>
  
  <li>
    <h2 class="docs-header">.float-right</h2>
    <p>A quick way for floating an element to the right.</p>
    <pre class="language-markup"><code>&lt;div class=&quot;float-right&quot;&gt;&lt;/div&gt;</code></pre>
  </li>
  
</ul>
</section>
