<h1>Blockquotes</h1>

<p>The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element, and optionally with in-line changes such as annotations and abbreviations.</p>

<pre class="language-markup"><code>&lt;blockquote&gt;
  &lt;p&gt;...&lt;/p&gt;
  &lt;footer&gt;&lt;cite&gt;...&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>

<blockquote>
  <p>"The internet could be a very positive step towards education, organization and participation in a meaningful society."</p>
  <footer>
    <cite>&mdash; Noam Chomsky</cite>
  </footer>
</blockquote>
