<h1 class="docs-header">Buttons</h1>

<p>There are four ways you can markup a button. An anchor, button or input element that has a type set to <code>button</code> or <code>submit</code>. BaseWeb tries to style buttons the same, regardless of the method you use to mark them up.</p>

<pre class="language-markup"><code>&lt;a class=&quot;btn btn-default&quot; href=&quot;#&quot;&gt;Button&lt;/a&gt;
&lt;button class=&quot;btn btn-default&quot; type=&quot;submit&quot;&gt;Button&lt;/button&gt;
&lt;input class=&quot;btn btn-default&quot; type=&quot;button&quot; value=&quot;Button&quot;&gt;
&lt;input class=&quot;btn btn-default&quot; type=&quot;submit&quot; value=&quot;Button&quot;&gt;</code></pre>

<div class="demo">
  <p>
    <a class="btn btn-default" href="#">Button</a>
    <button class="btn btn-default" type="submit">Button</button>
    <input class="btn btn-default" type="button" value="Button">
    <input class="btn btn-default" type="submit" value="Button">
  </p>
</div>

<hr class="docs-hr">

<section class="sub-section sub-section-variables">
<h1 class="docs-header">Button Variables</h1>
<p>Button variables are encompassed within the <code>$button</code> map and are used throughout all button mixins to set default values.</p>

<ul class="docs-list docs-list-hover">
  <li>
    <code>$button('modifier-classes')</code>
    <code class="right value">true</code>
    <span class="block light">Whether or not we should output modifier classes. Set to `false` if you want to use the button modifier mixins semantically and/or reduce CSS output.</span>
  </li>
  <li>
    <code>$button('padding')</code>
    <code class="right value">10px 20px</code>
  </li>
  <li>
    <code>$button('padding-small')</code>
    <code class="right value">5px 10px</code>
  </li>
  <li>
    <code>$button('padding-large')</code>
    <code class="right value">15px 30px</code>
  </li>
  <li>
    <code>$button('font-size')</code>
    <code class="right value">$base-font-size</code>
  </li>
  <li>
    <code>$button('line-height')</code>
    <code class="right value">$base-line-height</code>
  </li>
  <li>
    <code>$button('color')</code>
    <code class="right value">$color-dark</code>
  </li>
  <li>
    <code>$button('text-shadow')</code>
    <code class="right value">none</code>
  </li>
  <li>
    <code>$button('background')</code>
    <code class="right value">$gray-pale</code>
  </li>
  <li>
    <code>$button('background-hover')</code>
    <code class="right value">darken</code>
    <span class="block light">The color to use on hover. If set to `lighten` or `darken` it will take the `background` color and lighten or darken it respectively using `background-deg` as the modifier. You can also pass a color to use for hover.</span>
  </li>
  <li>
    <code>$button('background-gradient')</code>
    <code class="right value">false</code>
    <span class="block light">Whether or not to use a gradient for button background. If true, the `background` will be used as the start color and darkened for the end color using the `background-deg` as a modifier.</span>
  </li>
  <li>
    <code>$button('background-deg')</code>
    <code class="right value">5%</code>
    <span class="block light">The degree that the hover background color or gradient end color is modified.</span>
  </li>
  <li>
    <code>$button('background-clip')</code>
    <code class="right value">border-box</code>
  </li>
  
  <li>
    <code>$button('border')</code>
    <code class="right value">1px solid rgba($black, 0.15)</code>
  </li>
  <li>
    <code>$button('border-hover')</code>
    <code class="right value">1px solid rgba($black, 0.25)</code>
  </li>
  <li>
    <code>$button('border-radius')</code>
    <code class="right value">$border-radius</code>
  </li>
</ul>
</section>

<section class="sub-section sub-section-mixins">
<h1 class="docs-header">Button Modifiers</h1>
<p>Button modifiers are used to alter a buttons appearance and size.</p>

<ul class="docs-list">
  
  <li>
    <h2 class="docs-header">make-btn-base</h2>
    <p>Creates the base styles for a button modifier mixin or class. Usually applied directly through a base list class, mixin or an extend placeholder. If table modifier classes are enabled, you are provided <code>.btn</code> for your base button class.</p>
    <pre class="language-scss"><code>@mixin make-list-base( $options: () )
// @param $options
//   @type map
//   @default $button map</code></pre>
    <h3 class="docs-header">Example Usage</h3>
    <p>Using the base table mixin for custom buttons. This example shows us using a <code>%base-btn</code> placeholder for the extend method.</p>
    <pre class="language-scss"><code>// SCSS
%base-btn {
  @include make-btn-base();
}
.btn-purchase {
  @extend %base-btn;
  ...
}
.btn-cart {
  @extend %base-btn;
  ...
}
</code></pre>
    <p>Using button modifier classes requires you use the <code>.btn</code> base class.</p>
    <pre class="language-markup"><code>&lt;button class=&quot;btn btn-default&quot;&gt;Button&lt;/button&gt;</code></pre>
  </li>

  <li>
    <h2 class="docs-header">make-btn-color</h2>
    <p>Handles all the color variables of a button such as color, background, border and hover state.</p>
    <pre class="language-scss"><code>@mixin make-btn-color( $options: () )
// @param $options
//   @type map
//   @default $button map</code></pre>
    
    <h3 class="docs-header">Example Usage</h3>
    <p>Use this mixin along with <code>make-btn-base()</code> to create custom semantic button styles. You can pass in a map to replace any of the defaults from the <code>$button</code> map.</p>
    <pre class="language-scss"><code>// SCSS
.btn-custom {
  @include make-btn-base();
  @include make-btn-color((
    'color' : $white,
    'background' : $violet
  ));
}</code></pre>
    <div class="demo">
      <p>
        <button class="btn-custom">Custom Mixin Button</button>
      </p>
    </div>
    <p>If you have button class modifiers enabled, BaseWeb will provide you with a set of button classes and semantic aliases ready to use right away.</p>
    <ul class="docs-list docs-list-hover">
      <li class="title">
        Available Classes
      </li>
      <li>
        <span class="right"><button class="btn btn-default">Button</button></span>
        <code>.btn-default</code>
      </li>
      <li>
        <span class="right"><button class="btn btn-primary">Button</button></span>
        <code>.btn-blue</code><br><code>.btn-primary</code>
      </li>
      <li>
        <span class="right"><button class="btn btn-success">Button</button></span>
        <code>.btn-green</code><br><code>.btn-success</code>
      </li>
      <li>
        <span class="right"><button class="btn btn-warning">Button</button></span>
        <code>.btn-orange</code><br><code>.btn-warning</code>
      </li>
      <li>
        <span class="right"><button class="btn btn-danger">Button</button></span>
        <code>.btn-red</code><br><code>.btn-danger</code>
      </li>
      <li>
        <span class="right"><button class="btn btn-secondary">Button</button></span>
        <code>.btn-black</code><br><code>.btn-secondary</code>
      </li>
    </ul>
    <pre class="language-markup"><code>&lt;button class=&quot;btn btn-primary&quot;&gt;Button&lt;/button&gt;</code></pre>
  </li>

  <li>
    <h2 class="docs-header">give-btn-size</h2>
    <p>Handles size variations for buttons. This is done by changing the padding, font-size and line-height based on the parameters passed.</p>
    <pre class="language-scss"><code>@mixin give-btn-size()
// @param $size
//   @type small | Large | unit list (pixel, em, percent)
// @param $options
//   @type map
//   @default $button map</code></pre>
    <h3 class="docs-header">Example Usage</h3>
    <p>The first parameter is a quick way to make a button use the default small or large size set in our <code>$button</code> map. Or you can pass in a unit list for custom padding along with a map for setting the font-size and line-height.</p>
    <pre class="language-scss"><code>// SCSS
// Use default small size
.btn-small {
  @include make-btn-size(small);
}

// Use default large size with custom font size
.btn-custom-large {
  @include make-btn-size(large, (
    'font-size': 20px
  ));
}

// Set a custom button size
.btn-custom-size {
  @include make-btn-size(20px 40px, (
    'font-size': 20px,
    'line-height': 24px
  ));
}
</code></pre>
    <ul class="docs-list docs-list-hover">
      <li class="title">
        Available Classes
      </li>
      <li>
        <span class="right"><button class="btn btn-primary btn-small">Small Button</button></span>
        <code>.btn-small</code>
      </li>
      <li>
        <span class="right"><button class="btn btn-primary btn-large">Large Button</button></span>
        <code>.btn-large</code>
      </li>
    </ul>
    <pre class="language-markup"><code>&lt;button class=&quot;btn btn-primary btn-large&quot;&gt;Large Button&lt;/button&gt;</code></pre>    
  </li>
  
  <li>
    <h2 class="docs-header">give-btn-block</h2>
    <p>Makes the button block, 100% width with some top and bottom margin. This is typically used for mobile friendly buttons.</p>
    <pre class="language-scss"><code>@mixin give-btn-block()
// @param $options
//   @type map
//   @default $button map</code></pre>
    <h3 class="docs-header">Example Usage</h3>
    <p>As a utility class, <code>give-btn-block()</code> is used along side base and modifier styles.</p>
    <pre class="language-scss"><code>// SCSS
.btn-custom-mobile {
  @include make-btn-base();
  @include make-btn-color();
  @include give-btn-block();
}
</code></pre>
    <pre class="language-markup"><code>&lt;button class=&quot;btn-custom-mobile&quot;&gt;Block Button&lt;/button&gt;
&lt;button class=&quot;btn btn-green btn-block&quot;&gt;Block Button&lt;/button&gt;</code></pre>
    <div class="demo">
      <p>
        <a class="btn-custom-mobile" href="#" role="button">Block Button</a>
        <a class="btn btn-green btn-block" href="#" role="button">Block Button</a>
      </p>
    </div>
  </li>

</ul>
</section>
