<h1 class="docs-header">Forms</h1>

<!--
<label for="input-2">Password Input</label>
<input id="input-2" type="password" placeholder="Password" required>

<label for="input-3">Date Input</label>
<input id="input-3" type="date">

<label for="input-4">Month Input</label>
<input id="input-4" type="month">

<label for="input-5">Week Input</label>
<input id="input-5" type="week">

<label for="input-6">Time Input</label>
<input id="input-6" type="time">

<label for="input-7">Email Input</label>
<input id="input-7" type="email" placeholder="example@email.com">

<label for="input-8">Number Input</label>
<input id="input-8" type="number">

<label for="input-9">Search Input</label>
<input id="input-9" type="search">

<label for="input-10">Telephone Input</label>
<input id="input-10" type="tel">

<label for="input-11">Web Address Input</label>
<input id="input-11" type="url" placeholder="http://">

<label for="input-12">Color Input</label>
<input id="input-12" type="color">

<label for="input-13">File Input</label>
<input id="input-13" type="file">

<label for="input-14">Range Input</label>
<input id="input-14" type="range">

<label for="select-2">Multiple Select</label>
<select id="select-2" multiple>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
-->

<form>
  <fieldset>
    
    <legend>Using Nothing</legend>
    
    <label for="input-1">Text Input</label>
    <div>
      <label class="sub inline">Inline Label</label>
      <input id="input-1" class="input inline" type="text" placeholder="Text Input">
      <select class="input inline">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>
      <label class="choice inline"><input type="checkbox" checked> Choice</label>
    </div>
    
    <label>Text Input Group</label>
    
    <div class="item-group">
      <input class="input" type="text">
      <input class="input" type="text">
    </div>
    
    <label>Grid Example</label>
    <div class="row">
      <div class="col col-4">
        <label class="sub">Sub Label</label>
        <input class="input" type="text" placeholder="Example">
      </div>
      <div class="col col-4">
        <label class="sub">Sub Label</label>
        <select class="input">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
      <div class="col col-4">
        <label class="sub">Sub Label</label>
        <label class="choice"><input type="checkbox" checked> Choice</label>
      </div>
    </div>
    
    <label for="textarea-1">Text Area</label>
    <textarea id="textarea-1" class="input" rows="4"></textarea>
    
    <label>Select Dropdown</label>
    <div class="item-group">
      <select class="input">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>
      <select class="input">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>
    </div>
    
    <label>Label</label>
    <div class="item-group">
      <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
      <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
      <label class="radio"><input type="radio"> Not fancy radio</label>
      <label class="radio"><input type="radio"> Not fancy radio</label>
    </div>
    
    <label>Label</label>
    <div class="item-group inline">
      <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
      <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
      <label class="radio"><input type="radio"> Not fancy radio</label>
      <label class="radio"><input type="radio"> Not fancy radio</label>
    </div>
    
    
    <div class="row">
      <div class="col col-6">
        <label>Checkbox Choice</label>
        <div class="item-group">
          <label class="choice"><input type="checkbox" checked> Yes</label>
          <label class="choice"><input type="checkbox"> No</label>
          <label class="choice"><input type="checkbox"> Maybe</label>
        </div>
      </div>
      <div class="col col-6">
        <label>Radio Choice</label>
        <div class="item-group">
          <label class="choice"><input name="radio-1" type="radio" checked> Yes</label>
          <label class="choice"><input name="radio-1" type="radio"> No</label>
          <label class="choice"><input name="radio-1" type="radio"> Maybe</label>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col col-6">
        <label>Inline Checkbox Choice</label>
        <div class="item-group inline">
          <label class="choice"><input type="checkbox" checked> Yes</label>
          <label class="choice"><input type="checkbox"> No</label>
          <label class="choice"><input type="checkbox"> Maybe</label>
        </div>
      </div>
      <div class="col col-6">
        <label>Inline Radio Choice</label>
        
        <div class="item-group inline">
          <label class="choice"><input name="radio-2" type="radio" checked> Yes</label>
          <label class="choice"><input name="radio-2" type="radio"> No</label>
          <label class="choice"><input name="radio-2" type="radio"> Maybe</label>
        </div>
        
      </div>
    </div>
    
  </fieldset>
  <fieldset>
    
    <legend>Using Form Grouping</legend>
    
    <div class="group">
      <label>Text Label</label>
      <div class="item-group inline">
        <label class="sub inline">Inline Label</label>
        <input id="input-1" class="input" type="text" placeholder="Text Input">
        <select class="input">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
        <label class="choice"><input type="checkbox" checked> Choice</label>
      </div>
    </div>
    
    <div class="group">
      <label>Text Input</label>
      <input class="input" type="text" placeholder="Text Input">
    </div>
    
    <div class="group">
      <label>Text Input Group</label>
      <div class="item-group">
        <input class="input" type="text">
        <input class="input" type="text">
      </div>
    </div>
    
    <div class="group">
      <label>Select Dropdown</label>
      <div class="item-group">
        <select class="input">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
        <select class="input">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
        </select>
      </div>
    </div>
    
    <div class="group">
      <label>Grid Example</label>
      <div class="row">
        <div class="col col-6">
          <div class="item-group">
            <input class="input" type="text">
            <input class="input" type="text">
          </div>
        </div>
        <div class="col col-6">
          <div class="item-group">
            <select class="input">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
            <select class="input">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    
    <div class="group">
      <label>Grid Example</label>
      <div class="row">
        <div class="col col-4">
          <label class="sub">Sub Label</label>
          <input class="input" type="text" placeholder="Example">
        </div>
        <div class="col col-4">
          <label class="sub">Sub Label</label>
          <select class="input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
        <div class="col col-4">
          <label class="sub">Sub Label</label>
          <label class="choice"><input type="checkbox" checked> Choice</label>
        </div>
      </div>
    </div>
    
    <div class="group">
      <label>Text Area</label>
      <textarea class="input" rows="4"></textarea>
    </div>
    
    <div class="group">
      <label>Label</label>
      <div class="item-group">
        <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
        <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
        <label class="radio"><input type="radio"> Not fancy radio</label>
        <label class="radio"><input type="radio"> Not fancy radio</label>
      </div>
    </div>
    
    <div class="group">
      <label>Label</label>
      <div class="item-group inline">
        <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
        <label class="checkbox"><input type="checkbox"> Not fancy checkbox</label>
        <label class="radio"><input type="radio"> Not fancy radio</label>
        <label class="radio"><input type="radio"> Not fancy radio</label>
      </div>
    </div>
    
    <div class="group">
      <div class="row">
        <div class="col col-6">
          <label>Checkbox Choice</label>
          <div class="item-group">
            <label class="choice"><input type="checkbox" checked> Yes</label>
            <label class="choice"><input type="checkbox"> No</label>
            <label class="choice"><input type="checkbox"> Maybe</label>
          </div>
        </div>
        <div class="col col-6">
          <label>Radio Choice</label>
          <div class="item-group">
            <label class="choice"><input name="radio-3" type="radio" checked> Yes</label>
            <label class="choice"><input name="radio-3" type="radio"> No</label>
            <label class="choice"><input name="radio-3" type="radio"> Maybe</label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="group">
      <div class="row">
        <div class="col col-6">
          <label>Inline Checkbox Choice</label>
          <div class="item-group inline">
            <label class="choice"><input type="checkbox" checked> Yes</label>
            <label class="choice"><input type="checkbox"> No</label>
            <label class="choice"><input type="checkbox"> Maybe</label>
          </div>
        </div>
        <div class="col col-6">
          <label>Inline Radio Choice</label>
          <div class="item-group inline">
            <label class="choice"><input name="radio-4" type="radio" checked> Yes</label>
            <label class="choice"><input name="radio-4" type="radio"> No</label>
            <label class="choice"><input name="radio-4" type="radio"> Maybe</label>
          </div>
        </div>
      </div>
    </div>

  </fieldset>
  <fieldset>
    
    <legend>Validation States</legend>
    
    <div class="group success">
      <div class="row">
        <div class="col col-4">
          <input class="input" type="text" placeholder="Example">
        </div>
        <div class="col col-4">
          <select class="input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
        <div class="col col-4">
          <label class="choice"><input type="checkbox"> Choice</label>
        </div>
      </div>
      <div class="item-group inline">
        <label class="checkbox"><input type="checkbox"> Choice</label>
        <label class="radio"><input type="radio"> Choice</label>
      </div>
      <div class="text-group">
        <p>This is a text group.</p>
      </div>
    </div>
    
    <div class="group warning">
      <div class="row">
        <div class="col col-4">
          <input class="input" type="text" placeholder="Example">
        </div>
        <div class="col col-4">
          <select class="input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
        <div class="col col-4">
          <label class="choice"><input type="checkbox"> Choice</label>
        </div>
      </div>
      <div class="item-group inline">
        <label class="checkbox"><input type="checkbox"> Choice</label>
        <label class="radio"><input type="radio"> Choice</label>
      </div>
      <div class="text-group">
        <p>This is a text group.</p>
      </div>
    </div>
    
    <div class="group error">
      <div class="row">
        <div class="col col-4">
          <input class="input" type="text" placeholder="Example">
        </div>
        <div class="col col-4">
          <select class="input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
        <div class="col col-4">
          <label class="choice"><input type="checkbox"> Choice</label>
        </div>
      </div>
      <div class="item-group inline">
        <label class="checkbox"><input type="checkbox"> Choice</label>
        <label class="radio"><input type="radio"> Choice</label>
      </div>
      <div class="text-group">
        <p>This is a text group.</p>
      </div>
    </div>
    
    <div class="group active">
      <div class="row">
        <div class="col col-4">
          <input class="input" type="text" placeholder="Example">
        </div>
        <div class="col col-4">
          <select class="input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
        <div class="col col-4">
          <label class="choice"><input type="checkbox"> Choice</label>
        </div>
      </div>
      <div class="item-group inline">
        <label class="checkbox"><input type="checkbox"> Choice</label>
        <label class="radio"><input type="radio"> Choice</label>
      </div>
      <div class="text-group">
        <p>This is a text group.</p>
      </div>
    </div>
    
  </fieldset>
  <fieldset>
    
    <legend>Horizontal Forms</legend>
    <div class="group">
    <div class="row">
      <div class="col col-4">
        <label class="block">Sub Label</label>
        <div class="text-group">
          <p>Can we create a horizontal form just by using the tools we already have?</p>
        </div>
      </div>
      <div class="col col-8">
        <div class="group">
          <select class="input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
        <div class="group">
          <label class="sub">Sub Label</label>
          <div class="item-group">
            <input class="input" type="text">
            <input class="input" type="text">
          </div>
          <div class="item-group">
            <input class="input" type="text">
            <input class="input" type="text">
          </div>
        </div>
        <div class="group">
          <label class="sub">Sub Label</label>
          <div class="row">
            <div class="col col-6">
              <div class="item-group">
                <label class="choice"><input name="radio-3" type="radio" checked> Yes</label>
                <label class="choice"><input name="radio-3" type="radio"> No</label>
                <label class="choice"><input name="radio-3" type="radio"> Maybe</label>
              </div>
            </div>
            <div class="col col-6">
              <div class="item-group">
                <label class="choice"><input name="radio-3" type="radio" checked> Yes</label>
                <label class="choice"><input name="radio-3" type="radio"> No</label>
                <label class="choice"><input name="radio-3" type="radio"> Maybe</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="group">
    <div class="row">
      <div class="col col-4">
        <label class="block">Sub Label</label>
        <div class="text-group">
          <p>The answer is yes!</p>
        </div>
      </div>
      <div class="col col-8">
        <div class="group">
          <select class="input">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
        <div class="group">
          <label class="sub">Sub Label</label>
          <div class="item-group">
            <input class="input" type="text">
            <input class="input" type="text">
          </div>
        </div>
      </div>
    </div>
    </div>

  </fieldset>
</form>
