<h1 class="docs-header">Forms</h1>

<p>HTML forms are probably the most daunting part of front-end development to markup and style. BaseWeb's goal is to give you the tools to make forms easy to build and flexible.</p>

<hr class="docs-hr">

<section class="sub-section sub-section-classes">

<h1 class="docs-header">Form Structure</h1>

<p>Along with all standard form elements, BaseWeb provides you with <code>.form-group</code>, <code>.input-group</code> and <code>.action-group</code> classes to use for structuring a form layout.</p>

<pre class="language-markup"><code>
&lt;form&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label&gt;Input Group&lt;/label&gt;
    &lt;div class=&quot;input-group&quot;&gt;
      ...
    &lt;/div&gt;
    &lt;label&gt;Inline Input Group&lt;/label&gt;
    &lt;div class=&quot;input-group inline-group&quot;&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;action-group&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/form&gt;
</code></pre>

<div class="demo">
  <form>
    
    <div class="form-group">
      <label>Example Label</label>
      <div class="input-group">
        <input class="input" type="text" placeholder="Example text input..." required>
        <select class="input">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
        <select class="input" multiple>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
        <textarea class="input" rows="4"></textarea>
      </div>
      
      <label>Example Label</label>
      <div class="input-group inline-group">
        <label class="choice"><input type="checkbox"> Choice checkbox</label>
        <label class="choice"><input type="radio"> Choice radio</label>
      </div>
    </div>
      
    <div class="action-group">
      <button class="btn btn-primary">Button</button>
      <button class="btn btn-default">Button</button>
    </div>
      
  </form>
</div>

<ul class="docs-list">

  <li>
    <h2 class="docs-header">.form-group</h2>
    
  </li>
  <li>
  
    <h2 class="docs-header">.input-group</h2>
  
  </li>
  <li>
  
    <h2 class="docs-header">.action-group</h2>
  
  </li>
  <li>
  
    <h2 class="docs-header">.inline-group</h2>
    <p>You can also create inline forms by adding the class <code>.inline-group</code> to form structure elements.</p>
    
    <pre class="language-markup"><code>
&lt;form&gt;
  &lt;div class=&quot;form-group inline-group&quot;&gt;
    ...
  &lt;/div&gt;
&lt;/form&gt;
    </code></pre>
    
    <div class="demo">
      <form>
        <div class="form-group inline-group">
          <label>Label</label>
          <input type="text" class="input" placeholder="Example">
          <label class="choice"><input type="checkbox" checked> Choice</label>
          <button type="submit" class="btn btn-default">Button</button>
        </div>
      </form>
    </div>
  
  </li>
  
  <li>
    
    <h2 class="docs-header">Form Grids</h2>
    <p>For more complex form layouts, you also have BaseWeb's default grid system to create rows and columns.</p>
    
    <pre class="language-markup"><code>
&lt;form&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label&gt;Grid Example&lt;/label&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col col-4&quot;&gt;
        ...
      &lt;/div&gt;
      &lt;div class=&quot;col col-4&quot;&gt;
        ...
      &lt;/div&gt;
      &lt;div class=&quot;col col-4&quot;&gt;
        ...
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
    </code></pre>
    
    <div class="demo">
      <form>
        <div class="form-group">
          <label>Grid Example</label>
          <div class="row">
            <div class="col col-4">
              <input class="input" type="text" placeholder="Example">
            </div>
            <div class="col col-4">
              <select class="input">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
            <div class="col col-4">
              <label class="choice"><input type="checkbox" checked> Choice</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  
  </li>

</ul>

</section>

<section class="sub-section sub-section-variables">

<h1 class="docs-header">Form Variables</h1>

</section>

<section class="sub-section sub-section-mixins">

<h1 class="docs-header">Form Mixins</h1>

</section>

<!--
<label for="input-2">Password Input</label>
<input id="input-2" type="password" placeholder="Password" required>

<label for="input-3">Date Input</label>
<input id="input-3" type="date">

<label for="input-4">Month Input</label>
<input id="input-4" type="month">

<label for="input-5">Week Input</label>
<input id="input-5" type="week">

<label for="input-6">Time Input</label>
<input id="input-6" type="time">

<label for="input-7">Email Input</label>
<input id="input-7" type="email" placeholder="example@email.com">

<label for="input-8">Number Input</label>
<input id="input-8" type="number">

<label for="input-9">Search Input</label>
<input id="input-9" type="search">

<label for="input-10">Telephone Input</label>
<input id="input-10" type="tel">

<label for="input-11">Web Address Input</label>
<input id="input-11" type="url" placeholder="http://">

<label for="input-12">Color Input</label>
<input id="input-12" type="color">

<label for="input-13">File Input</label>
<input id="input-13" type="file">

<label for="input-14">Range Input</label>
<input id="input-14" type="range">

<label for="select-2">Multiple Select</label>
<select id="select-2" multiple>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
-->
