<h1 class="docs-header">Images</h1>
<p>Images in BaseWeb are handles responsively be default. You're also provided a few class modifiers for commonly used image styles as well as image alignment classes.</p>

<pre><code>&lt;img src=&quot;...&quot;&gt;</code></pre>

<div class="demo">
  <img alt="Placeholder image" src="http://placehold.it/600x300">
</div>

<hr class="docs-hr">

<h2 class="docs-header">Alignment Modifiers</h2>
<p>Alignment modifiers are classes for images that help position them within the context of a document. So it will float the image and add the appropriate margins needed for text to wrap properly.</p>

<ul class="docs-list">
  
  <li>
    <h3 class="docs-header">.align-left</h3>
    <pre><code>&lt;img class=&quot;align-left&quot; src=&quot;...&quot;&gt;</code></pre>
    <div class="demo">
      <img class="align-left" alt="Placeholder image" src="http://placehold.it/150x150">
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.align-center</h3>
    <pre><code>&lt;img class=&quot;align-center&quot; src=&quot;...&quot;&gt;</code></pre>
    <div class="demo">
      <img class="align-center" alt="Placeholder image" src="http://placehold.it/150x150">
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.align-right</h3>
    <pre><code>&lt;img class=&quot;align-right&quot; src=&quot;...&quot;&gt;</code></pre>
    <div class="demo">
      <img class="align-right" alt="Placeholder image" src="http://placehold.it/150x150">
    </div>
  </li>
  
</ul>

<h2 class="docs-header">Stylistic Modifiers</h2>
<p>BaseWeb provides images with a few stylistic classes for commonly used effects.</p>

<ul class="docs-list">
  
  <li>
    <h3 class="docs-header">.img-rounded</h3>
    <pre><code>&lt;img class=&quot;img-rounded&quot; src=&quot;...&quot;&gt;</code></pre>
    <div class="demo">
      <img class="align-center img-rounded" alt="Placeholder image" src="http://placehold.it/150x150">
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.img-circle</h3>
    <pre><code>&lt;img class=&quot;img-circle&quot; src=&quot;...&quot;&gt;</code></pre>
    <div class="demo">
      <img class="align-center img-circle" alt="Placeholder image" src="http://placehold.it/150x150">
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.img-polaroid</h3>
    <pre><code>&lt;img class=&quot;img-polaroid&quot; src=&quot;...&quot;&gt;</code></pre>
    <div class="demo">
      <img class="align-center img-polaroid" alt="Placeholder image" src="http://placehold.it/150x150">
    </div>
  </li>
  
</ul>
