<h1 class="docs-header">Lists</h1>
<p>Lists in HTML come in three flavors: unordered, ordered and description lists. BaseWeb has some pretty basic default styles for all three type and a variety of list mixins and classes for stylistic variation.</p>

<h2 class="docs-header">Unordered Lists</h2>

<p>The <code>&lt;ul&gt;</code> element represents a list of items, where the order of the items is not important. So if you changed the order, the meaning of the list would stay the same.</p>

<pre><code>&lt;ul&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;</code></pre>

<div class="demo">
  <ul>
    <li>List Item</li>
    <li>List Item
      <ul>
        <li>Nested List Item</li>
        <li>Nested List Item</li>
        <li>Nested List Item</li>
      </ul>
    </li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>
</div>

<h2 class="docs-header">Ordered Lists</h2>

<p>The <code>&lt;ol&gt;</code> element represents a list of items, where the items have been intentionally ordered, such that changing the order would change the meaning of the list.</p>

<pre><code>&lt;ol&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;</code></pre>

<div class="demo">
  <ol>
    <li>List item one</li>
    <li>List item two
      <ol>
        <li>Nested list item one</li>
        <li>Nested list item two</li>
        <li>Nested list item three</li>
      </ol>
    </li>
    <li>List item three</li>
    <li>List item four</li>
    <li>List item five</li>
  </ol>
</div>

<h2 class="docs-header">Description Lists</h2>

<p>The <code>&lt;dl&gt;</code> element represents an association list consisting of zero or more name-value groups (a description list).</p>

<pre><code>&lt;dl&gt;
  &lt;dt&gt;...&lt;/dt&gt;
  &lt;dd&gt;...&lt;/dd&gt;
&lt;/dl&gt;</code></pre>

<div class="demo">
  <dl>
    <dt>Base</dt>
    <dd>The lowest part or edge of something, especially the part on which it rests or is supported.</dd>
    <dt>Web</dt>
    <dd>An information system on the Internet that allows documents to be connected to other documents by hypertext links, enabling the user to search for information by moving from one document to another.</dd>
  </dl>
</div>
