<h1 class="docs-header">Horizontal Rules</h1>
<p>In HTML, the horizontal rule element (<code>&lt;hr&gt;</code>) represents a paragraph-level thematic break. BaseWeb provides some very basic and subtle styles for this element along with a few stylistic class modifiers.</p>

<pre><code>&lt;hr&gt;</code></pre>

<div class="demo">
  <hr>
</div>

<hr class="docs-hr">

<h2 class="docs-header">Stylistic Modifiers</h2>
<p>These are the available classes for modifying the look of your horizontal rule.</p>

<ul class="docs-list">
  
  <li>
    <h3 class="docs-header">.hr-dotted</h3>
    <pre><code>&lt;hr class=&quot;hr-dotted&quot;&gt;</code></pre>
    <div class="demo">
      <hr class="hr-dotted">
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.hr-dashed</h3>
    <pre><code>&lt;hr class=&quot;hr-dashed&quot;&gt;</code></pre>
    <div class="demo">
      <hr class="hr-dashed">
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.hr-double</h3>
    <pre><code>&lt;hr class=&quot;hr-double&quot;&gt;</code></pre>
    <div class="demo">
      <hr class="hr-double">
    </div>
  </li>
  
</ul>