<h1 class="docs-header">Typography</h1>
<p>This is where BaseWeb defines our most basic typographic elements. This includes things like base font styles, headings, links and emphasis elements.</p>

<h2 class="docs-header">Headings</h2>
<p>Heading elements are used to describe the topic of the section it introduces. BaseWeb defines styles for headings <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> and also provide correlating <code>.h1</code> to <code>.h6</code> classes.</p>

<pre><code>&lt;h1&gt;h1. BaseWeb Heading&lt;/h1&gt;
&lt;h2&gt;h2. BaseWeb Heading&lt;/h2&gt;
&lt;h3&gt;h3. BaseWeb Heading&lt;/h3&gt;
&lt;h4&gt;h4. BaseWeb Heading&lt;/h4&gt;
&lt;h5&gt;h5. BaseWeb Heading&lt;/h5&gt;
&lt;h6&gt;h6. BaseWeb Heading&lt;/h6&gt;</code></pre>

<div class="demo">
  <h1>h1. BaseWeb Heading</h1>
  <h2>h2. BaseWeb Heading</h2>
  <h3>h3. BaseWeb Heading</h3>
  <h4>h4. BaseWeb Heading</h4>
  <h5>h5. BaseWeb Heading</h5>
  <h6>h6. BaseWeb Heading</h6>
</div>

<h2 class="docs-header">Body Copy</h2>
<p>The body copy is set by applying our default typographic settings to the <code>&lt;body&gt;</code> element and applying margins to our paragraph element.</p>

<pre><code>&lt;p&gt;...&lt;/p&gt;</code></pre>

<div class="demo">
  <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
</div>

<h2 class="docs-header">Inline HTML Elements</h2>
<p>HTML has a beautiful assortment of tools for adding rich semantics to a document. BaseWeb adds simplistic style to inline elements.</p>

<ul class="docs-list">
  <li>
    <h3 class="docs-header">&lt;a&gt;</h3>
    <p>The HTML <code>&lt;a&gt;</code> Element (or the HTML Anchor Element) defines a hyperlink.</p>
    <pre><code>&lt;p&gt;If you don't know something, try a &lt;a href="http://google.com"&gt;Google search&lt;/a&gt;!&lt;/p&gt;</code></pre>
    <div class="demo">
      <p>If you don't know something, try a <a href="http://google.com">Google search</a>!</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;strong&gt;</h3>
    <p>The HTML <code>&lt;strong&gt;</code> represents strong importance for its contents.</p>
    <pre><code>&lt;p&gt;I learned a lot reading &lt;strong&gt;Pale Blue Dot&lt;/strong&gt;.&lt;/p&gt;</code></pre>
    <div class="demo">
      <p>I learned a lot reading <strong>Pale Blue Dot</strong>.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;em&gt;</h3>
    <p>The HTML <code>&lt;em&gt;</code> element represents stress emphasis of its contents.</p>
    <pre><code>&lt;p&gt;Cats are &lt;em&gt;cute&lt;/em&gt; animals.&lt;/p&gt;</code></pre>
    <div class="demo">
      <p>Cats are <em>cute</em> animals.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;small&gt;</h3>
    <p>The HTML <code>&lt;small&gt;</code> element represents side comments such as small print.</p>
    <pre><code>&lt;small&gt;Copyright 2015&lt;/small&gt;</code></pre>
    <div class="demo">
      <p><small>Copyright 2015</small></p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;mark&gt;</h3>
    <p>The HTML <code>&lt;mark&gt;</code> element represents a run of text in one document marked or highlighted for reference purposes, due to its relevance in another context.</p>
    <pre><code>&lt;p&gt;Don't forget to pick up the &lt;mark&gt;hamburgers&lt;/mark&gt; at the store.&lt;/p&gt;</code></pre>
    <div class="demo">
      <p>Don't forget to pick up the <mark>hamburgers</mark> at the store.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;ins&gt;</h3>
    <p>The HTML <code>&lt;ins&gt;</code> element represents an addition to the document.</p>
    <pre><code>&lt;ins&gt;This content was added to our document.&lt;/ins&gt;</code></pre>
    <div class="demo">
      <p><ins>This content was added to our document.</ins></p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;del&gt;</h3>
    <p>The HTML <code>&lt;del&gt;</code> element represents a removal from the document.</p>
    <pre><code>&lt;del&gt;This content was removed from our document.&lt;/del&gt;</code></pre>
    <div class="demo">
      <p><del>This content was removed from our document.</del></p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;cite&gt;</h3>
    <p>The HTML <code>&lt;cite&gt;</code> element represents a reference to a creative work.</p>
    <pre><code>&lt;blockquote&gt;
  &lt;p&gt;Take the risk of thinking for yourself&amp;mdash;much more happiness, truth, beauty and wisdom will come to you that way.&lt;/p&gt;
  &lt;footer&gt;&lt;cite&gt;&amp;ndash; Christopher Hitchens&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>
    <div class="demo">
      <blockquote>
        <p>Take the risk of thinking for yourself&mdash;much more happiness, truth, beauty and wisdom will come to you that way.</p>
        <footer><cite>&ndash; Christopher Hitchens</cite></footer>
      </blockquote>
    </div>
  </li>
  <li>
    <h3 class="docs-header">&lt;abbr&gt;</h3>
    <p>The HTML <code>&lt;abbr&gt;</code> represents an abbreviation or acronym. The optional title attribute may be used to provide an expansion of the abbreviation.</p>
    <pre><code>&lt;p&gt;The quintessential of front-end development includes &lt;abbr title=&quot;Hypertext Markup Language&quot;&gt;HTML&lt;/abbr&gt;, &lt;abbr title=&quot;Cascading Stylessheets&quot;&gt;CSS&lt;/abbr&gt; and &lt;abbr title=&quot;JavaScript&quot;&gt;JS&lt;/abbr&gt;.&lt;/p&gt;</code></pre>
    <div class="demo">
      <p>The quintessential of front-end development includes <abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Stylessheets">CSS</abbr> and <abbr title="JavaScript">JS</abbr>.</p>
    </div>
  </li>
</ul>

<h2 class="docs-header">Typographic Classes</h2>
<p>In addition to our inline elements, BaseWeb provides these stylistic typographic classes for adding flair and visual depth to your documents.</p>

<ul class="docs-list">
  <li>
    <h3 class="docs-header">.text-lead</h3>
    <pre><code>&lt;p class="text-lead"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-lead">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-small</h3>
    <pre><code>&lt;p class="text-small"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-small">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-soften</h3>
    <pre><code>&lt;p class="text-soften"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-soften">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-harden</h3>
    <pre><code>&lt;p class="text-harden"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-harden">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.text-left</h3>
    <pre><code>&lt;p class="text-left"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-left">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-center</h3>
    <pre><code>&lt;p class="text-center"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-center">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-right</h3>
    <pre><code>&lt;p class="text-right"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-right">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-justify</h3>
    <pre><code>&lt;p class="text-justify"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-justify">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.text-nowrap</h3>
    <pre><code>&lt;p class="text-nowrap"&gt;...&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-nowrap">Cras ullamcorper, massa sed commodo fermentum, neque tellus pharetra est, eu volutpat nibh ante eu mauris. Quisque auctor consequat dui. Nam non ante at nibh egestas feugiat. Praesent tincidunt rhoncus justo in placerat.</p>
    </div>
  </li>
  
  <li>
    <h3 class="docs-header">.text-lowercase</h3>
    <pre><code>&lt;p class="text-lowercase"&gt;Lowercase text goes here.&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-lowercase">Lowercase text goes here.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-uppercase</h3>
    <pre><code>&lt;p class="text-uppercase"&gt;Uppercase text goes here.&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-uppercase">Uppercase text goes here.</p>
    </div>
  </li>
  <li>
    <h3 class="docs-header">.text-capitalize</h3>
    <pre><code>&lt;p class="text-capitalize"&gt;Capitalize text goes here.&lt;/p&gt;</code></pre>
    <div class="demo">
      <p class="text-capitalize">Capitalize text goes here.</p>
    </div>
  </li>
</ul>
