/*==============================================================================
  @Mobile Grid System
==============================================================================*/

@include build-grid-system(mobile);

/*==============================================================================
  @Grid System
==============================================================================*/

@include media-min('tablet') {
  @include build-grid-system();
}

/*==============================================================================
  @Structure
==============================================================================*/

body {
  background: $gray-pale;
}
.row {
  position: relative;
}
.sidebar {
  position: relative;
}
.content {
  margin: 0;
  padding: 0 0 20px 0;
}

@include media-min('tablet') {
  .sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    bottom: 0;
  }
  .content {
    margin: 0 0 0 300px;
    padding: 0 0 160px 60px;
  }
}

/**
 * Hide elements we will use JS to reveal
 */
.nav .subnav,
.content .subpage {
  display: none;
}

/*
 * Smooth State Page Transitions
 */
.m-scene .scene_element {
  @include animation(fadeIn 0.25s linear 0 normal both);
}
.m-scene.is-exiting .scene_element {
  @include animation-direction(alternate-reverse);
}

/*
 * Keyframes
 */
@include keyframes('fadeIn') {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*==============================================================================
  @Header
==============================================================================*/

.header {
  position: relative;
  z-index: 10;
  padding: 20px 0;
}
.header h1 {
  margin: 0 auto;
  @include clearfix();
}
.header .logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: 100%;
  overflow: hidden;
  border: 0 none;
  background: url('../img/baseweb-logo-small.svg') no-repeat left center;
  background-size: 187px 40px;
  @include size(187px, 40px);
}

@include media-min('tablet') {
  .header {
    padding: 60px 0;
  }
  .header .logo {
    float: left;
    margin: 0;
  }
}

/*==============================================================================
  @Navigation
==============================================================================*/

.nav {
  position: relative;
  margin: 10px 0;
}
.nav ul {
  width: 50%;
  margin: 0;
  list-style: none;
}
.nav ul li {
  margin: 0;
  border-bottom: 1px solid rgba($black, 0.1);
}
.nav ul li:first-child {
  border-top: 1px solid rgba($black, 0.1);
}
.nav ul li a {
  display: block;
  padding: 10px;
  background: transparent;
  color: $color;
  border: 0 none;
  
  &:hover {
    background-clip: padding-box;
    color: $red;
  }
}
.nav ul li.active > a {
  color: $red;
}

/**
 * Primary Nav
 */
.nav .rootnav {
  width: column_width(6);
  padding-right: 10px;
}

/**
 * Secondary Nav
 */
.nav .subnav {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 10px;
  height: 100%;
  @include scrollable();
}

@include media-min('tablet') {
  .nav .subnav {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
    height: auto;
  }
}

/*==============================================================================
  @Toolbar
==============================================================================*/

.toolbar {
  padding: 20px 0;
  line-height: 42px;
  text-align: center;
}
.toolbar .version {
  display: none;
  color: $color-light;
}
.toolbar .btn {
  padding: 15px 30px;
}

@include media-min('tablet') {
  .toolbar {
    padding: 59px 0;
    text-align: right;
  }
  .toolbar .version {
    display: inline-block;
  }
  .toolbar .btn {
    margin-left: 20px;
    padding: 10px 20px;
  }
}

/*==============================================================================
  @Content
==============================================================================*/

h1.docs-header {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
}
h2.docs-header {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}
h3.docs-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

hr.docs-hr {
  margin: 30px 0;
}

/**
 * Custom Code Blocks
 */
.docs-code {
  .name,
  .desc {
    display: block;
    margin: 0;
  }
  .name {
    color: $red-violet;
  }
  .desc {
    color: $color;
  }
}
