/*==============================================================================
  @Mobile Grid System
==============================================================================*/

@include build-grid-system(mobile);

/*==============================================================================
  @Grid System
==============================================================================*/

@include media-min('tablet') {
  @include build-grid-system();
}

////////////////////////////////////////////////////////////////////////////////
// @Docs Mixins
////////////////////////////////////////////////////////////////////////////////

@mixin baseweb-logo($type) {
  
  @if ($type == 'vert-black') {
    background: url('../img/baseweb-vert-black.svg') no-repeat left center;
    background-size: 166px 100px;
    @include size(166px, 100px);
  } @else if ($type == 'vert-white') {
    background: url('../img/baseweb-vert-white.svg') no-repeat left center;
    background-size: 166px 100px;
    @include size(166px, 100px);
  } @else if ($type == 'hori-black') {
    background: url('../img/baseweb-hori-black.svg') no-repeat left center;
    background-size: 189px 40px;
    @include size(189px, 40px);
  } @else if ($type == 'hori-white') {
    background: url('../img/baseweb-hori-white.svg') no-repeat left center;
    background-size: 189px 40px;
    @include size(189px, 40px);
  } @else if ($type == 'hori-black-small') {
    background: url('../img/baseweb-hori-black.svg') no-repeat left center;
    background-size: 142px 30px;
    @include size(142px, 30px);
  } @else if ($type == 'hori-white-small') {
    background: url('../img/baseweb-hori-white.svg') no-repeat left center;
    background-size: 142px 30px;
    @include size(142px, 30px);
  }
  
}

/*==============================================================================
  @Structure
==============================================================================*/

html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  background: $color-dark;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.template {
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 0;
  overflow: auto;
}
.inner-header {
  position: relative;
  padding: 30px 0 30px 30px;
}

.main {
  position: relative;
  min-height: 100%;
  margin: 0 0 0 300px;
  padding: 0;
  background: $gray-pale;
}
.content {
  position: relative;
  margin: 0;
}
.content-inner {
  max-width: 700px;
}

/**
 * Pages
 */
.content .page {
  padding: 4.5em 9em 9em;
}
.content .rootpage {

}
.content .subpage {
  display: none; // Hide because we show these pages with JS
}

/**
 * Vertical Size and Position
 */
@include media-min('tablet') {
  .vertical-half {
    position: relative;
    height: 50%;
    margin: 0;
    padding: 0;
  }
  .vertical-full {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .vertical-center {
    @include vertical-center();
  }
}

/*==============================================================================
  @Header
==============================================================================*/

.header {
  font-size: px-to-em(14px);
  line-height: px-to-rem(20px);
  color: $color-light;
}
.header .container {
  position: relative;
}

/**
 * Logo
 */
.header h1 {
  margin: 0 0 30px;
  padding: 30px 30px 30px 0;
  @include clearfix();
}
.header h1 .logo {
  display: block;
  margin: 0;
  padding: 0;
  border: 0 none;
  @include baseweb-logo('hori-white');
  @include text-hide();
}

/**
 * Action
 */
.header .action {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  font-size: 0;
}
.header .action p {
  font-size: 0.9rem;
  color: $color;
  text-align: center;
}
.header .action .btn {
  display: block;
  margin: 0 0 10px 0;
  background-clip: padding-box;

  &:last-child {
    margin-bottom: 0;
  }
}

/*==============================================================================
  @Navigation
==============================================================================*/

.nav {
  float: none;
}
.nav ul {
  display: block;
  margin: 0;
  list-style: none;
}
.nav ul li {
  margin: 0;
}
.nav ul li a {
  display: block;
  padding: 10px 0;
  color: $color-light;
  background: none;
  border: 0 none;
  @include border-radius(0);
  
  .icon {
    opacity: 0.5;
    margin-right: 5px;
    @include transition();
  }
}
.nav ul li a:hover {
  color: $white;
  
  .icon {
    opacity: 1;
  }
}
.nav ul li.active > a {
  color: $white;
  
  .icon {
    opacity: 1;
  }
}

/**
 * Root Nav
 */
.nav > ul.root-nav {
  padding-bottom: 40px;
}
.nav > ul.root-nav > li:first-child > a {
  color: $color-light;
  
  &:hover {
    color: $white;
  }
}
.nav > ul > li {
  border-top: 1px solid rgba($white, 0.1);
  
  &:first-child {
    border-top: 0 none;
  }
}

/**
 * Sub Nav
 */
.nav ul ul {
  padding: 0 0 5px 10px;
}
.nav ul ul > li {
  margin: 0;
}
.nav ul ul > li > a {
  padding: 5px 10px;
}

/**
 * Subnav Display
 */
.nav ul ul {
  display: none;
}
.nav ul .active > ul {
  display: block;
}

/*==============================================================================
  @Icons
==============================================================================*/

.icon {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.icon-folder {
  background: url("../img/icon-folder-white.svg") no-repeat center center;
  background-size: 20px 20px;
  
  &.dark {
    background: url("../img/icon-folder-black.svg") no-repeat center center;
  }
  &.light {
    background: url("../img/icon-folder-white.svg") no-repeat center center;
  }
}
.icon-file {
  background: url("../img/icon-file-white.svg") no-repeat center center;
  background-size: 20px 20px;
  
  &.dark {
    background: url("../img/icon-file-black.svg") no-repeat center center;
  }
  &.light {
    background: url("../img/icon-file-white.svg") no-repeat center center;
  }
}

/*==============================================================================
  @Content
==============================================================================*/

/**
 * Page
 */
.page {
  .breadcrumb {
    margin: 0;
  }
  h1 {
    margin-top: 0;
  }
}

/**
 * Rootpage
 */
.rootpage {
  
}

/**
 * Subpage
 */
.subpage {
  
}

/**
 * Docs List
 */
.docs-list,
.docs-list-hover {
  list-style: none;
}

.docs-list {
  margin: 1.5em 0;
}
.docs-list-hover {
  margin: 1.5rem 0;
  
  li {
    padding: 1.5rem;
    margin: .75rem 0;
    background: rgba($white, 0.75);
    @include border-radius();
  }
}

/**
 * Unique List Content
 */
.docs-list-hover {
  
  li {
    overflow: auto;
    
    &.list-sep {
      border-top: 1px solid rgba($black, 0.1);
    }
  }
  
  .title {
    padding: 20px;
    font-size: px-to-em(18px);
    line-height: 1.5em;
    color: $color-dark;
    background: rgba($white, 0.75);
    @include font-weight('medium');
  }
  
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .block {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted rgba($black, 0.2);
    @include clearfix();
  }
  
  .value {
    color: $color-dark;
  }
  .light {
    color: $gray-light;
  }
  
  .swatch,
  .box-border-radius {
    margin: -5px -5px -5px 0;
  }
  
  code {
    margin: 0;
    padding: 0;
    background: transparent;
  }
}

/**
 * Docs Tables
 */
.docs-table {
  @include make-table-base(('margin': 20px 0, 'padding': 15px 10px));
  @include make-table-rowed();
    
  th {
    font-size: 18px;
    line-height: 26px;
    color: $color-dark;
  }
  code {
    margin: 0;
    padding: 0;
    background: transparent;
  }
}

.docs-table-responsive {
  @include make-table-responsive(('margin': 20px 0));
}

/*==============================================================================
  @Footer
==============================================================================*/

.footer {
  color: $color-light;
}

