/*==============================================================================
  @ Swatches
==============================================================================*/

.swatch {
  display: inline-block;
  background: $black;
  @include size(30px);
  @include border-radius();
}

// Other
.swatch-black {
  background: $black;
}
.swatch-white {
  background: $white;
}

// Gray
.swatch-gray-pale {
  background: $gray-pale;
}
.swatch-gray-lighter {
  background: $gray-lighter;
}
.swatch-gray-light {
  background: $gray-light;
}
.swatch-gray {
  background: $gray;
}
.swatch-gray-dark {
  background: $gray-dark;
}
.swatch-gray-darker {
  background: $gray-darker;
}

// Red
.swatch-red-pale {
  background: $red-pale;
}
.swatch-red-lighter {
  background: $red-lighter;
}
.swatch-red-light {
  background: $red-light;
}
.swatch-red {
  background: $red;
}
.swatch-red-dark {
  background: $red-dark;
}
.swatch-red-darker {
  background: $red-darker;
}

// Red Orange
.swatch-red-orange-pale {
  background: $red-orange-pale;
}
.swatch-red-orange-lighter {
  background: $red-orange-lighter;
}
.swatch-red-orange-light {
  background: $red-orange-light;
}
.swatch-red-orange {
  background: $red-orange;
}
.swatch-red-orange-dark {
  background: $red-orange-dark;
}
.swatch-red-orange-darker {
  background: $red-orange-darker;
}

// Orange
.swatch-orange-pale {
  background: $orange-pale;
}
.swatch-orange-lighter {
  background: $orange-lighter;
}
.swatch-orange-light {
  background: $orange-light;
}
.swatch-orange {
  background: $orange;
}
.swatch-orange-dark {
  background: $orange-dark;
}
.swatch-orange-darker {
  background: $orange-darker;
}

// Yellow Orange
.swatch-yellow-orange-pale {
  background: $yellow-orange-pale;
}
.swatch-yellow-orange-lighter {
  background: $yellow-orange-lighter;
}
.swatch-yellow-orange-light {
  background: $yellow-orange-light;
}
.swatch-yellow-orange {
  background: $yellow-orange;
}
.swatch-yellow-orange-dark {
  background: $yellow-orange-dark;
}
.swatch-yellow-orange-darker {
  background: $yellow-orange-darker;
}

// Yellow
.swatch-yellow-pale {
  background: $yellow-pale;
}
.swatch-yellow-lighter {
  background: $yellow-lighter;
}
.swatch-yellow-light {
  background: $yellow-light;
}
.swatch-yellow {
  background: $yellow;
}
.swatch-yellow-dark {
  background: $yellow-dark;
}
.swatch-yellow-darker {
  background: $yellow-darker;
}

// Yellow Green
.swatch-yellow-green-pale {
  background: $yellow-green-pale;
}
.swatch-yellow-green-lighter {
  background: $yellow-green-lighter;
}
.swatch-yellow-green-light {
  background: $yellow-green-light;
}
.swatch-yellow-green {
  background: $yellow-green;
}
.swatch-yellow-green-dark {
  background: $yellow-green-dark;
}
.swatch-yellow-green-darker {
  background: $yellow-green-darker;
}

// Green
.swatch-green-pale {
  background: $green-pale;
}
.swatch-green-lighter {
  background: $green-lighter;
}
.swatch-green-light {
  background: $green-light;
}
.swatch-green {
  background: $green;
}
.swatch-green-dark {
  background: $green-dark;
}
.swatch-green-darker {
  background: $green-darker;
}

// Blue Green
.swatch-blue-green-pale {
  background: $blue-green-pale;
}
.swatch-blue-green-lighter {
  background: $blue-green-lighter;
}
.swatch-blue-green-light {
  background: $blue-green-light;
}
.swatch-blue-green {
  background: $blue-green;
}
.swatch-blue-green-dark {
  background: $blue-green-dark;
}
.swatch-blue-green-darker {
  background: $blue-green-darker;
}

// Blue
.swatch-blue-pale {
  background: $blue-pale;
}
.swatch-blue-lighter {
  background: $blue-lighter;
}
.swatch-blue-light {
  background: $blue-light;
}
.swatch-blue {
  background: $blue;
}
.swatch-blue-dark {
  background: $blue-dark;
}
.swatch-blue-darker {
  background: $blue-darker;
}

// Blue Violet
.swatch-blue-violet-pale {
  background: $blue-violet-pale;
}
.swatch-blue-violet-lighter {
  background: $blue-violet-lighter;
}
.swatch-blue-violet-light {
  background: $blue-violet-light;
}
.swatch-blue-violet {
  background: $blue-violet;
}
.swatch-blue-violet-dark {
  background: $blue-violet-dark;
}
.swatch-blue-violet-darker {
  background: $blue-violet-darker;
}

// Violet
.swatch-violet-pale {
  background: $violet-pale;
}
.swatch-violet-lighter {
  background: $violet-lighter;
}
.swatch-violet-light {
  background: $violet-light;
}
.swatch-violet {
  background: $violet;
}
.swatch-violet-dark {
  background: $violet-dark;
}
.swatch-violet-darker {
  background: $violet-darker;
}

// Red Violet
.swatch-red-violet-pale {
  background: $red-violet-pale;
}
.swatch-red-violet-lighter {
  background: $red-violet-lighter;
}
.swatch-red-violet-light {
  background: $red-violet-light;
}
.swatch-red-violet {
  background: $red-violet;
}
.swatch-red-violet-dark {
  background: $red-violet-dark;
}
.swatch-red-violet-darker {
  background: $red-violet-darker;
}

// Other
.swatch-bg-color {
  background: $bg-color;
}
.swatch-bg-selection {
  background: $bg-selection;
}
.swatch-border-color {
  background: $border-color;
}
.swatch-border-color-hover {
  background: $border-color-hover;
}
