/*==============================================================================
  @Mobile Grid System
==============================================================================*/

@include build-mobile-grid-system();

/*==============================================================================
  @Grid System
==============================================================================*/

@include media-min('tablet') {
  @include build-grid-system();
}

/*==============================================================================
  @Structure
==============================================================================*/

body {
  background: $gray-pale;
  color: $color;
}

.main {
  position: relative;
}

.loader {
  background-color: $red;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}

.page-docs {
  position: relative;
  z-index: 5;
}
.page-home {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  color: $white;
}
.page-home .container {
  position: relative;
  z-index: 10;
}
.page-home .gradient-background {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.is_home .page-home {
  display: block;
}

/**
 * Subpages
 */
.subpage {
  display: none;
}

/**
 * Page Animations
 */
.scene .scene_element {
  @include animation-duration(0.25s);
  @include animation-timing-function(ease-in);
  @include animation-fill-mode(both);
  @include animation-name(fadeIn);
}
.scene.is-exiting .scene_element {
  @include animation-direction(alternate-reverse);
}

@include keyframes('fadeIn') {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/**
 * Animated Background Color
 */
.gradient-background {
  @include animation(colorchange 40s linear 1s infinite alternate-reverse);
  @include linear-gradient(top, rgba($black, 0.1), rgba($black, 0));
  background-color: $red;
}

@include keyframes('colorchange') {
  0%   { background-color: $red; }
  8%   { background-color: $red-orange; }
  16%  { background-color: $orange; }
  25%  { background-color: $yellow-orange; }
  33%  { background-color: $yellow; }
  41%  { background-color: $yellow-green; }
  50%  { background-color: $green; }
  58%  { background-color: $blue-green; }
  66%  { background-color: $blue; }
  75%  { background-color: $blue-violet; }
  83%  { background-color: $violet; }
  92%  { background-color: $red-violet; }
  100% { background-color: $red; }
}

/*==============================================================================
  @Header
==============================================================================*/

.header {
  position: relative;
  z-index: 10;
  padding: 60px 0;
}
.header h1 {
  margin: 0;
  @include clearfix();
}

.header .logo {
  background: url('../img/baseweb-logo-black.png') no-repeat left center;
  display: block;
  float: left;
  padding: 6px 0 6px 80px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: $color;
  
  &:hover {
    opacity: 0.5;
    color: $color;
  }
}

.is_home .header,
.is_home .mainnav {
  opacity: 0;
}
.is_home .page-home .header,
.is_home .page-home .mainnav {
  opacity: 1;
}

.page-home .header .logo {
  background: url('../img/baseweb-logo-white.png') no-repeat left center;
  color: #fff;
  
  &:hover {
    color: #fff;
  }
}

/*==============================================================================
  @Navigation
==============================================================================*/

/**
 * Docs Navigation
 */
.nav {
  margin: 10px 0;
  list-style: none;
  border-top: 1px solid rgba($black, 0.1);
}
.nav li {
  margin: 0;
  border-bottom: 1px solid rgba($black, 0.1);
  @include clearfix();
}
.nav li a {
  display: block;
  padding: 10px;
  background: transparent;
  color: $color;
  border: 0 none;
  
  &:hover {
    // background: rgba($white, 0.5);
    background-clip: padding-box;
    color: $red;
  }
}
.nav li.active a {
  color: $red;
}

/**
 * Home Navigation
 */
.page-home .nav {
  margin: 0;
  list-style: none;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  border-top: 1px solid rgba($white, 0.2);
}
.page-home .nav li {
  margin: 0;
  border-bottom: 1px solid rgba($white, 0.2);
}
.page-home .nav li a {
  display: block;
  padding: 10px 20px;
  border: 0 none;
  background: rgba(0,0,0, 0);
  color: $white;
  @include border-radius();
  
  &:hover {
    color: $white;
    background: rgba(0,0,0, 0.05);
  }
}

/*==============================================================================
  @Content
==============================================================================*/

.content {
  padding-bottom: 100px;
}

h1.docs-header {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
}
h2.docs-header {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}
h3.docs-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

/**
 * Buttons
 */
.page-home .intro {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 26px;
}
.page-home .action {
  margin: 30px 0 0;
}
.page-home .action a {
  display: inline-block;
  height: auto;
  padding: 15px 45px;
  border: 1px solid rgba(255,255,255, 0.5);
  color: $white;
  font-weight: 600;
  @include border-radius();
  
  &:hover {
    border-color: rgba(255,255,255, 1);
    color: $white;
  }
}


/*==============================================================================
  @Variables, Functions & Mixins
==============================================================================*/

/**
 * General
 */
ul.variables,
ul.functions,
ul.mixins,
ul.mixins-listing {
  list-style: none;
  margin: 30px 0;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
}
ul.variables > li,
ul.functions > li,
ul.mixins > li,
ul.mixins-listing > li {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0, 0.1);
  background: transparent;
  background-clip: padding-box;
  @include clearfix();
  @include transition(background 0.25s linear);
}

/**
 * Variables
 */
ul.variables > li {
  padding: 10px;
  
  &:hover {
    background: rgba($white, 0.5);
    background-clip: padding-box;
  }
}
ul.variables > li code {
  margin: 0;
  padding: 5px 0;
  background: transparent;
}
ul.variables > li.title {
  padding: 10px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  
  &:hover {
    background: transparent;
  }
}
ul.variables > li .swatch,
ul.variables > li .value {
  float: right;
}
ul.variables > li .value {
  color: $blue-green-darker;
}
ul.variables > li.large .value {
  float: none;
  display: block;
  margin-top: -10px;
  white-space: normal;
}

/**
 * Function & Mixin Code Blocks
 */
pre.function .function-name,
pre.function .function-desc,
pre.mixin .mixin-name,
pre.mixin .mixin-desc {
  display: block;
  margin: 0;
}
pre.function .function-name,
pre.mixin .mixin-name {
  color: $red-violet;
}
pre.function .function-desc,
pre.mixin .mixin-desc {
  color: $color;
}

/**
 * Mixins Listing
 */
ul.mixins-listing {
  &:last-child {
    margin-bottom: 10px;
    border-bottom: 0 none;
  }
}
ul.mixins-listing > li {
  padding: 10px;
  
  &:hover {
    background: rgba($white, 0.5);
    background-clip: padding-box;
  }
}
ul.mixins-listing > li code {
  margin: 0;
  padding: 5px 0;
  background: transparent;
}
ul.mixins-listing > li.title,
ul.mixins-listing > li.desc {
  
  &:hover {
    background: transparent;
  }
}
ul.mixins-listing > li.title {
  padding: 10px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}
ul.mixins-listing > li.desc {
  padding: 5px 10px;
}
ul.mixins-listing > li.desc p {
  margin: 5px 0;
}
ul.mixins-listing > li pre.mixin {
  padding: 0;
  margin: 0;
  background: none;
}
ul.mixins-listing > li pre.mixin .mixin-desc {
  margin-top: -10px;
}

/*==============================================================================
  @Variables, Functions & Mixins
==============================================================================*/

.grid-example {
  margin: 30px 0;
}
.grid-example .col p {
  margin: 0;
  padding: 15px 20px;
  
  background: $bg-color;
  
  font-family: $font-family-mono;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  
  @include border-radius();
}
