////////////////////////////////////////////////////////////////////////////////
// @Mixin Documentation Variables
////////////////////////////////////////////////////////////////////////////////

$radius-example: 50%;

/*==============================================================================
  @Examples
==============================================================================*/

/**
 * Grid System
 */
.grid-example {
  margin: 20px 0;
}
.grid-example .col {
  margin: 10px 0;
}
.grid-example .col p {
  margin: 0;
  padding: 15px 20px;
  
  background: $bg-color;
  
  font-family: $font-family-mono;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  
  @include border-radius();
}

/*==============================================================================
  @ Mixin Documentation Styles
==============================================================================*/

/**
 * Demo Blocks
 * Used for wrapping demo block examples
 */
.demo {
  margin: 20px 0;
  padding: 10px 20px;
  overflow: auto;
  background: rgba($white, 0.5);
  @include border-radius();
}
.demo blockquote,
.demo pre,
.demo table {
  margin: 10px 0;
}

/**
 * Demo Example
 * Used for inline demo examples
 */
.demo-example {
  background: $yellow-green-darker;
  @include border-radius();
  @include size(50px);
}

/**
 * Border Radius
 */
.demo-border-radius {
  display: inline-block;
  background: $yellow-green-dark;
  @include size(30px);
}

.mixin-border-radius {
  @include border-radius($radius-example);
}

.mixin-border-radius-top {
  @include border-radius-top($radius-example);
}
.mixin-border-radius-top-left {
  @include border-radius-top-left($radius-example);
}
.mixin-border-radius-top-right {
  @include border-radius-top-right($radius-example);
}

.mixin-border-radius-bottom {
  @include border-radius-bottom($radius-example);
}
.mixin-border-radius-bottom-left {
  @include border-radius-bottom-left($radius-example);
}
.mixin-border-radius-bottom-right {
  @include border-radius-bottom-right($radius-example);
}

.mixin-border-radius-left {
  @include border-radius-left($radius-example);
}
.mixin-border-radius-left-top {
  @include border-radius-left-top($radius-example);
}
.mixin-border-radius-left-bottom {
  @include border-radius-left-bottom($radius-example);
}

.mixin-border-radius-right {
  @include border-radius-right($radius-example);
}
.mixin-border-radius-right-top {
  @include border-radius-right-top($radius-example);
}
.mixin-border-radius-right-bottom {
  @include border-radius-right-bottom($radius-example);
}

/**
 * Rotate
 */
.demo-rotate {
  background: $blue-darker;
  margin: 20px auto;
  @include rotate(45deg);
}

/**
 * Transition
 */
.demo-transition {
  margin: 10px auto;
  background-color: $blue-green-darker;
  @include transition();
}
.demo-transition:hover {
  background-color: $red-violet;
}

/**
 * Animations
 */
@include keyframes('example') {
  0%   { background-color: $red; }
  50%  { background-color: $blue; }
  100% { background-color: $red; }
}
.demo-animation {
  margin: 10px auto;
  background-color: $red;
  @include animation(example 10s linear 1s infinite normal);
}

/**
 * Gradient
 */
.demo-linear-gradient {
  margin: 10px auto;
  width: auto;
  @include linear-gradient(left, $green, $blue, $violet);
}
.demo-radial-gradient {
  margin: 10px auto;
  @include size(80px);
  @include radial-gradient(circle, $violet, $violet-darker);
}

/**
 * Text
 */
.demo-text-truncate {
  background: $blue-green-darker;
  width: 200px;
  max-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  color: $white;
  @include box-sizing(border-box);
  @include border-radius();
  @include text-truncate();
}

/**
 * Triangle
 */
.demo-triangle .col {
  text-align: center;
}
%triangle {
  @include triangle-base();
  vertical-align: middle;
  margin: 10px 0;
}
.example-triangle-1 {
  @include triangle( 14px, $blue-darker, 'left' );
}
.example-triangle-2 {
  @include triangle( 14px, $blue-violet-darker, 'down' );
  margin: 15px 0;
}
.example-triangle-3 {
  @include triangle( 14px, $violet-darker, 'right' );
}
