/*==============================================================================
  @Home Structure
==============================================================================*/

html,
body {
  height: 100%;
  min-height: 100%;
}

.home {
  border: 0 none;
  
  .wrapper {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .header,
  .content {
    position: relative;
    z-index: auto;
    margin: 0;
    padding: 40px 0;
  }
}

@include media-min('tablet') {
  .vertical-half {
    height: 50%;
    margin: 0;
    padding: 0;
    @include transform-style(preserve-3d);
  }
  .vertical-full {
    height: 100%;
    margin: 0;
    padding: 0;
    @include transform-style(preserve-3d);
  }
  .vertical-center {
    @include vertical-center();
  }
}

/**
 * Content Arrow
 */
%home-triangle {
  @include make-triangle-base();
}
.content-arrow {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  // background: $violet;
  // @extend %triangle;
  // @include make-triangle(50px, $red, 'down');
  
  &:before {
    @extend %home-triangle;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 0;
  }
  &:after {
    @extend %home-triangle;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
  }
}

.content-inro .content-arrow {
  // &:before { @include make-triangle(50px, $gray-pale, 'down'); }
  &:after  { @include make-triangle(10px, $color, 'down'); }
}
.content-about .content-arrow {
  // &:before { @include make-triangle(50px, $gray-pale-alt, 'down'); }
  // &:after  { @include make-triangle(10px, $gray-pale, 'down'); }
}

/*==============================================================================
  @Home Header
==============================================================================*/

.home {
  
  .header {
    background: $color;
  }
  .header .logo {
    display: block;
    float: none;
    margin: 0 auto;
    background-image: url('../img/baseweb-logo-large.svg');
    background-size: 125px 75px;
    @include size(125px, 75px);
  }
  
  @include media-min('mobile') {
    .header .logo {
      background-image: url('../img/baseweb-logo-large.svg');
      background-size: 160px 97px;
      @include size(160px, 97px);
    }
  }
  
  @include media-min('tablet') {
    .header .logo {
      background-image: url('../img/baseweb-logo-large.svg');
      background-size: 240px 145px;
      @include size(240px, 145px);
    }
  }
}

/*==============================================================================
  @Home Navigation
==============================================================================*/

.home {
  
  .nav {
    font-size: 0;
    line-height: 0;
  }
  .nav .rootnav {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    @include border-radius();
  }
  .nav .rootnav > li {
    display: inline-block;
    border-top: 0 none;
    border-bottom: 0 none;
    font-size: 0;
    line-height: 0;
    
    &:first-child {
      border-left: 0 none;
    }
  }
  .nav .rootnav > li {
    
    > a {
      position: relative;
      z-index: 1;
      margin: 0 0 0 -1px;
      padding: 15px 30px;
      background: none;
      border: 1px solid #d5d5d5;
      font-size: 14px;
      line-height: 20px;
    }
    
    > a:hover {
      z-index: 2;
      background: rgba($white, 0.5);
      border-color: #bdbdbd;
      color: $color;
    }
    
    > &:first-child a {
      margin: 0;
      @include border-radius-left();
    }
    > &:last-child a {
      @include border-radius-right();
    }
  }
}

/*==============================================================================
  @Home Content
==============================================================================*/

.home {
  
  .content {
    text-align: center;
  }
  .content .text-lead {
    margin: 0 0 40px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
  }
  
  @include media-min('mobile') {
    .content .text-lead {
      padding: 0 40px;
      font-size: 22px;
      line-height: 30px;
    }
  }
  
  @include media-min('tablet') {
    .content .text-lead {
      padding: 0 60px;
      font-size: 26px;
      line-height: 36px;
    }
  }
  
  .actions {
    margin: 0;
    text-align: center;
  }
  .actions .version {
    color: $color-light;
  }
  
  .actions .btn-group {
    position: relative;
    margin: 0;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
  }
  .actions .btn {
    position: relative;
    z-index: 1;
    margin: 0 0 0 -1px;
    padding: 15px;
    background: none;
    border: 1px solid #ccc;
    color: $color;
    @include border-radius(0);
    
    &:hover {
      z-index: 2;
      background: rgba($black, 0.05);
      border-color: #aaa;
    }
    
    &:first-child {
      margin: 0;
      @include border-radius-left();
    }
    &:last-child {
      @include border-radius-right();
    }
  }
  
  .actions .btn-group {
    width: 100%;
  }
  .actions .btn {
    padding: 15px;
    
    &:first-child {
      width: 45%;
    }
    &:last-child {
      width: 55%;
    }
  }
  
  @include media-min('mobile') {
    
    .actions .btn-group {
      width: auto;
    }
    .actions .btn {
      padding: 15px 30px;
      
      &:first-child {
        width: auto;
      }
      &:last-child {
        width: auto;
      }
    }
    
  }
}

/*==============================================================================
  @Home About
==============================================================================*/

.home {
  
  .content-about {
    padding: 100px 0;
    background: $gray-pale-alt;
  }
  
}
