/*==============================================================================
  @Home Structure
==============================================================================*/

html,
body {
  height: 100%;
  min-height: 100%;
}

.home {
  border: 0 none;
  
  .wrapper {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .header,
  .content {
    position: relative;
    z-index: auto;
    margin: 0;
    padding: 40px 0;
  }
}

@include media-min('tablet') {
  .vertical-half {
    height: 50%;
    margin: 0;
    padding: 0;
    @include transform-style(preserve-3d);
  }
  .vertical-full {
    height: 100%;
    margin: 0;
    padding: 0;
    @include transform-style(preserve-3d);
  }
  .vertical-center {
    @include vertical-center();
  }
}

/**
 * Content Arrow
 */
%home-triangle {
  @include make-triangle-base();
}
.content-arrow {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  // background: $violet;
  // @extend %triangle;
  // @include make-triangle(50px, $red, 'down');
  
  &:before {
    @extend %home-triangle;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 0;
  }
  &:after {
    @extend %home-triangle;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
  }
}

.content-inro .content-arrow {
  // &:before { @include make-triangle(50px, $gray-pale, 'down'); }
  &:after  { @include make-triangle(10px, $color, 'down'); }
}
.content-about .content-arrow {
  // &:before { @include make-triangle(50px, $gray-pale-alt, 'down'); }
  // &:after  { @include make-triangle(10px, $gray-pale, 'down'); }
}

/*==============================================================================
  @Home Header
==============================================================================*/

.home {
  
  .header {
    background: $color;
    text-align: center;
  }
  .header .logo {
    display: block;
    float: none;
    margin: 0 auto;
    background-image: url('../img/baseweb-logo-large.svg');
    background-size: 125px 75px;
    @include size(125px, 75px);
  }
  .header .version {
    display: inline-block;
    margin: 20px 0 0;
    color: rgba($white, 0.25);
  }
  
  @include media-min('mobile') {
    .header .logo {
      background-image: url('../img/baseweb-logo-large.svg');
      background-size: 160px 97px;
      @include size(160px, 97px);
    }
  }
  
  @include media-min('tablet') {
    .header .logo {
      background-image: url('../img/baseweb-logo-large.svg');
      background-size: 240px 145px;
      @include size(240px, 145px);
    }
  }
}

/*==============================================================================
  @Home Navigation
==============================================================================*/

.home {
  
  .nav {
    display: block;
    float: none;
    margin: 0;
  }
  .nav ul li {
    display: inline-block;
    float: none;
  }
  .nav ul li a {
    display: inline-block;
  }
  
}

/*==============================================================================
  @Home Content
==============================================================================*/

.home {
  
  // Lead Content
  .content {
    text-align: center;
  }
  .content .text-lead {
    margin: 0 0 40px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
  }
  
  @include media-min('mobile') {
    .content .text-lead {
      padding: 0 40px;
      font-size: 22px;
      line-height: 30px;
    }
  }
  
  @include media-min('tablet') {
    .content .text-lead {
      padding: 0 60px;
      font-size: 26px;
      line-height: 36px;
    }
  }
  
}

/*==============================================================================
  @Home About
==============================================================================*/

.home {
  
  .content-about {
    padding: 100px 0;
    background: $gray-pale-alt;
  }
  
}
