/*==============================================================================
  @Home Structure
==============================================================================*/

.template-home {
  
  .wrapper {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .header,
  .main {
    position: relative;
    z-index: auto;
    margin: 0;
  }
  .header {
    padding: 40px 0;
  }
  .main {
    padding: 40px 0 20px;
  }
  
  @include media-min('tablet') {
    .main {
      padding: 40px 0;
    }
  }
}

/**
 * Content Arrow
 */
%home-triangle {
  @include make-triangle-base();
}
.arrow {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  
  &:before {
    @extend %home-triangle;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 0;
  }
  &:after {
    @extend %home-triangle;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
  }
}

.main-inro .arrow {
  &:after  { @include make-triangle(10px, $color-dark, 'down'); }
}

/*==============================================================================
  @Home Header
==============================================================================*/

.template-home {
  
  .header {
    background: $color-dark;
    text-align: center;
  }
  .header h1 {
    float: none;
    margin: 0 auto;
  }
  .header h1 .logo {
    display: block;
    float: none;
    margin: 0 auto;
    background-image: url('../img/baseweb-vert-white.svg');
    background-size: 125px 75px;
    @include size(125px, 75px);
  }
  .header .version {
    display: inline-block;
    margin: 10px 0 0;
    color: rgba($white, 0.25);
  }
  
  @include media-min('mobile') {
    .header h1 .logo {
      background-image: url('../img/baseweb-vert-white.svg');
      background-size: 160px 97px;
      @include size(160px, 97px);
    }
  }
  
  @include media-min('tablet') {
    .header .version {
      margin: 20px 0 0;
    }
    .header h1 .logo {
      background-image: url('../img/baseweb-vert-white.svg');
      background-size: 240px 145px;
      @include size(240px, 145px);
    }
  }
}

/*==============================================================================
  @Home Content
==============================================================================*/

.template-home {
  
  .main {
    text-align: center;
  }
  .main .text-lead {
    margin: 0 0 40px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
  }
  
  @include media-min('mobile') {
    .main .text-lead {
      padding: 0 40px;
      font-size: 22px;
      line-height: 30px;
    }
  }
  
  @include media-min('tablet') {
    .main .text-lead {
      padding: 0 60px;
      font-size: 26px;
      line-height: 36px;
    }
  }
  
}

/*==============================================================================
  @Home Navigation
==============================================================================*/

.template-home {
  
  @include media-min('tablet') {
    .nav {
      float: none;
    }
  }
  
}
