/*==============================================================================
  @Home Structure
==============================================================================*/

.home-header,
.home-main {
  position: relative;
  z-index: auto;
  width: auto;
  margin: 0;
  padding: 3em 0;
}
.home-header {

}
.home-main {
  margin: 0 1rem 1rem;
  padding: 1.5rem 0;
  @include border-radius();
}

@include media-min('tablet') {
  .home-main {
    margin: 0;
    @include border-radius(0);
  }
}

/**
 * Content Arrow
 */
.arrow {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  
  &:after {
    @include make-triangle-base();
    position: absolute;
    z-index: 1;
    left: 0;
  }
}

.home-main .arrow:after {
  @include make-triangle(10px, $gray-pale, 'up');
  top: 0;
}

@include media-min('tablet') {
  .home-main .arrow:after { 
    @include make-triangle(10px, $color-dark, 'down');
    top: 10px;
  }
}

/*==============================================================================
  @Home Header
==============================================================================*/

  
.home-header {
  text-align: center;
}
.home-header h1 {
  float: none;
  margin: 0 auto;
  padding: 0;
}
.home-header h1 .logo {
  display: block;
  float: none;
  margin: 0 auto;
  background-image: url('../img/baseweb-vert-white.svg');
  background-size: 125px 75px;
  @include size(125px, 75px);
  @include text-hide();
}
.home-header .version {
  display: inline-block;
  margin: 10px 0 0;
  color: $gray;
}

@include media-min('mobile') {
  .home-header h1 .logo {
    background-image: url('../img/baseweb-vert-white.svg');
    background-size: 160px 97px;
    @include size(160px, 97px);
  }
}

@include media-min('tablet') {
  .home-header .version {
    margin: 20px 0 0;
  }
  .home-header h1 .logo {
    background-image: url('../img/baseweb-vert-white.svg');
    background-size: 240px 145px;
    @include size(240px, 145px);
  }
}

/*==============================================================================
  @Home Content
==============================================================================*/

.home-main {
  background: $gray-pale;
  text-align: center;
}
.home-main .text-lead {
  margin: 0 0 20px;
  padding: 0;
  font-size: px-to-em(18px);
}

@include media-min('mobile') {
  .home-main .text-lead {
    padding: 0 3rem;
  }
}

@include media-min('tablet') {
  .home-main .text-lead {
    margin: 0 0 30px;
    padding: 0 6rem;
    font-size: px-to-em(22px);
  }
}
  
/*==============================================================================
  @Home Navigation
==============================================================================*/
  
.home-main .action {
  position: relative;
  left: auto;
  bottom: auto;
  padding: 0;
}
.home-main .action .btn {
  display: block;
  margin: 0 0 0.75rem 0;
  
  &:last-child {
    margin-bottom: 0;
  }
}

@include media-min('tablet') {
  .home-main .action {
    float: none;
  }
  .home-main .action .btn {
    display: inline-block;
    margin: 0 5px;
    float: none;
  }
}
