// Set file variable
$filename: 'scss/custom/_custom.scss';

/*==============================================================================
  @Grid System - #{$filename}
==============================================================================*/

@include build-grid-system(mobile);

@include media-min('medium') {
  @include build-grid-system();
}

/*==============================================================================
  @Mini Grid System - #{$filename}
==============================================================================*/

@include build-mini-grid-system();

/*==============================================================================
  @Structure - #{$filename}
==============================================================================*/

.header,
.main,
.footer {
  padding: 2em 0;
}
.header {
  border-bottom: 1px solid rgba($black, 0.1);
}
.footer {
  border-top: 1px solid rgba($black, 0.1);
}

/*==============================================================================
  @Header - #{$filename}
==============================================================================*/

.header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/**
 * Logo
 */
.header .logo {
  display: flex;
  align-items: center;
  border: 0 none;

  img {
    margin: 0;
  }
  .version {
    margin-top: 8px;
    margin-left: 10px;
    color: $color-light;
    @include transition();
  }

  &:hover {
    .version {
      color: $color-link;
    }
  }
}

/**
 * Navigation
 */
.header .nav {
  ul.menu-hori {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
  }
  ul.menu-hori li {
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    a:not(.button) {
      color: $color;
      font-size: px-to-em(15px);
      // border: 0 none;
      // @include font-weight('semi-bold');

      &:hover {
        color: $color-link-hover;
        border-color: rgba($color-link-hover, 0.4);
      }
    }
  }
  ul.menu-hori li.active {
    a:not(.button) {
      color: $color-light;
      border: 0 none;
    }
  }
}

.active > a {
  color: $red;
}

/**
 * Dropdown
 */
.header .dropdown-trigger {
  @include add-dropdown-position($anchor: 'bottom-right');
}

/**
 * More Icon
 */
.icon.icon-more {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 1.5em;
  margin: 0 0 0 10px;
  float: right;

  .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 0 3px 0;
    background: $color;
    @include border-radius(50%);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * Response
 */
.header .logo .mobile,
.header .nav .mobile {
  display: inline-block;
}
.header .logo .desktop,
.header .nav .menu-hori.desktop {
  display: none;
}
@include media-min(930px) {
  .header .nav .mobile {
    display: none;
  }
  .header .nav .menu-hori.desktop {
    display: flex;
  }
}
@include media-min('small') {
  .header .logo .mobile {
    display: none;
  }
  .header .logo .desktop {
    display: flex;
  }
}

/*==============================================================================
  @Home - #{$filename}
==============================================================================*/

/**
 * Home
 */
.hero {
  position: relative;
  // overflow: hidden;
  background: $blue;
  @include linear-gradient(left, $blue, $blue-violet-darker);
}

@include media-min('medium') {
  .hero {
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .hero {
    &:after {
      background: inherit;
      bottom: 0;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-4deg);
      transform-origin: 100%;
      z-index: -1;
    }
  }

}

/**
 * Header
 */
.home .header {
  border-color: rgba($white, 0);

  .logo .version {
    color: rgba($white, 0.5);
  }
  .logo:hover .version {
    color: rgba($white, 1);
  }
  .nav ul.menu-hori li a:not(.button) {
    color: $white;
    border-color: rgba($white, 0.25);

    &:hover {
      border-color: $white;
    }
  }
  li > .button,
  .dropdown-trigger > .button {
    background-clip: padding-box;
  }
}

/**
 * Hero Content
 */
.hero-content {
  text-align: center;

  .container {
    padding-top: 0;
    padding-bottom: 2em;
  }
  h1 {
    font-size: px-to-em(18px);
    @include font-weight('light');
    color: $white;
  }
}

@include media-min('medium') {

  .hero-content {
    margin-bottom: 10em;

    .container {
      padding: 10em 10em 12em;
    }
    h1 {
      font-size: px-to-em(22px);
    }
  }

}

/**
 * Main
 */
.main {
  .row,
  .flex {
    margin-bottom: 4em;

    .col {
      position: relative;
    }
  }
}
.home .main {
  img {
    width: 250px;
    height: auto;
    margin: 1em auto 3em;
  }
}
@include media-min('medium') {

  .main {
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: stretch;


      > * {
        width: 50%;
        margin-right: 6em;
      }
      > *:last-child {
        margin-right: 0;
      }
    }
  }

  .home .main {
    img {
      width: auto;
      margin: -2.5em auto 0;
    }
    .float-right {
      float: right;
    }
  }

}

/*==============================================================================
  @Sidebar - #{$filename}
==============================================================================*/

/**
 * Sidebar Item
 */
.sidebar-item {
  margin: 2rem 0;
  padding: 0.75rem 1.5rem;
  border: 1px solid rgba($black, 0.1);
  @include border-radius();

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.sidebar-item h2 {
  margin: 0.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba($black, 0.1);
  font-size: px-to-em(16px);
  @include font-weight('semi-bold');
}

/**
 * Sidebar Menu
 */
.sidebar-item-menu {
  ul {
    list-style: none;
    margin: 0.5rem 0;

    li {
      margin: 1em 0;
      padding: 0;
    }
  }
  ul ul {
    margin: 0;
    padding-left: 1rem;
    display: none;
  }

  /* Links */
  a {
    color: $color;
  }
  a:hover {
    color: $color-link-hover;
  }
  .active > a {
    color: $color-light;
    border: 0 none;
  }
}

/* Child Links */
.sidebar-item-menu .active {
  > ul {
    display: block;
  }
}

/*==============================================================================
  @Main - #{$filename}
==============================================================================*/

/**
 * Tables
 */
.table-docs {
  @extend .table.rowed;
  @extend .table.expanded;
  @extend .table.valign-middle;
}
@include media-max('medium') {
  .table-docs {
    tr, th, td {
      display: block;
    }
    tr {
      padding: map-get($tables, 'padding');
      border-bottom: map-get($tables, 'border');

      &:first-child {
        border-top: map-get($tables, 'border');
      }
    }

    tr {
      th,
      td {
        padding: 0.5rem 0;
        border-bottom: 1px dotted rgba($black, 0.1);
      }
    }
    tr {
      th:last-child,
      td:last-child {
        border-bottom: 0 none;
      }
    }

    tbody:first-child tr:first-child {
      th,
      td {
        border-top: 0 none;
      }
    }
  }
}

/**
 * Lists
 */
.list-docs {
  @extend .list.rowed;
  @extend .list.flush;
  margin: 1.5rem 0;

  h3 {
    font-size: px-to-em(18px);
    color: $color-light;
    @include font-weight('light');
  }
}

/**
 * Sections
 */
.subsection {
  margin: 2rem 0;
}

@include media-min('medium') {
  .subsection {
    margin: 3rem 0;
  }
}

/**
 * Swatches
 */
.swatch {
  display: inline-block;
  border: 1px solid rgba($black, 0.1);
  @include size(44px);
  @include border-radius();
}

.swatch-wrap {
  position: relative;
  height: 44px;
  min-width: 44px;

  .swatch {
    position: absolute;
    top: 0;
    left: 0;
  }
  .swatch-value {
    margin-left: 49px;
    display: inline-block;
    width: auto;
    font-family: $font-family-mono;
  }
}

/*==============================================================================
  @Blocks - #{$filename}
==============================================================================*/

/**
 * Blocks
 */
.block-action {
  margin: 2em 0;
  padding: 1.5em 3em;
  border: 1px solid rgba($black, 0.1);
  @include border-radius();
  text-align: center;
}

@include media-min('medium') {
  .block-action {

  }
}

/*==============================================================================
  @Footer - #{$filename}
==============================================================================*/

.footer {
  text-align: center;

  .logo {
    border: 0 none;
  }
  img {
    display: inline-block;
  }
}

@include media-min('medium') {
  .footer {
    text-align: left;

    .logo {
      position: relative;
      top: -3px;
      float: right;
    }
    img {
      margin: 0;
    }
  }
}

/*==============================================================================
  @End - #{$filename}
==============================================================================*/
