// Set file variable
$filename: 'scss/docs/_swatches.scss';

/*==============================================================================
  @Swatches - #{$filename}
==============================================================================*/

.swatch {
  padding: 0.5em 1.5em;
  color: $white;
}

.swatch.indigo {
  background: $indigo;
}
.swatch.blue {
  background: $blue;
}
.swatch.light-blue {
  background: $light-blue;
}
