// Set file variable
$filename: 'scss/docs/_swatches.scss';

/*==============================================================================
  @Swatches - #{$filename}
==============================================================================*/

.swatch-card {
  margin: 2em 0;

  ul {
    margin: 0;
    list-style: none;
  }
  ul li {
    margin: 0;

    &.sep {
      margin-top: 0.5em;
    }
  }
}

.swatch-card .swatch {
  display: block;
  width: auto;
  height: auto;
  padding: 1em;
  border: none;
  border-radius: 0;
  color: $white;

  &.text-dark {
    color: $color;
  }

  .name {
    display: block;
    margin-bottom: 2em;
    font-size: 1.2em;
    text-transform: capitalize;
  }
  .var,
  .hex {
    font-family: $font-family-mono;
  }
  .hex {
    float: right;
  }
}
