// Set file variable
$filename: 'scss/docs/_swatches.scss';

/*==============================================================================
  @Swatches - #{$filename}
==============================================================================*/

.swatch-card {
  margin: 2em 0;

  ul {
    margin: 0.5em 0 0;
    list-style: none;
  }
  ul li {
    margin: 0;
  }
}

@include media-min('medium') {
  .swatch-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -2em 2em 0;
  }
  .swatch-card {
    flex: 1 0 auto;
    width: 40%;
    margin: 2em 2em 0 0;
  }
}

.swatch-card .swatch {
  display: block;
  width: auto;
  height: auto;
  padding: 1em;
  border: none;
  border-radius: 0;
  color: $white;

  &.text-dark {
    color: $color;
  }

  .name {
    display: block;
    margin-bottom: 2em;
    font-size: 1.2em;
    text-transform: capitalize;
  }
  .var,
  .hex {
    font-family: $font-family-mono;
  }
  .hex {
    float: right;
  }
}
