<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie9 ie8 ie7 ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie9 ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ title }} / {{ name }}</title>
  
  <!-- Stylesheets and less -->
  <link rel="stylesheet" type="text/css" media="all" href="../src/css/baseweb.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="assets/css/global-tests.css">
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <style>
    
    .page .btn {
      margin-top: 5px;
    }
    .page .btn-group,
    .page .btn-group-vertical {
      margin-top: 5px;
    }
    .page .btn-group .btn,
    .page .btn-group-vertical .btn {
      margin-top: 0;
    }
    
  </style>
  
</head>
<body>
  
  <div class="container top">
    <header class="header">
      <p>BaseWeb <span>&ndash; A fresh front-end development framework</span></p>
    </header>
    <nav class="nav">
      <p><a href="#" class="btn btn-primary btn-pill"><i class="icon icon-list"></i> Test Suite</a></p>
    </nav>
  </div>
  
  <div class="container middle">
    <div class="page clearfix">
      
      <ul>
      {{ #nav }}
        <li id="{{ id }}" class="{{ class }}"><a href="{{{ url }}}">{{ text }}</a></li>
      {{ /nav }}
      </ul>
      
      {{ > page }}
    
    </div>
  </div>
  
  <div class="container bottom">
    <footer class="footer">
      <p>Copyright &copy; 2013 {{ author }}. All rights reserved.</p>
    </footer>
  </div>
  
</body>
</html>