// Set file variable
$filename: 'scss/custom/_nav-posts.scss';

/*==============================================================================
  @Nav Posts - #{$filename}
==============================================================================*/

.nav-posts {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 1em;
    border: 1px solid rgba($black, 0.1);
    border-radius: $border-radius;
    text-align: left;
    white-space: normal;
    transition: $transition;

    &:hover {
      border-color: map-fetch($anchors, 'hover', 'color');
    }

    .icon {
      flex: 0 0 auto;
      margin: 0 0.75em 0 0;
      font-size: 1.5rem;
      line-height: 1em;
    }
  }
  a + a {
    margin-top: 1em;
  }
}
