////////////////////////////////////////////////////////////////////////////////
// @Grid Functions
////////////////////////////////////////////////////////////////////////////////

// Column Width
@function column_width($index, $options: ()) {
  $o: map-merge( $grid, $options);
  $column-width: (map-get($o, 'total-width') - (map-get($o, 'gutter-width') * (map-get($o, 'columns') - 1))) / map-get($o, 'columns');
  @return ($column-width * $index) + (map-get($o, 'gutter-width') * ($index - 1));
}

// Spacing Width
@function spacing_width($index, $options: ()) {
  $o: map-merge( $grid, $options);
  $column-width : column_width( 1, $o );
  @return ($column-width * $index) + (map-get($o, 'gutter-width') * $index);
}

////////////////////////////////////////////////////////////////////////////////
// @Semantic Grid Mixins
////////////////////////////////////////////////////////////////////////////////

// Make Container
@mixin make-container($options: ()) {
  $o: map-merge( $grid, $options);
  width: map-get($o, 'total-width');
  @if (map-get($o, 'container-min-width') != none) {
    min-width: map-get($o, 'container-min-width');
  }
  @if (map-get($o, 'container-max-width') != none) {
    max-width: map-get($o, 'container-max-width');
  }
  margin: 0 map-get($o, 'container-margin');
  padding: 0 map-get($o, 'container-padding');
  
  @if (map-get($o, 'class-container') != none) {
    &.#{map-get($o, 'class-container')}-float-left {
      float: left;
    }
    &.#{map-get($o, 'class-container')}-float-right {
      float: right;
    }
    &.#{map-get($o, 'class-container')}-no-padding {
      padding: 0;
    }
    &.#{map-get($o, 'class-container')}-no-margin {
      margin: 0;
    }
  }
  @include clearfix();
  @if ($global-box-sizing != border-box) {
    @include box-sizing( border-box );
  }
  @content;
}

// Make Row
@mixin make-row($options: ()) {
  $o: map-merge( $grid, $options);
  margin-left: -(map-get($o, 'inner-gutter-width') / 2);
  margin-right: -(map-get($o, 'inner-gutter-width') / 2);
  @include clearfix();
  @if (map-get($o, 'class-row') != none) {
    &.#{map-get($o, 'class-row')}-center {
      text-align: center;
      
      > * {
        font-size: 0;
        line-height: 0;
      }
      .#{map-get($o, 'class-column')} {
        float: none;
        display: inline-block;
        @include clearfix();
        font-size: $base-font-size;
        line-height: $base-line-height;
        text-align: left;
      }
    }
  }
  @content;
}

// Make Base Column (Does not include column width)
@mixin make-base-column($options: ()) {
  $o: map-merge( $grid, $options);
  @if (map-get($o, 'total-width') == mobile) {
    width: 100%;
    margin: 0;
    padding: 0;
  } @else {
    margin-left: map-get($o, 'gutter-width');
    padding-left: (map-get($o, 'inner-gutter-width') / 2);
    padding-right: (map-get($o, 'inner-gutter-width') / 2);
    
    @if (map-get($o, 'class-column') != none) {
      &.#{map-get($o, 'class-column')}-no-gutter {
        margin-left: 0;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
  float: left;
  min-height: 1px;
  &.align-right {
    float: right;
  }
  &.align-left {
    float: left;
  }
  @if ($global-box-sizing != border-box) {
    @include box-sizing( border-box );
  }
  @content;
}

// Make Column
@mixin make-column($index, $options: ()) {
  $o: map-merge( $grid, $options);
  @include make-base-column($o);
  width: column_width($index, $o);
  @content;
}

// Make Prefix
@mixin give-prefix($index, $options: ()) {
  $o: map-merge( $grid, $options);
  margin-left: (spacing_width($index, $o) + map-get($o, 'gutter-width'));
  &:first-child {
    margin-left: spacing_width($index, $o);
  }
  @content;
}

// Make Suffix
@mixin give-suffix($index, $options: ()) {
  $o: map-merge( $grid, $options);
  margin-right: spacing_width($index, $o);
  @content;
}

////////////////////////////////////////////////////////////////////////////////
// @Class Based Grid System Mixins
////////////////////////////////////////////////////////////////////////////////

// Make Mobile Grid System
// Outputs the styles for a mobile grid system where all columns are stacked
@mixin build-mobile-grid-system($options: ()) {
  $o: map-merge( $grid, $options);
  .#{map-get($o, 'class-container')} {
    @include make-container( ('total-width': 100%) );
  }
  .#{map-get($o, 'class-row')} {
    @include make-row() {
      margin-left: 0;
      margin-right: 0;
    };
  }
  .#{map-get($o, 'class-column')} {
    @include make-base-column(('total-width': mobile));
  }
  @if (map-get($o, 'class-prefix') != none) {
    .#{map-get($o, 'class-prefix')} {
      margin-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  @if (map-get($o, 'class-suffix') != none) {
    .#{map-get($o, 'class-suffix')} {
      margin-right: 0;
    }
  }
  @content;
}

// Build Grid System
// Outputs all the classes and styles for the class based grid system
@mixin build-grid-system($options: ()) {
  $o: map-merge( $grid, $options);
  .#{map-get($o, 'class-container')} {
    @include make-container($o);
  }
  .#{map-get($o, 'class-row')} {
    @include make-row();
  }
  .#{map-get($o, 'class-column')} {
    @include make-base-column($o);
  }
  @for $i from 1 through map-get($o, 'columns') {
    .#{map-get($o, 'class-column')}-#{$i} {
      width: column_width( $i, $o );
    }
  }
  @if (map-get($o, 'class-prefix') != none) {
    @for $i from 1 through map-get($o, 'columns') {    
      .#{map-get($o, 'class-prefix')}-#{$i} {
        @include give-prefix( $i, $o );
      }
    }
  }
  @if (map-get($o, 'class-suffix') != none) {
    @for $i from 1 through map-get($o, 'columns') {  
      .#{map-get($o, 'class-suffix')}-#{$i} {
        @include give-suffix( $i, $o );
      }
    }
  }
  @content;
}
