////////////////////////////////////////////////////////////////////////////////
// Utility
////////////////////////////////////////////////////////////////////////////////

// Hide text
// Image replacement trick that hides text.
@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Clear Mixins
// Allows for clearfixing by adding as mixin or as class.
@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

// Makes Hidden
// Makes an element hidden with display none !important
@mixin make-hidden {
  display: none !important;
}

// Makes Visible
// Makes an element visible with custom display value
@mixin make-visible($display: $display-visible) {
  display: $display !important;
}

////////////////////////////////////////////////////////////////////////////////
// CSS3 Helpers
////////////////////////////////////////////////////////////////////////////////

// Border Radius Mixins
@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}
// Top
@mixin border-radius-top($radius: $border-radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-radius-top-left($radius: $border-radius) {
  border-top-left-radius: $radius;
}
@mixin border-radius-top-right($radius: $border-radius) {
  border-top-right-radius: $radius;
}
// Bottom
@mixin border-radius-bottom($radius: $border-radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-radius-bottom-left($radius: $border-radius) {
  border-bottom-left-radius: $radius;
}
@mixin border-radius-bottom-right($radius: $border-radius) {
  border-bottom-right-radius: $radius;
}
// Left
@mixin border-radius-left($radius: $border-radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-radius-left-top($radius: $border-radius) {
  border-top-left-radius: $radius;
}
@mixin border-radius-left-bottom($radius: $border-radius) {
  border-bottom-left-radius: $radius;
}
// Right
@mixin border-radius-right($radius: $border-radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin border-radius-right-top($radius: $border-radius) {
  border-top-right-radius: $radius;
}
@mixin border-radius-right-bottom($radius: $border-radius) {
  border-bottom-right-radius: $radius;
}

// Box Sizing
@mixin box-sizing($boxmodel) {
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

// Box Shadows
@mixin box-shadow($shadow: $box-shadow) {
  box-shadow: $shadow;
}

// Transition
@mixin transition( $-transition: $transition ) {
  -webkit-transition: $-transition;
  -moz-transition: $-transition;
  -o-transition: $-transition;
  transition: $-transition;
}

// Transition Property
@mixin transition-property( $-transition-property: $transition-property ) {
  -webkit-transition-property: $-transition-property;
  -moz-transition-property: $-transition-property;
  -o-transition-property: $-transition-property;
  transition-property: $-transition-property;
}

// Transition Duration
@mixin transition-duration( $-transition-duration: $transition-duration ) {
  -webkit-transition-duration: $-transition-duration;
  -moz-transition-duration: $-transition-duration;
  -o-transition-duration: $-transition-duration;
  transition-duration: $-transition-duration;
}

// Transition Timing Function
@mixin transition-timing-function( $-transition-timing-function: $transition-timing-function ) {
  -webkit-transition-timing-function: $-transition-timing-function;
  -moz-transition-timing-function: $-transition-timing-function;
  -o-transition-timing-function: $-transition-timing-function;
  transition-timing-function: $-transition-timing-function;
}

// Transition Delay
@mixin transition-delay( $-transition-delay: $transition-delay ) {
  -webkit-transition-delay: $-transition-delay;
  -moz-transition-delay: $-transition-delay;
  -o-transition-delay: $-transition-delay;
  transition-delay: $-transition-delay;
}

// Rotate
@mixin rotate($deg: $rotate-degree) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

// Gradients Horizontal
@mixin gradient-horizontal($start-color: $gradient-start-color, $end-color: $gradient-end-color) {
  background-color: $end-color;
  background-image: -moz-linear-gradient(left, $start-color, $end-color);
  background-image: -ms-linear-gradient(left, $start-color, $end-color);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($start-color), to($end-color));
  background-image: -webkit-linear-gradient(left, $start-color, $end-color);
  background-image: -o-linear-gradient(left, $start-color, $end-color);
  background-image: linear-gradient(left, $start-color, $end-color);
  background-repeat: repeat-y;
}

// Gradients Vertical
@mixin gradient-vertical($start-color: $gradient-start-color, $end-color: $gradient-end-color) {
  background-color: $end-color;
  background-image: -moz-linear-gradient(top, $start-color, $end-color);
  background-image: -ms-linear-gradient(top, $start-color, $end-color);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), to($end-color));
  background-image: -webkit-linear-gradient(top, $start-color, $end-color);
  background-image: -o-linear-gradient(top, $start-color, $end-color);
  background-image: linear-gradient(top, $start-color, $end-color);
  background-repeat: repeat-x;
}

// Gradients Directional
@mixin gradient-directional($start-color: $gradient-start-color, $end-color: $gradient-end-color, $deg: $gradient-deg) {
  background-color: $end-color;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient($deg, $start-color, $end-color);
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color);
  background-image: -o-linear-gradient($deg, $start-color, $end-color);
  background-image: linear-gradient($deg, $start-color, $end-color);
}

// Gradient Horizontal with Three Colors
@mixin gradient-horizontal-three-colors($start-color: $gradient-start-color, $center-color: $gradient-center-color, $color-stop: $gradient-color-stop, $end-color: $gradient-end-color) {
  background-color: mix($center-color, $end-color, 80%);
  background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $center-color), to($end-color));
  background-image: -webkit-linear-gradient(left, $start-color, $center-color $color-stop, $end-color);
  background-image: -moz-linear-gradient(left, $start-color, $center-color $color-stop, $end-color);
  background-image: -o-linear-gradient(left, $start-color, $center-color $color-stop, $end-color);
  background-image: linear-gradient(to right, $start-color, $center-color $color-stop, $end-color);
  background-repeat: no-repeat;
}

// Gradient Vertical with Three Colors
@mixin gradient-vertical-three-colors($start-color: $gradient-start-color, $center-color: $gradient-center-color, $color-stop: $gradient-color-stop, $end-color: $gradient-end-color) {
  background-color: mix($center-color, $end-color, 80%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $center-color), to($end-color));
  background-image: -webkit-linear-gradient($start-color, $center-color $color-stop, $end-color);
  background-image: -moz-linear-gradient(top, $start-color, $center-color $color-stop, $end-color);
  background-image: -o-linear-gradient($start-color, $center-color $color-stop, $end-color);
  background-image: linear-gradient($start-color, $center-color $color-stop, $end-color);
  background-repeat: no-repeat;
}

// Radial Gradients
@mixin gradient-radial($inner-color: $gradient-start-color, $outer-color: $gradient-end-color) {
  background-color: $outer-color;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($inner-color), to($outer-color));
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: -moz-radial-gradient(circle, $inner-color, $outer-color);
  background-image: -o-radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

// Striped Gradients
@mixin gradient-striped($color: $gradient-start-color, $angle: $gradient-deg) {
  background-color: $color;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient($angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
}

////////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////////

// Anchor Styles
@mixin anchor() {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  @include transition();
  
  &:hover {
    color: $color-link-hover;
    cursor: pointer;
    border-color: rgba($color-link-hover, 0.5);
  }
}

// Mono Font
@mixin mono-font($-font-size: $font-size, $-line-height: $line-height) {
  font-family: $font-family-mono;
  font-size: $-font-size;
  line-height: $-line-height;
}

// Uppercase
@mixin uppercase($letter-spacing: $letter-spacing) {
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

// Lowercase
@mixin lowercase($letter-spacing: 0) {
  text-transform: lowercase;
  letter-spacing: $letter-spacing;
}

// Reset Case
@mixin resetcase() {
  text-transform: none;
  letter-spacing: 0;
}

// Truncate Text
// Truncates text with an ellipsis. Element applied must be `block` or `inline-block`
@mixin truncate-text( $display : block ) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  @if ($display == inline-block or $display == block) {
    display: $display;
  }
}

////////////////////////////////////////////////////////////////////////////////
// List Mixins
////////////////////////////////////////////////////////////////////////////////

// Remove List Styles
// Removes default list styles and margins from a list element and it's children
@mixin remove-list-styles {
  list-style: none;
  margin: 0;
  
  li {
    margin: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// UI Helpers
////////////////////////////////////////////////////////////////////////////////

// Arrows
// Uses the "0x0" element with borders trick to draw arrows.
@mixin triangle($size, $color, $direction) {
  content: "\0020";
  display: inline-block;
  width: 0;
  height: 0;
  border: 0 none;
  border-style: solid;
  border-color: transparent;

  @if ($direction == up) {
    border-width: 0 $size $size $size;
    border-bottom-color: $color;
  }
  @if ($direction == right) {
    border-width: $size 0 $size $size;
    border-left-color: $color;
  }
  @if ($direction == down) {
    border-width: $size $size 0 $size;
    border-top-color: $color;
  }
  @if ($direction == left) {
    border-width: $size $size $size 0;
    border-right-color: $color;
  }
  
  @if ($direction == up-right or $direction == right-up) {
    border-width: $sizeh;
    border-top-color: $color;
    border-right-color: $color;
  }
  @if ($direction == up-left or $direction == left-up) {
    border-width: $sizeh;
    border-top-color: $color;
    border-left-color: $color;
  }
  @if ($direction == down-right or $direction == right-down) {
    border-width: $sizeh;
    border-bottom-color: $color;
    border-right-color: $color;
  }
  @if ($direction == down-left or $direction == left-down) {
    border-width: $sizeh;
    border-bottom-color: $color;
    border-left-color: $color;
  }
}

// Console
// Let's you output a LESS variable in the browser.
// Requires that `<div id="console"></div>` be somewhere in the DOM
@mixin console($value, $position: right, $index: 100) {

  #console {
    position: fixed;
    @if ($position == left) {
      top: 0;
      left: 0;
    } @else if ($position == right) {
      top: 0;
      right: 0;
    } @else if ($position == bottom-left) {
      bottom: 0;
      left: 0;
    } @else if ($position == bottom-right) {
      bottom: 0;
      right: 0;
    }
    z-index: $index;
    @include mono-font;
    
    &:before, &:after {
      display: block;
      padding: 5px 15px;
      float: left;
    }
    
    &:before {
      content: "Console:";
      background: $blue;
      color: $gE;
      
      @if ($position == right) {
        @include border-radius-bottom-left();
      } @else if ($position == bottom-right) {
        @include border-radius-top-left();
      }
    }
    
    &:after {
      content: "#{$value}";
      background: $gE;
      color: $color-dark;
        
      @if ($position == left) {
        @include border-radius-bottom-right();
      }  @else if ($position == bottom-left) {
        @include border-radius-top-right();
      }
    }
  }
}
