////////////////////////////////////////////////////////////////////////////////
// @Global Settings
////////////////////////////////////////////////////////////////////////////////

// Background Colors
$bg-color: $gray-100 !default;
$bg-selection: rgba($green, 0.25) !default;

// Borders
$border-color: rgba($black, 0.10) !default;
$border-radius: 3px !default;

// Box
$box-sizing: border-box !default;
$box-shadow: 0 1px 3px rgba($black, 0.1) !default;

// Transition
$transition-property: all !default;
$transition-duration: 0.25s !default;
$transition-timing-function: linear !default;
$transition-delay: 0.25s !default;
$transition: $transition-property $transition-duration $transition-timing-function !default;
