////////////////////////////////////////////////////////////////////////////////
// @Overrides
////////////////////////////////////////////////////////////////////////////////

$base-font-family: "Open Sans", "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
$base-font-size: 14px;
$font-weight-heading: normal;

$grid: (

  // Global Grid Settings
  // Sets the grid type (normal, mobile)
  'type' : normal,

  // Use same unit type as `$grid('gutter-width')`.
  'total-width' : 100%,

  // Use same unit type as `$grid('total-width')`.
  // Used to set left and right margin of columns.
  'gutter-width' : 0,

  // Used to set using left and right padding of columns.
  'inner-gutter-width' : 1.5rem,

  // Sets the number of columns in Grid System.
  'columns' : 12,

  // Container Settings
  'container-margin' : 0 auto,
  'container-padding' : 0 1.5rem,
  'container-min-width' : none,
  'container-max-width' : 80rem,

  // Grid Class Names
  'class-container' : 'container',
  'class-row' : 'row',
  'class-column' : 'col',

  // Set to `null` to disable output
  'class-prefix' : 'prefix',

  // Set to `null` to disable output
  'class-suffix' : 'suffix',

);
