/*==============================================================================
  @Breadcrumb
==============================================================================*/

.breadcrumb {
  margin: 1em 0px;
}
.breadcrumb ul {
  margin: 0;
  list-style: none;
  font-size: 0;
}
.breadcrumb ul li {
  margin: 0;
  display: inline-block;
  font-size: $base-font-size;
  
  &:after {
    content: "→";
    padding: 0 1em;
    color: rgba($black, 0.25);
  }
  &:last-child:after {
    content: none;
  }
}
