// Set file variable
$filename: 'scss/blocks/_breadcrumb.scss';

////////////////////////////////////////////////////////////////////////////////
// @Breadcrumbs Map
////////////////////////////////////////////////////////////////////////////////

$breadcrumbs: (
  'classes' : true,
  'class-item' : 'item',
  'class-current' : 'current',

  'margin' : 1em 0,
  'font-size' : 1em,
  'color-current' : $color-light,

  'anchors' : (
    'output' : true,
    'text-decoration' : null,
  ),

  // Delimiter Styles
  'delimiter' : (
    'element' : '/', // Delimiter element content (e.g: '/', '—', '→', '»')
    'padding' : 0 0.75em,
    'color' : $gray-400,
    'last-child' : false,
  ),

) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'breadcrumbs') == true) {
    $breadcrumbs: map-extend($breadcrumbs, map-get($override, 'breadcrumbs'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Breadcrumb Mixins
////////////////////////////////////////////////////////////////////////////////

// Make Breadcrumb
// Creates the basic breadcrumb styles.
// @param $options
//   @type map
//   @default $breadcrumbs map
@mixin make-breadcrumb($options: ()) {
  $o: map-extend($breadcrumbs, $options, true);

  display: block;
  margin: map-get($o, 'margin');
  font-size: map-get($o, 'font-size');

  // Remove default list styles
  ul,
  ol {
    margin: 0;
    list-style: none;
    @include clearfix();
  }

  // Float list items to the left to:
  //   a) Get rid of the extra white spacing from inline items.
  //   b) Wrap properly if items don't fit on one line.
  li {
    float: left;
    margin: 0;
  }

  // Link color styles
  @if (map-fetch($o, 'anchors', 'output') == true) {
    a {
      @include make-anchor(map-get($o, 'anchors'));
    }
  }

  // Current item styles
  .#{map-get($o, 'class-current')} {
    color: map-get($o, 'color-current');
  }

  // Delimiter styles
  li:after {
    content: map-fetch($o, 'delimiter', 'element');
    padding: map-fetch($o, 'delimiter', 'padding');
    color: map-fetch($o, 'delimiter', 'color');
  }

  // Remove last delimiter if `delimiter-end` is set to false
  @if (map-fetch($o, 'delimiter', 'last-child') == false) {
    li:last-child:after {
      content: none;
    }
  }
}

// Check if we should output modifier classes
@if (map-get($breadcrumbs, 'classes') == true) {

/*==============================================================================
  @Breadcrumb - #{$filename}
==============================================================================*/

.breadcrumb {
  @include make-breadcrumb();
}

} // endif classes
