.breadcrumb {
  padding: 10px 20px;
}
.breadcrumb ul {
  margin: 0;
  list-style: none;
}
.breadcrumb ul li {
  margin: 0;
  display: inline-block;
  
  &:after {
    content: "→";
    padding: 0 10px;
    color: #aaa;
  }
  &:last-child:after {
    content: none;
  }
}
.breadcrumb ul li a {
  
}