////////////////////////////////////////////////////////////////////////////////
// Dropdown Mixins
////////////////////////////////////////////////////////////////////////////////

////
// Base Dropdown Wrapper Styles Mixin
@mixin dropdown-wrapper($direction: down) {
  position: absolute;
  @include dropdown-position($direction);
  z-index: 1000;
  display: none;
  float: left;
  background: $white;
  box-sizing: border-box;
  min-width: 175px;
  padding: 5px 0;
  background-clip: padding-box;
  border: 1px solid rgba($black, 0.25);
  @include border-radius();
  box-shadow: 0 1px 5px rgba(0,0,0, 0.2);
  @include remove-list-styles();
  @content;
}

////
// Dropdown Position Mixin
@mixin dropdown-position($direction: down) {
  @if($direction == up) {
    bottom: 100%;
    left: -1px;
  }
  @if($direction == down) {
    top: 100%;
    left: -1px;
  }
  @if($direction == left) {
    right: 100%;
    top: -1px;
  }
  @if($direction == right) {
    left: 100%;
    top: -1px;
  }
}

/*==============================================================================
  Dropdowns
==============================================================================*/

/**
 * Dropdown Trigger
 */
.dropdown-trigger {
  position: relative;
    
  &:hover {
    > .dropdown {
      display: block;
    }
  }
}

/**
 * Dropdown
 */
.dropdown {
  @include dropdown-wrapper();
  
  li {
    position: relative;
  }
  li a {
    border: 0 none;
    display: block;
    padding: 5px 15px;
    white-space: nowrap;
    color: $color;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.75);
    text-align: left;
  }
  
  /**
   * Dropdown Header
   */
  li.dropdown-header {
    padding: 5px 15px 0 15px;
    color: $color-light;
    font-size: ($base-font-size - 2);
    text-align: left;
    cursor: default;
  }
  
  /**
   * Dropdown Hover & Focus
   */
  li > a:hover,
  li > a:focus,
  li:hover > a { 
    background-color: rgba($black, 0.05);
  }
  
  /**
   * Dropdown Active
   */
  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    color: $white;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.25);
    border-color: rgba($color-link, 0.95);
  }
  
  // Disabled
  li.disabled > a,
  li.disabled > a:hover,
  li.disabled > a:focus {
    color: $color-light;
    background: none;
    cursor: default;
  }
  
  /**
   * Dropdown Parent
   */
  li.dropdown-parent > a {
    padding-right: 30px;
  }
  li.dropdown-parent:after {
    @include triangle(4px, rgba($black, 0.75), right);
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
  }
  li.dropdown-parent.active:after {
    @include triangle(4px, rgba($white, 0.75), right);
  }
  
  /**
   * Divider
   */
  li.divider {
    height: 1px;
    margin: 5px 0;
    background-color: rgba($black, 0.1);
  }
  
  /**
   * Sub Dropdown
   */
  ul.dropdown {
    @include dropdown-wrapper(right);
    margin: -5px 0 0 0;
  }
  
  /**
   * Sub Dropdown Toggle
   */
  li:hover > ul {
    display: block;
  }
}