// Set file variable
$filename: 'scss/custom/_mobile-menu.scss';

////////////////////////////////////////////////////////////////////////////////
// @Mobile Menu Map
////////////////////////////////////////////////////////////////////////////////

$mobile-menu: (
  'classes' : true,
  'example' : 'something'
) !default;

// Extend default mobile-menu map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'mobile-menu') == true) {
    $mobile-menu: map-extend($mobile-menu, map-get($override, 'mobile-menu'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Mobile Menu Mixins
////////////////////////////////////////////////////////////////////////////////

// Make Mobile Menu
// Description...
// @param $options
//   @type map
//   @default $mobile-menu map
@mixin make-mobile-menu($options: ()) {
  $o: map-merge($mobile-menu, $options);
  // Your mixin code here...
}

// Check if we should output modifier classes
@if (map-get($mobile-menu, 'classes') == true) {
/*==============================================================================
  @Mobile Menu - #{$filename}
==============================================================================*/



} // endif classes
