// Set file variable
$filename: 'scss/blocks/_notice.scss';

////////////////////////////////////////////////////////////////////////////////
// @Notices Map
////////////////////////////////////////////////////////////////////////////////

$notices: (
  'output' : true,
  'output-modifiers' : true,
  'class' : 'notice',

  'margin' : 2em 0,
  'padding' : 0.25em 1.25em,
  'font-size' : 1em,
  'line-height' : 1.5em,
  'border' : 1px solid rgba($black, 0.05),
  'border-radius' : $border-radius,

  'close' : (
    'float': right,
    'margin': 1em 0 1em 1em,
    'padding': 0.25em,
    'font-size': 1em,
  ),

  'modifiers' : (
    'default' : (
      'color' : $color,
      'background' : $gray-100,
    ),
    'inverted' : (
      'color' : $white,
      'background' : $color,
      'close' : (
        'key' : 'inverted',
      ),
    ),
    'info' : (
      'background' : $blue-50,
    ),
    'info.inverted' : (
      'color' : $white,
      'background' : $blue,
    ),
    'success' : (
      'background' : $green-50,
    ),
    'success.inverted' : (
      'color' : $white,
      'background' : $green,
    ),
    'warning' : (
      'background' : $yellow-100,
    ),
    'warning.inverted' : (
      'color' : $color,
      'background' : $yellow,
      'close' : (
        'key' : 'default'
      ),
    ),
    'danger' : (
      'background' : $red-50,
    ),
    'danger.inverted' : (
      'color' : $white,
      'background' : $red,
    ),
    'inline' : (
      'display' : inline,
      'margin' : 0,
      'padding' : 0 0.25em,
    )
  ),

) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'notices') == true) {
    $notices: map-extend($notices, map-get($override, 'notices'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Notices Mixins
////////////////////////////////////////////////////////////////////////////////

// Make Notice
// Creates the base styles for a notice block.
// @param $options
//   @type map
//   @default $notices map
@mixin make-notice($options: ()) {
  $o: map-extend($notices, $options, true);

  @include add-styles($o);
  @include add-modifiers($o, 'default', false);

  @content;

  // Close button
  // Check if $close exists and close output is enabled
  @if (variable-exists(close)) {
    @if (map-get($close, 'output') == true) {
      .#{map-get($close, 'class')} {
        @include add-styles(map-get($o, 'close'));
        @if (map-fetch($o, 'close', 'key')) {
          @include add-modifiers($close, map-fetch($o, 'close', 'key'), false);
        }
      }
    }
  }

}

@mixin add-notice-close($options: ()) {
  $o: map-extend($notices, $options, true);

  @if (variable-exists(close)) {

    // Check if modifiers exist
    @if (map-has-key($o, 'modifiers')) {
      @each $name, $map in map-get($o, 'modifiers') {
        @if (map-has-key($map, 'close')) {
          &.#{$name} {
            .#{map-get($close, 'class')} {
              @include add-styles(map-get($map, 'close'));
              @if (map-fetch($map, 'close', 'key')) {
                @include add-modifiers($close, map-fetch($map, 'close', 'key'), false);
              }
            }
          }
        }
      }
    }

  }
}

// Check if we should output modifier classes
@if (map-get($notices, 'output') == true) {

/*==============================================================================
  @Notices - #{$filename}
==============================================================================*/

.#{map-get($notices, 'class')} {
  @include make-notice();
}

// Check if we should output notice modifiers
@if (map-get($notices, 'output-modifiers') == true) {
  .#{map-get($notices, 'class')} {
    @include add-modifiers($notices);
    @include add-notice-close();
  }
}

} // End @if output
