/*==============================================================================
  @ Tags
==============================================================================*/

.tags {
  
}

.tag-label {
  display: inline-block;
  margin: 0;
  color: $color-light;
  
  @include font('mono', 12px, 20px, $base-font-weight);
}

.tag-default {
  display: inline-block;
  padding: 0 10px;
  background: $color-light;
  border: 0 none;
  
  color: $white;
  
  @include font('mono', 12px, 20px, $base-font-weight);
  @include border-radius;
  @include transition;
  
  a, small {
    color: $white;
  }
}

a.tag-default,
.tag-link {
  
  &:hover {
    color: $white;
    background: $color-link-hover;
  }
  
}