// Set file variable
$filename: 'scss/blocks/_tooltips.scss';

////////////////////////////////////////////////////////////////////////////////
// @Tooltips Map
////////////////////////////////////////////////////////////////////////////////

$tooltips: (
  'classes' : true,
  'classes-position' : true,

  'class' : 'tooltip',

  'z-index' : 100,
  'max-width' : 30em,
  'padding' : 0.5em 1em,

  'transition-duration' : 0.2s,

  'background' : rgba($color, 0.9),
  'border-radius' : $border-radius,

  'font-size' : px-to-rem(12px),
  'line-height' : 1.5em,
  'color' : $white,

  'position-start' : 0,
  'position-end'   : 0.5em,

) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'tooltips') == true) {
    $tooltips: map-extend($tooltips, map-get($override, 'tooltips'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Tooltips Mixins
////////////////////////////////////////////////////////////////////////////////

// Make Tooltips
// Creates the base styles for tooltips element.
// @param $options
//   @type map
//   @default $tooltips map
@mixin make-tooltip($options: ()) {
  $o: map-merge($tooltips, $options);

  position: relative;

  &:after {
    content: attr(data-tooltip); // Get the content of the data-tooltip attribute
    pointer-events: none; // Turns off hover effect on the pseudo element
    position: absolute;
    z-index: map-get($o, 'z-index');

    display: block;
    max-width: map-get($o, 'max-width');
    padding: map-get($o, 'padding');

    background: map-get($o, 'background');
    border-radius: map-get($o, 'border-radius');

    font-size: map-get($o, 'font-size');
    line-height: map-get($o, 'line-height');
    color: map-get($o, 'color');

    opacity: 0;
    transition: opacity map-get($o, 'transition-duration'), transform map-get($o, 'transition-duration');

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Add Tooltip Position
// Adds the position styles for a tooltip.
// @param $anchor
//   @type string ('top', 'left', 'right', 'bottom')
//   @default 'top'
// @param $class
//   @type string | null | default
//   @default null
// @param $options
//   @type map
//   @default $tooltips map
@mixin add-tooltip-position($anchor : 'top', $class : null, $options: ()) {
  $o: map-merge($tooltips, $options);

  @if ($class == null) {
    $class: '&';
  } @else if ($class == default) {
    $class: '.#{map-get($o, 'class')}-#{$anchor}';
  } @else {
    $class: '.#{$class}';
  }

  @if ($anchor == 'top') {
    #{$class}:after {
      top: auto;
      left: 50%;
      right: auto;
      bottom: 100%;
      transform: translate(-50%, -(map-get($o, 'position-start')));
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      opacity: 1;
      transform: translate(-50%, -(map-get($o, 'position-end')));
    }
  } @else if ($anchor == 'top-left') {
    #{$class}:after {
      top: auto;
      left: 0;
      right: auto;
      bottom: 100%;
      transform: translate(0, -(map-get($o, 'position-start')));
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      opacity: 1;
      transform: translate(0, -(map-get($o, 'position-end')));
    }
  } @else if ($anchor == 'top-right') {
    #{$class}:after {
      top: auto;
      left: auto;
      right: 0;
      bottom: 100%;
      transform: translate(0, -(map-get($o, 'position-start')));
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      opacity: 1;
      transform: translate(0, -(map-get($o, 'position-end')));
    }
  } @else if ($anchor == 'left') {
    #{$class}:after {
      top: 50%;
      left: auto;
      right: 100%;
      bottom: auto;
      transform: translate(-(map-get($o, 'position-start')), -50%);
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      transform: translate(-(map-get($o, 'position-end')), -50%);
    }
  } @else if ($anchor == 'left-top') {
    #{$class}:after {
      top: 0;
      left: auto;
      right: 100%;
      bottom: auto;
      transform: translate(-(map-get($o, 'position-start')), 0);
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      transform: translate(-(map-get($o, 'position-end')), 0);
    }
  } @else if ($anchor == 'left-bottom') {
    #{$class}:after {
      top: auto;
      left: auto;
      right: 100%;
      bottom: 0;
      transform: translate(-(map-get($o, 'position-start')), 0);
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      transform: translate(-(map-get($o, 'position-end')), 0);
    }
  } @else if ($anchor == 'right') {
    #{$class}:after {
      top: auto;
      left: 100%;
      right: auto;
      bottom: 50%;
      transform: translate(map-get($o, 'position-start'), 50%);
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      transform: translate(map-get($o, 'position-end'), 50%);
    }
  } @else if ($anchor == 'right-top') {
    #{$class}:after {
      top: 0;
      left: 100%;
      right: auto;
      bottom: auto;
      transform: translate(map-get($o, 'position-start'), 0);
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      transform: translate(map-get($o, 'position-end'), 0);
    }
  } @else if ($anchor == 'right-bottom') {
    #{$class}:after {
      top: auto;
      left: 100%;
      right: auto;
      bottom: 0;
      transform: translate(map-get($o, 'position-start'), 0);
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      transform: translate(map-get($o, 'position-end'), 0);
    }
  } @else if ($anchor == 'bottom') {
    #{$class}:after {
      top: 100%;
      left: auto;
      right: 50%;
      bottom: auto;
      transform: translate(50%, map-get($o, 'position-start'));
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      opacity: 1;
      transform: translate(50%, map-get($o, 'position-end'));
    }
  } @else if ($anchor == 'bottom-left') {
    #{$class}:after {
      top: 100%;
      left: 0;
      right: auto;
      bottom: auto;
      transform: translate(0, map-get($o, 'position-start'));
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      opacity: 1;
      transform: translate(0, map-get($o, 'position-end'));
    }
  } @else if ($anchor == 'bottom-right') {
    #{$class}:after {
      top: 100%;
      left: auto;
      right: 0;
      bottom: auto;
      transform: translate(0, map-get($o, 'position-start'));
    }
    #{$class}:hover:after,
    #{$class}:focus:after {
      opacity: 1;
      transform: translate(0, map-get($o, 'position-end'));
    }
  } @else {
    @warn 'The tooltip position of `#{$anchor}` does not exist';
  }
}

// Check if we should output classes
@if (map-get($tooltips, 'classes') == true) {

/*==============================================================================
  @Tooltips - #{$filename}
==============================================================================*/

/**
 * Base styles for tooltips
 */
.#{map-get($tooltips, 'class')} {
  @include make-tooltip();
}

/**
 * Default Tooltip Position
 */
.#{map-get($tooltips, 'class')} {
  @include add-tooltip-position();
}

// Check if we should output position classes
@if (map-get($tooltips, 'classes-position') == true) {

/**
 * Tooltip Positions
 */
@include add-tooltip-position('top', default);
@include add-tooltip-position('top-left', default);
@include add-tooltip-position('top-right', default);

@include add-tooltip-position('left', default);
@include add-tooltip-position('left-top', default);
@include add-tooltip-position('left-bottom', default);

@include add-tooltip-position('right', default);
@include add-tooltip-position('right-top', default);
@include add-tooltip-position('right-bottom', default);

@include add-tooltip-position('bottom', default);
@include add-tooltip-position('bottom-left', default);
@include add-tooltip-position('bottom-right', default);

} // endif position classes

} // endif classes
