/*==============================================================================
  Notices
==============================================================================*/

/**
 * Structure
 */
.notice {
  position: relative;
  padding: 10px 54px 10px 20px;
  margin: 0 0 20px 0;
  .font-sequence(14px, 18px);
  color: @white;
  .border-radius();
}
.wrapper-top .notice {
  margin-top: -20px;
  .border-radius-top(0);
}
.notice .icon-delete {
  position: absolute;
  top: 9px;
  right: 12px;
  width: 30px;
  height: 30px;
  .border-radius();
}
.notice h3 {
  margin: 5px 0;
  font-family: @font-family;
  .font-sequence(18px, 24px);
  font-weight: bold;
  color: @white;
}
.notice p {
  margin: 5px 0;
}

/**
 * Colors
 */
.notice-default {
  background: @green;
  .icon-delete:hover {
    background-color: @green-darker;
  }
}
.notice-success {
  background: @blue;
  .icon-delete:hover {
    background-color: @blue-darker;
  }
}
.notice-warning {
  background: @yellow-orange;
  .icon-delete:hover {
    background-color: @yellow-orange-darker;
  }
}
.notice-danger {
  background: @red;
  .icon-delete:hover {
    background-color: @red-darker;
  }
}
