<h1>Code</h1>

<p>The <code>&lt;code&gt;</code> and <code>&lt;pre&gt;</code> HTML elements are primarily used for displaying computer recognized programs or code. BaseWeb comes with some predefined styles for both inline code markup and blocks of code.</p>

<h2>Inline Code</h2>

<p>Inline code primarily appear in small fragments within text blocks. BaseWeb styles them so that they are easy to recognize and parse in that context.</p>

<pre class="language-markup"><code>&lt;code&gt;...&lt;/code&gt;</code></pre>

<div class="demo">
  <p>Here is an example variable: <code>var example = 'This is a test';</code></p>
</div>

<h2>Block Code</h2>

<p>Code blocks are larger sections of code that utilize the combination of a <code>&lt;pre&gt;</code> element to retain preformatted text, in which structure is represented by typographic conventions rather than by elements.</p>

<pre class="language-markup"><code>&lt;pre&gt;&lt;code&gt;...&lt;/code&gt;&lt;/pre&gt;</code></pre>

<pre><code>var new = BaseWeb;

class BaseWeb() {
  desc: a fresh front-end development framework
}
</code></pre>
