/*==============================================================================
  Button Groups
==============================================================================*/

.btn-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  .clearfix();

  > .btn {
    font-size: @font-size-button;
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin-right: -1px;
  }
  > .btn:first-child {
    .border-radius-left(4px);
  }
  > .btn:last-child {
    .border-radius-right(4px);
    margin-right: 0;
  }
  > .btn:hover,
  > .btn:active,
  > .btn:focus {
    z-index: 2;
  }
}

/**
 * Vertical groups
 */
.btn-group-vertical {
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  .clearfix();
  
  > .btn {
    display: block;
    font-size: @font-size-button;
    position: relative;
    z-index: 1;
    border-radius: 0;
    margin-bottom: -1px;
  }
  > .btn:first-child {
    .border-radius-top(4px);
  }
  > .btn:last-child {
    .border-radius-bottom(4px);
    margin-bottom: 0;
  }
  > .btn:hover,
  > .btn:active,
  > .btn:focus {
    z-index: 2;
  }
}
