////////////////////////////////////////////////////////////////////////////////
// Form Layout Mixins
////////////////////////////////////////////////////////////////////////////////

// Horizontal Forms
// Where group-key and group-value are side by side
.make-form-horizontal( @key-column-width : @key-column-width, @key-column-gutter : @key-column-gutter ) {
  // Group
  .group {
    display: block;
  }
  // Key
  .group .group-key {
    float: left;
    width: ( @key-column-width - @key-column-gutter );
  }
  .group .group-key label {
    line-height: @line-height-label;
  }
  // Value
  .group .group-value {
    padding-left: @key-column-width;
  }
}

// Vertical Forms
// Where group-key and group-value are stacked
.make-form-vertical() {
  // Group
  .group {
    display: block;
  }
  // Key
  .group .group-key {
    float: none;
    width: auto;
  }
  .group .group-key label {
    line-height: inherit;
  }
  // Value
  .group .group-value {
    padding-left: 0;
  }
}

// Inline Forms
// Sets groups to be inline along with group-key and group-value
.make-form-inline() {
  // Group
  .group {
    display: inline-block;
  }
  // Key
  .group .group-key {
    float: none;
    width: auto;
  }
  .group .group-key label {
    line-height: inherit;
  }
  // Value
  .group .group-value {
    padding-left: 0;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Form Style Mixins
////////////////////////////////////////////////////////////////////////////////

// Bordered
// Give the form a border and seperates groups with more borders!
.make-form-bordered() {
  border: 1px solid;
  .border-radius();
  .border-color( @border-form-base, @border-form-alpha, @border-form );
  
  // Group
  .group {
    padding: (15px - round((@margin / 2))) 15px;
    margin: 0;
    border-top: 1px solid;
    .border-color( @border-form-base, @border-form-alpha, @border-form );
    
    &:first-child {
      border-top: 0 none;
    }
  }
  // Key
  .group .group-key {

  }
  // Value
  .group .group-value {

  }
}

// Filled
// Give the form a some filling
.make-form-filled() {
  // Group
  .group {
    padding: (15px - round((@margin / 2))) 15px;
    margin: round((@margin / 2)) 0;
    .border-radius();
    .background-color( @bg-form-base, @bg-form-alpha, @bg-form );
  }
  // Key
  .group .group-key {
    
  }
  // Value
  .group .group-value {
    
  }
}

/*==============================================================================
  Base Form Elements
==============================================================================*/

form {
  margin: @margin 0;
}
fieldset {
  margin: @margin 0;
}
legend {
  
}

/**
 * Label
 */
label {
  margin: round((@margin / 2)) 0;
  padding: 0;
  display: inline-block;
}

/**
 * Inline Choice Labels
 */
label.checkbox, label.radio {
  margin-right: round((@margin / 2));
  &:last-child {
    margin-right: 0;
  }
}

/**
 * Select
 */
select {
  margin: round((@margin / 2)) 0;
}

/**
 * Buttons
 */
button {
  cursor: pointer;
}

/**
 * Input Styles
 */
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="range"],
input[type="color"] {
  font-family: @font-family-form;
  .font-sequence(@font-size-form);
  color: @color-form;
  box-sizing: @input-box-size;
  width: @true-input-width;
  height: @true-input-height;
  max-width: 100%;
  display: inline-block;
  padding: @input-padding;
  margin: round((@margin / 2)) 0;
  border: @border-input-size @border-input-style;
  .border-color( @border-input-base, @border-input-alpha, @border-input );
  background: none;
  .background-color( @bg-input-base, @bg-input-alpha, @bg-input );
  .box-shadow( 0 1px 3px rgba(0,0,0, 0.05) inset );
  .transition( ~"border linear 0.2s, box-shadow linear 0.2s" );
  
  &:focus {
    outline: none;
    .border-color( @blue-lighter, 0.8 );
    .box-shadow( ~"0 1px 3px rgba(0,0,0, 0.05) inset, 0 1px 3px rgba(35,130,247, 0.1)" );
  }
}

/**
 * Remove webkit's search styles
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: @input-box-size;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Reset Input Widths
 */
input[type="range"] {
  width: auto;
}
input[type="color"] {
  width: 30px;
  height: 30px;
  padding: 2px 4px;
}

/**
 * choice
 */
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  top: -1px;
}

/**
 * Buttons
 */
input[type="file"],
input[type="image"],
input[type="reset"],
input[type="button"],
input[type="submit"] {}

/*==============================================================================
  Form Layout
==============================================================================*/

/**
 * Group Structure
 */
form .group {
  .clearfix();
  margin: @margin 0;
}

form .group .group-key {
  
}
form .group .group-key label {
  font-weight: bold;
  display: block;
}

form .group .group-value {
  
}

/**
 * Key Alignment
 */
.key-align-left {
  .group .group-key {
    text-align: left;
  }
}

.key-align-right {
  .group .group-key {
    text-align: right;
  }
}

/**
 * Value Alignment
 */
.value-align-left {
  .group .group-value {
    text-align: left;
  }
}

.value-align-right {
  .group .group-value {
    text-align: right;
  }
}

/*==============================================================================
  Layout Classes
==============================================================================*/

form.vertical, fieldset.vertical {
  .make-form-vertical();
}

form.horizontal, fieldset.horizontal {
  .make-form-vertical();
}

form.inline, fieldset.inline { 
  .make-form-inline();
}

// Responsive form layout
#responsive {
  .tablet() {
    form.horizontal, 
    fieldset.horizontal { 
      .make-form-horizontal(); 
    }
  }
}

/*==============================================================================
  Styles Classes
==============================================================================*/

form.bordered, fieldset.bordered {
  .make-form-bordered();
}

form.filled, fieldset.filled {
  .make-form-filled();
}

/*==============================================================================
  Custom Form Groups
==============================================================================*/

/**
 * Form Header
 */
.form-header {

}
.form-header h2 {
  .font-sequence(18px);
  font-weight: normal;
  color: @color-link-hover;
}

/**
 * Action Group
 */
.group-action {
  
}
.group button, .group input[type="submit"] {
  margin: round((@margin / 2)) @margin round((@margin / 2)) 0;
  
  &:last-child {
    margin-right: 0;
  }
}
