/*==============================================================================
  Base Grid System
==============================================================================*/

.@{class-container} {
  .make-container( 100% );
}
.@{class-row} {
  .make-row();
}
.@{class-column} {
  float: left;
  width: 100%;
  min-height: 1px;
  .box-sizing( border-box );
}

////////////////////////////////////////////////////////////////////////////////
// Grid System Assignment
////////////////////////////////////////////////////////////////////////////////

#responsive {
  .tablet() {
    .build-grid-system();
  }
}