/*==============================================================================
  Tables
==============================================================================*/

table {
  width: 100%; 
  max-width: 100%;
  background: transparent;
  margin: @margin 0;
  overflow: auto;
  
  th {
    color: @color-header;
    text-align: left;
    font-weight: bold;
  }
}

/**
 * Table Classes
 */
table.rowed {
  .make-table-rowed();
}

table.columned { 
  .make-table-column();
}

table.stripes { 
  .make-table-stripes();
}

table.stripes-horizontal { 
  .make-table-stripes(horizontal);
}

table.stripes-vertical { 
  .make-table-stripes(vertical);
}

table.bordered { 
  .make-table-bordered();
}

table.padded { 
  .make-table-padded();
}

table.condensed { 
  .make-table-condensed();
}

table.hover { 
  .make-table-hover();
}
