// ==========================================================
// BaseWeb - Less Variable Configurations
// https://github.com/sebnitu/BaseWeb
// ==========================================================
// Copyright 2012 Sebastian Nitu.
//
// CSS compilation by LESS (http://lesscss.org/).
// ==========================================================

// ==========================================================
// Grid
// ==========================================================
// Static grid
@gridColumns:						12;
@gridColumnWidth:				60px;
@gridGutterWidth:				20px;

// Fluid grid
@fluidGridColumnWidth:	6.333%;
@fluidGridGutterWidth:	2%;

// ==========================================================
// End of Less Variable Configurations
// ==========================================================
