/*
*************************************************

SEBASTIAN NITU
Included Fonts via @font-face

Created by Sebastian Nitu
http://www.sebnitu.com

*************************************************
*/

/*-------------------------------------------
	@font-face Declaration
---------------------------------------------*/

/**
 * Font Name
 * - Font created by:
 * - Font URL 
 */

/* EXAMPLE

@font-face {
	font-family: 'Trebuchet MS';
	src: url(../fonts/Trebuchet_MS.ttf) format('truetype');
}

@font-face {
	font-family: 'Trebuchet MS';
	font-weight: bold;
	src: url(../fonts/Trebuchet_MS_Bold.ttf) format('truetype');
}
	
@font-face {
	font-family: 'Trebuchet MS';
	font-style: italic;
	src: url(../fonts/Trebuchet_MS_Italic.ttf) format('truetype');
}
	
@font-face {
	font-family: 'Trebuchet MS';
	font-weight: bold; font-style: italic;
	src: url(../fonts/Trebuchet_MS_Bold_Italic.ttf) format('truetype');
}
	
*/

/*-------------------------------------------
	@Fin
---------------------------------------------*/