/*
*************************************************

SEBASTIAN NITU
Main Styles

Created by Sebastian Nitu
http://www.sebnitu.com

*************************************************
*/

/*-------------------------------------------
	@960 Grid System ( http://960.gs )
---------------------------------------------*/

/**
 * Container
 */
.container {
	position: relative;
	margin-left: auto; margin-right: auto;
	width: 960px;
}
.container:before, .container:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.container:after { clear: both; }
.container { zoom: 1; }

.container { clear: both; }
.container-left { clear: left; }
.container-right { clear: right; }

/**
 * Children Column ( Alpha ~ First, Omega ~ Last )
 */
.alpha { margin-left: 0 !important; }
.omega { margin-right: 0 !important; }

/**
 * Global Grid
 */ 
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
	display:inline; float: left; position: relative;
	margin-left: 15px; margin-right: 15px;
}

/**
 * Two Columns
 */
.container .grid-1  { width: 50px;  }
.container .grid-2  { width: 130px; }
.container .grid-3  { width: 210px; }
.container .grid-4  { width: 290px; }
.container .grid-5  { width: 370px; }
.container .grid-6  { width: 450px; }
.container .grid-7  { width: 530px; }
.container .grid-8  { width: 610px; }
.container .grid-9  { width: 690px; }
.container .grid-10 { width: 770px; }
.container .grid-11 { width: 850px; }
.container .grid-12 { width: 930px; }

/**
 * Prefix Extra Space / Two Columns
 */
.container .prefix-1  { padding-left: 80px;  }
.container .prefix-2  { padding-left: 160px; }
.container .prefix-3  { padding-left: 240px; }
.container .prefix-4  { padding-left: 320px; }
.container .prefix-5  { padding-left: 400px; }
.container .prefix-6  { padding-left: 480px; }
.container .prefix-7  { padding-left: 560px; }
.container .prefix-8  { padding-left: 640px; }
.container .prefix-9  { padding-left: 720px; }
.container .prefix-10 { padding-left: 800px; }
.container .prefix-11 { padding-left: 880px; }

/**
 * Suffix Extra Space / Two Columns
 */
.container .suffix-1  { padding-right: 80px;  }
.container .suffix-2  { padding-right: 160px; }
.container .suffix-3  { padding-right: 240px; }
.container .suffix-4  { padding-right: 320px; }
.container .suffix-5  { padding-right: 400px; }
.container .suffix-6  { padding-right: 480px; }
.container .suffix-7  { padding-right: 560px; }
.container .suffix-8  { padding-right: 640px; }
.container .suffix-9  { padding-right: 720px; }
.container .suffix-10 { padding-right: 800px; }
.container .suffix-11 { padding-right: 880px; }

/**
 * Push Space / Two Columns
 */
.container .push-1  { left: 80px;  }
.container .push-2  { left: 160px; }
.container .push-3  { left: 240px; }
.container .push-4  { left: 320px; }
.container .push-5  { left: 400px; }
.container .push-6  { left: 480px; }
.container .push-7  { left: 560px; }
.container .push-8  { left: 640px; }
.container .push-9  { left: 720px; }
.container .push-10 { left: 800px; }
.container .push-11 { left: 880px; }

/**
 * Push Space / Two Columns
 */
.container .pull-1  { right: 80px;  }
.container .pull-2  { right: 160px; }
.container .pull-3  { right: 240px; }
.container .pull-4  { right: 320px; }
.container .pull-5  { right: 400px; }
.container .pull-6  { right: 480px; }
.container .pull-7  { right: 560px; }
.container .pull-8  { right: 640px; }
.container .pull-9  { right: 720px; }
.container .pull-10 { right: 800px; }
.container .pull-11 { right: 880px; }

/*-------------------------------------------
	@Fin
---------------------------------------------*/