/* ==========================================================
 * BaseWeb - Main Styles
 * https://github.com/sebnitu/BaseWeb
 * ==========================================================
 * Copyright 2012 Sebastian Nitu.
 * ========================================================== */

/* ==========================================================
	Typography
============================================================= */
body {
	font-family: @fontFamily;
	font-size: @fontSize;
	line-height: @lineHeight;
	color: #606060;
}
p {
	margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #101010;
	margin: 10px 0;
}
h1 {
	font-size: 24px; line-height: 30px;
}
h2 {
	font-size: 20px; line-height: 26px;
}
h3 {
	font-size: 18px; line-height: 24px;
}
h4 {
	font-size: 16px; line-height: 22px;
}
h5 {
	font-size: 14px; line-height: 20px;
}
h6 {
	font-size: 12px; line-height: 18px;
}

ul, ol {
	margin: 10px 0 10px 25px;
}
ul {}
ol {}

nav ul {
	margin: 0;
}

a {
	color: #128f9a;
	text-decoration: none;
}
a:hover {
	color: #7cb684;
}

small {
	font-size: 80%;
	color: #909090;
}

table th {
	font-weight: bold;
}

/* Bordered Tables */
table.bordered {
	background: rgba(255,255,255, 0.4);
	border: 1px solid rgba(0,0,0, 0.1);
	border-collapse: separate;
	margin: 10px 0;
	.border-radius(5px);
}
table.bordered td, table.bordered th {
	padding: 10px;
	border-top: 1px solid rgba(0,0,0, 0.1);
	border-left: 1px solid rgba(0,0,0, 0.1);
}
table.bordered tr:first-child td, table.bordered tr:first-child th { border-top: 0 none; }
table.bordered tr td:first-child, table.bordered tr th:first-child { border-left: 0 none; }
table.bordered tr:first-child td:first-child, table.bordered tr:first-child th:first-child { .border-radius-top-left(); }
table.bordered tr:first-child td:last-child, table.bordered tr:first-child th:last-child { .border-radius-top-right(); }
table.bordered tr:last-child td:first-child, table.bordered tr:last-child th:first-child { .border-radius-bottom-left(); }
table.bordered tr:last-child td:last-child, table.bordered tr:last-child th:last-child { .border-radius-bottom-right(); }

/* ==========================================================
	Forms
============================================================= */


/* ==========================================================
	Structure
============================================================= */


/* ==========================================================
	Header
============================================================= */


/* ==========================================================
	Navigation
============================================================= */


/* ==========================================================
	Main
============================================================= */


/* ==========================================================
	Footer
============================================================= */


/* ==========================================================
	End of Main Styles
============================================================= */
