/*
*************************************************

SEBASTIAN NITU
Main Styles

Created by Sebastian Nitu
http://www.sebnitu.com

*************************************************
*/

/*-------------------------------------------
	@Fonts
---------------------------------------------*/

@import 'fonts.css';

/*-------------------------------------------
	@Reset
---------------------------------------------*/

@import 'reset.css';

/*-------------------------------------------
	@Grid
---------------------------------------------*/

@import 'grid.css';

/*-------------------------------------------
	@Structure
---------------------------------------------*/



/*-------------------------------------------
	@Typography
---------------------------------------------*/

body {
	font-family: 'Helvetica Neue', 'HelveticaNeue', helvetica, arial, sans-serif;
	font-size: 14px; line-height: 22px; color: #606060;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima-nova-1', 'proxima-nova-2', 'Helvetica Neue', 'HelveticaNeue', helvetica, arial, sans-serif;
	margin: 10px 0;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
	
p {
	margin: 10px 0;
}

ul, ol {
	margin: 10px 0;
}
ul {
	
}
ol {
	
}

/*-------------------------------------------
	@Header
---------------------------------------------*/



/*-------------------------------------------
	@Main
---------------------------------------------*/



/*-------------------------------------------
	@Footer
---------------------------------------------*/



/*-------------------------------------------
	@Fin
---------------------------------------------*/