/* ==========================================================
 * BaseWeb - Main Styles
 * https://github.com/sebnitu/BaseWeb
 * ==========================================================
 * Copyright 2012 Sebastian Nitu.
 * ========================================================== */

// ==========================================================
//	Import Stylesheets
// ==========================================================
// LESS variables and mixins
@import 'variables.less';
@import 'mixins.less';

// Resets and fonts and grids, oh my!
@import 'reset.less';
@import 'fonts.less';
@import 'grid.less';

/* ==========================================================
	Typography
============================================================= */
body {
	font-family: 'Helvetica Neue', 'HelveticaNeue', helvetica, arial, sans-serif;
	font-size: 12px; line-height: 18px; 
	color: #303030;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 10px 0;
}
h1 {
	font-size: 22px; line-height: 28px;
}
h2 {
	font-size: 20px; line-height: 26px;
}
h3 {
	font-size: 18px; line-height: 24px;
}
h4 {
	font-size: 16px; line-height: 22px;
}
h5 {
	font-size: 14px; line-height: 20px;
}
h6 {
	font-size: 12px; line-height: 18px;
}
p {
	margin: 10px 0;
}
ul, ol {
	margin: 10px 0;
}
ul {}
ol {}

/**
 * Unique Typography Styles
 */
.lined {
	background: url(../img/layout/trans/black-10.png) repeat-x center center;
}
.lined span {
	background: #fff;
	display: inline-block;
	padding: 0 10px;
}

/* ==========================================================
	Forms
============================================================= */


/* ==========================================================
	Structure
============================================================= */


/* ==========================================================
	Header
============================================================= */


/* ==========================================================
	Main
============================================================= */


/* ==========================================================
	Footer
============================================================= */


/* ==========================================================
	Responsive
============================================================= */
/* Larger than 1200 (desktop - large browsers) */
@media (min-width: 1200px) {}

/* Smaller than 960 (browsers - landscape tablets) */
@media only screen and (max-width: 960px) {}

/* Smaller than 768 (tablet - landscape mobile) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* Smaller than 450 (mobile) */
@media only screen and (max-width: 767px) {}

/* ==========================================================
	End of Main Styles
============================================================= */
