// ==========================================================
// BaseWeb - Minxins
// https://github.com/sebnitu/BaseWeb
// ==========================================================
// Copyright 2012 Sebastian Nitu.
// ==========================================================

// ==========================================================
// CSS3 Properties
// ==========================================================
// Border Radius
.border-radius(@radius: 6px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

// Box Shadow
.box-shadow(@x: 0, @y: 1px, @blur: 1px, @color: rgba(0,0,0, 0.25), @inset: '') {
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
	box-shadow: @arguments;
}

// ==========================================================
// End of Minxins
// ==========================================================
