////////////////////////////////////////////////////////////////////////////////
// Documentation Styles
////////////////////////////////////////////////////////////////////////////////

.docs {
    background: @bg;
}
.docs .header {
    background: @gray-darker;
    position: relative;
    z-index: 10;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.1);
}
.docs .banner {
    background: @blue;
    position: relative;
    z-index: 5;
    #gradient > .vertical( @blue-darker, @blue-light );
}
.docs .main {
    background: @white;
    position: relative;
    z-index: 15;
    box-shadow: 0 -2px 12px rgba(0,0,0, 0.15);
}
.docs .footer {
    position: relative;
    z-index: 10;
    padding: 20px 0;
}

////
// Responsive Styles
#responsive {
    
    .desktop() {
        
        .docs .header {
            position: fixed;
            width: 100%;
            top: 0;
        }
        .docs .banner {
            position: fixed;
            width: 100%;
            top: 62px;
        }
        .docs .main {
            margin-top: ( 62px + 336px );
            margin-bottom: 82px;
        }
        .docs .footer {
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        
    }

}

////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////

.docs {
    .header {
        text-align: center;
        padding: 15px 0;
    }
    .header .logo {
        padding: 5px 0;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: @font-size;
        line-height: @line-height;
        font-weight: normal;
        color: @g9;
    }
    .header .logo a {
        color: @gE;
    }
    .header .logo span {
        color: @g6;
        margin: 0 5px;
    }
    
    .header .fork {
        .background-color( @white, 0.1, @g3 );
        color: @g9;
        border: 0 none;
        text-align: center;
        display: block;
        padding: 15px 20px;
        .border-radius();
        
        &:hover {
            .background-color( @white, 0.15, @g3 );
            color: @gE;
        }
    }
}

////
// Responsive Styles
#responsive {
    
    .tablet() {
        .docs {
            
            .header .logo {
                float: left;
                margin-bottom: 0;
            }
            
            .header .fork {
                float: right;
                padding: 5px 20px;
            }
        }
    }

}

////////////////////////////////////////////////////////////////////////////////
// Banner
////////////////////////////////////////////////////////////////////////////////

.docs {
    
    .banner {
        text-align: center;
    }
    .banner header {
        .container();
        padding: 60px 0;
    }
    .banner header h1 {
        .column(10);
        .prefix(1);
        .suffix(1);
        font-weight: 100;
        letter-spacing: 1px;
        color: @white;
        margin-bottom: 40px;
        text-shadow: 0 1px 3px rgba(0,0,0, 0.5);
    }
    .banner header p {
        margin: 15px 0;
    }
    .banner header p a {
        position: relative;
        font-size: 16px;
        line-height: 30px;
        background: @white;
        display: inline-block;
        border: 0 none;
        padding: 10px 30px;
        color: @blue;
        box-shadow: 0 1px 6px rgba(0,0,0, 0.2);
        .border-radius(25px);
        
        &:after {
            #arrow > .down( 8px, @white );
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
        }
        &:hover {
            top: 5px;
            color: @blue;
        }
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Features Menu
////////////////////////////////////////////////////////////////////////////////

.docs {
    .features-nav {
        padding: 20px 0 10px;
    }
    .features-nav ul {
        .row();
    }
    .features-nav ul li {
        .column(3);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .features-nav ul li a {
        display: block;
        border: 0 none;
        padding: 10px 20px;
        .background-color-default();
        .border-radius();
    }
    .features-nav ul li a:hover {
        .background-color( @bg-base, 0.08, @bg );
        box-shadow: 0 1px 4px rgba(0,0,0, 0.15) inset;
    }
}

////////////////////////////////////////////////////////////////////////////////
// Demos
////////////////////////////////////////////////////////////////////////////////

.demo-wrap {
    .clearfix();
}
.demo-intro {
    .row();
    margin: 10px 0 0;
}
.demo-intro header {
    .column(12);
    border-top: 1px solid;
    .border-color-default();
}
.demo-intro header h1 {
    font-size: @font-size;
    line-height: @line-height;
}
.demo-intro header h1 span {
    font-weight: normal;
    color: @color-light;
}
.demo-intro header h1 span a {
    color: @color-light;
    &:hover {
        color: @color-link-hover;
    }
}
.demo {
    .clearfix();
    padding: 0 0 30px 0;
}
.demo {
    .demo-description {
        .column(3);
        clear: both;
        border-top: 1px solid;
        .border-color-default();
        
        h2 {
            font-size: @font-size;
            line-height: @line-height;
            font-weight: normal;
        }
    }
    .demo-block {
        .column(9);
        border-top: 1px solid;
        .border-color-default();
    }
}

////////////////////////////////////////////////////////////////////////////////
// Colors Demo
////////////////////////////////////////////////////////////////////////////////

.demo-colors {
    .row();
    
    .color-palletes {
        .remove-list-styles();
        .clearfix();
        margin-bottom: 30px;
        
        [class*="c"] {
            position: relative;
            z-index: 5;
            background: @white;
            width: 20%;
            margin-top: -1px;
            margin-bottom: 11px;
            float: left;
            text-align: center;
            .mono-font( 0.75 );
            .transition();
            
            p {
                position: relative;
                white-space: nowrap;
            	overflow: hidden;
            	text-overflow: ellipsis;
                padding: 6px 10px;
                margin: 50px 0 0 0;
                #gradient > .horizontal( #efefef, #e0e0e0 );
            }
            
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                white-space: nowrap;
            	overflow: hidden;
            	text-overflow: ellipsis;
                content: "";
                display: block;
                padding: 15px 0 0;
                .color( @white, 0.6 );
            }
            &:after {
                #arrow > .down( 4px, #000 );
                position: absolute;
                z-index: 10;
                top: 50px;
                left: 50%;
                margin-left: -4px;
            }
            &:hover {
                z-index: 10;
                padding: 10px;
                margin: -11px -10px 1px -10px;
            }
        }
        
        .swatch( @color ) {
            background: @color;
            &:before {
                content: "@{color}";
            }
            &:after {
                #arrow > .down( 4px, @color );
            }
        }
        
        &.rgb {
            .c1 { .swatch( @Rgb ); }
            .c2 { .swatch( @rGb ); }
            .c3 { .swatch( @rgB ); }
        }
        
        &.cmyk {
            .c1 { .swatch( @Cmyk ); }
            .c2 { .swatch( @cMyk ); }
            .c3 { .swatch( @cmYk ); }
            .c4 { .swatch( @cmyK ); }
        }
        
        &.gray-scale {
            .c1  { .swatch( @g0 ); }
            .c2  { .swatch( @g1 ); }
            .c3  { .swatch( @g2 ); }
            .c4  { .swatch( @g3 ); }
            .c5  { .swatch( @g4 ); }
            .c6  { .swatch( @g5 ); }
            .c7  { .swatch( @g6 ); }
            .c8  { .swatch( @g7 ); }
            .c9  { .swatch( @g8 ); }
            .c10 { .swatch( @g9 ); }
            .c11 { .swatch( @gA ); }
            .c12 { .swatch( @gB ); }
            .c13 { .swatch( @gC ); }
            .c14 { .swatch( @gD ); }
            .c15 { .swatch( @gE ); }
            .c16 { .swatch( @gF ); }
        }
        
        &.short-code-gray-scale {
            .c1  { .swatch( @black ); }
            .c2  { .swatch( @gray-darker ); }
            .c3  { .swatch( @gray-dark ); }
            .c4  { .swatch( @gray ); }
            .c5  { .swatch( @gray-light ); }
            .c6  { .swatch( @gray-lighter ); }
            .c7  { .swatch( @white ); }
        }
        
        &.theme {
            .c1  { .swatch( @red-lighter ); }
            .c2  { .swatch( @red-light ); }
            .c3  { .swatch( @red ); }
            .c4  { .swatch( @red-dark ); }
            .c5  { .swatch( @red-darker ); }
        
            .c6  { .swatch( @red-orange-lighter ); }
            .c7  { .swatch( @red-orange-light ); }
            .c8  { .swatch( @red-orange ); }
            .c9  { .swatch( @red-orange-dark ); }
            .c10 { .swatch( @red-orange-darker ); }
            
            .c11 { .swatch( @orange-lighter ); }
            .c12 { .swatch( @orange-light ); }
            .c13 { .swatch( @orange ); }
            .c14 { .swatch( @orange-dark ); }
            .c15 { .swatch( @orange-darker ); }
            
            .c16 { .swatch( @yellow-orange-lighter ); }
            .c17 { .swatch( @yellow-orange-light ); }
            .c18 { .swatch( @yellow-orange ); }
            .c19 { .swatch( @yellow-orange-dark ); }
            .c20 { .swatch( @yellow-orange-darker ); }
            
            .c21 { .swatch( @yellow-lighter ); }
            .c22 { .swatch( @yellow-light ); }
            .c23 { .swatch( @yellow ); }
            .c24 { .swatch( @yellow-dark ); }
            .c25 { .swatch( @yellow-darker ); }
            
            .c26 { .swatch( @yellow-green-lighter ); }
            .c27 { .swatch( @yellow-green-light ); }
            .c28 { .swatch( @yellow-green ); }
            .c29 { .swatch( @yellow-green-dark ); }
            .c30 { .swatch( @yellow-green-darker ); }
            
            .c31 { .swatch( @green-lighter ); }
            .c32 { .swatch( @green-light ); }
            .c33 { .swatch( @green ); }
            .c34 { .swatch( @green-dark ); }
            .c35 { .swatch( @green-darker ); }
            
            .c36 { .swatch( @blue-green-lighter ); }
            .c37 { .swatch( @blue-green-light ); }
            .c38 { .swatch( @blue-green ); }
            .c39 { .swatch( @blue-green-dark ); }
            .c40 { .swatch( @blue-green-darker ); }
            
            .c41 { .swatch( @blue-lighter ); }
            .c42 { .swatch( @blue-light ); }
            .c43 { .swatch( @blue ); }
            .c44 { .swatch( @blue-dark ); }
            .c45 { .swatch( @blue-darker ); }
            
            .c46 { .swatch( @blue-violet-lighter ); }
            .c47 { .swatch( @blue-violet-light ); }
            .c48 { .swatch( @blue-violet ); }
            .c49 { .swatch( @blue-violet-dark ); }
            .c50 { .swatch( @blue-violet-darker ); }
            
            .c51 { .swatch( @violet-lighter ); }
            .c52 { .swatch( @violet-light ); }
            .c53 { .swatch( @violet ); }
            .c54 { .swatch( @violet-dark ); }
            .c55 { .swatch( @violet-darker ); }
            
            .c56 { .swatch( @red-violet-lighter ); }
            .c57 { .swatch( @red-violet-light ); }
            .c58 { .swatch( @red-violet ); }
            .c59 { .swatch( @red-violet-dark ); }
            .c60 { .swatch( @red-violet-darker ); }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
// Grid System Demo
////////////////////////////////////////////////////////////////////////////////

.demo-grid {
    
    [class*="col-"] > p, [class*="test-"] > p {
        .mono-font();
        text-align: center;
        padding: 15px 20px;
        border: 1px solid;
        .border-color-default();
        .border-radius(4px);
        box-shadow: 0 1px 3px rgba(0,0,0, 0.02);
        background-clip: padding-box;
    }
    
    ////
    // Semantic Grid System
    .semantic {
        .row();
        color: @white;
    }
    .semantic .test-1 {
        .column( 3 );
    }
    .semantic .test-2 {
        .column( 9 );
    }
    .semantic .test-3 {
        .column( 3 );
        .prefix( 3 );
        .suffix( 6 );
    }
    .semantic .test-1 p { background: @red; }
    .semantic .test-2 p { background: @green; }
    .semantic .test-3 p { background: @blue; }
    
    ////
    // Nested
    .row.nested, .nested-semantic {
        background: transparent;
        margin: 20px 0;
    }
    .row.nested .row {
        background: transparent;
        padding: 0;
    }
    .row.nested [class*="col-"], .nested-semantic [class*="test-"] {
        .background-color-default();
        box-shadow: 0 1px 4px rgba(0,0,0, 0.1) inset;
    }
    .nested-semantic .test-3 {
        background: none;
        box-shadow: none;
    }
    .row.nested p, .nested-semantic p {
        margin: 0;
        border: 0 none;
        box-shadow: none;
    }
    
    ////
    // Semantic Nested Grid
    .nested-semantic {
        .row();
    }
    .nested-semantic .test-1 {
        .column(4);
    }
    .nested-semantic .test-2 {
        .column(8);
    }
    .nested-semantic .test-3 {
        .row();
    }
    .nested-semantic .test-4 {
        .column(4, 8);
        .alpha();
    }
    .nested-semantic .test-5 {
        .column(4, 8);
        .omega();
    }
    
    ////
    // Nested static grid fix
    .nested-static {
        .col-8 .col-3 {
            .column(3, 8);
            
            .col-1 {
                .column(1, 3);
                .alpha();
            }
            .col-2 {
                .column(2, 3);
                .omega();
            }
            &:first-child {
                .alpha();
            }
        }
        .col-8 .col-2 {
            .column(2, 8);
            &:last-child {
                .omega();
            }
        }
        .col-4 .col-2 {
            .column(2, 4);
            
            .col-1 {
                .column(1, 2);
                
                &:first-child {
                    .alpha();
                }
                &:last-child {
                    .omega();
                }
            }
            &:first-child {
                .alpha();
            }
            &:last-child {
                .omega();
            }
        }
    }

}

////////////////////////////////////////////////////////////////////////////////
// Utility Classes Demo
////////////////////////////////////////////////////////////////////////////////

.demo-utility {
    
    .demo-block p {
        margin: 0 0 10px;
        .clearfix();
    }
    
    .demo-block span {
        .mono-font();
        float: left;
        text-align: center;
        padding: 5px 15px;
        margin: 10px 10px 0 0;
        border: 1px solid rgba(0,0,0, 0.1);
        .border-radius(20px);
        
        &:last-child {
            margin-right: 0;
        }
    }
    .visible-on span {
        .background-color( @blue, 0.1 );
        .border-color( @blue, 0.1 );
        color: @blue;
    }
    .hidden-on span {
        .background-color( @red, 0.1 );
        .border-color( @red, 0.1 );
        color: @red;
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Typography Demo
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// Code Demo
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// Images Demo
////////////////////////////////////////////////////////////////////////////////

.demo-images {
    
    ////
    // Image Styles
    .demo-image-styles p {
        
    }
    .demo-image-styles ul {
        .remove-list-styles();
        margin-left: -@margin;
    }
    .demo-image-styles ul li {
        margin: 0 0 @margin @margin;
        display: inline-block;
        text-align: center;
    }
    .demo-image-styles ul li img {
        display: block;
        margin: 0 0 @margin 0;
        vertical-align: top;
    }
    
    ////
    // Image Alignment
    .demo-image-alignment table tr td:first-child {
        width: 40%;
        vertical-align: top;
    }
    .demo-image-alignment table tr td img {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Tables Demo
////////////////////////////////////////////////////////////////////////////////

.demo-tables {
    
    .demo-description form {
        label.checkbox {
            margin: 0 0 5px 0;
        }
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Forms Demo
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// Buttons Demo
////////////////////////////////////////////////////////////////////////////////

.demo-buttons {
    
    p .btn {
        margin: 5px 5px 5px 0;
    }
    .btn-group {
        margin: 0 0 15px 0;
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Icons Demo
////////////////////////////////////////////////////////////////////////////////

.demo-icons {
    
    .demo {
        padding-bottom: 10px;
    }
    .demo-description {
        clear: both;
    }
    .demo-block {
        .clearfix();
        padding-bottom: 10px;
    }
    
    .tile-wrap {
        margin-left: -10px;
    }
    .tile-wrap .tile {
        width: 33.33333%;
        float: left;
        text-align: center;
    }
    .tile-wrap .tile i, .tile-wrap .tile span {
        margin: 0 0 0 10px;
        .transition();
    }
    .tile-wrap .tile i {
        position: relative;
        z-index: 10;
        font-size: 70px;
        line-height: 50px;
        display: block;
        padding: 5px 10px 20px;
        margin-top: 10px;
        background: @white;
        border: 1px solid;
        .border-color-default();
        .border-radius-top();
        box-shadow: 0 1px 3px rgba(0,0,0, 0.02);
        background-clip: padding-box;
    }
    .tile-wrap .tile span {
        position: relative;
        z-index: 5;
        display: block;
        white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
        margin-top: -1px;
        padding: 5px 10px;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
    	.mono-font();
        .background-color-default();
        .border-color-default();
        .border-radius-bottom();
    }
    .tile-wrap .tile span pre {
        font-size: 100%;
        line-height: 20px;
        background: none;
        margin: 0;
        padding: 0;
    }
    
    .tile-wrap .tile:hover i {
        color: @Cmyk;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.1);
        .border-color-default();
    }
    .tile-wrap .tile:hover span {
        color: @white;
        background: @Cmyk;
    }
    
}

#responsive {
    
    .tablet() {
        .demo-icons .tile-wrap .tile {
            width: 20%;
        }
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Modals Demo
////////////////////////////////////////////////////////////////////////////////

.demo-modals {
    
    .modal-wrap {
        .background-color( @black, 0.5 );
        margin-top: -1px;
        padding: 20px;
    }
    
}

#responsive {
    
    .tablet() {
        .demo-modals .modal-wrap {
            padding: 30px;
        }
    }
    .desktop() {
        .demo-modals .modal-wrap {
            padding: 40px;
        }
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////////////////

.docs { 
    .footer {
        text-align: center;
        color: @gA;
    }
    .footer p {
        .container();
    }
    .footer p a {
        color: @gA;
        
        &:hover {
            color: @color-link-hover;
        }
    }
}