////////////////////////////////////////////////////////////////////////////////
// Documentation Styles
////////////////////////////////////////////////////////////////////////////////

body {
    background: #f4f4f4;
    font-family: @monoFontFamily;
}

////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////

.header {
    background: @g2;
    text-align: center;
}
.header .row {
    background: @g2;
}
.header .logo {
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    font-weight: normal;
    color: @g9;
    margin: 0;
    padding: 20px 0;
}
.header .logo a {
    color: @gE;
}
.header .logo span {
    color: @g6;
    margin: 0 5px;
}

////////////////////////////////////////////////////////////////////////////////
// Main
////////////////////////////////////////////////////////////////////////////////

.main {
    background: @white;
}
.main .row {
    background: @white;
}

////
// Demo
.demo-intro {
    padding: 20px 0 10px;
}
.demo-header {
    position: relative;
}
.demo {
    padding: 10px 0 20px;
}
.main h1 {
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    font-weight: bold;
    margin-bottom: 0;
    .uppercase(1px);
}
.main h3 {
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    font-weight: bold;
    margin: 0;
}

////////////////////////////////////////////////////////////////////////////////
// Utility Classes Demo
////////////////////////////////////////////////////////////////////////////////

.demo-utility {
    
    
    .row {
        padding-top: 0;
    }
    span {
        float: left;
        text-align: center;
        padding: 5px 15px;
        margin: 0 10px 10px 0;
        border: 1px solid rgba(0,0,0, 0.1);
        .border-radius(20px);
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    .visible-on h3 {
        color: @blue;
    }
    .visible-on span {
        .rgba( @blue, 0.1 );
        .rgba-border( @blue, 0.2 );
        color: @blue;
    }
    .hidden-on h3 {
        color: @red;
    }
    .hidden-on span {
        .rgba( @red, 0.1 );
        .rgba-border( @red, 0.2 );
        color: @red;
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Grid System Demo
////////////////////////////////////////////////////////////////////////////////

.demo-grid {
    
    [class*="col-"] > p, [class*="test-"] > p {
        text-align: center;
        padding: 15px 20px;
        border: 1px solid;
        .rgba-border( #000, 0.15, #ccc );
        .border-radius(4px);
        box-shadow: 0 1px 3px rgba(0,0,0, 0.05);
    }
    
    ////
    // Nested
    .row.nested {
        background: transparent;
        margin: 20px 0;
    }
    .row.nested .row {
        background: transparent;
        padding: 0;
    }
    .row.nested [class*="col-"] {
        .rgba( #000, 0.1, #efefef );
        box-shadow: 0 1px 4px rgba(0,0,0, 0.1) inset;
    }
    .row.nested p {
        margin: 0;
        border: 0 none;
        box-shadow: none;
    }
    
    ////
    // Fluid Nested
    .row-fluid.nested {
        background: transparent;
    }
    .row-fluid.nested .row {
        background: transparent;
        padding: 0;
    }
    .row-fluid.nested [class*="col-"] {
        .rgba( #000, 0.1, #efefef );
    }
    .row-fluid.nested p {
        margin: 0;
        border: 0 none;
    }
    
    ////
    // Semantic Grid System
    .semantic {
        .row();
        color: @white;
    }
    .semantic .test-1 {
        .column( 3 );
    }
    .semantic .test-2 {
        .column( 9 );
    }
    .semantic .test-3 {
        .column( 3 );
        .prefix( 3 );
        .suffix( 6 );
    }
    
    .semantic .test-1 p {
        background: @red;
    }
    .semantic .test-2 p {
        background: @green;
    }
    .semantic .test-3 p {
        background: @blue;
    }
    
    ////
    // Semantic Nested Grid
    .nested-semantic {
        background: transparent;
        margin: 20px 0;
    }
    .nested-semantic [class*="test-"] {
        .rgba( #000, 0.1, #efefef );
        box-shadow: 0 1px 4px rgba(0,0,0, 0.1) inset;
    }
    .nested-semantic .test-3 {
        background: none;
        box-shadow: none;
    }
    .nested-semantic p {
        margin: 0;
        border: 0 none;
        box-shadow: none;
    }
    
    .nested-semantic {
        .row();
    }
    .nested-semantic .test-1 {
        .column(4);
    }
    .nested-semantic .test-2 {
        .column(8);
    }
    .nested-semantic .test-3 {
        .row();
    }
    .nested-semantic .test-4 {
        .column(4, 8);
        .alpha();
    }
    .nested-semantic .test-5 {
        .column(4, 8);
        .omega();
    }
    
}

.nested-static {
    
    .col-8 .col-3 {
        .column(3, 8);
        
        .col-1 {
            .column(1, 3);
            .alpha();
        }
        .col-2 {
            .column(2, 3);
            .omega();
        }
    }
    .col-8 .col-2 {
        .column(2, 8);
    }
    
    .col-4 .col-2 {
        .column(2, 4);
        
        .col-1 {
            .column(1, 2);
            
            &:first-child {
                .alpha();
            }
            &:last-child {
                .omega();
            }
        }
    }
    
}

////////////////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////////////////

.footer {
    font-size: @baseFontSize - 2;
    line-height: @baseLineHeight - 2;
    text-align: center;
    color: @gB;
    padding: 20px 0;
}