/*==============================================================================
  Structure
==============================================================================*/

body {
  font-family: "proxima-nova", "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
  background: #d7dbdf;
}
.header {
  text-align: center;
}
.header .container {
  padding-top: 0;
  padding-bottom: 20px;
}

/*==============================================================================
  Header
==============================================================================*/

/**
 * Home Logo
 */
.header .logo {
  margin: 0;
  padding: 60px 0 0;
}
.header .logo a {
  display: block;
  width: 340px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  background: url("../img/svg/logo-baseweb.svg") no-repeat center center;
  background-size: 340px 200px;
}

/**
 * Home Slogan
 */
.header .slogan {
  margin: 20px 0;
  text-align: center;
  color: #303030;
}
.header .slogan .version {
  display: block;
  color: #909090;
}

/**
 * Home Button Groups
 */
.header .btn-group {
  margin: 40px 0 40px;
}
.header .btn-group .btn {
  margin-left: 0;
  border: 0 none;
  border-left: 1px solid rgba(0,0,0, 0.25);
}
.header .btn-group .btn:first-child {
  border-left: 0 none;
}

/*==============================================================================
  Navigation
==============================================================================*/

.menu {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.menu:after {
  content: "";
  display: table;
  clear: both;
}

.menu .menu-primary {
  float: left;
}
.menu .menu-secondary {
  float: right;
}

.menu ul {
  border-left: 1px solid rgba(0,0,0, 0.1);
}
.menu ul li {
  float: left;
  border-right: 1px solid rgba(0,0,0, 0.1);
}
.menu ul li a {
  display: block;
  box-sizing: border-box;
  padding: 15px 25px;
  color: #303030;
  border: 0 none;
  /* CSS3 Transitions */
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.menu ul li a:hover {
  background-color: rgba(255,255,255, 0.25);
}

/*==============================================================================
  Banner
==============================================================================*/

.banner {
  padding: 0;
  text-align: center;
}
.banner h2 {
  margin: 0;
  padding: 40px 0;
  border-top: 1px solid rgba(0,0,0, 0.1);
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  font-weight: 300;
}

/*==============================================================================
  Widgets
==============================================================================*/

/**
 * Widget Filter
 */
.widgets .widgets-filter {
  padding: 20px 0;
  background: #fff;
}
.widgets .widgets-filter input {
  padding-left: 50px;
  background: url("../img/svg/icon-search.svg") no-repeat 20px center;
  background-size: 15px 15px;
}

/** 
 * Widget Listing
 */
.widgets-listing ul {
  margin: 0 -10px;
  padding: 20px 0 0;
  list-style: none;
}
.widgets-listing ul:after {
  content: "";
  display: table;
  clear: both;
}
/* Widget */
.widgets-listing .widget {
  float: left;
  width: 33.333%;
  margin: 0;
}
.widgets-listing .widget a,
.widgets-listing .widget a h3,
.widgets-listing .widget a p,
.widgets-listing .widget a .icon {
  /* CSS3 Transitions */
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.widgets-listing .widget a {
  display: block;
  padding: 20px 20px;
  margin: 0 10px 20px;
  text-align: center;
  background-color: #fff;
  border: 0 none;
}
.widgets-listing .widget a h3 {
  margin: 5px 0;
  font-size: 18px;
  line-height: 26px;
}
.widgets-listing .widget a p {
  margin: 5px 0;
  color: #aaa;
}

/* Widget Icons */
.widgets-listing .widget .icon {
  display: none;
  margin: 20px auto;
  background-position: center 0;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.widgets-listing .widget.menu-item-overview .icon {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../img/svg/icon-overview.svg");
  background-size: 48px 48px;
}
.widgets-listing .widget.menu-item-media-queries .icon {
  display: block;
  width: 56px;
  height: 48px;
  background-image: url("../img/svg/icon-mediaqueries.svg");
  background-size: 56px 48px;
}
.widgets-listing .widget.menu-item-grid-system .icon {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../img/svg/icon-gridsystem.svg");
  background-size: 48px 47px;
}
.widgets-listing .widget.menu-item-elements .icon {
  display: block;
  width: 47px;
  height: 48px;
  background-image: url("../img/svg/icon-elements.svg");
  background-size: 47px 47px;
}
.widgets-listing .widget.menu-item-blocks .icon {
  display: block;
  width: 46px;
  height: 48px;
  background-image: url("../img/svg/icon-blocks.svg");
  background-size: 46px 45px;
}
.widgets-listing .widget.menu-item-customization .icon {
  display: block;
  width: 33px;
  height: 48px;
  background-image: url("../img/svg/icon-customization.svg");
  background-size: 33px 48px;
}

/* Widget Hover */
.widgets-listing .widget a:hover {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.1);
}
.widgets-listing .widget a:hover h3 {

}
.widgets-listing .widget a:hover p {
  color: #2ab0ea;
}
.widgets-listing .widget a:hover .icon {
  opacity: 0.3;
}

/*==============================================================================
  Footer
==============================================================================*/

.footer {
  padding: 20px 0;
  color: #909090;
}
.footer a {
  color: #909090;
}
.footer a:hover {
  color: #1495cd;
}

.footer .copyright {
  float: left;
}
.footer .nav {
  float: right;
}
.footer .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .nav ul li {
  float: left;
  margin: 0 0 0 20px;
}

/*==============================================================================
  End
==============================================================================*/
