/*==============================================================================
  Structure
==============================================================================*/

html, body {
  height: 100%;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
  background: #303030;
}
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}
.header {
  background: #303030;
  text-align: center;
}
.header .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*==============================================================================
  Header
==============================================================================*/

/**
 * Home Logo
 */
.header .logo {
  margin: 60px 0 0;
}
.header .logo a {
  display: block;
  width: 340px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  background: url("../img/svg/logo-baseweb.svg") no-repeat center center;
  background-size: 340px 200px;
}

/**
 * Home Slogan
 */
.header .slogan {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

/**
 * Home Button Groups
 */
.header .action {
  margin: 40px 0 40px;
}
.header .action .btn {
  background-clip: padding-box;
}

/*==============================================================================
  Banner
==============================================================================*/

.banner {
  padding: 40px 0;
  text-align: center;
  background: #fff200;
}
.banner h2 {
  margin: 0;
  font-weight: 300;
}
.banner p {
  margin: 40px 0 0 0;
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
}

/*==============================================================================
  Footer
==============================================================================*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #707070;
}
.footer a {
  color: #707070;
  border-color: rgba(255,255,255, 0.1);
}
.footer a:hover {
  color: #2ab0ea;
  border-color: rgba(255,255,255, 0.25);
}

/*==============================================================================
  End
==============================================================================*/
