// Set file variable
$filename: 'scss/custom/_custom.scss';

/*==============================================================================
  @Grid System - #{$filename}
==============================================================================*/

@include build-grid-system('mobile');

@include media-min('medium') {
  @include build-grid-system();
}

/*==============================================================================
  @Structure - #{$filename}
==============================================================================*/

.twitter {
  background: map-get($social, 'twitter');
}

body {
  background: $blue-gray-50;
}

.header {
  padding: 2em 0;
}
.home .header {
  padding-bottom: 0;
  border-bottom: 0 none;
}

.main {
  background: $white;
}
.home .header {
  background: none;
}

.main {
  padding: 1em 0 2em;
}
.footer {
  padding: 2em 0;
}

@include media-min('medium') {
  .home .header {
    padding-bottom: 2em;
  }
  .main {
    padding: 2em 0;
  }
}

/*==============================================================================
  @Header - #{$filename}
==============================================================================*/

.header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/**
 * Logo
 */
.header .logo {
  display: flex;
  align-items: center;
  border: 0 none;

  img {
    margin: 0;
  }
  .version {
    margin-top: 8px;
    margin-left: 10px;
    color: $color-light;
  }
  &:hover {
    text-decoration: none;
    .version {
      color: $color-link;
    }
  }
}

.home .header .logo {
  .version {
    color: rgba($white, 0.5);
  }
  &:hover {
    .version {
      color: rgba($white, 1);
    }
  }
}

/**
 * Navigation
 */
.header .nav {
  ul.menu-hori {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
  }
  ul.menu-hori li {
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    a:not(.button) {
      color: $color;
      font-size: px-to-em(15px);

      &:hover {
        color: $color-link;
        text-decoration: none;
      }
    }
  }
  ul.menu-hori li.active a:not(.button) {
    color: $color-light;
    border: 0 none;
  }
}

.home .header .nav {
  ul.menu-hori li a:not(.button) {
    color: $white;
    font-size: px-to-em(15px);

    &:hover {
      color: rgba($white, 0.5);
    }
  }
  ul.menu-hori li.active a:not(.button) {
    color: rgba($white, 0.5);
  }
  li > .button,
  .dropdown-trigger > .button {
    background-clip: padding-box;
  }
}

/**
 * Off-Canvas Menu
 */
.oc-aside .button.close {
  margin: 0.5em;
}
.oc-aside .nav {
  ul.menu-vert {
    margin: 0;
    list-style: none;

    li {
      margin: 0 1em;
    }
    li + li {
      border-top: 1px solid rgba($black, 0.1);
    }
    li a {
      display: block;
      padding: 0.5em 1em;
    }
    li a:hover {
      text-decoration: none;
    }
  }
  .button {
    display: block;
    margin: 1em 1.5em;
  }
}

// @include add-off-canvas-wrap-height('oc-aside-nav-mobile');

/**
 * More Icon
 */
.icon.icon-more {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 1.5em;
  margin: 0 0 0 10px;
  float: right;

  .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 0 2px 0;
    background: $color;
    @include border-radius(50%);

    &:last-child {
      margin-bottom: 1px;
    }
  }
}

/**
 * Response
 */
.header .logo .mobile,
.header .nav .mobile {
  display: inline-block;
}
.header .logo .desktop,
.header .nav .menu-hori.desktop {
  display: none;
}
@include media-min(930px) {
  .header .nav .mobile {
    display: none;
  }
  .header .nav .menu-hori.desktop {
    display: flex;
  }
}
@include media-min('small') {
  .header .logo .mobile {
    display: none;
  }
  .header .logo .desktop {
    display: flex;
  }
}

/*==============================================================================
  @Home - #{$filename}
==============================================================================*/

/**
 * Home
 */
.hero {
  position: relative;
  background: $blue;
  @include linear-gradient(to right, $pink-900, $deep-purple-900);
}

.hero {
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.hero {
  position: relative;

  &:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-4deg);
    transform-origin: 100%;
    z-index: -1;
  }
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 15em;
    background: $white;
    z-index: -2;
  }
}

/**
 * Hero Content
 */
.hero-content {
  text-align: center;
  margin-bottom: 2em;

  .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  h1 {
    font-size: px-to-em(18px);
    line-height: 1.5em;
    @include font-weight('light');
    color: $white;
  }
}

@include media-min('small') {
  .hero-content {
    margin-bottom: 5em;

    .container {
      padding: 5em 5em 6em;
    }
    h1 {
      font-size: px-to-em(20px);
    }
  }
}

@include media-min('medium') {

  .hero-content {
    margin-bottom: 10em;

    .container {
      padding: 10em 10em 12em;
    }
    h1 {
      font-size: px-to-em(24px);
    }
  }

}

@include media-min(1400px) {

  .hero-content {
    margin-bottom: 15em;
  }

}

/**
 * Main
 */
.main {
  .flex,
  .feature {
    margin-bottom: 4em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.home {
  .row {
    margin-bottom: 4em;
  }
  hr {
    margin: 8em 0;
  }
}
.home .main {
  img,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1em auto 3em;
  }
}
@include media-min('medium') {

  .main {
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: stretch;


      > * {
        width: 50%;
        margin-right: 6em;
      }
      > *:last-child {
        margin-right: 0;
      }
    }

    .feature {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > * {
        width: 50%;
      }
      .feature-content {
        width: 50%;
        margin-left: 3em;
        margin-right: 6em;
      }
      .feature-ill {
        width: 50%;
        margin-left: 6em;
        margin-right: 0;
      }

      &.reverse {
        flex-direction: row-reverse;

        .feature-content {
          margin-left: 6em;
          margin-right: 3em;
        }
        .feature-ill {
          margin-left: 0;
          margin-right: 6em;
        }
      }
    }
  }

  .home .main {
    img {
      width: auto;
      margin: 0 auto;
    }
  }

}

/*==============================================================================
  @Widget Wrap - #{$filename}
==============================================================================*/

.widget-wrap {
  margin: 2em 0;

  .widget {
    margin: 1em 0;
  }
  .widget .button {
    display: block;
  }
}

@include media-min('small') {
  .widget-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .widget {
      flex: 1 1 25%;
    }
    .widget + .widget {
      margin-left: 2em;
    }
    .widget .button {
      display: inline-block;
    }
  }
}

/*==============================================================================
  @Widgets - #{$filename}
==============================================================================*/

/**
 * Widget
 */
.widget {
  margin: 0;
  padding: 2rem 0;
  @include border-radius();

  &:first-child {
    padding-top: 1rem;
  }
  &:last-child {
    padding-bottom: 1rem;
  }
  .widget + .widget {
    border-top: 1px solid rgba($black, 0.1);
  }

  &.card {
    padding: 1em 2em;
    border: 1px solid $border-color;
    @include border-radius();
  }
}
.widget h2 {
  margin: 1rem 0;
  font-size: px-to-em(16px);
  @include font-weight('semi-bold');

  a {
    color: $color;
  }
  a:hover {
    color: $color-link;
  }
}

/**
 * Widget Menu
 */
.widget-menu {
  margin-right: 2em;

  ul {
    list-style: none;
    margin: 1em 0;
  }
  ul ul {
    margin: 0 0 0 1em;
  }
  ul li {
    margin: 1px 0;
  }
  ul li a {
    display: block;
    padding: 0.5em 1em;
    color: $color-light;
    border: 0 none;
    @include border-radius();

    &:hover {
      background: $bg-color;
      color: $color;
      text-decoration: none;
    }
  }

  // Active Item
  .active > a {
    color: $color-link;

    &:hover {
      color: $color-link;
    }
  }

  // Display Styles
  ul ul {
    display: none;
  }
  .active > ul {
    display: block;
  }
}

/**
 * Widget Contents
 */
.widget-contents {
  .active > a {
    color: $color-light;
    border: 0 none;
  }
}

/**
 * Widget Action
 */
.widget-action {
  display: none;
}
@include media-min('medium') {
  .widget-action {
    display: block;
  }
}

/**
 * Widget Back
 */
.widget-back {
  text-align: center;

  &:first-child,
  &:last-child {
    padding: 0;
  }
}
@include media-min('medium') {
  .widget-back {
    margin: 0;
    text-align: left;

    &:first-child,
    &:last-child {
      padding: 1em 0;
    }
  }
}

/*==============================================================================
  @Main - #{$filename}
==============================================================================*/

/**
 * Tables
 */
.table-docs {
  @extend .table.rowed;
  @extend .table.expanded;
  @extend .table.valign-middle;
}
@media screen and (max-width: 759px) {
  .table-docs {
    tr, th, td {
      display: block;
    }

    tr {
      padding: map-get($tables, 'padding');
      border-bottom: map-get($tables, 'border');

      &:first-child {
        border-top: map-get($tables, 'border');
      }
    }

    tr {
      th,
      td {
        padding: 0.5rem 0;
        border-bottom: 1px dotted rgba($black, 0.1);
      }
    }
    tr {
      th:last-child,
      td:last-child {
        border-bottom: 0 none;
      }
    }

    tbody:first-child tr:first-child {
      th,
      td {
        border-top: 0 none;
      }
    }
  }
}

/**
 * Lists
 */
.list-docs {
  @extend .list.rowed;
  @extend .list.flush;
  margin: 1.5rem 0;

  h3 {
    font-size: px-to-em(18px);
    color: $color-light;
    @include font-weight('light');
  }
}
.list-docs.numbered {
  counter-reset: list-counter;

  li {
    position: relative;
    padding-left: 3em;

    &:before {
      content: counter(list-counter);
    	counter-increment: list-counter;
      position: absolute;
      top: 1.5rem;
      left: 0;
      font-size: 2em;
      line-height: 1.5em;
      color: $color-light;
    }
  }
}

.subsection:last-child .list-docs:last-child > li:last-child {
  border-bottom: 0 none;
}

/**
 * Sections
 */
.subsection {
  margin: 2rem 0;
}

@include media-min('medium') {
  .subsection {
    margin: 3rem 0;
  }
}

/**
 * Article Listing
 */
.article-listing {
  list-style: none;
  margin: 0;

  li {
    margin: 2rem 0;

    &:first-child {
      margin-top: 0;
    }
  }
  h1 {
    font-size: 2em;
  }
}

/**
 * Article
 */
.article {
  position: relative;

  header {
    text-align: center;

    &:after {
      content: '';
      display: inline-block;
      margin: 1em auto;
      height: 1px;
      width: 3em;
      background: rgba($black, 0.1);
    }
  }
  .date,
  .meta {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-light;

    a {
      color: $color-light;

      &:hover {
        color: $color-link-hover;
      }
    }
  }
  .content {
    font-size: px-to-em(16em);
    line-height: 1.6em;

    .notice {
      font-size: 0.9em;
    }
    code {
      font-size: 0.9em;
    }
    pre code {
      font-size: 0.8em;
      line-height: 1.5em;
    }
  }
}

@include media-min('medium') {
  .article {
    .content {
      font-size: px-to-em(18em);
      line-height: 1.6em;
    }
  }
}

/**
 * Social Links
 */
.social-links {
  margin: 2em 0;
  display: flex;
  justify-content: center;

  a {
    padding: 0.25em 0.75em;
    background: $color;
    @include border-radius();
    font-size: 0.9em;
    line-height: 1.5em;
    color: $white;

    &.social-facebook {
      background: #4862a3;
    }
    &.social-twitter {
      background: #55acee;
    }
    &.social-google {
      background: #dc473a;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
  a + a {
    margin-left: 0.25rem;
  }
  .icon {
    font-size: px-to-em(22px);
    vertical-align: top;
  }
}

@include media-min('medium') {
  .social-links {
    margin-top: 4em;

    a {
      padding: 0.5em 1em;
      font-size: 1em;
    }
    a + a {
      margin-left: 0.5em;
    }
  }
}

/**
 * Page Navigation
 */
.page-nav {
  margin: 2em 0;

  a {
    position: relative;
    display: block;
    margin: 1em 0;
    padding: 1em 1.5em;
    background: $white;
    border: 1px solid rgba($black, 0.1);
    @include border-radius();
    color: $color;
    @include transition();

    &:hover {
      color: $color;
      border-color: $color-link;
      text-decoration: none;
    }
  }
  .icon {
    float: left;
    font-size: px-to-em(28px);
    vertical-align: top;
  }
  span {
    display: block;
    padding-left: 3em;
    line-height: px-to-em(28px);
  }
}

@include media-min('medium') {
  .page-nav {
    margin: 4em 0;
  }
}

/**
 * Featured Images
 */
.main .featured {
  margin: 0 0 2em 0;
  width: 100%;
  height: auto;
}

/**
 * Comments
 */
.comments-wrapper {
  margin: 2em 0;
}
@include media-min('medium') {
  .comments-wrapper {
    margin: 6em 0;
  }
}

/*==============================================================================
  @Blocks - #{$filename}
==============================================================================*/

/**
 * Blocks
 */
.block-action {
  margin: 2em 0;
  padding: 1.5em 3em;
  // border: 1px solid rgba($black, 0.1);
  // background: $deep-purple-700;
  @include linear-gradient(45deg, $pink-900, $deep-purple-900);
  @include border-radius();
  color: $white;
  text-align: center;

  h3 {
    color: $white;
  }
  .button-group-wrapper {
    display: block;
    .button {
      width: 100%;
      display: block;
      background-clip: padding-box;
    }
  }
}

@include media-min('medium') {
  .block-action {
    .button-group-wrapper {
      display: inline-block;
      .button {
        width: auto;
        display: inline-block;
      }
    }
  }
}

/*==============================================================================
  @Footer - #{$filename}
==============================================================================*/

.footer {
  color: $color-light;
  text-align: center;

  .logo {
    border: 0 none;
  }
  img {
    display: inline-block;
    opacity: 0.4;
  }

  a {
    color: $color-light;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@include media-min('medium') {
  .footer {
    text-align: left;

    .logo {
      position: relative;
      top: -3px;
      float: right;
    }
    img {
      margin: 0;
    }
  }
}

/*==============================================================================
  @End - #{$filename}
==============================================================================*/
