// Set file variable
$filename: 'scss/custom/_custom.scss';

/*==============================================================================
  @Grid System - #{$filename}
==============================================================================*/

@include build-grid-system('mobile');

@include media-min('medium') {
  @include build-grid-system();
}

/*==============================================================================
  @Structure - #{$filename}
==============================================================================*/

body {
  background: $bg-color;
}
.main {
  background: $white;
}

/**
 * Hide SVG Library
 */
.svg-symbols {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/*==============================================================================
  @Header - #{$filename}
==============================================================================*/

.header {
  padding: 2em 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include remove-clearfix();
}

/**
 * Logo
 */
.header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    margin: 0;
  }
  .version {
    margin-top: 8px;
    margin-left: 10px;
    color: $color-light;
  }
  &:hover {
    text-decoration: none;
    .version {
      color: $color-link;
    }
  }
}

.home .header .logo {
  .version {
    color: rgba($white, 0.5);
  }
  &:hover {
    .version {
      color: rgba($white, 1);
    }
  }
}

/**
 * Button
 */
.header .button {
  background: rgba($black, 0.05);
  border: none;
  color: $color;

  &:hover {
    background: rgba($black, 0.10);
    box-shadow: none;
    color: $color;
  }
}
.home .header .button {
  background: rgba($white, 0.1);
  color: $white;

  &:hover {
    background: rgba($white, 0.2);
    color: $white;
  }
}

/**
 * Menu Horizontal
 */
.menu-hori {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;

  li {
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: $color;
    font-weight: font-weight('medium');
    text-decoration: none;

    &:hover {
      color: $color-link;
    }
  }

  .active a {
    color: $color-light;
  }
}

.home .menu-hori {
  li a {
    color: $white;

    &:hover {
      color: rgba($white, 0.5);
    }
  }
  li.active a:not(.button) {
    color: rgba($white, 0.5);
  }
}

/**
 * Menu Vertical
 */
.menu-vert {
  margin: 0 1.5em;
  list-style: none;

  li {
    margin: 1px 0;
  }

  a {
    display: block;
    padding: 0.5em 1em;
    color: $color-light;
    text-decoration: none;
    border-radius: $border-radius;

    &:hover {
      background: $bg-color;
      color: $color;
    }
  }

  .active > a {
    color: $color-link;

    &:hover {
      color: $color-link;
    }
  }
}

/**
 * Off-Canvas Menu
 */
.oc-aside .button {
  background: none;

  &:hover {
    background: none;
    color: $color-link;
  }
}

/*==============================================================================
  @Hero - #{$filename}
==============================================================================*/

.hero {
  position: relative;
  background: $blue;
  background-image: linear-gradient(to bottom right, $pink-900, $deep-purple-900);
}

/**
 * Hero Content Container
 */
.hero-content .container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
@include media-min('small') {
  .hero-content .container {
    padding: 4em 5em 6em;
  }
}
@include media-min('medium') {
  .hero-content .container {
    padding: 8em 10em 10em;
  }
}

/**
 * Hero Content
 */
.hero-content {
  text-align: center;

  h1 {
    margin: 0 0 2em;
    color: $white;
    font-size: 2em;
  }
  .action {
    margin: 2em 0;
  }
  .button {
    background: rgba($white, 0);
    border: 2px solid rgba($white, 1);
    color: $white;
    transition: none;

    &:hover,
    &:focus {
      background: $white;
      color: $color;
    }
  }
}

@include media-min('medium') {
  .hero-content h1 {
    margin: 1em 0 2em;
  }
}

@include media-min('large') {
  .hero-content h1 {
    font-size: 2.5em;
  }
}

.hero-content .highlight {
  padding: 0;
  margin-left: -0.75em;
  background: none;
  font-size: 1.25em;

  .editor-prefixed {
    color: rgba($white, 1);
    &:before {
      color: rgba($white, 0.5);
    }
  }
}

/*==============================================================================
  @Main - #{$filename}
==============================================================================*/

/**
 * Main
 */
.main {
  padding: 1.5em 0;
}
.main + .main {
  margin-top: 3px;
}
@include media-min('medium') {
  .main {
    padding: 2em 0 3em;
  }
}

/**
 * Main Header
 */
.main-header {
  max-width: px-to-em(800px);
  margin: 1.5em auto;
  text-align: center;
}
@include media-min('medium') {
  .main-header {
    margin: 3em auto;
  }
}

/**
 * Feature
 */
.feature {
  margin: 4em 0;
}
.feature + .feature {
  margin-top: 4em;
}
.feature-ill {
  svg {
    display: block;
    margin: 1rem auto;
  }
}

@include media-min('medium') {

  .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .feature-content {
      flex: 0 1 50%;
    }
    .feature-content {
      margin-left: 3em;
      margin-right: 6em;
    }
    .feature-ill {
      margin-left: 6em;
      margin-right: 0;
    }
  }

  .feature.reverse {
    flex-direction: row-reverse;

    .feature-content {
      margin-left: 6em;
      margin-right: 3em;
    }
    .feature-ill {
      margin-left: 0;
      margin-right: 6em;
    }
  }

}

/**
 * File Structure
 */
.block-file-structure {
  display: block;
  margin: 1.5em 0;

  .item {
    display: flex;
    align-items: center;
  }
  .item-files {
    padding: 2em;
    background: $bg-color;
    border-radius: $border-radius;
  }
}

@include media-min('medium') {
  .block-file-structure {
    display: flex;
    margin: 3em 0;

    .item {
      flex: 0 1 50%;
    }
    .item + .item {
      margin-left: 4em;
    }

    .item-details {
      ul {
        margin: 0;
      }
    }
  }
}

/**
 * Expandable
 */
.expandable {
  position: relative;
  margin: 2em 0;

  .expandable-header {
    padding-bottom: 1em;
  }
  .expandable-footer {
    padding-top: 1em;
  }
  .expandable-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.25);
    border-radius: $border-radius;
  }
  .expandable-content {
    margin: 0;
    height: 300px;
    overflow-y: hidden;
  }
}
.expandable.active {
  .expandable-overlay {
    display: block;
    padding-bottom: 1em;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background: none;
  }
  .expandable-content {
    height: auto;
    overflow-y: auto;
  }
}

/*==============================================================================
  @Sidebar - #{$filename}
==============================================================================*/

.sidebar {
  .widget {
    margin: 0;
  }
}

/*==============================================================================
  @Widget Wrap - #{$filename}
==============================================================================*/

.widget-wrap {
  margin: 2em 0;

  .widget {
    margin: 1em 0;
  }
  .widget .button {
    display: block;
  }
}

@include media-min('small') {
  .widget-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .widget {
      flex: 1 1 25%;
    }
    .widget + .widget {
      margin-left: 2em;
    }
    .widget .button {
      display: inline-block;
    }
  }
}

/*==============================================================================
  @Widgets - #{$filename}
==============================================================================*/

/**
 * Widget
 */
.widget {
  margin: 1em 0;
  padding: 0;
  border-radius: $border-radius;

  .widget + .widget {
    border-top: 1px solid rgba($black, 0.1);
  }

  &.card,
  &.fill {
    padding: 1em 1.5em;
  }
  &.card {
    border: 1px solid $border-color;
  }
  &.fill {
    background: $bg-color;
  }
}

@include media-min('medium') {
  .widget {
    margin: 2em 0;
    padding: 1em 0;
  }
}

/**
 * Widget Title
 */
.widget h2 {
  @extend .h5;

  a {
    color: $color;
  }
  a:hover {
    color: $color-link;
  }
}

/**
 * Widget Menu
 */
.widget-menu {

  h2 {
    font-size: 1em;
    font-weight: font-weight('medium');
  }
  h2 a {
    display: inline-block;
    padding: 0;

    &:hover {
      background: none;
    }
  }

  ul {
    list-style: none;
    margin: 1em 0;
  }
  ul ul {
    margin: 0 0 0 1em;
  }
  ul li {
    margin: 1px 0;
  }

  a {
    display: block;
    padding: 0.5em 1em;
    color: $color-light;
    text-decoration: none;
    border-radius: $border-radius;

    &:hover {
      background: $bg-color;
      color: $color;
    }
  }

  .active > a {
    color: $color-link;

    &:hover {
      color: $color-link;
    }
  }

  // Display Toggle
  ul ul {
    display: none;
  }
  .active > ul {
    display: block;
  }
}

@include media-min('medium') {
  .widget-menu {
    margin-right: 2em;
  }
}

/**
 * Widget Contents
 */
.widget-contents {
  .active > a {
    color: $color-light;
    border: 0 none;
  }
}

/**
 * Widget Action
 */
.widget-action {
  display: none;
}
@include media-min('medium') {
  .widget-action {
    display: block;
  }
}

/**
 * Widget Back
 */
.widget-back {
  display: none;
  text-align: center;

  &:first-child,
  &:last-child {
    padding: 0;
  }
}
@include media-min('medium') {
  .widget-back {
    display: block;
    margin: 0;
    text-align: left;

    &:first-child,
    &:last-child {
      padding: 1em 0;
    }
  }
}

/*==============================================================================
  @Main - #{$filename}
==============================================================================*/

/**
 * Tables
 */
.table-docs {
  @extend .table.rowed;
  @extend .table.expanded;
  @extend .table.valign-middle;
}
@media screen and (max-width: 759px) {
  .table-docs {
    tr, th, td {
      display: block;
    }

    tr {
      padding: map-get($tables, 'padding');
      border-bottom: map-get($tables, 'border');

      &:first-child {
        border-top: map-get($tables, 'border');
      }
    }

    tr {
      th,
      td {
        padding: 0.5rem 0;
        border-bottom: 1px dotted rgba($black, 0.1);
      }
    }
    tr {
      th:last-child,
      td:last-child {
        border-bottom: 0 none;
      }
    }

    tbody:first-child tr:first-child {
      th,
      td {
        border-top: 0 none;
      }
    }
  }
}

/**
 * Lists
 */
.list-docs {
  margin: 1.5rem 0;
  list-style: none;

  li {
    margin: 0;
    padding: 1rem 0;
    border-top: 1px solid rgba($black, 0.1);
  }
}
.list-docs.numbered {
  counter-reset: list-counter;

  li {
    position: relative;
    padding-left: 3em;

    &:before {
      content: counter(list-counter);
    	counter-increment: list-counter;
      position: absolute;
      top: 1.5rem;
      left: 0;
      font-size: 2em;
      line-height: 1.5em;
      color: $color-light;
    }
  }
}

/**
 * Article Listing
 */
.article-listing {
  list-style: none;
  margin: 0;

  .main-header {
    margin-top: 0;
  }

  ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    margin: 1em auto;
  }
  ol li {
    display: flex;
    margin: 0;
  }

  .article {
    flex: 1 1 auto;
    margin: 0;
    padding: 0.5em 1.5em;
    border: 1px solid rgba($black, 0.1);
    border-radius: $border-radius;
    text-decoration: none;
  }
}

@include media-min('medium') {
  .article-listing ol {
    grid-gap: 1.5rem;
    margin: 2em auto;
  }
}

/**
 * Article
 */
.article {
  position: relative;
}

/**
 * Meta
 */
.meta {
  vertical-align: middle;
  color: $color-light;

  > span {
    display: inline-block;
    vertical-align: middle;
  }
  > span + span {
    margin-left: 0.5em;
  }

  a {
    color: $color-light;

    &:hover {
      color: $color-link-hover;
    }
  }

  .date {
    color: $color-light;
    text-transform: uppercase;
  }
  .version {
    display: inline-block;
    color: $color;
    font-size: 0.9em;
    padding: 0 0.5em;
    background: $yellow;
    border-radius: $border-radius;
  }
}

/**
 * Article Header
 */
.article-header {
  text-align: center;
  margin-bottom: 3em;
}
@include media-min('medium') {
  .article-header {
    text-align: left;
  }
}

/**
 * Article Content
 */
.article-content {
  font-size: px-to-em(16em);
  line-height: 1.6em;
}
@include media-min('medium') {
  .article .content {
    font-size: px-to-em(18em);
    line-height: 1.8em;
  }
}

/**
 * Social Links
 */
.social-links {
  margin: 2em 0;
  display: flex;
  justify-content: center;

  a {
    padding: 0.25em 0.75em;
    background: $color;
    border-radius: $border-radius;
    font-size: 0.9em;
    line-height: 1.5em;
    color: $white;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
  a + a {
    margin-left: 0.25rem;
  }

  .social-facebook {
    background: map-get($social, 'facebook');
  }
  .social-twitter {
    background: map-get($social, 'twitter');
  }
  .social-google {
    background: map-get($social, 'google');
  }
  .icon {
    font-size: px-to-em(22px);
    vertical-align: top;
  }
}

@include media-min('medium') {
  .social-links {
    margin-top: 4em;

    a {
      padding: 0.5em 1em;
      font-size: 1em;
    }
    a + a {
      margin-left: 0.5em;
    }
  }
}

/**
 * Page Navigation
 */
.page-nav {
  margin: 2em 0;

  a {
    position: relative;
    display: block;
    margin: 1em 0;
    padding: 1em 1.5em;
    background: $white;
    border: 2px solid $blue;
    border-radius: $border-radius;
    color: $blue;
    text-decoration: none;
    transition: none;

    &:hover {
      background: $blue;
      border-color: $blue;
      color: $white;
    }
  }
  .icon {
    float: left;
    margin: px-to-em(2px);
    font-size: px-to-em(24px);
    vertical-align: top;
  }
  span {
    display: block;
    padding-left: 3em;
    line-height: px-to-em(32px);
  }
}

@include media-min('medium') {
  .page-nav {
    margin: 4em 0;
  }
}

/**
 * Featured Images
 */
.img-featured {
  margin: 0 0 2em 0;
  width: 100%;
  height: auto;
}

/**
 * Comments
 */
.comments-wrapper {
  margin: 2em 0;
}
@include media-min('medium') {
  .comments-wrapper {
    margin: 6em 0;
  }
}

/*==============================================================================
  @Blocks - #{$filename}
==============================================================================*/

/**
 * Action Block
 */
.block-action {
  max-width: px-to-em(800px);
  margin: 1.5em auto;
  padding: 1.5em 3em;
  background-image: linear-gradient(45deg, $pink-900, $deep-purple-900);
  border-radius: $border-radius;
  color: $white;
  text-align: center;

  h2 {
    @extend .h4;
    color: $white;
  }
}

.block-action .action {
  margin: 1em 0;
  display: block;

  .button {
    width: 100%;
    display: block;
    margin: 1em 0;
    background: rgba($white, 0);
    border: 2px solid rgba($white, 1);
    color: $white;
    transition: none;

    &:hover,
    &:focus {
      background: $white;
      color: $color;
    }
  }
}

@include media-min('medium') {
  .block-action {
    margin: 3em auto;
  }
  .block-action .action {
    display: inline-block;
    .button {
      width: auto;
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}

/*==============================================================================
  @Footer - #{$filename}
==============================================================================*/

.footer {
  padding: 2em 0;
  font-size: px-to-em(14px);
  color: $color-light;
  text-align: center;

  .logo {
    border: 0 none;
  }

  img {
    display: inline-block;
    opacity: 0.4;
  }

  a:not(.button) {
    color: $color-light;
    text-decoration: none;

    &:hover {
      color: $color-link-hover;
    }
  }

  .button {
    margin: 1em auto 0;
    background: $white;

    &:hover {
      color: $color-link;
    }
  }
}

@include media-min('medium') {
  .footer {
    text-align: left;

    .logo {
      position: relative;
      top: -3px;
      float: right;
    }
    img {
      margin: 0;
    }

    .button-totop {
      display: none;
    }
  }
}

/*==============================================================================
  @End - #{$filename}
==============================================================================*/
