// Set file variable
$filename: 'scss/custom/_docs-swatches.scss';

/*==============================================================================
  @Docs Swatches - #{$filename}
==============================================================================*/

/**
 * Swatch
 */
.swatch {
  display: inline-block;
  @include add-size(50px);
  border: 1px solid rgba($black, 0.1);
  border-radius: $border-radius;
}

// Typography
.bg-color { background: $color; }
.bg-color-light { background: $color-light; }
.bg-color-dark { background: $color-dark; }
.bg-color-link { background: $anchor-color; }
.bg-color-link-hover { background: $anchor-hover-color; }
.bg-color-heading { background: $heading-color; }
.bg-color-heading-link { background: $heading-anchor-color; }
.bg-color-heading-link-hover { background: $heading-anchor-hover-color; }

// Global
.bg-bg-color { background: $bg-color; }
.bg-bg-selection { background: $bg-selection; }
.bg-border-color { background: $border-color; }

/**
 * Swatch and Value combo
 */
.swatch-wrap {
  position: relative;
  height: 44px;
  min-width: 44px;

  .swatch {
    position: absolute;
    top: 0;
    left: 0;
  }
  .swatch-value {
    margin-left: 60px;
    display: inline-block;
    width: auto;
    font-family: $font-family-mono;
  }
}

/**
 * Swatch Cards
 */
.swatch-card {
  margin: 2em 0;

  ul {
    margin: 0.5em 0 0;
    list-style: none;
  }
  ul li {
    margin: 0;
  }
}

@include media-min('medium') {
  .swatch-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -2em 3em 0;
  }
  .swatch-card {
    flex: 1 0 auto;
    width: 40%;
    margin: 2em 2em 0 0;
  }
}

.swatch-card .swatch {
  display: block;
  width: auto;
  height: auto;
  padding: 1em;
  border: none;
  border-radius: 0;
  color: $white;

  &.text-dark {
    color: $color-dark;
  }

  .name {
    display: block;
    margin-bottom: 3em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba($white, 0.25);
    text-transform: capitalize;
  }
  &.text-dark .name {
    border-color: rgba($black, 0.1);
  }

  .var,
  .hex {
    font-family: $font-family-mono;
  }
  .hex {
    float: right;
  }
}
