// Set file variable
$filename: 'scss/custom/_docs-demos.scss';

/*==============================================================================
  @Docs Demos - #{$filename}
==============================================================================*/

.demo {
  margin: 1.5em -1.5em;
  padding: 0.5em 1.5em;
  overflow: auto;
  border-top: 3px solid $bg-color;
  border-bottom: 3px solid $bg-color;

  .box {
    @include size(50px);
    margin: 0 auto;
    color: $white;
    background: $blue;
    border-radius: $border-radius;
  }
}
@include media-min('medium') {
  .demo {
    margin: 1.5em 0;
    padding: 2em 3em;
    border: 3px solid $bg-color;
    border-radius: $border-radius;
  }
}

/**
 * Demo Naked
 */
.demo-naked {
  border: none;
  margin: 2em 0;
  padding: 0;
}

/**
 * Demo Alternate Styles
 */
.demo.demo-alt {
  padding: 1.5em;
}
@include media-min('medium') {
  .demo.demo-alt {
    padding: 3em;
  }
}

/**
 * Vertical Center
 */
.demo.demo-vertical-center {
  height: 200px;

  .box {
    @include vertical-center();
  }
}

/**
 * Border Radius
 */
.demo-border-radius {
  display: inline-block;
  background: $blue;
  @include size(30px);
}
.mixin-border-top-radius {
  @include border-top-radius(50%);
}
.mixin-border-left-radius {
  @include border-left-radius(50%);
}
.mixin-border-right-radius {
  @include border-right-radius(50%);
}
.mixin-border-bottom-radius {
  @include border-bottom-radius(50%);
}

/**
 * Text Truncate
 */
.demo.demo-text-truncate {
  .box {
    @include size(150px, auto);
    padding: 1em 1.5em;
    @include text-truncate();
  }
}

/**
 * Text Hide
 */
.demo.demo-logo-image {
  .logo {
    display: block;
    margin: 1.5rem auto;
    padding: 0;
    border: 0 none;
    background: url("../img/baseweb-hori-black.svg") no-repeat left center;
    background-size: 187px 40px;
    @include size(187px, 40px);
    @include text-hide();
  }
}

/**
 * Triangle
 */
.demo.demo-triangle {
  text-align: center;
  @include clearfix();
}
%triangle {
  @include make-triangle-base();
}
.example-triangle-1 {
  @extend %triangle;
  @include make-triangle( 14px, $blue, 'left' );
}
.example-triangle-2 {
  @extend %triangle;
  @include make-triangle( 14px, $purple, 'down' );
}
.example-triangle-3 {
  @extend %triangle;
  @include make-triangle( 14px, $red, 'right' );
}

/**
 * Grid System
 */
.demo-grid {
  margin: 1.5rem 0;
}
.demo-grid .col {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.demo-grid .col p {
  margin: 0;
  padding: 1rem;
  background: rgba($black, 0.05);
  font-family: $font-family-mono;
  font-size: px-to-em(14px);
  line-height: 1.5em;
  text-align: center;
  border-radius: $border-radius;
}

/**
 * Semantic Grid Demo
 */
.demo-grid-semantic {
  .demo-wrapper,
  .demo-content,
  .demo-aside,
  .demo-article {
    background: rgba($blue, 0.1);

    p {
      margin: 0;
      padding: 1rem;
      font-family: $font-family-mono;
      font-size: px-to-em(14px);
      line-height: 1.5em;
      text-align: center;
    }
  }

  .demo-aside,
  .demo-article {
    p {
      margin: 0.75rem 0;
      background: rgba($black, 0.05);
      border-radius: $border-radius;
    }
  }

  .demo-wrapper {
    @include make-container();
  }
  .demo-content {
    @include make-row();
  }
  .demo-aside,
  .demo-article {
    @include make-column-base();
  }
  .demo-aside {
    width: column-width(4);
  }
  .demo-article {
    width: column-width(8);
  }
}

/**
 * Prefix and Suffix Grid Demo
 */
.demo-grid-prefix-suffix {
  .row {
    background: rgba($blue, 0.1);
  }
}
@include media-min('medium') {
  .demo-grid-prefix-suffix {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

/**
 * Nested Grid Demo
 */
.demo-grid-nested .col {
  margin-top: 0;
  margin-bottom: 0;
  background: rgba($blue, 0.1);
}
.demo-grid-nested .col p {
  margin: 0.75rem 0;
  @include text-truncate();
}
@include media-min('medium') {
  .demo-grid-nested {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

/**
 * Buttons
 */
.demo-buttons {
  > p {
    @include clearfix();
    margin: 0 0 0.5rem -0.5rem;
  }

  .button,
  .button-custom,
  .button-custom-mobile {
    float: left;
    margin: 0.5rem 0 0 0.5rem;
  }
}
.demo-buttons-mobile {
  > p {
    margin-left: 0;
  }

  .button,
  .button-custom-mobile {
    margin-left: 0;
  }
}

.button-custom {
  @include make-button();
  @include add-button-color((
    'color' : $white,
    'background' : $purple
  ));
}
.button-custom-mobile {
  @include make-button();
  @include add-button-color((
    'background' : $bg-color
  ));
  @include add-button-block();
}

/**
 * Icons
 */
.demo-icon-button {
  .button-demo-1 {
    @include add-icon-button('left');
  }
  .button-demo-2 {
    @include add-icon-button('solo');
  }
}

/**
 * Breadcrumb
 */
.custom-breadcrumb {
  @include make-breadcrumb((
    'color' : $green,
    'color-hover' : $red,
    'delimiter' : (
      'element' : '»'
    ),
  ));
}

/**
 * Notices
 */
.demo-notice {
  .notice {
    margin: 1em 0;
  }
}
.notice.custom {
  
}

/**
 * Dropdown
 */
.demo-dropdown {
  @include clearfix();
  padding: 2em 3em 3em;
  overflow: visible;

  > .dropdown-trigger,
  > .dropdown,
  > .dropdown-content,
  > .dropdown-menu {
    float: left;
    margin: 1em 1em 0 0;
  }
}

/**
 * Tabs
 */
.demo-tabs.inverted {
  background: $color;
}

/**
 * Off-Canvas
 */
.demo-offcanvas {
  padding: 0;

  .oc-wrap {
    height: 100%;
  }
  .oc-content {}
  .oc-inner {
    padding: 1.5em;
  }
  .oc-aside {
    position: absolute;
    padding: 1em 2em;

    .button.close {
      margin: 0 -1rem;
    }
  }

  form {
    margin: 0;
  }
  .input[readonly] {
    font-family: $font-family-mono;
    color: $red;
    opacity: 1;
    background: rgba($white, 0.5);

    &:focus {
      background: $white;
    }
  }
  .oc-trigger {
    white-space: normal;
  }
}

@include media-min('medium') {
  .demo-offcanvas {
    padding: 1.5em;

    .oc-inner {
      padding: 3em;
    }
  }
}

.oc-custom {
  @include make-offcanvas((
    'aside-position' : absolute,
    'background-aside' : $blue-gray,
    'background-content' : $blue-50
  ));
  .oc-aside {
    color: $white;
  }
}

@include add-offcanvas-transition($target: 'oc-aside-left', $style: 'slide-out-left');
@include add-offcanvas-transition($target: 'oc-aside-right', $style: 'scale-rotate-right');

// All transition effects
@include add-offcanvas-transition($target: 'slide-in-left', $style: 'slide-in-left');
@include add-offcanvas-transition($target: 'slide-in-right', $style: 'slide-in-right');

@include add-offcanvas-transition($target: 'reveal-left', $style: 'reveal-left');
@include add-offcanvas-transition($target: 'reveal-right', $style: 'reveal-right');

@include add-offcanvas-transition($target: 'slide-along-left', $style: 'slide-along-left');
@include add-offcanvas-transition($target: 'slide-along-right', $style: 'slide-along-right');

@include add-offcanvas-transition($target: 'slide-out-left', $style: 'slide-out-left');
@include add-offcanvas-transition($target: 'slide-out-right', $style: 'slide-out-right');

@include add-offcanvas-transition($target: 'scale-down-left', $style: 'scale-down-left');
@include add-offcanvas-transition($target: 'scale-down-right', $style: 'scale-down-right');

@include add-offcanvas-transition($target: 'scale-up-left', $style: 'scale-up-left');
@include add-offcanvas-transition($target: 'scale-up-right', $style: 'scale-up-right');

@include add-offcanvas-transition($target: 'scale-rotate-left', $style: 'scale-rotate-left');
@include add-offcanvas-transition($target: 'scale-rotate-right', $style: 'scale-rotate-right');

@include add-offcanvas-transition($target: 'open-door-left', $style: 'open-door-left');
@include add-offcanvas-transition($target: 'open-door-right', $style: 'open-door-right');

/**
 * Tooltips
 */
.demo-tooltips {
  @include clearfix();
  overflow: visible;

  hr {
    margin: 0;
  }
}
.demo-tooltips .button {
  float: left;
  margin: 1em 1em 1em 0;
}

/**
 * Badges
 */
.demo-badges {

}
