body {
  background: #2196f3;
}
html,
body,
.oc-container,
.oc-pusher,
.oc-aside,
.oc-content {
	height: 100%;
}

/**
 * Container
 */
.oc-container {
	position: relative;
	overflow: hidden;
}

/**
 * Pusher
 */
.oc-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
/* Screen */
.oc-pusher:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.oc-active .oc-pusher:after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

/* Content */

.oc-content {
  position: relative;
	overflow-y: scroll;
}

/* Menu */

.oc-aside {
	position: absolute;
	top: 0;
	z-index: 100;
	visibility: hidden;
	width: 280px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

/*
.oc-aside::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.oc-active .oc-aside::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
*/

/**
 * Content Styles
 */
.oc-aside {
  padding: 3em;
  background: #e0e0e0;
}
.oc-content {
  text-align: center;
  padding: 3em;
  background: #fff;
}

/**
 * Custom Effects
 */

/* Left */
.st-effect-left.oc-aside {
  left: 0;
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-left.oc-active .st-effect-left.oc-aside {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*
.st-effect-left.oc-aside::after {
	display: none;
}
*/
/* Right */
.st-effect-right.oc-aside {
  right: 0;
	visibility: visible;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.st-effect-right.oc-active .st-effect-right.oc-aside {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*
.st-effect-right.oc-aside::after {
	display: none;
}
*/
/**
 * Individual Effects
 */
/* Effect 1: Slide in on top */
.st-effect-1.oc-aside {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.oc-active .st-effect-1.oc-aside {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-1.oc-aside::after {
	display: none;
}

/* Effect 2: Reveal */
.st-effect-2.oc-active .oc-pusher {
	-webkit-transform: translate3d(280px, 0, 0);
	transform: translate3d(280px, 0, 0);
}

.st-effect-2.oc-aside {
	z-index: 1;
}

.st-effect-2.oc-active .st-effect-2.oc-aside {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-effect-2.oc-aside::after {
	display: none;
}

/* Effect 4: Slide along */
.st-effect-4.oc-active .oc-pusher {
	-webkit-transform: translate3d(280px, 0, 0);
	transform: translate3d(280px, 0, 0);
}

.st-effect-4.oc-aside {
	z-index: 1;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.st-effect-4.oc-active .st-effect-4.oc-aside {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-4.oc-aside::after {
	display: none;
}

/* Effect 5: Reverse slide out */
.st-effect-5.oc-active .oc-pusher {
	-webkit-transform: translate3d(280px, 0, 0);
	transform: translate3d(280px, 0, 0);
}

.st-effect-5.oc-aside {
	z-index: 1;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}

.st-effect-5.oc-active .st-effect-5.oc-aside {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Effect 9: Scale down pusher */

.st-effect-9.oc-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.st-effect-9 .oc-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.st-effect-9.oc-active .oc-pusher {
	-webkit-transform: translate3d(0, 0, -280px);
	transform: translate3d(0, 0, -280px);
}

.st-effect-9.oc-aside {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-9.oc-active .st-effect-9.oc-aside {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-9.oc-aside::after {
	display: none;
}

/* Effect 10: Scale up */

.st-effect-10.oc-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.st-effect-10.oc-active .oc-pusher {
	-webkit-transform: translate3d(280px, 0, 0);
	transform: translate3d(280px, 0, 0);
}

.st-effect-10.oc-aside {
	z-index: 1;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, -280px);
	transform: translate3d(0, 0, -280px);
}

.st-effect-10.oc-active .st-effect-10.oc-aside {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Effect 11: Scale and rotate pusher */

.st-effect-11.oc-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.st-effect-11 .oc-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.st-effect-11.oc-active .oc-pusher {
	-webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
	transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

.st-effect-11.oc-aside {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-11.oc-active .st-effect-11.oc-aside {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-11.oc-aside::after {
	display: none;
}

/* Effect 12: Open door */

.st-effect-12.oc-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.st-effect-12 .oc-pusher {
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.st-effect-12.oc-active .oc-pusher {
	-webkit-transform: rotateY(-10deg);
	transform: rotateY(-10deg);
}

.st-effect-12.oc-aside {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-12.oc-active .st-effect-12.oc-aside {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-12.oc-aside::after {
	display: none;
}

/* Effect 13: Fall down */

.st-effect-13.oc-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.st-effect-13.oc-active .oc-pusher {
	-webkit-transform: translate3d(280px, 0, 0);
	transform: translate3d(280px, 0, 0);
}

.st-effect-13.oc-aside {
	z-index: 1;
	opacity: 1;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.st-effect-13.oc-active .st-effect-13.oc-aside {
	visibility: visible;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-speed: 0.2s;
	transition-speed: 0.2s;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .oc-pusher,
.no-js .oc-pusher {
	padding-left: 280px;
}
