<h1 class="docs-header">Functions</h1>
<p>This is where we define custom functions for our framework. These functions are global and don't apply specifically to a single element/block.</p>

<ul class="docs-list">
  
  <li>
    <h2 class="docs-header">strip-units</h2>
    <p>Strips the unit from a value. For example, if you pass it 12px, it will strip off the px unit and return the number 12.</p>
<pre class="language-scss"><code>@function strip-units( $val )
// @param $val
//   @type unit (pixel, em, percent, number)
// @return number</code></pre>
  </li>

  <li>
    <h2 class="docs-header">px-to-em</h2>
    <p>Converts a pixel value to ems. By default it'll use the base font size, but can be passed a custom base font size.</p>
<pre class="language-scss"><code>@function px-to-em( $px, $base )
// @param $px
//   @type unit (pixel, number)
// @param $base-font-size
//   @type unit (pixel, number)
//   @default $base-font-size
// @return unit (em)</code></pre>
  </li>

  <li>
    <h2 class="docs-header">em-to-px</h2>
    <p>Converts an em value to pixels. By default it'll use the base font size, but can be passed a custom base font size.</p>
<pre class="language-scss"><code>@function em-to-px( $em, $base )
// @param $px
//   @type unit (em, number)
// @param $base-font-size
//   @type unit (pixel, number)
//   @default $base-font-size
// @return unit (px)</code></pre>
  </li>

</ul>