<h1 class="docs-header">Functions</h1>
<p>This is where we define custom functions for our framework. These functions are global and don't apply specifically to a single element/block.</p>


<ul class="functions">
  
  <li>
    <h2 class="docs-header">strip_units</h2>
    <p>Strips the unit from a value. For example, if you pass it 12px, it will strip off the px unit and return the number 12.</p>
<pre class="mixin"><code class="mixin-name">@function strip_units( $val )</code><code class="mixin-desc">@param $val
  @type unit (pixel, number)
@return unit-less number</code></pre>
  </li>

  <li>
    <h2 class="docs-header">px_to_em</h2>
    <p>Converts a pixel value to ems. By default it'll use the base font size, but can be passed a custom base font size.</p>
<pre class="mixin"><code class="mixin-name">@function px_to_em( $px, $base )</code><code class="mixin-desc">@param $px
  @type unit (pixel, number)
@param $base-font-size
  @type unit (pixel, number)
  @default $base-font-size
@return unit (em)</code></pre>
  </li>

  <li>
    <h2 class="docs-header">em_to_px</h2>
    <p>Converts an em value to pixels. By default it'll use the base font size, but can be passed a custom base font size.</p>
<pre class="mixin"><code class="mixin-name">@function em_to_px( $em, $base )</code><code class="mixin-desc">@param $px
  @type unit (em, number)
@param $base-font-size
  @type unit (pixel, number)
  @default $base-font-size
@return unit (px)</code></pre>
  </li>

</ul>