<h1 class="docs-header">Grid System</h1>
<p>BaseWeb is built with a very flexible grid system. Out of the box, you can use the default classes and settings to have a basic twelve column flexible grid. The basic things to know when using the base grid system is the markup structure.</p>

<div class="grid-example">
  <div class="row">
    <div class="col col-4"><p>.col-4</p></div>
    <div class="col col-4"><p>.col-4</p></div>
    <div class="col col-4"><p>.col-4</p></div>
  </div>
</div>