<h1 class="docs-header">Media Queries</h1>

<p>The core framework mixins that deal with media queries. These break down to three primary mixins for setting minimum width, maximum width and retina display mixins.</p>

<ul class="docs-list">

  <li>
    <h2 class="docs-header">media-min</h2>
    <p>A media query mixin that deifnes a query using min-width.</p>
<pre class="docs-code"><code class="name">@mixin media-min()</code><code class="desc">@param $point
  @type map key (defined in local $tweakpoints or global $breakpoints)
@param @content (passed in brackets)
  @type style block</code></pre>
    <h3 class="docs-header">Example Usage</h3>
<pre><code>// SCSS
.something {
  width: 100%;
}
@include media-min('tablet') {
  .something {
    width: 300px;
  }
}

// CSS
.something {
  width: 100%;
}
@media (min-width: 760px) {
  .something {
    width: 300px;
  }
}</code></pre>
  </li>
  
  <li>
    <h2 class="docs-header">media-max</h2>
    <p>A media query mixin that deifnes a query using max-width. Using this mixin will shave a pixel off your breakpoint so that it never overlaps with a breakpoint that might be used in the media-min mixin.</p>
<pre class="docs-code"><code class="name">@mixin media-max()</code><code class="desc">@param $point
  @type map key (defined in local $tweakpoints or global $breakpoints)
@param @content (passed in brackets)
  @type style block</code></pre>
    <h3 class="docs-header">Example Usage</h3>
<pre><code>// SCSS
.something {
  width: 300px;
}
@include media-max('tablet') {
  .something {
    width: 100%;
  }
}

// CSS
.something {
  width: 300px;
}
@media (max-width: 759px) {
  .something {
    width: 100%;
  }
}</code></pre>
  </li>
  
  <li>
    <h2 class="docs-header">media-retina</h2>
    <p>This media query mixin can be used for setting styles specifically to retina screens. This is most commonly used when setting higher resolution background images.</p>
<pre class="docs-code"><code class="name">@mixin media-retina()</code><code class="desc">@param @content (passed in brackets)
  @type style block</code></pre>
    <h3 class="docs-header">Example Usage</h3>
<pre><code>// SCSS
.logo {
  background-image: src('logo.png');
}

@include media-retina {
  .logo {
    background-image: src('logo-2x.png');
    background-size: 100px 50px;
  }
}

// CSS
.logo {
  background-image: src('logo.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo {
    background-image: src('logo-2x.png');
    background-size: 100px 50px;
  }
}</code></pre>
  </li>
  
</ul>
