<div id="overlay-identifier" class="overlay">
    
    <div class="overlay-header">
        <a href="#" class="close">Close</a>
        <h2>Overlay Header</h2>
    </div><!-- .overlay-header -->
    
    <div class="overlay-content">
        <p>Overlay content goes here...</p>
    </div><!-- .overlay-content -->
    
    <div class="overlay-footer">
        <a href="#" class="btn btn-primary">Submit</a>
        <a href="#" class="btn btn-faint">Cancel</a>
    </div><!-- .overlay-footer -->
        
</div><!-- .overlay -->