/**
 * @blue: #2ab0ea;
 * @yellow: #fff200;
 */
/*==============================================================================
  BaseWeb Override
==============================================================================*/

body {
  font-family: "proxima-nova", "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
}

h2 {
  margin: 40px 0 10px;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}
h2:first-child {
  margin-top: 0;
}

h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2ab0ea;
}

hr {
  width: auto;
  margin-left: -50px;
}

/*==============================================================================
  Structure
==============================================================================*/

body,
html {
  height: 100%;
}

.block-wrapper {
  position: relative;
  height: 100%;
  background: #fff;
}

.block-header .nav-primary li.logo a,
.block-aside {
  width: 200px;
}

/*==============================================================================
  Blocks
==============================================================================*/

.block {
  position: relative;
}
.block .inner {
  position: relative;
}

/**
 * Main Content Block
 */
.block-main {
  position: relative;
  z-index: 5;
  margin: -50px 0 -50px;
}

/**
 * Table Blocks
 * Used to layout fluid columns
 */
.block-table {
  display: table;
  width: 100%;
  min-height: 100%;
}
.block-table .block-cell {
  display: table-cell;
  vertical-align: top;
  padding: 50px 0 50px;
}

/*==============================================================================
  Header
==============================================================================*/

.block-header {
  position: relative;
  z-index: 10;
  height: 50px;
  overflow: hidden;
  background: #303030;
  font-size: 13px;
  line-height: 20px;
}

/**
 * Logo
 */
/* Logo */
.block-header .nav-primary li.logo a {
  background: url("../img/svg/logo-baseweb-small.svg") no-repeat 20px center;
  background-size: 113px 25px;
  padding: 0;
  height: 50px;
  overflow: hidden;
  text-indent: 100%;
}
.block-header .nav-primary li.logo a:hover {
  background-color: rgba(255,255,255, 0.05);
}

/**
 * General Navigation
 */
.block-header nav ul li a {
  border: 0 none;
}

/**
 * Primary Navigation
 */
.block-header .nav-primary {
  float: left;
}
.block-header .nav-primary li {
  float: left;
  border-right: 1px solid rgba(255,255,255, 0.15);
}
.block-header .nav-primary li a {
  display: block;
  height: 50px;
  .box-sizing(border-box);
  padding: 15px 25px;
  color: #aaa;
}
.block-header .nav-primary li a:hover {
  color: #fff;
  background-color: rgba(255,255,255, 0.05);
}

/* Active */
.block-header .nav-primary li.active a {
  margin: 0 -1px;
  background: #fff;
  color: #303030;
}

/* Version */
.block-header .nav-primary li a .version {
  opacity: 0.5;
}

/**
 * Secondary Navigation
 */
.block-header .nav-secondary {
  float: right;
  padding: 15px;
}
.block-header .nav-secondary li {
  display: inline-block;
  margin: 0 5px;
}
.block-header .nav-secondary li a {
  color: #707070;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.block-header .nav-secondary li.active a,
.block-header .nav-secondary li a:hover {
  color: #aaa;
  border-color: rgba(255,255,255, 0.25);
}

/*==============================================================================
  Aside
==============================================================================*/

.block-aside {
  font-size: 13px;
  line-height: 20px;
  background: #303030;
}
.block-table .block-cell.block-aside {
  padding: 75px 0 50px;
}

/**
 * Aside Navigation
 */
.aside-item-menu nav {
  padding: 25px 0;
}
.aside-item-menu nav ul {}
.aside-item-menu nav ul li {
  padding: 0;
  border-left: 5px solid transparent;
}
.aside-item-menu nav ul li a {
  position: relative;
  display: block;
  border: 0 none;
  margin: 0 5px;
  padding: 5px 15px;
  color: #aaa;
}
.aside-item-menu nav ul li a:hover {
  color: #fff;
  background-color: rgba(255,255,255, 0.05);
}

/* Active */
.aside-item-menu nav ul li.active > a {
  color: #fff200;
  font-weight: bold;
}
.aside-item-menu nav ul li.active > a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 5px;
  height: 100%;
  background: #fff200;
}

/* Sub Navigation */
.aside-item-menu nav ul ul {
  display: none;
  margin-left: -5px;
}
.aside-item-menu nav ul .active ul li {
  border-color: transparent;
}
.aside-item-menu nav ul li.active ul {
  display: block;
}
.aside-item-menu nav ul ul li a {
  color: #707070;
}
.aside-item-menu nav ul ul li a:before {
  content: "– ";
  color: #707070;
}
.aside-item-menu nav ul ul ul li a:before {
  content: "– – ";
}

/*==============================================================================
  Content
==============================================================================*/

.block-content {}
.block-content .inner {
  padding: 50px;
}
.block-content .container {
  max-width: 800px;
}

/**
 * Variable Block
 */
.block-variable,
.block-function,
.block-mixin {
  margin: 0 0 0 -50px;
  padding: 0 0 0 50px;
  border-top: 1px solid rgba(0,0,0, 0.1);
}

/**
 * Parameter Lists
 */
.param-list {
  margin: 20px 0;
  list-style: none;
}
.param-list li {
  position: relative;
  margin: 20px 0;
  padding: 0 0 0 30px;
  border-left: 1px solid rgba(0,0,0, 0.1);
}
.param-list li:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: rgba(0,0,0, 0.1);
}
.param-list li .example {
  margin: 0 0 10px 0;
}
.param-list li p {
  margin: 0;
}

/* Variable References */
.var-reference {
  float: right;
  margin: 0 0 0 20px;
  color: #aaa;
}

/**
 * Tables
 */
.block-content table code:first-child {
  margin-left: -5px;
}

/**
 * Examples
 */
.example {
  margin: 20px 0;
  border: 1px solid rgba(0,0,0, 0.1);
  border-radius: 3px;
}
.example .example-block {
  padding: 10px 20px;
  border-top: 1px solid rgba(0,0,0, 0.1);
}
.example .example-block:first-child {
  border-top: 0 none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.example .example-block:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.example .example-block:after {
  content: "";
  display: table;
  clear: both;
}
.example .example-desc {
  background: rgba(42, 176, 234, 0.1);
}
.example .example-output {
  background: #fff;
}
.example .example-code {
  background: rgba(0,0,0, 0.025);
}
.example .example-code pre {
  margin: 5px 0;
  padding: 0;
  background: none;
}

/* Example Markup */
.example-output .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.example-output .row .row {
  margin-bottom: 0;
}
.example-output .row:first-child .col {
  margin-top: 0;
}
.example-output .col {
  margin-top: 5px;
}
.example-output .col p {
  margin: 0;
  padding: 15px 20px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  background: #d3fceb;
  border-radius: 4px;
}

/* Example Semantic Grid */
.demo-wrapper {
  padding: 0;
}  
.demo-content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.demo-aside p,
.demo-article p {
  margin: 0;
  padding: 15px 20px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #666;
  background: #d3fceb;
  border-radius: 4px;
}

/**
 * Colors
 */
.swatch {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0, 0.1);
  border-radius: 3px;
}

/* Swatch Table */
.palette-table {}
.palette-table .swatch-desc {
  background: rgba(0,0,0, 0.025);
}
.palette-table .swatch-desc code {
  margin: 0;
  padding: 0;
  background: none;
  color: #303030;
}
.palette-table .swatch-cell {
  width: 100px;
  text-align: center;
}

/* Swatch Wrap */
.swatch-wrap {
  margin: 10px 0;
}
.swatch-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.swatch-wrap .swatch {
  float: left;
  margin: 0 5px 0 0;
}

/*==============================================================================
  Footer
==============================================================================*/

.block-footer {
  position: relative;
  z-index: 10;
  height: 50px;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
}
.block-footer a {
  color: #aaa;
}
.block-footer a:hover {
  color: #2ab0ea;
}
.block-footer nav ul {
  padding: 15px;
}
.block-footer nav ul li {
  float: left;
  margin: 0 10px;
}
.block-footer .nav-left {
  float: left;
}
.block-footer .nav-right {
  float: right;
}

/**
 * Nav Left
 */
.block-footer .nav-left a {
  color: #707070;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.block-footer .nav-left a:hover {
  color: #aaa;
  border-color: rgba(255,255,255, 0.25);
}

/*==============================================================================
  End
==============================================================================*/
