/*==============================================================================
  Structure
==============================================================================*/

body {
  background: #f3f3f3;
}
.header {
  background: #303030;
  text-align: center;
}
.header .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*==============================================================================
  Header
==============================================================================*/

/**
 * Home Logo
 */
.header .logo {
  margin: 60px 0 0;
}
.header .logo a {
  display: block;
  width: 340px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: 100%;
  background: url("../img/svg/logo-baseweb.svg") no-repeat center center;
  background-size: 340px 200px;
}

/**
 * Home Slogan
 */
.header .slogan {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}
.header .version {
  display: block;
  color: #707070;
}

/**
 * Home Button Groups
 */
.header .btn-group {
  margin: 40px 0 40px;
}
.header .btn-group .btn {
  margin-left: 0;
  border: 0 none;
  border-left: 1px solid rgba(0,0,0, 0.25);
}
.header .btn-group .btn:first-child {
  border-left: 0 none;
}

/*==============================================================================
  Navigation
==============================================================================*/

.menu ul {
  padding: 15px;
  font-size: 13px;
}
.menu ul li {
  display: inline-block;
  margin: 0 5px;
}
.menu ul li a {
  color: #707070;
  border-color: rgba(255,255,255, 0.1);
}
.menu ul li a:hover {
  color: #fff;
  border-color: rgba(255,255,255, 0.25);
}

.menu-nav {
  float: left;
}
.menu-social {
  float: right;
}

/*==============================================================================
  Banner
==============================================================================*/

.banner {
  padding: 40px 0;
  text-align: center;
  background: #fff200;
}
.banner h2 {
  margin: 0;
  font-weight: 300;
}

/*==============================================================================
  Widgets
==============================================================================*/

.widgets {}

/**
 * Widget Filter
 */
.widgets .widgets-filter {
  padding: 20px 0;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0, 0.1);
}
.widgets .widgets-filter input {
  padding-left: 50px;
  background: url("../img/svg/icon-search.svg") no-repeat 20px center;
  background-size: 15px 15px;
}

/** 
 * Widget Listing
 */
.widgets-listing ul {
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
}
.widgets-listing ul:after {
  content: "";
  display: table;
  clear: both;
}
/* Widget */
.widgets-listing .widget {
  float: left;
  width: 32%;
  margin: 0 0 20px 2%;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0, 0.1);
}
.widgets-listing .widget:first-child {
  margin-left: 0;
}
.widgets-listing .widget:nth-child(3n+4) {
  margin-left: 0;
}
.widgets-listing .widget a {
  display: block;
  padding: 15px 20px;
  border: 0 none;
}
.widgets-listing .widget a h3 {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
.widgets-listing .widget a p {
  margin: 5px 0;
  color: #606060;
}

/* Widget Hover */
.widgets-listing .widget a:hover {
  background: #fff200;
}

/*==============================================================================
  Footer
==============================================================================*/

.footer {
  padding: 20px 0;
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
}

/*==============================================================================
  End
==============================================================================*/
