//===========================================================
// BaseWeb - Button Theme
// https://github.com/sebnitu/BaseWeb
//===========================================================
// General Buttons
//===========================================================

.btn {
  display: block-inline;
  border: 1px solid @colorBorder;
  margin: 0;
  padding: 8px 15px;
  .border-radius();
}

//===========================================================
// End of Button Theme
//===========================================================