//===========================================================
// BaseWeb - Icons Theme
// https://github.com/sebnitu/BaseWeb
//===========================================================
// Icon Font
//===========================================================

[class^="icon-"], [class*=" icon-"] {
  font-family: @iconFontFamily;
  font-size: 4em;
  font-style: normal;
  line-height: inherit;
  display: inline-block;
  width: auto;
  height: auto;
  border: 0 none;
  margin: 0 5px 0 0;
  padding: 0;
}

// Entypo Icon Mapping
// To-Do - Map the rest of the icons to keys
// Key map for Entypo can be found here: http://bistro.convergencecms.co/entypo
.icon-map       { &:after { content: '1'; } }
.icon-compass   { &:after { content: '2'; } }
.icon-direction { &:after { content: '3'; } }
.icon-scope     { &:after { content: '4'; } }
.icon-share     { &:after { content: '5'; } }
.icon-heart     { &:after { content: '6'; } }
.icon-star      { &:after { content: '7'; } }
.icon-thumbs-up { &:after { content: '8'; } }
.icon-dialog    { &:after { content: '9'; } }
.icon-maps      { &:after { content: '0'; } }

//===========================================================
// End of Icons Theme
//===========================================================