//===========================================================
// BaseWeb - Variable
// https://github.com/sebnitu/BaseWeb
//===========================================================
// Typography
//===========================================================

// Families
@sansFontFamily: 	"Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
@serifFontFamily: 	georgia, "Times New Roman", times, serif;
@monoFontFamily: 	Menlo, Monaco, Consolas, "Courier New", monospace;
@iconFontFamily: 	"Entypo";

// Directories
@dirImages: 		"../../img/";
@dirFonts: 			"../../fonts/";

// Metrics
@baseFontSize: 		14px;
@baseLineHeight: 	20px;
@baseFontFamily:	@sansFontFamily;

//===========================================================
// Text Colors
//===========================================================

// Base
@color: 			#666;
@colorLight: 		lighten(@color, 25%);
@colorDark: 		darken(@color, 25%);
@colorHeader: 		@colorDark;

// Links
@linkColor: 		#359ed4; // Blue
@linkColorHover: 	#d47c35; // Orange

// Header Links
@linkHeader: 		@linkColor;
@linkHeaderHover: 	@linkColorHover;

//===========================================================
// Structure
//===========================================================

// Base
@bgBody: 			#fff;
@colorBorder: 		#ddd;

// Tables
@tableBg: 			#fff;
@tableBgZebra: 		#f7f7f7;
@tableBgHover: 		#fffbeb;
@tableBorder: 		#e0e0e0;

// Code
@codeBg:			#f7f7f7;
@codeBorder:		#e0e0e0;

//===========================================================
// Grid
//===========================================================

// Static grid
@gridColumns:			12;
@gridColumnWidth:		50px;
@gridGutterWidth:		30px;

// Fluid grid
@fluidGridColumnWidth:	6.333%;
@fluidGridGutterWidth:	2%;

//===========================================================
// End of Variable
//===========================================================