// Custom styles go here
// All variabls and mixins in BaseWeb are available to styles in this document
/*==============================================================================
  @ Reset Styles
==============================================================================*/

@include build-reset-styles;

/*==============================================================================
  @ Mobile Grid System
==============================================================================*/

@include build-mobile-grid-system;

/*==============================================================================
  @ Grid System
==============================================================================*/

@include media-tablet {
  @include build-grid-system;
}

/*==============================================================================
  @ Test
==============================================================================*/

.example-box-shadow {
  margin: 10px 0;
  background-clip: border-box;
  border: 1px solid rgba($black, 0.25);
  @include border-radius();
  @include size(100%, 75px);
}
.example-box-shadow-1 {
  background-clip: padding-box;
  @include box-shadow($box-shadow);
}
.example-box-shadow-2 {
  @include box-shadow(inset $box-shadow);
}
.example-box-shadow-3 {
  @include gradient-vertical;
  @include box-shadow(
    $box-shadow,
    inset 0 1px 0 rgba($white, 0.25)
  );
}

/*==============================================================================
  @ Semantic Grid Demo
==============================================================================*/

.demo-wrapper {
  @include make-container;
  
  .demo-content {
    @include make-row;
    
    .demo-aside {
      @include make-column(4);
    }
    
    .demo-article {
      @include make-column(8);
    }
  }
}

/*==============================================================================
  @ Color Classes
==============================================================================*/

// Gray Scale
.color-black { background-color: $black; }
.color-gray-darker { background-color: $gray-darker; }
.color-gray-dark { background-color: $gray-dark; }
.color-gray { background-color: $gray; }
.color-gray-light { background-color: $gray-light; }
.color-gray-lighter { background-color: $gray-lighter; }
.color-white { background-color: $white; }

// Primary
.color-red { background-color: $red; }
.color-yellow { background-color: $yellow }
.color-blue { background-color: $blue }

// Secondary
.color-orange { background-color: $orange }
.color-green { background-color: $green }
.color-violet { background-color: $violet }

// Tertiary
.color-red-violet { background-color: $red-violet; }
.color-red-orange { background-color: $red-orange; }
.color-yellow-orange { background-color: $yellow-orange; }
.color-yellow-green { background-color: $yellow-green; }
.color-blue-green { background-color: $blue-green; }
.color-blue-violet { background-color: $blue-violet; }

// Light & Lighter Primary
.color-red-light { background-color: $red-light; }
.color-red-lighter { background-color: $red-lighter; }
.color-yellow-light { background-color: $yellow-light; }
.color-yellow-lighter { background-color: $yellow-lighter; }
.color-blue-light { background-color: $blue-light; }
.color-blue-lighter { background-color: $blue-lighter; }

// Light & Lighter Secondary
.color-orange-light { background-color: $orange-light; }
.color-orange-lighter { background-color: $orange-lighter; }
.color-green-light { background-color: $green-light; }
.color-green-lighter { background-color: $green-lighter; }
.color-violet-light { background-color: $violet-light; }
.color-violet-lighter { background-color: $violet-lighter; }

// Light & Lighter Tertiary
.color-red-violet-light { background-color: $red-violet-light; }
.color-red-violet-lighter { background-color: $red-violet-lighter; }
.color-red-orange-light { background-color: $red-orange-light; }
.color-red-orange-lighter { background-color: $red-orange-lighter; }
.color-yellow-orange-light { background-color: $yellow-orange-light; }
.color-yellow-orange-lighter { background-color: $yellow-orange-lighter; }
.color-yellow-green-light { background-color: $yellow-green-light; }
.color-yellow-green-lighter { background-color: $yellow-green-lighter; }
.color-blue-green-light { background-color: $blue-green-light; }
.color-blue-green-lighter { background-color: $blue-green-lighter; }
.color-blue-violet-light { background-color: $blue-violet-light; }
.color-blue-violet-lighter { background-color: $blue-violet-lighter; }

// Dark & Darker Primary
.color-red-dark { background-color: $red-dark; }
.color-red-darker { background-color: $red-darker; }
.color-yellow-dark { background-color: $yellow-dark; }
.color-yellow-darker { background-color: $yellow-darker; }
.color-blue-dark { background-color: $blue-dark; }
.color-blue-darker { background-color: $blue-darker; }

// Dark & Darker Secondary
.color-orange-dark { background-color: $orange-dark; }
.color-orange-darker { background-color: $orange-darker; }
.color-green-dark { background-color: $green-dark; }
.color-green-darker { background-color: $green-darker; }
.color-violet-dark { background-color: $violet-dark; }
.color-violet-darker { background-color: $violet-darker; }

// Dark & Darker Tertiary
.color-red-violet-dark { background-color: $red-violet-dark; }
.color-red-violet-darker { background-color: $red-violet-darker; }
.color-red-orange-dark { background-color: $red-orange-dark; }
.color-red-orange-darker { background-color: $red-orange-darker; }
.color-yellow-orange-dark { background-color: $yellow-orange-dark; }
.color-yellow-orange-darker { background-color: $yellow-orange-darker; }
.color-yellow-green-dark { background-color: $yellow-green-dark; }
.color-yellow-green-darker { background-color: $yellow-green-darker; }
.color-blue-green-dark { background-color: $blue-green-dark; }
.color-blue-green-darker { background-color: $blue-green-darker; }
.color-blue-violet-dark { background-color: $blue-violet-dark; }
.color-blue-violet-darker { background-color: $blue-violet-darker; }

/*==============================================================================
  @ End
==============================================================================*/
