$some_component: (
  'one': 1,
  'two': 1,
  'three': 1,
  'map': (
    'one': 1,
    'two': 1,
    'three': 1
  )
);

$override: (
  'some_component': (
    'one': 0,
    'two': 0,
    'four': 0,
    'map': (
      'one': 0
    )
  )
);

// This is how we extend our default component maps with overrides
// First we check if the $override variable exists
@if variable-exists(override) {
  // Then we check if the component map inside $override exists
  @if (map-has-key($override, 'some_component') == true) {
    // Last, we extend the default component  map with overrides
    $some_component: map-extend($some_component, map-get($override, 'some_component'), true);
  }
}

@debug $some_component;
