{{! { 
  
  "return" : {
    "url" : "/docs/elements.html#forms"
  }
  
} }}

<div id="example-content" class="example-content example-form">
  
  <div id="example-content-output" class="example-content-output">
    
    <div class="example-toolbar">
      <form class="example-toolbar-form select-output-example">
        <div class="row">
          <div class="col col-4">
            <select class="input">
              <option disabled>Examples</option>
              <option value="/examples/forms.html" selected>Forms</option>
            </select>
          </div>
          <div class="col col-8">
            <select class="input">
              <option disabled selected>Example Form</option>
              <option value="/examples/form-signin.html">Sign In Form</option>
              <option value="/examples/form-contact.html">Contact Form</option>
              <option value="/examples/form-shirt-order.html">Shirt Order Form</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    
    <div class="example-output-wrapper">
    
      <!--  EXAMPLE OUTPUT GOES HERE -->
      
      <div class="notice warning">
        <p>Examples are a new feature and are still being developed. So, things might not be working perfectly yet.</p>
      </div>
      
    </div><!-- .example-output-wrapper -->
      
    <div class="shim"></div>
  </div><!-- .example-content-output -->
  
  <div id="handler-vertical" class="handler-vertical"></div>
  
  <div id="example-content-input" class="example-content-input">
    <div class="shim"></div>
    
    {{ > toolbar-input }}
    
    <div class="example-input-wrapper">
    
      <!--  EXAMPLE INPUT GOES HERE -->
    
    </div><!-- .example-input-wrapper -->
  </div><!-- .example-content-input -->

</div><!-- .example-content -->
