<h1>Grid System Variables</h1>
<p>All grid variables are defined within the <code>$grid</code> and <code>$mini-grid</code> maps and are used as the default settings for all grid system mixins and functions. You can modify these settings directly to effect all grid systems, or pass in a custom map to specific mixins.</p>

<ul class="docs-list-compact">
  
  <li class="title">Global Grid Settings</li>
  <li>
    <code>$grid('type')</code>
    <code class="right value">normal</code>
    <p class="block light">Set the grid type to <code>normal</code> or <code>mobile</code> to output their respective grid styles.</p>
  </li>
  <li>
    <code>$grid('total-width')</code>
    <code class="right value">100%</code>
    <p class="block light">Use same unit type as <code>$grid('gutter-width')</code>.</p>
  </li>
  <li>
    <code>$grid('gutter-width')</code>
    <code class="right value">0</code>
    <p class="block light">Use same unit type as <code>$grid('total-width')</code>. Used to set left and right margin of columns.</p>
  </li>
  <li>
    <code>$grid('inner-gutter-width')</code>
    <code class="right value">20px</code>
    <p class="block light">Used to set using left and right padding of columns.</p>
  </li>
  <li><code>$grid('columns')</code> <code class="right value">12</code></li>
  
  <li class="title">Container Settings</li>
  <li><code>$grid('container-margin')</code> <code class="right value">auto</code></li>
  <li><code>$grid('container-padding')</code> <code class="right value">20px</code></li>
  <li><code>$grid('container-min-width')</code> <code class="right value">none</code></li>
  <li><code>$grid('container-max-width')</code> <code class="right value">1000px</code></li>
  
  <li class="title">Grid Class Names</li>
  <li><code>$grid('class-container')</code> <code class="right value">container</code></li>
  <li><code>$grid('class-row')</code> <code class="right value">row</code></li>
  <li><code>$grid('class-column')</code> <code class="right value">col</code></li>
  <li>
    <code>$grid('class-prefix')</code>
    <code class="right value">prefix</code>
    <p class="block light">Set to <code>none</code> to disable output</p>
  </li>
  <li>
    <code>$grid('class-suffix')</code>
    <code class="right value">suffix</code>
    <p class="block light">Set to <code>none</code> to disable output</p>
  </li>
  <li class="title list-sep">Mini Grid System</li>
  <li>
    <code>$mini-grid('fractions')</code>
    <code class="right value">12</code>
    <p class="block light">Used to determine the number of fraction classes to output.</p>
  </li>
  <li>
    <code>$mini-grid('class-has')</code>
    <code class="right value">has</code>
    <p class="block light">Class name for mini-grid parent classes.</p>
  </li>
  <li>
    <code>$mini-grid('class-is')</code>
    <code class="right value">is</code>
    <p class="block light">Class name for mini-grid children classes.</p>
  </li>
  
</ul>
