{{! { 
  
  "menu" : {
    "order" : "1"
  }
  
} }}

<div id="index" class="block-content-group">
  
  <header class="page-header">
    <h1>Index</h1>
  </header>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, ipsum a pulvinar faucibus, lorem est euismod neque, ut feugiat neque mauris non tellus. Donec in consectetur felis.</p>

</div><!-- .block-content-group -->