{{! { "order" : "7" } }}

<div class="row">
  
  <div class="col col-2 desc">
    <h2>Notices</h2>
  </div>
  
  <div class="col col-10">
    
    <div class="notice">
      <button class="close">&times;</button>
      <p>This is a sample notice with no additional classes. It's using the default notice styles.</p>
    </div>
    
    <div class="notice no-close">
      <button class="close">&times;</button>
      <p>This is a sample notice with the optional class of <code>no-close</code>. This class removes any specific styles that apply to having a close button. The close button should also be removed from the markup, but if it's not, it will be hidden with CSS.</p>
    </div>
    
    <div class="notice info">
      <button class="close">&times;</button>
      <h2>Hey! It looks like you're writing a letter!</h2>
      <p>These are the styles applied using the <code>info</code> class used for displaying helpful information.</p>
    </div>
    
    <div class="notice success">
      <button class="close">&times;</button>
      <p><strong>Success!</strong> This is a sample success notice using the <code>success</code> class.</p>
    </div>
    
    <div class="notice warning">
      <button class="close">&times;</button>
      <p><strong>Warning!</strong> This is a sample warning notice using the <code>warning</code> class.</p>
    </div>
    
    <div class="notice error">
      <button class="close">&times;</button>
      <h2>Oh no! Some mistakes were made.</h2>
      <p>This is a sample error notice using the <code>error</code> class. You can list the errors below using an unordered list like this:</p>
      <ul>
        <li>Your Name is required</li>
        <li>Your Phone is required</li>
        <li>Your Email is required</li>
      </ul>
    </div>
    
  </div>
  
</div><!-- .row -->