{{! { "order" : "2" } }}

<div class="row">
  
  <div class="col col-2 desc">
    <h2>Color Palette</h2>
  </div>
  
  <div class="col col-10">
  
    <div class="swatch-wrap">
      <span class="swatch color-red-violet"></span>
    </div>
    
    <div class="swatch-wrap">
      <span class="swatch color-red"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-red-orange"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-orange"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-yellow-orange"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-yellow"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-yellow-green"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-green"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-blue-green"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-blue"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-blue-violet"></span>
    </div>
      
    <div class="swatch-wrap">
      <span class="swatch color-violet"></span>
    </div>
    
    
    
    
    <span class="swatch color-red-light"></span>
    <span class="swatch color-red-lighter"></span>
    <span class="swatch color-yellow-light"></span>
    <span class="swatch color-yellow-lighter"></span>
    <span class="swatch color-blue-light"></span>
    <span class="swatch color-blue-lighter"></span>
    
    <span class="swatch color-orange-light"></span>
    <span class="swatch color-orange-lighter"></span>
    <span class="swatch color-green-light"></span>
    <span class="swatch color-green-lighter"></span>
    <span class="swatch color-violet-light"></span>
    <span class="swatch color-violet-lighter"></span>
    
    <span class="swatch color-red-violet-light"></span>
    <span class="swatch color-red-violet-lighter"></span>
    <span class="swatch color-red-orange-light"></span>
    <span class="swatch color-red-orange-lighter"></span>
    <span class="swatch color-yellow-orange-light"></span>
    <span class="swatch color-yellow-orange-lighter"></span>
    
    <span class="swatch color-yellow-green-light"></span>
    <span class="swatch color-yellow-green-lighter"></span>
    <span class="swatch color-blue-green-light"></span>
    <span class="swatch color-blue-green-lighter"></span>
    <span class="swatch color-blue-violet-light"></span>
    <span class="swatch color-blue-violet-lighter"></span>
    
    <span class="swatch color-red-dark"></span>
    <span class="swatch color-red-darker"></span>
    <span class="swatch color-yellow-dark"></span>
    <span class="swatch color-yellow-darker"></span>
    <span class="swatch color-blue-dark"></span>
    <span class="swatch color-blue-darker"></span>
    
    <span class="swatch color-orange-dark"></span>
    <span class="swatch color-orange-darker"></span>
    <span class="swatch color-green-dark"></span>
    <span class="swatch color-green-darker"></span>
    <span class="swatch color-violet-dark"></span>
    <span class="swatch color-violet-darker"></span>
    
    <span class="swatch color-red-violet-dark"></span>
    <span class="swatch color-red-violet-darker"></span>
    <span class="swatch color-red-orange-dark"></span>
    <span class="swatch color-red-orange-darker"></span>
    <span class="swatch color-yellow-orange-dark"></span>
    <span class="swatch color-yellow-orange-darker"></span>
    
    <span class="swatch color-yellow-green-dark"></span>
    <span class="swatch color-yellow-green-darker"></span>
    <span class="swatch color-blue-green-dark"></span>
    <span class="swatch color-blue-green-darker"></span>
    <span class="swatch color-blue-violet-dark"></span>
    <span class="swatch color-blue-violet-darker"></span>
    
  </div>
  
</div><!-- .row -->
