<h1 class="docs-header">Global Variables</h1>
<p>The rest of the global variables used in BaseWeb. These mainly deal with things like general framework settings, mixin defaults and structure or scaffolding colors.</p>

<ul class="variables">
  
  <li class="title">Framework Settings</li>
  <li><code>$global-box-sizing</code> <code class="value">border-box</code></li>
  <li><code>$class-clearfix</code> <code class="value">clearfix</code></li>
  <li><code>$class-remove-clearfix</code> <code class="value">remove-clearfix</code></li>
  
  <li class="title">Mixin Defaults</li>
  <li><code>$box-sizing</code> <code class="value">border-box</code></li>
  <li><code>$box-shadow</code> <code class="value">0 1px 3px rgba($black, 0.1)</code></li>
  <li><code>$border-radius</code> <code class="value">3px</code></li>

  <li><code>$transition</code> <code class="value">all 0.25s linear</code></li>
  <li><code>$transition-property</code> <code class="value">all</code></li>
  <li><code>$transition-duration</code> <code class="value">0.25s</code></li>
  <li><code>$transition-timing-function</code> <code class="value">linear</code></li>
  <li><code>$transition-delay</code> <code class="value">0.25s</code></li>
  
  <li class="title">Framework Settings</li>
  <li><code>$bg-color</code> <span class="swatch swatch-bg-color"></span></li>
  <li><code>$bg-selection</code> <span class="swatch swatch-bg-selection"></span></li>
  <li><code>$border-color</code> <span class="swatch swatch-border-color"></span></li>
  <li><code>$border-color-hover</code> <span class="swatch swatch-border-color-hover"></span></li>
  
</ul>
