<h1 class="docs-header">Grid System Variables</h1>
<p>Global settings for the grid system that are used as the defaults for grid system mixins when no variables are passed in.</p>

<ul class="variables">
  
  <li class="title">Global Grid Settings</li>
  <li><code>$grid-total-width</code> <code class="value">100%</code></li>
  <li><code>$grid-gutter-width</code> <code class="value">2%</code></li>
  <li><code>$grid-columns</code> <code class="value">12</code></li>
  
  <li class="title">Container Settings</li>
  <li><code>$container-margin</code> <code class="value">auto</code></li>
  <li><code>$container-padding</code> <code class="value">20px</code></li>
  <li><code>$container-min-width</code> <code class="value">none</code></li>
  <li><code>$container-max-width</code> <code class="value">1000px</code></li>
  
  <li class="title">Grid Class Names</li>
  <li><code>$class-container</code> <code class="value">container</code></li>
  <li><code>$class-row</code> <code class="value">row</code></li>
  <li><code>$class-column</code> <code class="value">col</code></li>
  <li><code>$class-prefix</code> <code class="value">prefix</code></li>
  <li><code>$class-suffix</code> <code class="value">suffix</code></li>
  
</ul>
