<h1 class="docs-header">Grid System Variables</h1>
<p>Global settings for the grid system that are used as the defaults for grid system mixins when no variables are passed in.</p>

<ul class="docs-list docs-list-hover">
  
  <li class="title">Global Grid Settings</li>
  <li>
    <code>$grid('total-width')</code>
    <code class="right value">100%</code>
    <span class="block light">Use same unit type as `gutter-width`.</span>
  </li>
  <li>
    <code>$grid('gutter-width')</code>
    <code class="right value">0</code>
    <span class="block light">Use same unit type as `total-width`. Set using left and right margin of columns.</span>
  </li>
  <li>
    <code>$grid('inner-gutter-width')</code>
    <code class="right value">20px</code>
    <span class="block light">Set using left and right padding of columns.</span>
  </li>
  <li><code>$grid('columns')</code> <code class="right value">12</code></li>
  
  <li class="title">Container Settings</li>
  <li><code>$grid('container-margin')</code> <code class="right value">auto</code></li>
  <li><code>$grid('container-padding')</code> <code class="right value">20px</code></li>
  <li><code>$grid('container-min-width')</code> <code class="right value">none</code></li>
  <li><code>$grid('container-max-width')</code> <code class="right value">1000px</code></li>
  
  <li class="title">Grid Class Names</li>
  <li><code>$grid('class-container')</code> <code class="right value">container</code></li>
  <li><code>$grid('class-row')</code> <code class="right value">row</code></li>
  <li><code>$grid('class-column')</code> <code class="right value">col</code></li>
  <li>
    <code>$grid('class-prefix')</code>
    <code class="right value">prefix</code>
    <span class="block light">Set to `none` to disable output</span>
  </li>
  <li>
    <code>$grid('class-suffix')</code>
    <code class="right value">suffix</code>
    <span class="block light">Set to `none` to disable output</span>
  </li>
  
</ul>
