<h1 class="docs-header">Media Query Variables</h1>
<p>Where media query breakpoints are defined. These are defined as a map and used in the core media file for the media queries mixins. Any number of breakpoints can be added to this map and called on in the media query mixins.</p>

<ul class="variables">
  
  <li class="title">Breakpoints Map</li>
  <li><code>$breakpoints('mobile')</code> <code class="value">480px</code></li>
  <li><code>$breakpoints('tablet')</code> <code class="value">760px</code></li>
  <li><code>$breakpoints('desktop')</code> <code class="value">990px</code></li>
  <li><code>$breakpoints('large')</code> <code class="value">1380px</code></li>

</ul>
