<h1 class="docs-header">Media Query Variables</h1>
<p>Where media query breakpoints are defined. These are defined as a map and used in the core media file for the media queries mixins. Any number of breakpoints can be added to this map and called on in the media query mixins.</p>

<ul class="docs-list docs-list-hover">
  
  <li class="title">Tweakpoints Map</li>
  <li><code>$tweakpoints()</code> <code class="right value">...</code></li>
  <li class="title">Breakpoints Map</li>
  <li><code>$breakpoints('mobile')</code> <code class="right value">480px</code></li>
  <li><code>$breakpoints('tablet')</code> <code class="right value">760px</code></li>
  <li><code>$breakpoints('desktop')</code> <code class="right value">990px</code></li>
  <li><code>$breakpoints('large')</code> <code class="right value">1380px</code></li>

</ul>

<h2 class="docs-header">Setting Tweakpoint Maps</h2>

<p>You can also define component specific tweakpoints that override the breakpoints map. This should be done at the beginning of a component file and should also be reset at the end of the file so values don't leak to following components.</p>

<h3 class="docs-header">Example Usage</h3>
<pre class="language-scss"><code>// Inside `_some_component.scss`
// Set our component specific tweakpoints
$tweakpoints: ({
  'inline': 300px,
  'block': 500px
});

// Your component code goes here...

// Reset tweak points so it doesn't 
// leak to our next component file
$tweakpoints: ();
</code></pre>

<div class="notice notice-info">
  <p>For more information on the tweakpoints method, make sure you checkout <a href="https://twitter.com/HugoGiraudel">Hugo Giraudel's</a> article over at Sitepoint: <a href="http://www.sitepoint.com/breakpoints-tweakpoints-sass/">Breakpoints and Tweakpoints in Sass</a>.</p>
</div>