<h1 class="docs-header">Media Query Variables</h1>
<p>Where media query breakpoints are defined. Global media breakpoints are set within the <code>$breakpoints</code> map while the <code>$tweakpoints</code> map is defined but no values are set. Any number of breakpoints can be added to the <code>$breakpoints</code> map and called on using the media query mixins.</p>

<ul class="docs-list-hover">
  
  <li class="title">Tweakpoints Map</li>
  <li><code>$tweakpoints()</code> <code class="right value">...</code></li>
  <li class="title">Breakpoints Map</li>
  <li><code>$breakpoints('mobile')</code> <code class="right value">480px</code></li>
  <li><code>$breakpoints('tablet')</code> <code class="right value">760px</code></li>
  <li><code>$breakpoints('desktop')</code> <code class="right value">990px</code></li>
  <li><code>$breakpoints('large')</code> <code class="right value">1380px</code></li>

</ul>

<h2 class="docs-header">Setting Tweakpoint Maps</h2>

<p>Tweakpoints are media queries that are used to finesse page elements without making any major changes to the layout. These points are usually component specific so there are none set by default. Instead, if a tweakpoint is needed, it should be defined at the top of a component file that requires it, then reset at the bottom of that component's file.</p>

<h3 class="docs-header">Example Usage</h3>
<pre class="language-scss"><code>// Inside `_some_component.scss`
// Set our component specific tweakpoints
$tweakpoints: ({
  'inline': 300px,
  'block': 500px
});

// Your component code goes here...

// Reset tweak points so it doesn't 
// leak to our next component file
$tweakpoints: ();
</code></pre>

<div class="notice notice-info">
  <p>For more information on the tweakpoints method, make sure you checkout <a href="https://twitter.com/HugoGiraudel">Hugo Giraudel's</a> article over at Sitepoint: <a href="http://www.sitepoint.com/breakpoints-tweakpoints-sass/">Breakpoints and Tweakpoints in Sass</a>.</p>
</div>