<h1 class="docs-header">Palette Variables</h1>
<p>Where our framework colors are defined. There are a total of three primary colors, three secondary colors and six tertiary colors which are the combination of a primary and secondary color. There are also five modifiers that can apply to any color: light, lighter, dark, darker and pale.</p>
  
<p>In combination with our gray scale, that is a total of 80 unique color variables. To make them easy to remember, every color's naming schema follows this pattern: color name then the modifier (if any is used). For the color name itself, if it's a tertiary color, it starts with the primary color first, then the secondary that it's mixed with.</p>

<pre class="language-scss"><code>// $[primary]-[modifier]
$blue-light

// $[secondary]-[modifier]
$orange-darker

// $[primary]-[secondary]-[modifier]
$yellow-green-lighter</code></pre>

<p>The degree variables are what's used to determine the amount that each base color is either lightened or darkened. The gray scale is the only exception to this.</p>

<ul class="docs-list-hover">
  
  <li class="title">Degree Modifiers</li>
  <li><code>$light-deg</code> <code class="right value">5%</code></li>
  <li><code>$lighter-deg</code> <code class="right value">10%</code></li>
  <li><code>$dark-deg</code> <code class="right value">5%</code></li>
  <li><code>$darker-deg</code> <code class="right value">10%</code></li>

  <li class="title">Black &amp; White</li>
  <li><code>$black</code> <span class="right swatch swatch-black"></span></li>
  <li><code>$white</code> <span class="right swatch swatch-white"></span></li>
  
  <li class="title">Gray Scale</li>
  <li><code>$gray-pale</code> <span class="right swatch swatch-gray-pale"></span></li>
  <li><code>$gray-lighter</code> <span class="right swatch swatch-gray-lighter"></span></li>
  <li><code>$gray-light</code> <span class="right swatch swatch-gray-light"></span></li>
  <li><code>$gray</code> <span class="right swatch swatch-gray"></span></li>
  <li><code>$gray-dark</code> <span class="right swatch swatch-gray-dark"></span></li>
  <li><code>$gray-darker</code> <span class="right swatch swatch-gray-darker"></span></li>
  
  <li class="title">Colors</li>
  <li><code>$red-pale</code> <span class="right swatch swatch-red-pale"></span></li>
  <li><code>$red-lighter</code> <span class="right swatch swatch-red-lighter"></span></li>
  <li><code>$red-light</code> <span class="right swatch swatch-red-light"></span></li>
  <li><code>$red</code> <span class="right swatch swatch-red"></span></li>
  <li><code>$red-dark</code> <span class="right swatch swatch-red-dark"></span></li>
  <li><code>$red-darker</code> <span class="right swatch swatch-red-darker"></span></li>
  
  <li><code>$red-orange-pale</code> <span class="right swatch swatch-red-orange-pale"></span></li>
  <li><code>$red-orange-lighter</code> <span class="right swatch swatch-red-orange-lighter"></span></li>
  <li><code>$red-orange-light</code> <span class="right swatch swatch-red-orange-light"></span></li>
  <li><code>$red-orange</code> <span class="right swatch swatch-red-orange"></span></li>
  <li><code>$red-orange-dark</code> <span class="right swatch swatch-red-orange-dark"></span></li>
  <li><code>$red-orange-darker</code> <span class="right swatch swatch-red-orange-darker"></span></li>
  
  <li><code>$orange-pale</code> <span class="right swatch swatch-orange-pale"></span></li>
  <li><code>$orange-lighter</code> <span class="right swatch swatch-orange-lighter"></span></li>
  <li><code>$orange-light</code> <span class="right swatch swatch-orange-light"></span></li>
  <li><code>$orange</code> <span class="right swatch swatch-orange"></span></li>
  <li><code>$orange-dark</code> <span class="right swatch swatch-orange-dark"></span></li>
  <li><code>$orange-darker</code> <span class="right swatch swatch-orange-darker"></span></li>
  
  <li><code>$yellow-orange-pale</code> <span class="right swatch swatch-yellow-orange-pale"></span></li>
  <li><code>$yellow-orange-lighter</code> <span class="right swatch swatch-yellow-orange-lighter"></span></li>
  <li><code>$yellow-orange-light</code> <span class="right swatch swatch-yellow-orange-light"></span></li>
  <li><code>$yellow-orange</code> <span class="right swatch swatch-yellow-orange"></span></li>
  <li><code>$yellow-orange-dark</code> <span class="right swatch swatch-yellow-orange-dark"></span></li>
  <li><code>$yellow-orange-darker</code> <span class="right swatch swatch-yellow-orange-darker"></span></li>
  
  <li><code>$yellow-pale</code> <span class="right swatch swatch-yellow-pale"></span></li>
  <li><code>$yellow-lighter</code> <span class="right swatch swatch-yellow-lighter"></span></li>
  <li><code>$yellow-light</code> <span class="right swatch swatch-yellow-light"></span></li>
  <li><code>$yellow</code> <span class="right swatch swatch-yellow"></span></li>
  <li><code>$yellow-dark</code> <span class="right swatch swatch-yellow-dark"></span></li>
  <li><code>$yellow-darker</code> <span class="right swatch swatch-yellow-darker"></span></li>
  
  <li><code>$yellow-green-pale</code> <span class="right swatch swatch-yellow-green-pale"></span></li>
  <li><code>$yellow-green-lighter</code> <span class="right swatch swatch-yellow-green-lighter"></span></li>
  <li><code>$yellow-green-light</code> <span class="right swatch swatch-yellow-green-light"></span></li>
  <li><code>$yellow-green</code> <span class="right swatch swatch-yellow-green"></span></li>
  <li><code>$yellow-green-dark</code> <span class="right swatch swatch-yellow-green-dark"></span></li>
  <li><code>$yellow-green-darker</code> <span class="right swatch swatch-yellow-green-darker"></span></li>
  
  <li><code>$green-pale</code> <span class="right swatch swatch-green-pale"></span></li>
  <li><code>$green-lighter</code> <span class="right swatch swatch-green-lighter"></span></li>
  <li><code>$green-light</code> <span class="right swatch swatch-green-light"></span></li>
  <li><code>$green</code> <span class="right swatch swatch-green"></span></li>
  <li><code>$green-dark</code> <span class="right swatch swatch-green-dark"></span></li>
  <li><code>$green-darker</code> <span class="right swatch swatch-green-darker"></span></li>
  
  <li><code>$blue-green-pale</code> <span class="right swatch swatch-blue-green-pale"></span></li>
  <li><code>$blue-green-lighter</code> <span class="right swatch swatch-blue-green-lighter"></span></li>
  <li><code>$blue-green-light</code> <span class="right swatch swatch-blue-green-light"></span></li>
  <li><code>$blue-green</code> <span class="right swatch swatch-blue-green"></span></li>
  <li><code>$blue-green-dark</code> <span class="right swatch swatch-blue-green-dark"></span></li>
  <li><code>$blue-green-darker</code> <span class="right swatch swatch-blue-green-darker"></span></li>
  
  <li><code>$blue-pale</code> <span class="right swatch swatch-blue-pale"></span></li>
  <li><code>$blue-lighter</code> <span class="right swatch swatch-blue-lighter"></span></li>
  <li><code>$blue-light</code> <span class="right swatch swatch-blue-light"></span></li>
  <li><code>$blue</code> <span class="right swatch swatch-blue"></span></li>
  <li><code>$blue-dark</code> <span class="right swatch swatch-blue-dark"></span></li>
  <li><code>$blue-darker</code> <span class="right swatch swatch-blue-darker"></span></li>
  
  <li><code>$blue-violet-pale</code> <span class="right swatch swatch-blue-violet-pale"></span></li>
  <li><code>$blue-violet-lighter</code> <span class="right swatch swatch-blue-violet-lighter"></span></li>
  <li><code>$blue-violet-light</code> <span class="right swatch swatch-blue-violet-light"></span></li>
  <li><code>$blue-violet</code> <span class="right swatch swatch-blue-violet"></span></li>
  <li><code>$blue-violet-dark</code> <span class="right swatch swatch-blue-violet-dark"></span></li>
  <li><code>$blue-violet-darker</code> <span class="right swatch swatch-blue-violet-darker"></span></li>
  
  <li><code>$violet-pale</code> <span class="right swatch swatch-violet-pale"></span></li>
  <li><code>$violet-lighter</code> <span class="right swatch swatch-violet-lighter"></span></li>
  <li><code>$violet-light</code> <span class="right swatch swatch-violet-light"></span></li>
  <li><code>$violet</code> <span class="right swatch swatch-violet"></span></li>
  <li><code>$violet-dark</code> <span class="right swatch swatch-violet-dark"></span></li>
  <li><code>$violet-darker</code> <span class="right swatch swatch-violet-darker"></span></li>
  
  <li><code>$red-violet-pale</code> <span class="right swatch swatch-red-violet-pale"></span></li>
  <li><code>$red-violet-lighter</code> <span class="right swatch swatch-red-violet-lighter"></span></li>
  <li><code>$red-violet-light</code> <span class="right swatch swatch-red-violet-light"></span></li>
  <li><code>$red-violet</code> <span class="right swatch swatch-red-violet"></span></li>
  <li><code>$red-violet-dark</code> <span class="right swatch swatch-red-violet-dark"></span></li>
  <li><code>$red-violet-darker</code> <span class="right swatch swatch-red-violet-darker"></span></li>
  
</ul>