<h1>Palette Variables</h1>
<p>Where our framework colors are defined. There are a total of three primary colors, three secondary colors and six tertiary colors which are the combination of a primary and secondary color. There are also five modifiers that can apply to any color: light, lighter, dark, darker and pale.</p>
  
<p>In combination with our gray scale, that is a total of 80 unique color variables. To make them easy to remember, every color's naming schema follows this pattern: color name then the modifier (if any is used). For the color name itself, if it's a tertiary color, it starts with the primary color first, then the secondary that it's mixed with.</p>

<pre class="language-scss"><code>// $[primary]-[modifier]
$blue-light

// $[secondary]-[modifier]
$orange-darker

// $[primary]-[secondary]-[modifier]
$yellow-green-lighter</code></pre>

<p>The degree variables are what's used to determine the amount that each base color is either lightened or darkened. The gray scale is the only exception to this.</p>

<ul class="docs-list-compact">
  
  <li class="title">Degree Modifiers</li>
  <li><code>$light-deg</code> <code class="right value">5%</code></li>
  <li><code>$lighter-deg</code> <code class="right value">10%</code></li>
  <li><code>$dark-deg</code> <code class="right value">5%</code></li>
  <li><code>$darker-deg</code> <code class="right value">10%</code></li>

  <li class="title">Black &amp; White</li>
  <li><code>$black</code> <span class="right swatch swatch-black"></span></li>
  <li><code>$white</code> <span class="right swatch swatch-white"></span></li>
  
</ul>

<div id="cards-palette" class="cards thirds">
  
  <!-- Gray -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-gray-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$gray-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-gray-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$gray-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-gray-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$gray-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-gray"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$gray" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-gray-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$gray-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-gray-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$gray-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Red -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Red Orange -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-orange-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-orange-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-orange-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-orange-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-orange-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-orange-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-orange"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-orange" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-orange-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-orange-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-orange-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-orange-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Orange -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-orange-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$orange-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-orange-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$orange-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-orange-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$orange-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-orange"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$orange" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-orange-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$orange-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-orange-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$orange-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Yellow Orange -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-orange-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-orange-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-orange-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-orange-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-orange-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-orange-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-orange"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-orange" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-orange-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-orange-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-orange-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-orange-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Yellow -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Yellow Green -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-green-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-green-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-green-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-green-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-green-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-green-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-green"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-green" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-green-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-green-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-yellow-green-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$yellow-green-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Green -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-green-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$green-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-green-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$green-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-green-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$green-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-green"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$green" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-green-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$green-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-green-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$green-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Blue Green -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-green-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-green-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-green-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-green-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-green-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-green-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-green"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-green" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-green-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-green-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-green-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-green-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Blue -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Blue Violet -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-violet-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-violet-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-violet-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-violet-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-violet-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-violet-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-violet"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-violet" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-violet-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-violet-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-blue-violet-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$blue-violet-darker" readonly>
      </div>
    </label>
  </div>
  
  <!-- Violet -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-violet-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$violet-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-violet-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$violet-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-violet-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$violet-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-violet"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$violet" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-violet-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$violet-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-violet-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$violet-darker" readonly>
      </div>
    </label>
  </div>

  <!-- Red Violet -->

  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-violet-pale"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-violet-pale" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-violet-lighter"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-violet-lighter" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-violet-light"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-violet-light" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-violet"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-violet" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-violet-dark"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-violet-dark" readonly>
      </div>
    </label>
  </div>
  
  <div class="card card-palette">
    <label class="card-inner">
      <div class="card-value">
        <span class="swatch swatch-red-violet-darker"></span>
      </div>
      <div class="card-key">
        <input type="text" class="input" onclick="this.select()" value="$red-violet-darker" readonly>
      </div>
    </label>
  </div>

</div>