<h1 class="docs-header">Palette Variables</h1>
<p>Where the global colors are defined. These colors are used throughout the framework and can be overridden to preference. To make them easiest to remember, every color is defined using the base color then modifier.</p>
<p>In the case of a mixed color, the primary (red, yellow, blue) color is always used first and the secondary (orange, green, violet) after:</p>

<pre class="language-scss"><code>// $[color]-[modifier]
$blue-light

// $[primary]-[secondary]-[modifier]
$yellow-green-lighter</code></pre>

<p>All the shade variations (light, lighter, dark, darker) are created using the base primary and secondary colors and are modified using these degree variables:</p>

<ul class="docs-list docs-list-hover">
  
  <li class="title">Degree Modifiers</li>
  <li><code>$light-deg</code> <code class="right value">5%</code></li>
  <li><code>$lighter-deg</code> <code class="right value">10%</code></li>
  <li><code>$dark-deg</code> <code class="right value">5%</code></li>
  <li><code>$darker-deg</code> <code class="right value">10%</code></li>

  <li class="title">The Colors</li>
  <li><code>$black</code> <span class="right swatch swatch-black"></span></li>
  <li><code>$white</code> <span class="right swatch swatch-white"></span></li>
  
  <li><code>$gray-pale</code> <span class="right swatch swatch-gray-pale"></span></li>
  <li><code>$gray-lighter</code> <span class="right swatch swatch-gray-lighter"></span></li>
  <li><code>$gray-light</code> <span class="right swatch swatch-gray-light"></span></li>
  <li><code>$gray</code> <span class="right swatch swatch-gray"></span></li>
  <li><code>$gray-dark</code> <span class="right swatch swatch-gray-dark"></span></li>
  <li><code>$gray-darker</code> <span class="right swatch swatch-gray-darker"></span></li>
  
  <li><code>$red-pale</code> <span class="right swatch swatch-red-pale"></span></li>
  <li><code>$red-lighter</code> <span class="right swatch swatch-red-lighter"></span></li>
  <li><code>$red-light</code> <span class="right swatch swatch-red-light"></span></li>
  <li><code>$red</code> <span class="right swatch swatch-red"></span></li>
  <li><code>$red-dark</code> <span class="right swatch swatch-red-dark"></span></li>
  <li><code>$red-darker</code> <span class="right swatch swatch-red-darker"></span></li>
  
  <li><code>$red-orange-pale</code> <span class="right swatch swatch-red-orange-pale"></span></li>
  <li><code>$red-orange-lighter</code> <span class="right swatch swatch-red-orange-lighter"></span></li>
  <li><code>$red-orange-light</code> <span class="right swatch swatch-red-orange-light"></span></li>
  <li><code>$red-orange</code> <span class="right swatch swatch-red-orange"></span></li>
  <li><code>$red-orange-dark</code> <span class="right swatch swatch-red-orange-dark"></span></li>
  <li><code>$red-orange-darker</code> <span class="right swatch swatch-red-orange-darker"></span></li>
  
  <li><code>$orange-pale</code> <span class="right swatch swatch-orange-pale"></span></li>
  <li><code>$orange-lighter</code> <span class="right swatch swatch-orange-lighter"></span></li>
  <li><code>$orange-light</code> <span class="right swatch swatch-orange-light"></span></li>
  <li><code>$orange</code> <span class="right swatch swatch-orange"></span></li>
  <li><code>$orange-dark</code> <span class="right swatch swatch-orange-dark"></span></li>
  <li><code>$orange-darker</code> <span class="right swatch swatch-orange-darker"></span></li>
  
  <li><code>$yellow-orange-pale</code> <span class="right swatch swatch-yellow-orange-pale"></span></li>
  <li><code>$yellow-orange-lighter</code> <span class="right swatch swatch-yellow-orange-lighter"></span></li>
  <li><code>$yellow-orange-light</code> <span class="right swatch swatch-yellow-orange-light"></span></li>
  <li><code>$yellow-orange</code> <span class="right swatch swatch-yellow-orange"></span></li>
  <li><code>$yellow-orange-dark</code> <span class="right swatch swatch-yellow-orange-dark"></span></li>
  <li><code>$yellow-orange-darker</code> <span class="right swatch swatch-yellow-orange-darker"></span></li>
  
  <li><code>$yellow-pale</code> <span class="right swatch swatch-yellow-pale"></span></li>
  <li><code>$yellow-lighter</code> <span class="right swatch swatch-yellow-lighter"></span></li>
  <li><code>$yellow-light</code> <span class="right swatch swatch-yellow-light"></span></li>
  <li><code>$yellow</code> <span class="right swatch swatch-yellow"></span></li>
  <li><code>$yellow-dark</code> <span class="right swatch swatch-yellow-dark"></span></li>
  <li><code>$yellow-darker</code> <span class="right swatch swatch-yellow-darker"></span></li>
  
  <li><code>$yellow-green-pale</code> <span class="right swatch swatch-yellow-green-pale"></span></li>
  <li><code>$yellow-green-lighter</code> <span class="right swatch swatch-yellow-green-lighter"></span></li>
  <li><code>$yellow-green-light</code> <span class="right swatch swatch-yellow-green-light"></span></li>
  <li><code>$yellow-green</code> <span class="right swatch swatch-yellow-green"></span></li>
  <li><code>$yellow-green-dark</code> <span class="right swatch swatch-yellow-green-dark"></span></li>
  <li><code>$yellow-green-darker</code> <span class="right swatch swatch-yellow-green-darker"></span></li>
  
  <li><code>$green-pale</code> <span class="right swatch swatch-green-pale"></span></li>
  <li><code>$green-lighter</code> <span class="right swatch swatch-green-lighter"></span></li>
  <li><code>$green-light</code> <span class="right swatch swatch-green-light"></span></li>
  <li><code>$green</code> <span class="right swatch swatch-green"></span></li>
  <li><code>$green-dark</code> <span class="right swatch swatch-green-dark"></span></li>
  <li><code>$green-darker</code> <span class="right swatch swatch-green-darker"></span></li>
  
  <li><code>$blue-green-pale</code> <span class="right swatch swatch-blue-green-pale"></span></li>
  <li><code>$blue-green-lighter</code> <span class="right swatch swatch-blue-green-lighter"></span></li>
  <li><code>$blue-green-light</code> <span class="right swatch swatch-blue-green-light"></span></li>
  <li><code>$blue-green</code> <span class="right swatch swatch-blue-green"></span></li>
  <li><code>$blue-green-dark</code> <span class="right swatch swatch-blue-green-dark"></span></li>
  <li><code>$blue-green-darker</code> <span class="right swatch swatch-blue-green-darker"></span></li>
  
  <li><code>$blue-pale</code> <span class="right swatch swatch-blue-pale"></span></li>
  <li><code>$blue-lighter</code> <span class="right swatch swatch-blue-lighter"></span></li>
  <li><code>$blue-light</code> <span class="right swatch swatch-blue-light"></span></li>
  <li><code>$blue</code> <span class="right swatch swatch-blue"></span></li>
  <li><code>$blue-dark</code> <span class="right swatch swatch-blue-dark"></span></li>
  <li><code>$blue-darker</code> <span class="right swatch swatch-blue-darker"></span></li>
  
  <li><code>$blue-violet-pale</code> <span class="right swatch swatch-blue-violet-pale"></span></li>
  <li><code>$blue-violet-lighter</code> <span class="right swatch swatch-blue-violet-lighter"></span></li>
  <li><code>$blue-violet-light</code> <span class="right swatch swatch-blue-violet-light"></span></li>
  <li><code>$blue-violet</code> <span class="right swatch swatch-blue-violet"></span></li>
  <li><code>$blue-violet-dark</code> <span class="right swatch swatch-blue-violet-dark"></span></li>
  <li><code>$blue-violet-darker</code> <span class="right swatch swatch-blue-violet-darker"></span></li>
  
  <li><code>$violet-pale</code> <span class="right swatch swatch-violet-pale"></span></li>
  <li><code>$violet-lighter</code> <span class="right swatch swatch-violet-lighter"></span></li>
  <li><code>$violet-light</code> <span class="right swatch swatch-violet-light"></span></li>
  <li><code>$violet</code> <span class="right swatch swatch-violet"></span></li>
  <li><code>$violet-dark</code> <span class="right swatch swatch-violet-dark"></span></li>
  <li><code>$violet-darker</code> <span class="right swatch swatch-violet-darker"></span></li>
  
  <li><code>$red-violet-pale</code> <span class="right swatch swatch-red-violet-pale"></span></li>
  <li><code>$red-violet-lighter</code> <span class="right swatch swatch-red-violet-lighter"></span></li>
  <li><code>$red-violet-light</code> <span class="right swatch swatch-red-violet-light"></span></li>
  <li><code>$red-violet</code> <span class="right swatch swatch-red-violet"></span></li>
  <li><code>$red-violet-dark</code> <span class="right swatch swatch-red-violet-dark"></span></li>
  <li><code>$red-violet-darker</code> <span class="right swatch swatch-red-violet-darker"></span></li>
  
</ul>