<h1>Typography Variables</h1>
<p>The default typographic settings. These dictate the base typographic styles for headings, body text, inline text elements and links as well as modifier classes.</p>

<ul class="docs-list-compact">
  
  <li class="title">Font Families</li>
  <li>
    <code>$font-family-sans</code>
    <code class="block value">"Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif</code>
  </li>
  <li>
    <code>$font-family-serif</code>
    <code class="block value">georgia, "Times New Roman", times, serif</code>
  </li>
  <li>
    <code>$font-family-mono</code>
    <code class="block value">Menlo, Monaco, Consolas, "Courier New", monospace</code>
  </li>
  
  <li class="title">Base Font Styles</li>
  <li><code>$base-font-family</code> <code class="right value">$font-family-sans</code></li>
  <li><code>$base-font-size</code> <code class="right value">16px</code></li>
  <li><code>$base-line-height</code> <code class="right value">1.5em</code></li>
  <li><code>$base-font-weight</code> <code class="right value">normal</code></li>
  
  <li class="title">Header Styles</li>
  <li><code>$font-family-heading</code> <code class="right value">inherit</code></li>
  <li><code>$line-height-heading</code> <code class="right value">1.25em</code></li>
  <li><code>$font-weight-heading</code> <code class="right value">bold</code></li>
  
  <li class="title">Text Color Assignment</li>
  <li><code>$color-dark</code> <span class="right swatch swatch-gray-dark"></span></li>
  <li><code>$color-light</code> <span class="right swatch swatch-gray-light"></span></li>
  <li><code>$color-dark</code> <span class="right swatch swatch-gray-dark"></span></li>
  <li><code>$color-header</code> <span class="right swatch swatch-gray-dark"></span></li>
  
  <li class="title">Links</li>
  <li><code>$color-link</code> <span class="right swatch swatch-blue-dark"></span></li>
  <li><code>$color-link-hover</code> <span class="right swatch swatch-yellow-green-dark"></span></li>
  
  <li class="title">Header Links</li>
  <li><code>$color-link-heading</code> <span class="right swatch swatch-blue-dark"></span></li>
  <li><code>$color-link-heading-hover</code> <span class="right swatch swatch-yellow-green-dark"></span></li>
  
  <li class="title">Miscellaneous</li>
  <li><code>$letter-spacing</code> <code class="right value">1px</code></li>
  
</ul>
