<h1 class="docs-header">Typography Variables</h1>
<p>The default typographic settings. These dictate the base typographic styles for headers, body text, inline text elements and links as well as modifier classes.</p>

<ul class="variables">
  
  <li class="title">Font Families</li>
  <li class="large">
    <code>$font-family-sans</code>
    <code class="value">"Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif</code>
  </li>
  <li class="large">
    <code>$font-family-serif</code>
    <code class="value">georgia, "Times New Roman", times, serif</code>
  </li>
  <li class="large">
    <code>$font-family-mono</code>
    <code class="value">Menlo, Monaco, Consolas, "Courier New", monospace</code>
  </li>
  
  <li class="title">Base Font Styles</li>
  <li><code>$base-font-family</code> <code class="value">$font-family-sans</code></li>
  <li><code>$base-font-size</code> <code class="value">14px</code></li>
  <li><code>$base-line-height</code> <code class="value">20px</code></li>
  <li><code>$base-font-weight</code> <code class="value">normal</code></li>
  
  <li class="title">Header Styles</li>
  <li><code>$font-family-header</code> <code class="value">inherit</code></li>
  <li><code>$font-weight-header</code> <code class="value">600</code></li>
  
  <li class="title">Text Color Assignment</li>
  <li><code>$color</code> <span class="swatch swatch-gray-dark"></span></li>
  <li><code>$color-light</code> <span class="swatch swatch-gray-light"></span></li>
  <li><code>$color-dark</code> <span class="swatch swatch-gray-dark"></span></li>
  <li><code>$color-header</code> <span class="swatch swatch-gray-dark"></span></li>
  
  <li class="title">Links</li>
  <li><code>$color-link</code> <span class="swatch swatch-blue"></span></li>
  <li><code>$color-link-hover</code> <span class="swatch swatch-violet"></span></li>
  
  <li class="title">Header Links</li>
  <li><code>$color-link-header</code> <span class="swatch swatch-blue"></span></li>
  <li><code>$color-link-header-hover</code> <span class="swatch swatch-violet"></span></li>
  
  <li class="title">Miscellaneous</li>
  <li><code>$letter-spacing</code> <code class="value">1px</code></li>
  
</ul>
