// Set file variable
$filename: 'scss/elements/_base.scss';

////////////////////////////////////////////////////////////////////////////////
// @Base Variables
////////////////////////////////////////////////////////////////////////////////

// Sets global box sizing property
// @type border-box, null
$box-sizing: border-box !default;

// Class name used in clearfix and remove-clearfix classes
// @type class-name, null
$class-clearfix: 'clearfix' !default;
$class-remove-clearfix: 'remove-clearfix' !default;

// Class name used in float left and right classes
// @type class-name, null
$class-float-left: 'float-left' !default;
$class-float-right: 'float-right' !default;

$class-show: 'show' !default;
$class-hide: 'hide' !default;

// Whether or not to output media based show-hide classes
$class-show-hide-min: 'down' !default;
$class-show-hide-max: 'up' !default;

/*==============================================================================
  @Base Styles - #{$filename}
==============================================================================*/

// Remove margins and padding from HTML and Body elements
html, body {
  margin: 0;
  padding: 0;
}

// Prevents automatic text resizing on mobile devices.
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Make HTML5 elements act like blocks
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

// Reset table font-size
table {
  font-size: 1em;
}

// Set default box sizing model to our global variable $box-sizing.
// Source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
@if ($box-sizing) {
  *, *:before, *:after {
    box-sizing: $box-sizing;
  }
}

// Add custom text highlight color if a color is set in $bg-selection.
@if ($bg-selection) {
  ::-moz-selection {
    background: $bg-selection;
    text-shadow: none;
  }
  ::selection {
    background: $bg-selection;
    text-shadow: none;
  }
}

/*==============================================================================
  @Utility Classes - #{$filename}
==============================================================================*/

// Outputs our cleafix class if one is set in $class-clearfix.
@if ($class-clearfix) {
  .#{$class-clearfix} {
    @include add-clearfix();
  }
}

// Outputs our remove cleafix class if one is set in $class-remove-clearfix.
@if ($class-remove-clearfix) {
  .#{$class-remove-clearfix} {
    @include remove-clearfix();
  }
}

// Outputs our float-left class if one is set in $class-float-left.
@if ($class-float-left) {
  .#{$class-float-left} {
    float: left;
  }
}

// Outputs our float-right class if one is set in $class-float-right.
@if ($class-float-right) {
  .#{$class-float-right} {
    float: right;
  }
}

/**
 * Show & Hide Classes
 */
@if ($class-show) {
  .#{$class-show} {
    display: block !important;
  }
  .#{$class-show}-inline-block {
    display: inline-block !important;
  }
  .#{$class-show}-flex {
    display: flex !important;
  }
  .#{$class-show}-inline-flex {
    display: inline-flex !important;
  }
  .#{$class-show}-inherit {
    display: inherit !important;
  }
}

@if ($class-hide) {
  .#{$class-hide} {
    display: none !important;
  }
}

/**
 * Responsive Show and Hide Classes
 */
@each $name, $value in $breakpoints {
  @if ($class-show-hide-min or $class-show-hide-max) {

    @include media-min($name) {
      @if ($class-show-hide-min) {
        .#{$class-show}-#{$name}-#{$class-show-hide-min} {
          display: none !important;
        }
      }
      @if ($class-show-hide-max) {
        .#{$class-hide}-#{$name}-#{$class-show-hide-max} {
          display: none !important;
        }
      }
    }
    @include media-max($name) {
      @if ($class-show-hide-min) {
        .#{$class-hide}-#{$name}-#{$class-show-hide-min} {
          display: none !important;
        }
      }
      @if ($class-show-hide-max) {
        .#{$class-show}-#{$name}-#{$class-show-hide-max} {
          display: none !important;
        }
      }
    }

  }
}
