/*==============================================================================
  Blockquotes
==============================================================================*/

blockquote {
  margin: 15px 0;
  padding: 10px 20px;
  background: $bg-color;
  @include border-radius();
  
  small {
    display: block;
    position: relative;
    margin: 10px 0;
    font-size: 100%;
    color: lighten($color, 45%);
    
    &:before {
      content: "\2014";
      margin-right: 5px;
    }
  }
}
