/*==============================================================================
  Blockquotes
==============================================================================*/

blockquote {
  margin: 15px 0;
  padding: 10px 20px;
  background: $bg-color;
  @include border-radius();
  
  footer,
  .blockquote-footer {
    display: block;
    position: relative;
    margin: 10px 0;
    font-size: 100%;
  }
}
