// Set file variable
$filename: 'scss/elements/_blockquotes.scss';

/*==============================================================================
  @Blockquotes - #{$filename}
==============================================================================*/

blockquote {
  margin: 1rem 0;
  padding: 0.5em 1.5em;
  background: $bg-color;
  @include border-radius();
  
  footer,
  .blockquote-footer {
    display: block;
    position: relative;
    margin: 1rem 0;
    font-size: 100%;
  }
}

@include media-min('medium') {
  
  blockquote {
    padding: 1em 2em;
  }
  
}
