// Set file variable
$filename: 'scss/elements/_close.scss';

////////////////////////////////////////////////////////////////////////////////
// @Close Map
////////////////////////////////////////////////////////////////////////////////

$close: (
  'output' : true,
  'output-modifiers' : true,
  'class' : 'close',

  'margin' : 0,
  'padding' : 0.125em,
  'font-size' : 1rem,
  'border' : none,
  'border-radius' : 5em,
  'transition' : $transition,

  'modifiers' : (
    'default' : (
      'color' : $white,
      'background' : rgba($black, 0.25),
      'hover' : (
        'color' : $white,
        'background' : rgba($black, 0.5),
      ),
    ),
    'inverted' : (
      'color' : $color,
      'background' : rgba($white, 0.5),
      'hover' : (
        'color' : $color,
        'background' : rgba($white, 1),
      ),
    ),
    'danger' : (
      'background' : $red,
      'hover' : (
        'background' : $red-700,
      ),
    ),
  ),

) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'close') == true) {
    $close: map-extend($close, map-get($override, 'close'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Close Mixins
////////////////////////////////////////////////////////////////////////////////

// Make close
// Creates the base styles for the close element
// @param $options
//   @type map
//   @default $close map
@mixin make-close($options: ()) {
  $o: map-merge($close, $options);

  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include add-styles($o);
  @include add-modifiers($o, 'default', false);

  @content;

  @if (variable-exists(icons)) {
    .#{map-get($icons, 'class')} {
      margin: 0;
    }
  }
}

// Add Modifiers Close
// Creates styles for the close elements along with modifiers.
@mixin add-modifiers-close($options: ()) {
  $o: $options;

  // Check if $close exists and if output is set to true
  @if (map-get($close, 'output') == true) {

    // If close key exists, output close styles
    @if (map-has-key($o, 'close') == true) {
      .#{map-get($close, 'class')} {
        @include add-styles(map-get($o, 'close'));
        @if (map-fetch($o, 'close', 'key')) {
          @include add-modifiers($close, map-fetch($o, 'close', 'key'), false);
        }
      }
    }

    // Check if modifiers exist
    @if (map-has-key($o, 'modifiers')) {
      @each $name, $map in map-get($o, 'modifiers') {
        @if (map-has-key($map, 'close')) {
          &.#{$name} {
            .#{map-get($close, 'class')} {
              @include add-styles(map-get($map, 'close'));
              @if (map-fetch($map, 'close', 'key')) {
                @include add-modifiers($close, map-fetch($map, 'close', 'key'), false);
              }
            }
          }
        }
      }
    }
  }

}

// Check if we should output close
@if (map-get($close, 'output') == true) {

/*==============================================================================
  @Close - #{$filename}
==============================================================================*/

.#{map-get($close, 'class')} {
  @include make-close();
}

// Check if we should output close modifiers
@if (map-get($close, 'output-modifiers') == true) {
  .#{map-get($close, 'class')} {
    @include add-modifiers($close);
  }
} // End @if output-modifiers

} // End @if output
