// Set file variable
$filename: 'scss/elements/_close.scss';

////////////////////////////////////////////////////////////////////////////////
// @Close Map
////////////////////////////////////////////////////////////////////////////////

$close: (
  'output' : true,
  'output-colors' : true,
  'class' : 'close',

  'margin' : 0,
  'padding' : 0.125em,
  'border' : none,
  'border-radius' : 5em,
  'transition' : $transition,
  'font-size' : 1rem,

  // Add color styles
  'color' : $white,
  'background' : rgba($black, 0.25),
  'hover' : (
    'color' : $white,
    'background' : rgba($black, 0.5),
  ),

  // Default add-color output
  'style' : null,

  // Modifiers
  'modifiers' : (
    'inverted' : (
      'color' : $color,
      'background' : rgba($white, 0.5),
      'hover' : (
        'color' : $color,
        'background' : rgba($white, 1),
      ),
    ),
    'danger' : (
      'background' : $red,
      'hover' : (
        'background' : $red-700,
      ),
    ),
  ),

) !default;

// Extend default component map with overrides if they exist
@if variable-exists(override) {
  @if (map-has-key($override, 'close') == true) {
    $close: map-extend($close, map-get($override, 'close'), true);
  }
}

////////////////////////////////////////////////////////////////////////////////
// @Close Mixins
////////////////////////////////////////////////////////////////////////////////

// Make close
// Creates the base styles for the close element
// @param $options
//   @type map
//   @default $close map
@mixin make-close($options: ()) {
  $o: map-merge($close, $options);

  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: map-get($o, 'margin');
  padding: map-get($o, 'padding');
  font-size: map-get($o, 'font-size');
  border: map-get($o, 'border');
  border-radius: map-get($o, 'border-radius');
  transition: map-get($o, 'transition');

  @content;

  // Remove margins from icon
  @if (variable-exists(icons)) {
    .#{map-get($icons, 'class')} {
      margin: 0;
    }
  }
}

// Add Close Color
// Creates the color styles for close element.
// @param $options
//   @type map
//   @default $close map
// @param $settings
//   @type map
//   @default ()
// @param $properties
//   @type map list
//   @default ('color', 'background', 'border-color')
// @param $style
//   @type string
//   @default null
@mixin add-close-color(
  $options: (),
  $settings: (),
  $properties: ('color', 'background', 'border-color'),
  $style: null
) {
  $o: map-extend($close, $options, true);
  $s: map-merge($settings, ('properties': $properties));

  @if ($style == null) {
    @if (map-has-key($o, 'style')) {
      $style: map-get($o, 'style');
    }
  }

  @if ($style != null) {

    @if ($style != 'all') {
      $s: map-merge($s, ('output-mods': false));
      @if (map-has-key(map-get($o, 'modifiers'), $style) == true) {
        $o: map-extend($o, map-fetch($o, 'modifiers', $style), true);
      } @else if ($style != 'default') {
        @warn 'The $close map does not contain the modifier of "#{$style}"!';
      }
    }

  } @else {
    $s: map-merge($s, ('output-mods': false));
  }

  @include add-color($o, $settings: $s);
}

// Check if we should output modifier classes
@if (map-get($close, 'output') == true) {

/*==============================================================================
  @Close - #{$filename}
==============================================================================*/

.#{map-get($close, 'class')} {
  @include make-close();
  @include add-close-color();
}

// Check if we should output badge colors
@if (map-get($close, 'output-colors') == true) {

/**
 * Colors
 */
.#{map-get($close, 'class')} {
  @include add-close-color($settings: (
    'output-base': false,
    'output-pseudo': false
  ), $style: 'all');
}

} // End @if output-colors

} // End @if output
