/*==============================================================================
  @Code
==============================================================================*/

code, pre {
  background: $bg-color;
  font-family: $font-family-mono;
  font-size: 12px;
  line-height: 20px;
  @include border-radius();
}
code {
  display: inline-block;
  margin: 0 2px;
  padding: 0 5px; 
  white-space: nowrap;
  line-height: inherit;
  color: $red-violet-darker;
}
pre {
  margin: 20px 0;
  padding: 5px;
  overflow: auto;
  color: $color-dark;
  
  code {
    display: block;
    margin: 0;
    padding: 15px;
    overflow: scroll;
    white-space: pre;
    font-size: 100%;
    color: inherit;
    background: none;
    border: 0 none;
  }
  &.max-height {
    max-height: 400px;
  }
}
