// Set file variable
$filename: 'scss/elements/_code.scss';

/*==============================================================================
  @Code - #{$filename}
==============================================================================*/

code, pre {
  background: $bg-color;
  font-family: $font-family-mono;
  font-size: px-to-em(14px);
  line-height: 1.5em;
  @include border-radius();
}
code {
  display: inline;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  line-height: inherit;
  color: $red;
  background: none;
}
pre {
  margin: 1.5rem 0;
  padding: 0.75rem;
  overflow: auto;
  color: $color-dark;

  code {
    display: block;
    margin: 0;
    padding: 0.75rem;
    overflow: auto;
    white-space: pre;
    font-size: 100%;
    color: inherit;
    background: none;
    border: 0 none;
  }
  &.max-height {
    max-height: 400px;
  }
}
