/*==============================================================================
  Insert & Delete
==============================================================================*/

ins,
.ins {
  color: $green-darker;
  text-decoration: underline;
}
del,
.del {
  color: $red-darker;
  text-decoration: line-through;
}

/**
 * Edit Blocks
 */
.edit-block,
.ins-block,
.del-block {
  display: block;
  margin-left: -1em;
  padding-left: 0.5em;
  border-left: 0.5em solid $color-light;
}
.ins-block {
  border-color: $green-darker;
  // Remove inline ins styles
  color: $color;
  text-decoration: none;
}
.del-block {
  border-color: $red-darker;
  // Remove inline del styles
  color: $color;
  text-decoration: none;
}