/*==============================================================================
  Insert & Delete
==============================================================================*/

.edit {
  border-bottom: 2px solid $color-light;
}

ins,
.ins {
  text-decoration: none;
  border-bottom: 2px solid $green-darker;
}
del,
.del {
  text-decoration: none;
  border-bottom: 2px solid $red-darker;
}

/**
 * Edit Blocks
 */
.edit-block,
.ins-block,
.del-block {
  display: block;
  padding-left: 10px;
  border-left: 5px solid $color-light;
  border-bottom: 0 none;
}
.ins-block {
  border-color: $green-darker;
  // Remove inline ins styles
  color: $color;
  text-decoration: none;
}
.del-block {
  border-color: $red-darker;
  // Remove inline del styles
  color: $color;
  text-decoration: none;
}