/*==============================================================================
  Editorial Text Elements & Blocks
==============================================================================*/

.edit {
  border-bottom: 2px solid $color-light;
  background: rgba($color-light, 0.1);
}
.info {
  border-bottom: 2px solid $blue-darker;
  background: rgba($blue, 0.1);
}
.warning {
  border-bottom: 2px solid $yellow;
  background: rgba($yellow, 0.15);
}
ins,
.ins,
.success {
  text-decoration: none;
  border-bottom: 2px solid $green-darker;
  background: rgba($green, 0.1);
}
del,
.del,
.danger {
  text-decoration: none;
  border-bottom: 2px solid $red-darker;
  background: rgba($red, 0.1);
}

/**
 * Edit Blocks
 */
.block-edit,
.block-info,
.block-warning,
.block-ins,
.block-success,
.block-del,
.block-danger {
  display: block;
  padding: 5px 20px;
  margin: 20px 0;
  border-bottom: 0 none;
  border-left: 5px solid $color-light;
  background: rgba($color-light, 0.1);
}
.block-info {
  border-color: $blue-darker;
  background: $blue-pale;
}
.block-warning {
  border-color: $yellow;
  background: $yellow-pale;
}
.block-ins,
.block-success {
  border-color: $green-darker;
  background: $green-pale;
  // Remove inline ins styles
  color: $color;
  text-decoration: none;
}
.block-del,
.block-danger {
  border-color: $red-darker;
  background: $red-pale;
  // Remove inline del styles
  color: $color;
  text-decoration: none;
}
