// Set file variable
$filename: 'scss/elements/_icons.scss';

////////////////////////////////////////////////////////////////////////////////
// @Icons Map
////////////////////////////////////////////////////////////////////////////////

$icons: (
  'font-path' : null
) !default;

$icons-font: () !default;

@if (map-get($icons, 'font-path')) {
/*==============================================================================
  @Font-Face - #{$filename}
==============================================================================*/

@font-face {
  font-family: 'FontAwesome';
  src: url('#{map-get($icons-map, 'font-path')}/fontawesome-webfont.eot');
  src: url('#{map-get($icons-map, 'font-path')}/fontawesome-webfont.eot') format('embedded-opentype'),
    url('#{map-get($icons-map, 'font-path')}/fontawesome-webfont.woff2') format('woff2'),
    url('#{map-get($icons-map, 'font-path')}/fontawesome-webfont.woff') format('woff'),
    url('#{map-get($icons-map, 'font-path')}/fontawesome-webfont.ttf') format('truetype'),
    url('#{map-get($icons-map, 'font-path')}/fontawesome-webfont.svg}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

}

/*==============================================================================
  @Icons - #{$filename}
==============================================================================*/

.icon {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  line-height: 1em;
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}

@each $icon, $content in $icons-font {
  .icon-#{$icon}:before {
    content: $content;
  }
}
