// Set file variable
$filename: 'scss/elements/_images.scss';

/*==============================================================================
  @Images - #{$filename}
==============================================================================*/

img {
  display: block;
  margin: 1rem 0;
  max-width: 100%;
  height: auto;
}

/**
 * Alignment Modifiers
 */
img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p img.align-center {
  margin-top: 0;
  margin-bottom: 0;
}

img.align-left {
  float: left;
  margin: 1rem 1.5rem 1rem 0;
}
p img.align-left {
  margin-top: 0;
  
}

img.align-right {
  float: right;
  margin: 1rem 0 1rem 1.5rem;
}
p img.align-right {
  margin-top: 0;
}

/**
 * Stylistic Modifiers
 */
img.rounded  { 
  @include border-radius( $border-radius );
}
img.circle   { 
  @include border-radius( 50% );
}
img.polaroid { 
  background: $white;
  background-clip: padding-box;
  padding: 0.5rem;
  border: 1px solid rgba($black, 0.2);
  @include box-shadow( 0 1px 3px rgba($black, 0.1) );
}
