/*==============================================================================
  @Lists
==============================================================================*/

ul, ol {
  margin: 10px 0 10px 20px;
  padding: 0;
  li {
    margin: 5px 0;
  }
}

/**
 * Unordered Lists
 */
ul, ul ul ul ul {
  list-style: disc;
}
ul ul {
  list-style: circle;
}
ul ul ul {
  list-style: disc;
}

/**
 * Ordered Lists
 */
ol, ol ol ol ol {
  list-style: decimal;
}
ol ol {
  list-style: lower-alpha;
}
ol ol ol {
  list-style: lower-roman;
}

/**
 * Description Lists
 */
dl {
  margin: 10px 0;
  dt {
    margin: 10px 0 0;
    font-weight: bold;
  }
  dd {
    margin: 0 0 10px 20px;
  }
}
