/*==============================================================================
  Horizontal Rules
==============================================================================*/

hr {
  display: block;
  height: 0;
  width: 100%;
  clear: both;
  margin: 20px 0;
  padding: 0;
  background: none;
  border: 0 none;
  border-bottom: 1px solid rgba($black, 0.1);
  
  &.dotted {
    border-bottom: 1px dotted rgba($black, 0.2);
  }
  &.dashed {
    border-bottom: 1px dashed rgba($black, 0.2);
  }
  &.double {
    border-bottom: 3px double rgba($black, 0.1);
  }
}
