// Set file variable
$filename: 'scss/elements/_rules.scss';

/*==============================================================================
  @Rules - #{$filename}
==============================================================================*/

hr {
  display: block;
  height: 0;
  width: 100%;
  clear: both;
  margin: 2rem 0;
  padding: 0;
  background: none;
  border: 0 none;
  border-bottom: 1px solid $border-color;
}

/**
 * Stylistic Modifiers
 */
hr.dotted {
  border-bottom: 1px dotted rgba($black, 0.25);
}
hr.dashed {
  border-bottom: 1px dashed rgba($black, 0.25);
}
hr.double {
  border-bottom: 3px double $border-color;
}
