////////////////////////////////////////////////////////////////////////////////
// Table Variables
////////////////////////////////////////////////////////////////////////////////

$color-bg-table: #f9f9f9 !default;
$color-border-table: rgba($black, 0.1) !default;

$table-padding-condensed: 5px;
$table-padding: 10px;
$table-padding-expanded: 15px;

$table-alignment: top;

$table: (
  'base' : false,
  'padding': 10px,
  'border' : 1px solid rgba($black, 0.1),
  'background' : none,
) !default;

////////////////////////////////////////////////////////////////////////////////
// Table Mixins
////////////////////////////////////////////////////////////////////////////////

// Make Table Modifier Base
@mixin make-table-base($options: ()) {
  $o: map-merge( $table, $options);
  border-collapse: separate;
  background: map-get($o, 'background');
}

// Rowed
@mixin make-table-rowed($options: ()) {
  $o: map-merge( $table, $options);
  
  @if (map-get($o, 'base') == true) {
    @include make-table-base($o);
  }
  
  td, th {
    padding: map-get($o, 'padding');
    border-bottom: map-get($o, 'border');
  }
  
  tr:first-child {
    td, th {
      border-top: map-get($o, 'border');
    }
  }
}

// Columned
@mixin make-table-columned($options: ()) {
  $o: map-merge( $table, $options);

  td, th {
    padding: map-get($o, 'padding');
    border-right: map-get($o, 'border');
  }
  
  tr {
    td:first-child, th:first-child { 
      border-left: map-get($o, 'border')
    }
  }
}

// Bordered
@mixin make-table-bordered($options: ()) {
  $o: map-merge( $table, $options);
  
  @include make-table-rowed($o);
  @include make-table-columned($o);
  
}

/*==============================================================================
  @Tables
==============================================================================*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; 
  max-width: 100%;
  margin: 20px 0;
  overflow: auto;
  
  th {
    color: $color-header;
    text-align: left;
    font-weight: bold;
  }
  tr {
    // Default alignment
    vertical-align: $table-alignment;
  }
  
  // Modifiers
  &.table-valign-baseline {
    tr {
      vertical-align: baseline;
    }
  }
  &.table-valign-top {
    tr {
      vertical-align: top;
    }
  }
  &.table-valign-middle {
    tr {
      vertical-align: middle;
    }
  }
  &.table-valign-bottom {
    tr {
      vertical-align: bottom;
    }
  }
}

/**
 * Table Borders
 */
%table-base {
  @include make-table-base();
}

.table-rowed {
  @extend %table-base;
  @include make-table-rowed();
}

.table-columned {
  @extend %table-base;
  @include make-table-columned();
}

.table-bordered {
  @extend %table-base;
  @include make-table-bordered();
}
