// Set file variable
$filename: 'scss/elements/_transitions.scss';

/*==============================================================================
  @Transitions - #{$filename}
==============================================================================*/

.fadeOut {
  transition: opacity 0.5s linear;
  opacity: 1;
}
.fadeOut.start {
  opacity: 0;
}
.fadeOut.end {
  display: none;
}
