// Set file variable
$filename: 'scss/elements/_transitions.scss';

/*==============================================================================
  @Transitions - #{$filename}
==============================================================================*/

/**
 * fadeOut
 */
.fadeOut {
  transition: opacity 0.5s linear;
  opacity: 1;
}
.fadeOut.start {
  opacity: 0;
}
.fadeOut.end {
  display: none;
}

/**
 * fadeIn
 */
.fadeIn {
  transition: opacity 0.5s linear;
  opacity: 0;
}
.fadeIn.start {
  opacity: 1;
}
.fadeIn.end {
  opacity: 1;
}
