/*==============================================================================
  @Typography
==============================================================================*/

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  line-height: $base-line-height;
  color: $color-header;

  a {
    color: $color-link-heading;
    border: 0 none;
    &:hover {
      color: $color-link-heading-hover;
    }
  }
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.30em;
}
h5 {
  font-size: 1.15em;
}
h6 {
  font-size: 1.15em;
  color: $color-light;
}

/**
 * Paragraphs
 */
p { 
  margin: 1rem 0;
}

/**
 * Anchors
 */
a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px solid $border-color;
  @include transition( $transition );
  
  &:hover {
    cursor: pointer;
    color: $color-link-hover;
    border-color: $border-color-hover;
  }
}

/**
 * Inline Text Elements
 */
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 0.8em;
}
mark {
  margin: 0 2px;
  padding: 0 5px;
  background: rgba(#ff0, 0.5);
  @include border-radius();
}
cite {
  font-style: italic;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $color-light;
}

/**
 * Stylistic Classes
 */
.text-lead {
  font-size: 1.3em;
  color: $color-dark;
}
.text-small {
  font-size: 0.8em;
}
.text-soften {
  font-weight: $base-font-weight;
  color: $color-light;
}
.text-harden {
  font-weight: bold;
  color: $color-dark;
}

/**
 * Alignment Classes
 */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}

/**
 * Transformation Classes
 */
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
