// Set file variable
$filename: 'scss/elements/_typography.scss';

/*==============================================================================
  @Typography - #{$filename}
===============================================================================*/

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $color;
  -webkit-font-smoothing: subpixel-antialiased;
}

@if map-get($anchors, 'output') {
  a {
    @include make-anchor();
  }
}

@if map-get($headings, 'output') {
  @include build-headings();
}

@if $text-elements {

  p {
    margin: 1em 0;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  small {
    font-size: 0.8em;
  }
  mark {
    background: rgba(#ff0, 0.5);
  }
  cite {
    font-style: italic;
  }
  abbr[title],
  abbr[data-original-title] {
    cursor: help;
    text-decoration: underline dotted;
  }

}

@if $text-modifiers {

  .text-lead {
    font-size: px-to-em(24px);
    line-height: 1.4em;
    color: $color-dark;
    font-weight: font-weight('light');

    a {
      text-decoration: none;
    }
  }

  .text-small {
    font-size: 0.8em;
    line-height: 1.5em;
  }
  .text-soften {
    font-weight: $base-font-weight;
    color: $color-light;
  }
  .text-harden {
    font-weight: bold;
    color: $color-dark;
  }

  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-justify {
    text-align: justify;
  }
  .text-nowrap {
    white-space: nowrap;
  }

  .text-lowercase {
    text-transform: lowercase;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-capitalize {
    text-transform: capitalize;
  }

}
