// Set file variable
$filename: 'scss/elements/_video.scss';

/*==============================================================================
  @Video - #{$filename}
==============================================================================*/

.video-wrapper {
	position: relative;
	display: block;
	height: 0;
	margin: 2rem 0;
	padding-bottom: 56.25%; // Default ratio
	overflow: hidden;

  .video-item,
  embed,
  iframe,
  object,
  video {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	border: 0 none;
  }
}

/**
 * Video Ratios
 */
.video-wrapper.ratio-16x9 {
  padding-bottom: 56.25%;
}
.video-wrapper.ratio-4x3 {
  padding-bottom: 75%;
}
