/* ==========================================================
 * BaseWeb - Button Styles
 * https://github.com/sebnitu/BaseWeb
 * ==========================================================
 * Copyright 2012 Sebastian Nitu.
 * ========================================================== */

/* ==========================================================
	General Buttons
============================================================= */
.btn {
  display: block-inline;
  border: 1px solid rgba(0,0,0, 0.15);
  margin: 0;
  padding: 8px 15px;
  .border-radius(6px);
}

/* ==========================================================
	End of Button Styles
============================================================= */
