/* ==========================================================
 * BaseWeb - Font Includes via @font-face
 * https://github.com/sebnitu/BaseWeb
 * ==========================================================
 * Copyright 2012 Sebastian Nitu.
 * ========================================================== */

 /**
  * Entypo - Icon Font
  * - Font created by: Daniel Bruce
  * - http://www.entypo.com/
  */
@font-face {
	font-family: 'Entypo';
	src: url('../fonts/entypo-webfont.eot');
	src: url('../fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/entypo-webfont.woff') format('woff'),
			 url('../fonts/entypo-webfont.ttf') format('truetype'),
			 url('../fonts/entypo-webfont.svg#EntypoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 * Font Name
 * - Font created by:
 * - Font URL 
 */
/* SAMPLE INCLUDE
@font-face {
	font-family: 'Trebuchet MS';
	src: url(../fonts/Trebuchet_MS.ttf) format('truetype');
}
@font-face {
	font-family: 'Trebuchet MS';
	font-weight: bold;
	src: url(../fonts/Trebuchet_MS_Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Trebuchet MS';
	font-style: italic;
	src: url(../fonts/Trebuchet_MS_Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'Trebuchet MS';
	font-weight: bold; font-style: italic;
	src: url(../fonts/Trebuchet_MS_Bold_Italic.ttf) format('truetype');
}
*/

/* ==========================================================
	End of Font Includes
============================================================= */
