/* ==========================================================
 * BaseWeb - Google's Code Prettify Styles
 * https://github.com/sebnitu/BaseWeb
 * ==========================================================
 * Copyright 2012 Sebastian Nitu.
 *
 * Google's Code Prettify styles used with prettify.js(1)
 *
 * 1) http://code.google.com/p/google-code-prettify/
 * ========================================================== */

/* ==========================================================
	Syntax Colors
============================================================= */
pre.prettyprint {}

.pln { color: @color; }  /* plain text */

@media screen {
  .str { color: @colorLink }  /* string content */
  .kwd { color: @colorLink }  /* a keyword */
  .com { color: @colorLight }  /* a comment */
  .typ { color: @colorLink }  /* a type name */
  .lit { color: @colorLink }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: @color }
  .tag { color: @colorLink }  /* a markup tag name */
  .atn { color: @colorLink }  /* a markup attribute name */
  .atv { color: @colorLink }  /* a markup attribute value */
  .dec, .var { color: @colorLink }  /* a declaration; a variable name */
  .fun { color: @colorLink }  /* a function name */
}

@media print, projection {
	/* Prettify Defaults */
	pre.prettyprint { background: #fff; }
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* ==========================================================
	Line Numbers
============================================================= */
pre.prettyprint.linenums {
	.box-shadow(50px 0 0 rgba(0,0,0, 0.04) inset);
}
ol.linenums { 
	margin: 0 0 0 35px;
}
ol.linenums li {
	margin: 0; padding: 0 0 0 15px;
	color: @colorLight;
}

/* ==========================================================
	Google's Code Prettify Styles
============================================================= */
