/* ==========================================================
 * BaseWeb - Responsive Styles
 * https://github.com/sebnitu/BaseWeb
 * ==========================================================
 * Copyright 2012 Sebastian Nitu.
 * ========================================================== */

/* ==========================================================
	Show & Hide utilities
============================================================= */

/* Things to show */
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.visible-desktop   { display: block !important; }

/* Things to hide */
.hidden-phone      { display: block !important; }
.hidden-tablet     { display: block !important; }
.hidden-desktop    { display: none !important; }

/* Between 768px and 960px (desktop - tablet) */
@media only screen and (min-width: 768px) and (max-width: 960px) {
	/* Show */
	.visible-tablet  { display: block !important; }
	/* Hide */
	.hidden-tablet 	 { display: none !important; }
	/* Hide everything else */
	.hidden-phone 	 { display: block !important; }
	.visible-phone 	 { display: none !important; }
	.hidden-desktop  { display: block !important; }
	.visible-desktop { display: none !important; }
}

/* Smaller than 768px (tablet - mobile) */
@media only screen and (max-width: 767px) {
	/* Show */
	.visible-phone 	 { display: block !important; }
	/* Hide */
	.hidden-phone 	 { display: none !important; }
	/* Hide everything else */
	.hidden-tablet 	 { display: block !important; }
	.visible-tablet  { display: none !important; }
	.hidden-desktop  { display: block !important; }
	.visible-desktop { display: none !important; }
}

/* ==========================================================
	Responsive Grid
============================================================= */

/* Between 768px and 960px (desktop - tablet) */
@media only screen and (min-width: 768px) and (max-width: 960px) {
	/* Grid: Base 744px grid */
	#gridSystem > .base(42px, 20px);
}

/* Smaller than 768px (tablet - mobile) */
@media only screen and (max-width: 767px) {
	/* Grid: Mobile Fluid 100% columns */
	#gridSystem > .mobile();
}

/* ==========================================================
	Responsive Styles
============================================================= */
/**
 * These are the basic pixel ranges that are used to adjust
 * the design based on device. Copy and paste these into
 * your main.less file to create your responsive rules.
 */
/* Larger than 1200 (large desktop) */
@media (min-width: 1200px) {}

/* Between 960px and 1200px (desktop - large desktop) */
@media only screen and (min-width: 960px) and (max-width: 1200px) {}

/* Between 768px and 960px (desktop - tablet) */
@media only screen and (min-width: 768px) and (max-width: 960px) {}

/* Smaller than 768px (tablet - mobile) */
@media only screen and (max-width: 767px) {}

/* Smaller than 480px (mobile) */
@media only screen and (max-width: 480px) {}

/* ==========================================================
	End of Responsive Styles
============================================================= */
