// ==========================================================
// BaseWeb - Variable
// https://github.com/sebnitu/BaseWeb
// ==========================================================
// Copyright 2012 Sebastian Nitu.
// ==========================================================

// ==========================================================
// Grid
// ==========================================================
// Static grid
@gridColumns:						12;
@gridColumnWidth:				50px;
@gridGutterWidth:				30px;

// Fluid grid
@fluidGridColumnWidth:	6.333%;
@fluidGridGutterWidth:	2%;

// ==========================================================
// Typography
// ==========================================================
// Families
@sansFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", helvetica, arial, sans-serif;
@serifFontFamily: "grad-1", "grad-2", georgia, times, serif;
@monoFontFamily: Menlo, Monaco, Consolas, "Courier New", monospace;
@iconFontFamily: "Entypo";

// Metrics
@fontSize: 14px;
@lineHeight: 20px;

// ==========================================================
// Colors
// ==========================================================
// Body
@color: #606060;
@colorLight: #aaaaaa;
@colorDark: #303030;

// Links
@colorLink: #bf2726;
@colorLinkHover: #bf2726;
@colorLinkActive: @colorLink;
@colorLinkVisited: @colorLink;

// Headers
@colorHeader: #303030;

// Header Links
@colorLinkHeader: #303030;
@colorLinkHeaderHover: #bf2726;
@colorLinkHeaderActive: @colorLinkHeader;
@colorLinkHeaderVisited: @colorLinkHeader;

// Backgrounds
@bgColor: #f6f6f6;

// Borders
@borderColor: #dddddd;

// ==========================================================
// End of Variable
// ==========================================================
