// ==========================================================
// BaseWeb - Variable
// https://github.com/sebnitu/BaseWeb
// ==========================================================
// Copyright 2012 Sebastian Nitu.
// ==========================================================

// ==========================================================
// Grid
// ==========================================================
// Static grid
@gridColumns:						12;
@gridColumnWidth:				60px;
@gridGutterWidth:				20px;

// Fluid grid
@fluidGridColumnWidth:	6.333%;
@fluidGridGutterWidth:	2%;

// ==========================================================
// Typography
// ==========================================================
@fontFamily: 	'Helvetica Neue', 'HelveticaNeue', helvetica, arial, sans-serif;
@fontSize:		13px;
@lineHeight:	18px;

// ==========================================================
// End of Variable
// ==========================================================
