////////////////////////////////////////////////////////////////////////////////
// Entypo Icons
////////////////////////////////////////////////////////////////////////////////

// Icon font mapping mixin
.fonticons-glyphicons-halflings() {
  
/**
 * Glyphicons
 *
 * @author Jan Kovařík
 * @url http://glyphicons.com/
 */
  @font-face {
    font-family: "Glyphicons Halflings";
    src: url(~"@{dir-fonts}glyphicons-halflings/glyphiconshalflings-regular.eot");
    src: url(~"@{dir-fonts}glyphicons-halflings/glyphiconshalflings-regular.eot?#iefix") format("embedded-opentype"),
         url(~"@{dir-fonts}glyphicons-halflings/glyphiconshalflings-regular.woff") format("woff"),
         url(~"@{dir-fonts}glyphicons-halflings/glyphiconshalflings-regular.ttf") format("truetype"),
         url(~"@{dir-fonts}glyphicons-halflings/glyphiconshalflings-regular.svg#EntypoRegular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  .icon {
    font-family: "Glyphicons Halflings";
    font-size: 1em;
    line-height: 0.5em;
  }
  
  .icon.icon-glass{ &:after { content:"\e001"; } }
  .icon.icon-music{ &:after { content:"\e002"; } }
  .icon.icon-search{ &:after { content:"\e003"; } }
  .icon.icon-envelope{ &:after { content:"\2709"; } }
  .icon.icon-heart{ &:after { content:"\e005"; } }
  .icon.icon-star{ &:after { content:"\e006"; } }
  .icon.icon-star-empty{ &:after { content:"\e007"; } }
  .icon.icon-user{ &:after { content:"\e008"; } }
  .icon.icon-film{ &:after { content:"\e009"; } }
  .icon.icon-th-large{ &:after { content:"\e010"; } }
  .icon.icon-th{ &:after { content:"\e011"; } }
  .icon.icon-th-list{ &:after { content:"\e012"; } }
  .icon.icon-ok{ &:after { content:"\e013"; } }
  .icon.icon-remove{ &:after { content:"\e014"; } }
  .icon.icon-zoom-in{ &:after { content:"\e015"; } }
  .icon.icon-zoom-out{ &:after { content:"\e016"; } }
  .icon.icon-off{ &:after { content:"\e017"; } }
  .icon.icon-signal{ &:after { content:"\e018"; } }
  .icon.icon-cog{ &:after { content:"\e019"; } }
  .icon.icon-trash{ &:after { content:"\e020"; } }
  .icon.icon-home{ &:after { content:"\e021"; } }
  .icon.icon-file{ &:after { content:"\e022"; } }
  .icon.icon-time{ &:after { content:"\e023"; } }
  .icon.icon-road{ &:after { content:"\e024"; } }
  .icon.icon-download-alt{ &:after { content:"\e025"; } }
  .icon.icon-download{ &:after { content:"\e026"; } }
  .icon.icon-upload{ &:after { content:"\e027"; } }
  .icon.icon-inbox{ &:after { content:"\e028"; } }
  .icon.icon-play-circle{ &:after { content:"\e029"; } }
  .icon.icon-repeat{ &:after { content:"\e030"; } }
  .icon.icon-refresh{ &:after { content:"\e031"; } }
  .icon.icon-list-alt{ &:after { content:"\e032"; } }
  .icon.icon-lock{ &:after { content:"\e033"; } }
  .icon.icon-flag{ &:after { content:"\e034"; } }
  .icon.icon-headphones{ &:after { content:"\e035"; } }
  .icon.icon-volume-off{ &:after { content:"\e036"; } }
  .icon.icon-volume-down{ &:after { content:"\e037"; } }
  .icon.icon-volume-up{ &:after { content:"\e038"; } }
  .icon.icon-qrcode{ &:after { content:"\e039"; } }
  .icon.icon-barcode{ &:after { content:"\e040"; } }
  .icon.icon-tag{ &:after { content:"\e041"; } }
  .icon.icon-tags{ &:after { content:"\e042"; } }
  .icon.icon-book{ &:after { content:"\e043"; } }
  .icon.icon-bookmark{ &:after { content:"\e044"; } }
  .icon.icon-print{ &:after { content:"\e045"; } }
  .icon.icon-camera{ &:after { content:"\e046"; } }
  .icon.icon-font{ &:after { content:"\e047"; } }
  .icon.icon-bold{ &:after { content:"\e048"; } }
  .icon.icon-italic{ &:after { content:"\e049"; } }
  .icon.icon-text-height{ &:after { content:"\e050"; } }
  .icon.icon-text-width{ &:after { content:"\e051"; } }
  .icon.icon-align-left{ &:after { content:"\e052"; } }
  .icon.icon-align-center{ &:after { content:"\e053"; } }
  .icon.icon-align-right{ &:after { content:"\e054"; } }
  .icon.icon-align-justify{ &:after { content:"\e055"; } }
  .icon.icon-list{ &:after { content:"\e056"; } }
  .icon.icon-indent-left{ &:after { content:"\e057"; } }
  .icon.icon-indent-right{ &:after { content:"\e058"; } }
  .icon.icon-facetime-video{ &:after { content:"\e059"; } }
  .icon.icon-picture{ &:after { content:"\e060"; } }
  .icon.icon-pencil{ &:after { content:"\270f"; } }
  .icon.icon-map-marker{ &:after { content:"\e062"; } }
  .icon.icon-adjust{ &:after { content:"\e063"; } }
  .icon.icon-tint{ &:after { content:"\e064"; } }
  .icon.icon-edit{ &:after { content:"\e065"; } }
  .icon.icon-share{ &:after { content:"\e066"; } }
  .icon.icon-check{ &:after { content:"\e067"; } }
  .icon.icon-move{ &:after { content:"\e068"; } }
  .icon.icon-step-backward{ &:after { content:"\e069"; } }
  .icon.icon-fast-backward{ &:after { content:"\e070"; } }
  .icon.icon-backward{ &:after { content:"\e071"; } }
  .icon.icon-play{ &:after { content:"\e072"; } }
  .icon.icon-pause{ &:after { content:"\e073"; } }
  .icon.icon-stop{ &:after { content:"\e074"; } }
  .icon.icon-forward{ &:after { content:"\e075"; } }
  .icon.icon-fast-forward{ &:after { content:"\e076"; } }
  .icon.icon-step-forward{ &:after { content:"\e077"; } }
  .icon.icon-eject{ &:after { content:"\e078"; } }
  .icon.icon-chevron-left{ &:after { content:"\e079"; } }
  .icon.icon-chevron-right{ &:after { content:"\e080"; } }
  .icon.icon-plus-sign{ &:after { content:"\e081"; } }
  .icon.icon-minus-sign{ &:after { content:"\e082"; } }
  .icon.icon-remove-sign{ &:after { content:"\e083"; } }
  .icon.icon-ok-sign{ &:after { content:"\e084"; } }
  .icon.icon-question-sign{ &:after { content:"\e085"; } }
  .icon.icon-info-sign{ &:after { content:"\e086"; } }
  .icon.icon-screenshot{ &:after { content:"\e087"; } }
  .icon.icon-remove-circle{ &:after { content:"\e088"; } }
  .icon.icon-ok-circle{ &:after { content:"\e089"; } }
  .icon.icon-ban-circle{ &:after { content:"\e090"; } }
  .icon.icon-arrow-left{ &:after { content:"\e091"; } }
  .icon.icon-arrow-right{ &:after { content:"\e092"; } }
  .icon.icon-arrow-up{ &:after { content:"\e093"; } }
  .icon.icon-arrow-down{ &:after { content:"\e094"; } }
  .icon.icon-share-alt{ &:after { content:"\e095"; } }
  .icon.icon-resize-full{ &:after { content:"\e096"; } }
  .icon.icon-resize-small{ &:after { content:"\e097"; } }
  .icon.icon-plus{ &:after { content:"\002b"; } }
  .icon.icon-minus{ &:after { content:"\2212"; } }
  .icon.icon-asterisk{ &:after { content:"\002a"; } }
  .icon.icon-exclamation-sign{ &:after { content:"\e101"; } }
  .icon.icon-gift{ &:after { content:"\e102"; } }
  .icon.icon-leaf{ &:after { content:"\e103"; } }
  .icon.icon-fire{ &:after { content:"\e104"; } }
  .icon.icon-eye-open{ &:after { content:"\e105"; } }
  .icon.icon-eye-close{ &:after { content:"\e106"; } }
  .icon.icon-warning-sign{ &:after { content:"\e107"; } }
  .icon.icon-plane{ &:after { content:"\e108"; } }
  .icon.icon-calendar{ &:after { content:"\e109"; } }
  .icon.icon-random{ &:after { content:"\e110"; } }
  .icon.icon-comments{ &:after { content:"\e111"; } }
  .icon.icon-magnet{ &:after { content:"\e113"; } }
  .icon.icon-chevron-up{ &:after { content:"\e113"; } }
  .icon.icon-chevron-down{ &:after { content:"\e114"; } }
  .icon.icon-retweet{ &:after { content:"\e115"; } }
  .icon.icon-shopping-cart{ &:after { content:"\e116"; } }
  .icon.icon-folder-close{ &:after { content:"\e117"; } }
  .icon.icon-folder-open{ &:after { content:"\e118"; } }
  .icon.icon-resize-vertical{ &:after { content:"\e119"; } }
  .icon.icon-resize-horizontal{ &:after { content:"\e120"; } }
  .icon.icon-hdd{ &:after { content:"\e121"; } }
  .icon.icon-bullhorn{ &:after { content:"\e122"; } }
  .icon.icon-bell{ &:after { content:"\e123"; } }
  .icon.icon-certificate{ &:after { content:"\e124"; } }
  .icon.icon-thumbs-up{ &:after { content:"\e125"; } }
  .icon.icon-thumbs-down{ &:after { content:"\e126"; } }
  .icon.icon-hand-right{ &:after { content:"\e127"; } }
  .icon.icon-hand-left{ &:after { content:"\e128"; } }
  .icon.icon-hand-top{ &:after { content:"\e129"; } }
  .icon.icon-hand-down{ &:after { content:"\e130"; } }
  .icon.icon-circle-arrow-right{ &:after { content:"\e131"; } }
  .icon.icon-circle-arrow-left{ &:after { content:"\e132"; } }
  .icon.icon-circle-arrow-top{ &:after { content:"\e133"; } }
  .icon.icon-circle-arrow-down{ &:after { content:"\e134"; } }
  .icon.icon-globe{ &:after { content:"\e135"; } }
  .icon.icon-wrench{ &:after { content:"\e136"; } }
  .icon.icon-tasks{ &:after { content:"\e137"; } }
  .icon.icon-filter{ &:after { content:"\e138"; } }
  .icon.icon-briefcase{ &:after { content:"\e139"; } }
  .icon.icon-fullscreen{ &:after { content:"\e140"; } }
  .icon.icon-dashboard{ &:after { content:"\e141"; } }
  .icon.icon-paperclip{ &:after { content:"\e142"; } }
  .icon.icon-heart-empty{ &:after { content:"\e143"; } }
  .icon.icon-link{ &:after { content:"\e144"; } }
  .icon.icon-phone{ &:after { content:"\e145"; } }
  .icon.icon-pushpin{ &:after { content:"\e146"; } }
  .icon.icon-euro{ &:after { content:"\20ac"; } }
  .icon.icon-usd{ &:after { content:"\e148"; } }
  .icon.icon-gbp{ &:after { content:"\e149"; } }
  .icon.icon-sort{ &:after { content:"\e150"; } }
  .icon.icon-sort-by-alphabet{ &:after { content:"\e151"; } }
  .icon.icon-sort-by-alphabet-alt{ &:after { content:"\e152"; } }
  .icon.icon-sort-by-order{ &:after { content:"\e153"; } }
  .icon.icon-sort-by-order-alt{ &:after { content:"\e154"; } }
  .icon.icon-sort-by-attributes{ &:after { content:"\e155"; } }
  .icon.icon-sort-by-attributes-alt{ &:after { content:"\e156"; } }
  .icon.icon-unchecked{ &:after { content:"\e157"; } }
  .icon.icon-expand{ &:after { content:"\e158"; } }
  .icon.icon-collapse{ &:after { content:"\e159"; } }
  .icon.icon-collapse-top{ &:after { content:"\e160"; } }
}
