/*==============================================================================
  Icons
==============================================================================*/

/**
 * Base icon styles
 */
.icon {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: @font-family-icon;
  font-size: 2.75em;
  line-height: 0.5em;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased !important;
  border: 0 none;  
}
a, h1, h2, h3, h4, h5, h6 {
  .icon {
    margin: -0.3em 0.2em 0 0;
  }
}
.btn {
  .icon {
    margin: -0.3em 0.1em 0 -0.1em;
  }
}

// Icon Library Directions
// Uncomment the icon library you'd like to use in baseweb.less and include the mixin call here.
// 
// @warning including multiple icon libraries at a time without namespacings may cause conflicts.
// 
// @note although glyphicon LESS styles are included in BaseWeb, you need to purchase a license
//   for using the icons yourself.
//
// @note for more details on how to install and use icon libraries, please refer to the docuentation.
// 
// Inlcuded icon library mixins:
.fonticons-entypo();
// .fonticons-glyphicons();
// .fonticons-glyphicons-halflings();
