////////////////////////////////////////////////////////////////////////////////
// Entypo Icons
////////////////////////////////////////////////////////////////////////////////

// Icon font mapping mixin
.fonticons-entypo() {
  
/**
 * Entypo
 *
 * @author Daniel Bruce
 * @url http://www.entypo.com/
 */
  @font-face {
    font-family: "Entypo";
    src: url(~"@{dir-fonts}entypo/entypo-webfont.eot");
    src: url(~"@{dir-fonts}entypo/entypo-webfont.eot?#iefix") format("embedded-opentype"),
         url(~"@{dir-fonts}entypo/entypo-webfont.woff") format("woff"),
         url(~"@{dir-fonts}entypo/entypo-webfont.ttf") format("truetype"),
         url(~"@{dir-fonts}entypo/entypo-webfont.svg#EntypoRegular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  .icon {
    font-family: "Entypo";
  }
  
  // Numerical
  .icon.icon-map                { &:after { content: '1'; } }
  .icon.icon-compass            { &:after { content: '2'; } }
  .icon.icon-direction          { &:after { content: '3'; } }
  .icon.icon-scope              { &:after { content: '4'; } }
  .icon.icon-share              { &:after { content: '5'; } }
  .icon.icon-heart              { &:after { content: '6'; } }
  .icon.icon-star               { &:after { content: '7'; } }
  .icon.icon-thumbs-up          { &:after { content: '8'; } }
  .icon.icon-dialog             { &:after { content: '9'; } }
  .icon.icon-maps               { &:after { content: '0'; } }

  // Alphabetical lowercase
  .icon.icon-help               { &:after { content: 'a'; } }
  .icon.icon-help-circle        { &:after { content: 'b'; } }
  .icon.icon-warning            { &:after { content: 'c'; } }
  .icon.icon-reload             { &:after { content: 'd'; } }
  .icon.icon-reload-ccw         { &:after { content: 'e'; } }
  .icon.icon-shuffle            { &:after { content: 'f'; } }
  .icon.icon-back               { &:after { content: 'g'; } }
  .icon.icon-retweet            { &:after { content: 'h'; } }
  .icon.icon-list               { &:after { content: 'i'; } }
  .icon.icon-list-add           { &:after { content: 'j'; } }
  .icon.icon-image-list         { &:after { content: 'k'; } }
  .icon.icon-document-text      { &:after { content: 'l'; } }
  .icon.icon-document           { &:after { content: 'm'; } }
  .icon.icon-document-group, 
  .icon.icon-documents          { &:after { content: 'n'; } }
  .icon.icon-document-landscape { &:after { content: 'o'; } }
  .icon.icon-images             { &:after { content: 'p'; } }
  .icon.icon-movie              { &:after { content: 'q'; } }
  .icon.icon-songs              { &:after { content: 'r'; } }
  .icon.icon-folder             { &:after { content: 's'; } }
  .icon.icon-archive            { &:after { content: 't'; } }
  .icon.icon-trash              { &:after { content: 'u'; } }
  .icon.icon-upload             { &:after { content: 'v'; } }
  .icon.icon-download           { &:after { content: 'w'; } }
  .icon.icon-ssd-download       { &:after { content: 'x'; } }
  .icon.icon-cloud              { &:after { content: 'y'; } }
  .icon.icon-cloud-upload       { &:after { content: 'z'; } }

  // Alphabetical uppercase
  .icon.icon-flashlight         { &:after { content: 'A'; } }
  .icon.icon-trophy             { &:after { content: 'B'; } }
  .icon.icon-tag                { &:after { content: 'C'; } }
  .icon.icon-camera             { &:after { content: 'D'; } }
  .icon.icon-sleep              { &:after { content: 'E'; } }
  .icon.icon-palette            { &:after { content: 'F'; } }
  .icon.icon-leaf               { &:after { content: 'G'; } }
  .icon.icon-music              { &:after { content: 'H'; } }
  .icon.icon-shop               { &:after { content: 'I'; } }
  .icon.icon-fly                { &:after { content: 'J'; } }
  .icon.icon-lifebuoy           { &:after { content: 'K'; } }
  .icon.icon-circles            { &:after { content: 'L'; } }
  .icon.icon-eye                { &:after { content: 'M'; } }
  .icon.icon-clock              { &:after { content: 'N'; } }
  .icon.icon-mic                { &:after { content: 'O'; } }
  .icon.icon-calendar           { &:after { content: 'P'; } }
  .icon.icon-flash              { &:after { content: 'Q'; } }
  .icon.icon-hour-glass         { &:after { content: 'R'; } }
  .icon.icon-rss                { &:after { content: 'S'; } }
  .icon.icon-broadcast          { &:after { content: 'T'; } }
  .icon.icon-lock               { &:after { content: 'U'; } }
  .icon.icon-unlock             { &:after { content: 'V'; } }
  .icon.icon-check              { &:after { content: 'W'; } }
  .icon.icon-close              { &:after { content: 'X'; } }
  .icon.icon-minus-circle       { &:after { content: 'Y'; } }
  .icon.icon-plus-circle        { &:after { content: 'Z'; } }

  // Characters
  .icon.icon-phone              { &:after { content: '!'; } }
  .icon.icon-settings,
  .icon.icon-cog                { &:after { content: '@'; } }
  .icon.icon-mouse              { &:after { content: '#'; } }
  .icon.icon-address,
  .icon.icon-street             { &:after { content: '$'; } }
  .icon.icon-email              { &:after { content: '%'; } }
  .icon.icon-block              { &:after { content: '^'; } }
  .icon.icon-write              { &:after { content: '\0026'; } }
  .icon.icon-forward            { &:after { content: '*'; } }
  .icon.icon-reply              { &:after { content: '('; } }
  .icon.icon-reply-all          { &:after { content: ')'; } }
  .icon.icon-users,
  .icon.icon-user-group         { &:after { content: ','; } }
  .icon.icon-print              { &:after { content: '\003C'; } }
  .icon.icon-vcard              { &:after { content: '.'; } }
  .icon.icon-link               { &:after { content: '\003E'; } }
  .icon.icon-export             { &:after { content: '/'; } }
  .icon.icon-flag               { &:after { content: '?'; } }
  .icon.icon-quote              { &:after { content: ';'; } }
  .icon.icon-comment            { &:after { content: ':'; } }
  .icon.icon-attach             { &:after { content: '\''; } }
  .icon.icon-mobile             { &:after { content: '"'; } }
  .icon.icon-close-circle       { &:after { content: '['; } }
  .icon.icon-play               { &:after { content: '\{'; } }
  .icon.icon-plus               { &:after { content: ']'; } }
  .icon.icon-record             { &:after { content: '\}'; } }
  .icon.icon-minus              { &:after { content: '\\'; } }
  .icon.icon-pause              { &:after { content: '|'; } }
  .icon.icon-user-add           { &:after { content: '-'; } }
  .icon.icon-info               { &:after { content: '_'; } }
  .icon.icon-alert              { &:after { content: '='; } }
  .icon.icon-user               { &:after { content: '+'; } }
  .icon.icon-info-circle        { &:after { content: '`'; } }
  .icon.icon-stop               { &:after { content: '~'; } }

  // Miscellaneous
  .icon.icon-copyright          { &:after { content: '\00A9'; } }
  .icon.icon-sweden             { &:after { content: '\00AE'; } }
  .icon.icon-fast-forward       { &:after { content: '\00C4'; } }
  .icon.icon-rewind             { &:after { content: '\00C5'; } }
  .icon.icon-jump-to-start      { &:after { content: '\00C7'; } }
  .icon.icon-jump-to-end        { &:after { content: '\00C9'; } }
  .icon.icon-expand             { &:after { content: '\00F1'; } }
  .icon.icon-minimize           { &:after { content: '\00F6'; } }
  .icon.icon-arrow-up           { &:after { content: '\00E8'; } }
  .icon.icon-arrow-left         { &:after { content: '\00E7'; } }
  .icon.icon-arrow-left-bold    { &:after { content: '\00E5'; } }
  .icon.icon-arrow-right-bold   { &:after { content: '\00E4'; } }
  .icon.icon-arrow-down-bold    { &:after { content: '\00E3'; } }
  .icon.icon-arrow-up-bold      { &:after { content: '\00E2'; } }
  .icon.icon-sound              { &:after { content: '\00E1'; } }
  .icon.icon-mute               { &:after { content: '\00E0'; } }
  .icon.icon-search             { &:after { content: '\00F4'; } }
  .icon.icon-book               { &:after { content: '\00F3'; } }
  .icon.icon-popup              { &:after { content: '\00F2'; } }
  .icon.icon-bookmark           { &:after { content: '\00F1'; } }
  .icon.icon-volume             { &:after { content: '\00DC'; } }
  .icon.icon-home               { &:after { content: '\00EF'; } }
  .icon.icon-arrow-right-circle { &:after { content: '\00EE'; } }
  .icon.icon-arrow-down-circle  { &:after { content: '\00ED'; } }
  .icon.icon-arrow-up-circle    { &:after { content: '\00EC'; } }
  .icon.icon-arrow-left-circle  { &:after { content: '\00EB'; } }
  .icon.icon-arrow-right        { &:after { content: '\00EA'; } }
  .icon.icon-arrow-down         { &:after { content: '\00E9'; } }
  .icon.icon-elipsis            { &:after { content: '\00D6'; } }
}
